﻿@model PortalABA.UI.Models.CapturaDatosPersonalesModel

@{
    var generos = (from p in Model.Generos select new SelectListItem() { Text = p.Text, Value = p.Value, Selected = p.Selected }).ToList();
    var estadosCiviles = (from p in Model.EstadosCiviles select new SelectListItem() { Text = p.Text, Value = p.Value, Selected = p.Selected }).ToList();

    var dias = new List<SelectListItem>();
    dias.Add(new SelectListItem() { Text = "Día", Value = (-1).ToString() });
    for (int i = 1; i <= 31; i++)
    {
        dias.Add(new SelectListItem() { Text = i.ToString("00"), Value = i.ToString("00") });
    }

    var meses = new List<SelectListItem>();
    meses.Add(new SelectListItem() { Text = "Mes", Value = (-1).ToString() });
    for (int i = 1; i <= 12; i++)
    {
        meses.Add(new SelectListItem() { Text = i.ToString("00"), Value = i.ToString("00") });
    }

    var años = new List<SelectListItem>();
    años.Add(new SelectListItem() { Text = "Año", Value = (-1).ToString() });
    for (int i = DateTime.Now.Year - 18; i >= 1900; i--)
    {
        años.Add(new SelectListItem() { Text = i.ToString(), Value = i.ToString() });
    }
}
    <div id="pnlSeleccionaPaquete" style="padding-top: 120px;">
        <div class="row">
            <div class="col-xs-12 col-md-offset-1 col-md-10">
                <div class="row">
                    <div class="col-md-1 hidden-xs" style="margin-top: 150px;">
                        <div class="row" style="text-align:center">
                            <span class="circleStep">
                                1
                            </span>

                            <div class="labelStep active">
                                <span>Selecciona tu paquete</span>
                            </div>

                        </div>

                        <div class="row dashed">
                        </div>

                        <div class="row" style="text-align:center">
                            <span class="circleStep active">
                                2
                            </span>

                            <div class="labelStep">
                                <span>Ingresa tus datos</span>
                            </div>
                        </div>


                        <div class="row dashed">
                        </div>

                        <div class="row" style="text-align:center">
                            <span class="circleStep">
                                3
                            </span>

                            <div class="labelStep">
                                <span>Paga tu seguro</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-11 col-xs-12">

                        <div>
                            <div style="padding-left: 10px; padding-right: 10px;">
                                <div class="row">
                                    <div class="col-md-12 col-xs-12">
                                        <div style="padding-bottom: 40px;">
                                            <h1 style="margin-bottom: 0px;">2. Ingresa tus Datos</h1>
                                            <div style="font-family: 'Georgia'">Confirma la informaci&oacute;n para generar tu p&oacute;liza de tu <span style="text-transform: uppercase; font-weight: bold;" id="vehiculoCotizado"></span></div>
                                            <div style="color:#A5A0A7;font-family:'Source Sans Pro';font-size: 12px;line-height:15px">Los campos marcados con * son obligatorios.</div>
                                        </div>

                                        <div id="spinDatosProcesando" style="padding-top: 10px; display:none">
                                            <i class="fa fa-cog fa-spin fa-3x fa-fw" style="font-size: 13px"></i>&nbsp;<span style="font-size: 12px; font-weight: bold;">Procesando Información...</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <form id="frmRfcHide" action="@Url.Content("~/Kwanko/CalculaRFC")" method="post">
                            @Html.HiddenFor(x => x.Nombre, new { @id = "nombre_h" })
                            @Html.HiddenFor(x => x.ApellidoPaterno, new { @id = "paterno_h" })
                            @Html.HiddenFor(x => x.ApellidoMaterno, new { @id = "materno_h" })
                            @Html.HiddenFor(x => x.Dia, new { @id = "dia_h" })
                            @Html.HiddenFor(x => x.Mes, new { @id = "mes_h" })
                            @Html.HiddenFor(x => x.Año, new { @id = "anio_h" })
                        </form>

                        <form id="frmCapturaDatosPersonales" action="@Url.Content("~/Kwanko/EnviarDatosPersonales")" method="POST">
                            @Html.AntiForgeryToken()

                            @Html.HiddenFor(x => x.PaqueteSeleccionadoId)
                            @Html.HiddenFor(x => x.DatosPaquete)
                            @Html.HiddenFor(x => x.Vehiculo)
                            @Html.HiddenFor(x => x.Periodicidad)
                            @Html.HiddenFor(x => x.PeriodicidadId)
                            @Html.HiddenFor(x => x.MunicipioId)
                            @Html.HiddenFor(x => x.EntidadFederativaId)
                            @Html.HiddenFor(x => x.Modelo)

                            <div class="row">
                                <div class="col-md-12">
                                    <div style="font-family: 'Source Sans Pro'; padding-left: 15px; font-weight: bold; font-size: 17px; padding-bottom: 5px;">Datos Personales</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="control-container">
                                        @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control", @maxlength = "100", @placeholder = "Primer nombre *", @required = "required" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="control-container">
                                        @Html.TextBoxFor(x => x.SegundoNombre, new { @class = "form-control", @maxlength = "100", @placeholder = "Segundo nombre"})
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="control-container">
                                        @Html.TextBoxFor(x => x.ApellidoPaterno, new { @class = "form-control", @maxlength = "100", @placeholder = "Apellido paterno *", @required = "required" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="control-container">
                                        @Html.TextBoxFor(x => x.ApellidoMaterno, new { @class = "form-control", @maxlength = "100", @placeholder = "Apellido materno *", @required = "required" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="control-container">
                                        @Html.DropDownListFor(x => x.Genero, generos, new { @class = "form-control", @required = "required", @placeholder = "Género *" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="control-container">
                                        @Html.DropDownListFor(x => x.EstadoCivil, estadosCiviles, new { @class = "form-control", @required = "required", @placeholder = "Estado civil *" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="control-container">
                                        <div style="color:#A5A0A7;font-family:'Source Sans Pro';font-size: 12px;line-height:15px">Fecha de nacimiento *</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div>
                                        @*@Html.TextBoxFor(x => x.FechaNacimiento, new { @class = "form-control", @type = "date", @maxlength = "100", @placeholder = "Fecha de nacimiento (dd/mm/aaaa)", @required = "required" })*@

                                        <div class="col-md-4">
                                            <div class="control-container">
                                                @Html.DropDownListFor(x => x.Dia, dias, new { @class = "form-control", @required = "required", @placeholder = "Día *" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="control-container">
                                                @Html.DropDownListFor(x => x.Mes, meses, new { @class = "form-control", @required = "required", @placeholder = "Mes *" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="control-container">
                                                @Html.DropDownListFor(x => x.Año, años, new { @Id = "Anio", @class = "form-control", @required = "required", @placeholder = "Año *" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="control-container">
                                        @Html.TextBoxFor(x => x.RFC, new { @class = "form-control", @maxlength = "16", @placeholder = "RFC *", @required = "required" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="control-container">
                                        @Html.TextBoxFor(x => x.Telefono, new { @class = "form-control", @maxlength = "10", @placeholder = "Teléfono celular *" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="control-container">
                                        @Html.TextBoxFor(x => x.CorreoElectronico, new { @class = "form-control email", @maxlength = "100", @placeholder = "Correo electrónico *", @required = "required" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="control-container">
                                        @Html.TextBoxFor(x => x.CorreoElectronico, new { @class = "form-control emailconfirm", @maxlength = "100", @placeholder = "Confirma tu correo electrónico *", @required = "required" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="control-container">
                                        @Html.TextBoxFor(x => x.TelefonoCasa, new { @class = "form-control", @maxlength = "10", @placeholder = "Teléfono fijo (Opcional)" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div style="font-family: 'Source Sans Pro'; padding-left: 15px; font-weight: bold; font-size: 17px; padding-bottom: 5px;">Direcci&oacute;n</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="control-container">
                                        @Html.TextBoxFor(x => x.CP, new { @class = "form-control", @maxlength = "5", @placeholder = "C.P. *", @required = "required" })
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="control-container">
                                        @Html.TextBoxFor(x => x.Estado, new { @class = "form-control", @maxlength = "100", @placeholder = "Estado *", @required = "required", @disabled = "disabled" })
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="control-container">
                                        @Html.TextBoxFor(x => x.Municipio, new { @class = "form-control", @maxlength = "100", @placeholder = "Municipio *", @required = "required", @disabled = "disabled" })
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="control-container">
                                        @Html.TextBoxFor(x => x.Poblacion, new { @class = "form-control", @maxlength = "100", @placeholder = "Población *", @required = "required", @disabled = "disabled" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="control-container">
                                        @Html.TextBoxFor(x => x.Colonia, new { @class = "form-control", @maxlength = "100", @placeholder = "Colonia *", @required = "required", @disabled = "disabled" })
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="control-container">
                                        @Html.TextBoxFor(x => x.Direccion, new { @class = "form-control", @maxlength = "100", @placeholder = "Calle *", @required = "required" })
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="control-container">
                                        @Html.TextBoxFor(x => x.NumeroCasa, new { @class = "form-control", @maxlength = "100", @placeholder = "Número *", @required = "required" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div style="font-family: 'Source Sans Pro'; padding-left: 15px; font-weight: bold; font-size: 17px; padding-bottom: 5px;">Datos del veh&iacute;culo</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="control-container">
                                        @Html.TextBoxFor(x => x.VIN, new { @class = "form-control", @maxlength = "100", @placeholder = "No. de serie del vehículo *", @required = "required" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="control-container">
                                        @Html.TextBoxFor(x => x.Placas, new { @class = "form-control", @maxlength = "10", @placeholder = "Placas del vehículo *", @required = "required" })
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="control-container" id="pnlErrorCaptura" style="display: none;">

                        </div>

                        <div style="margin-top:20px">
                            <div class="row">
                                <div class="col-md-4 col-xs-12">
                                    <div class="control-container">
                                        <button class="btn btn-default btn-block btn-atras" id="btnAnterior">Regresar</button>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <div class="control-container">
                                        <button class="btn btn-default btn-block btn-pagar" id="btnSiguiente">Siguiente</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <form id="frmResultadoSolicitud" action="@Url.Content("~/Kwanko/FormularioDePago")" method="POST">
        @Html.AntiForgeryToken()
        @Html.Hidden("DatosSolicitud")
    </form>

@section Styles
{
    <link href="~/cdn/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
}

@section Scripts
{
    <script src="~/cdn/js/moment-with-locales.min.js"></script>
    <script src="~/cdn/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/cdn/aplicacion/cotizador-captura-datos_kwnako.js"></script>
    <script src="~/cdn/js/gtagKwanko/CapturarDatosPersonales.js"></script>
}
