﻿@model PortalABA.UI.Models.CotizacionModel
@{
    var wds = Model.Solicitud.Vehiculo.Split(' ');
    string vehiculo = Model.Solicitud.Vehiculo;
    if (wds.Length > 0)
    {
        vehiculo = wds[0];
    }
}

<div id="encabezadoCotizador">
    <div class="hidden-xs">
        <div style="padding-left: 5px; padding-right: 5px;">
            <table>
                <tr>
                    <td style="width: 100%;">
                        <h1 style="margin-bottom: 0px;">1. Selecciona tu paquete</h1>
                        <div style="font-family:'Georgia'">Seguro para tu <span style="text-transform: uppercase; font-weight: bold;" id="vehiculoCotizado"></span></div>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td style="vertical-align: top;">
                                    <div>
                                        <a href="#" id="lnkImprimirCotizacion">
                                            <div style="text-align: center; width: 80px; padding-bottom: 10px;font-family:'Georgia'">Imprime tu cotizaci&oacute;n</div>
                                            <div style="text-align: center;">
                                                <img src="~/cdn/assets/icons/icn-imprimir.png" />
                                            </div>
                                        </a>
                                    </div>
                                </td>
                                <td style="vertical-align: top;">
                                    <div>
                                        <a href="#" id="lnkImprimirCotizacionCorreo">
                                            <div style="text-align: center; width: 80px; padding-bottom: 10px;font-family:'Georgia'">Envía tu cotizaci&oacute;n</div>
                                            <div style="text-align: center;">
                                                <img src="~/cdn/assets/icons/icn-correo.png" />
                                            </div>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="visible-xs">
        <div style="padding-left: 10px; padding-right: 10px;">
            <div class="row">
                <div class="col-md-12 col-xs-9">
                    <div style="font-size: 20px; font-weight: bold;">1) Selecciona tu paquete</div>
                </div>

                <div class="col-md-12 col-xs-3">
                    <a href="#" style="text-align:center">
                        <span style="display:inline-block">Envía tu cotizaci&oacute;n</span>
                        <div style="margin-top:5px">
                            <img src="~/cdn/assets/icons/icn-correo.png" width="25" />
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts
{
    <script src="~/cdn/js/gtagKwanko/EncabezadoCotizador_.js"></script>
}