﻿@model PortalABA.UI.Models.FormularioPagoModel
<div id="pnlFormularioPago" style="padding-top: 120px;">
    <div class="row">
        <div class="col-xs-12 col-md-offset-2 col-md-8">
            <div class="row">
                <div class="col-md-1 hidden-xs" style="margin-top: 150px;">
                    <div class="row" style="text-align:center">
                        <span class="circleStep">
                            1
                        </span>

                        <div class="labelStep active">
                            <span>Selecciona tu paquete</span>
                        </div>

                    </div>

                    <div class="row dashed">
                    </div>

                    <div class="row" style="text-align:center">
                        <span class="circleStep">
                            2
                        </span>

                        <div class="labelStep">
                            <span>Ingresa tus datos</span>
                        </div>
                    </div>


                    <div class="row dashed">
                    </div>

                    <div class="row" style="text-align:center">
                        <span class="circleStep active">
                            3
                        </span>

                        <div class="labelStep">
                            <span>Paga tu seguro</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-11 col-xs-12">
                    <div>
                        <div style="padding-left: 10px; padding-right: 10px;">
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <div style="padding-bottom: 40px;">
                                        <h1 style="margin-bottom: 0px;font-family: 'Source Sans Pro';margin-top: 5px;font-size: 50px;font-weight: bold;">3. Paga tu seguro</h1>
                                        <div style="font-family: 'Georgia'">Estás a un paso de contratar tu p&oacute;liza ¡Confirma tu pago!</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-xs-12">
                            @Html.Partial("PanelDatosPago_", Model)
                        </div>
                        <div class="col-md-4 col-xs-12">
                            @Html.Partial("PanelBotonPago_", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form id="frmDatosPagoPoliza">
    @Html.HiddenFor(x => x.PolizaId)
    @Html.HiddenFor(x => x.ClavePoliza)
    @Html.HiddenFor(x => x.AseguradoId)
    @Html.Hidden("datosPersonales", (string)ViewBag.datosPersonales)
</form>

<form id="frmDatosConfirmacionPoliza">
    @Html.HiddenFor(x => x.NumeroPolizaFormato)
    @Html.HiddenFor(x => x.MontoPrimerPagoFormato)
    @Html.HiddenFor(x => x.FechaVigenciaFormato)
    @Html.HiddenFor(x => x.Nombre)
    @Html.HiddenFor(x => x.CorreoElectronico)
</form>

@section Scripts
{
    <script type="text/javascript" src="~/cdn/aplicacion/cotizador-formulario-pago_kwnako.js"></script>
}