﻿@model bool
@{
    var listadoAnios = (from p in PortalABA.Servicios.AutoCotizador.ObtenerAniosModelos()
                        select new SelectListItem()
                        {
                            Value = p.Anio,
                            Text = p.Anio
                        }).ToList();
    listadoAnios.Insert(0, new SelectListItem() { Text = "Año", Value = "0", Selected = true });
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<style type="text/css">
    .labelBlanco {
        font-family:"Source Sans Pro";
        font-size: 11px;
        font-weight: bold;
        line-height: 16px;
        text-align: center;
        display:inline-block;
        margin-top:10px;
        width:40%;
    }
    .images{
        text-align:center;
        margin-top: 30px;
    }

    .imageIcon{
        height:50px;
    }
</style>

<!--VIDEO-->
<div class="hidden-xs fullscreen-bg">
    <video loop muted autoplay class="fullscreen-bg__video">
        @if (Model)
        {
            <source src="~/cdn/assets/img/video_2017-04-06_17-46-58.mov" type="video/mp4">
        }
        else
        {
            <source src="~/cdn/assets/img/aba-seguros-videoslider.mp4" type="video/mp4">
        }
    </video>
</div>
<!--Background movil-->
@if (Model)
{
    <div class="visible-xs fondoCotiza fullscreen-bg"></div>
}
else
{
    <div class="visible-xs fondoHome fullscreen-bg"></div>
}

<div id="panelCotizador" class="banner banner-altocontraste seguro-auto">
    <div class="row">
        <div class="col-xs-12 col-md-offset-2 col-md-8" style="padding: 10px;">
            <div style="text-align: center;">
                    <div class="title">
                        Cotiza y compra tu seguro de auto en minutos
                    </div>
                    <div class="col-xs-12 aqui-van-imagenes" align="center">
                    </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-offset-2 col-md-8">
            <div class="row">
                <form id="frmCotizador" action="@Url.Content("~/Kwanko/Cotizar")" method="GET">
                    <div class="col-md-2">
                        <div class="control-container">
                            @Html.DropDownList("ddlAnio", listadoAnios, new { @class = "form-control aba-control" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="control-container">
                            <input id="txtModelo" name="vehiculo" class="form-control aba-control" placeholder="Veh&iacute;culo" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="control-container">
                            <input id="txtMunicipio" class="form-control aba-control" placeholder="Municipio" />
                        </div>
                    </div>
                    <input type="hidden" id="modeloSeleccionado" name="modeloSeleccionado" value="" />
                    <input type="hidden" id="municipioSeleccionado" name="municipioSeleccionado" value=""/>
                    <input type="hidden" id="descripcionMunicipio" name="descripcionMunicipio" value="" />
                    <input type="hidden" id="descripcionEstado" name="descripcionEstado" value="" />
                    <input type="hidden" id="entidadFederativa" name="entidadFederativa" value="" />
                </form>
                <!-- <table style="margin-left: 15%;">
                    <tr>
                        <td><input type="checkbox" id="IsAutoParticularCheckbox" /></td>
                        <td><p style="font-size: 13px; margin-top: 5px;">Mi autom&oacute;vil es para uso particular, consulta condiciones generales aplicables <a href="#" id="CondicionesLink" style="text-decoration: underline; color: #ffffff;">aqui.</a></p></td>
                    </tr>
                </table> -->
            </div>            

            <div class="row" id="pnlErrorCotizador" style="display: none;">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <div style="padding-left: 20px; padding-right: 20px;">
                        <div class="alert alert-warning">
                            <span class="fa fa-warning"></span>&nbsp;<span id="lblError">Es necesario indicar el a&ntilde;o, el modelo, el municipio y aceptar que su autom&oacute;vil es particular.</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div style="text-align: center;" class="cotizar-ahora">
                        <button class="btn" id="btnCotizar">Cotizar ahora</button>
                    </div>
                </div>
            </div>

            @if (controllerName.ToUpper() == "KWANKO")
            {
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0 images" style="text-align:center">
                        <div class="col-xs-4">
                            <div class="imageIcon">
                                <img src="~/cdn/assets/img/auto/icn-movil-1-proteccion-1.png" class="visible-xs center-block" />
                                <img src="~/cdn/assets/img/auto/icn-web-1-proteccion-1.png" class="hidden-xs" />
                            </div>
                            <span class="text-uppercase labelBlanco">
                                Seguimiento de siniestros en linea
                            </span>
                        </div>

                        <div class="col-xs-4">
                            <div class="imageIcon">
                                <img src="~/cdn/assets/img/auto/icn-movil-1-satisfaccion-1.png" class="visible-xs center-block" />
                                <img src="~/cdn/assets/img/auto/icn-web-1-satisfaccion-1.png" class="hidden-xs" />
                            </div>
                            <span class="text-uppercase labelBlanco">
                                Reparaciones garantizadas por 1 año
                            </span>
                        </div>

                        <div class="col-xs-4">
                            <div class="imageIcon">
                                <img src="~/cdn/assets/img/auto/icn-movil-1-cubrimos-1.png" class="visible-xs center-block" />
                                <img src="~/cdn/assets/img/auto/icn-web-1-cubrimos-1.png" class="hidden-xs" />
                            </div>
                            <span class="text-uppercase labelBlanco">
                                Te prestamos un auto hasta por 15 dias*
                            </span>
                        </div>
                    </div>
                </div>
            }
            
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/cdn/js/gtagKwanko/FormularioCotizador_.js"></script>
}