﻿@Html.Partial("~/Views/Kwanko/FormularioCotizador_.cshtml", true)

@section Scripts{
    <script type="text/javascript" nonce="YWJhLmNodWJiLmNvbQ==">
        $(document).ready(function () {
            var utils = new Utils();
            var getArchivoNombreUri = '@Url.Action("GetArchivoNotaTecnica", "CondicionesGenerales")';

            $.get(getArchivoNombreUri, { ramo: 'Autos', nota: 'Autos y Camiones Residentes' }, function (response) {
                var fileName = response.Archivo;
                //callback(fileName);

                var url = '@Url.Content("~/cdn/docs/")' + fileName;

                $('#CondicionesLink').attr('href', url);
            });
        });
    </script>
    <script type="text/javascript" nonce="YWJhLmNodWJiLmNvbQ==" src="https://img.metaffiliation.com/u/25/p65133.js"></script>
    <script type="text/javascript" nonce="YWJhLmNodWJiLmNvbQ==">
        window.ptag_params = {
            zone: "homepage",
            customerId: "",
            siteType: "d",
            m_md5: ""
        };
    </script>
}