﻿@model PortalABA.UI.Models.FormularioPagoModel


<div class="panel-boton-pago">
    <div class="control-container">
        @if (Model.ImprimirSeccionPagoSubsecuente)
        {
            <div style="font-family: 'Source Sans Pro'; font-weight: bold; text-transform: uppercase;">
                Pago del primer recibo
            </div>
            <small style="text-transform: uppercase;">Este es el primer pago que realizar&aacute;s</small>
        }
        else
        {
            <div style="font-family: 'Source Sans Pro'; font-weight: bold; text-transform: uppercase;">
                Prima Total Anual
            </div>
            <small style="text-transform: uppercase;">&Uacute;nico pago a realizar</small>
        }
        <div>
            <div style="font-family: 'Source Sans Pro'; font-size: 50px;">
                @Model.PrimerPagoFormato<span style="font-size: 15px;">MN</span>
            </div>
        </div>
        <div style="font-family: 'Source Sans Pro'">
            <table class="tblInformacionPagos">
                <tr>
                    <td style="width: 18px;">
                        <input type="checkbox" id="chkTerminos" name="chkTerminos" data-behavior="mustbechecked" />
                    </td>
                    <td>
                        @*<a href="~/cdn/docs/Autos_Camiones_Residentes.pdf" target="_blank">Acepto los t&eacute;rminos y condiciones</a>*@
                        <a href="https://www2.chubb.com/mx-es/_assets/documents/aa04-aba-a-automoviles-y-camiones-residentes.pdf" target="_blank">Acepto los t&eacute;rminos y condiciones</a>
                    </td>
                </tr>
            </table>
        </div>

        <div id="pnlErrorPago" class="alert alert-warning" style="padding: 5px; font-size: 12px; display: none; margin-top: 10px;"></div>
    </div>
    <div class="control-container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div style="padding-right: 10px; padding-bottom: 10px;">
                    <button class="btn btn-default btn-block btn-pagar" id="btnOpenModalPagar" data-toggle="modal" data-target="#modalPagar">Contratar y pagar<i style="display:none;" class="fa fa-cog fa-spin"></i></button>
                </div>
                <div style="padding-right: 10px; padding-bottom: 10px;">
                    <button class="btn btn-default btn-block btn-atras" id="btnAnterior"><span class="fa fa-arrow-left"></span>&nbsp;Regresar</button>
                </div>
            </div>
            <div class="col-md-12 col-xs-12" id="pnlErrorCapturaPago" style="display: none;">
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="modalPagar" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-size: 20px; font-family: 'Source Sans Pro'; font-weight: bold;">¿Estás seguro que deseas pagar ahora tu Póliza con tarjeta de Crédito o Débito?</h4>
            </div>
            <div class="modal-body">
                <p style="font-family: "Source Sans Pro"; font-size: 15px;">Serás redirigido a nuestro Sistema Seguro de Pagos.</p>
            </div>
            <div class="modal-footer">
                <div class="col-xs-2 col-xs-offset-7">
                    <button class="btn btn-default btn-block btn-pagar" id="btnPagar" data-dismiss="modal">Si</button>
                </div>
                <div class="col-xs-2 col-xs-offset-1">
                    <button type="button" class="btn btn-default btn-block btn-atras" id="btnNo" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts
{
    <script src="~/cdn/js/gtagKwanko/PanelBotonPago_.js"></script>
}