﻿@model  PortalABA.UI.Models.PaqueteSeleccionadoAutoModel

<fieldset style="padding-left:15px;padding-right:15px;">
    <legend style="font-family:'Source Sans Pro';text-transform:uppercase;"><span class="fa fa-shopping-cart"></span>&nbsp;Tu carrito:</legend>
    <div class="plan-seleccion-title">
        Veh&iacute;culo
    </div>
    <div style="text-transform:uppercase;">
        @Model.Vehiculo 
    </div>
    <div class="plan-seleccion-title">
        Paquete
    </div>
    <div>
        <div style="font-size: 22px;text-transform:uppercase;">@Model.Descripcion </div>

    </div>
    <div class="plan-seleccion-title">
        Precio del seguro
    </div>
    <div style="font-size: 25px;">@Model.Monto </div>
    <div style="font-weight:normal;font-size:15px;">
        <div>Forma de pago: @Model.Periodicidad </div>
        <div>Primer pago de: @Model.PrimerPago </div>
        <div>@Model.CantidadPagos  pagos subsecuentes de: @Model.PagoSubsecuente </div>
    </div>
    <div class="plan-seleccion-title">
        Vigencia a partir de
    </div>
    <div style="font-size: 24px;">
        @Model.Vigencia 
    </div>

    <i style="margin-top:-10px;">*</i>
    @*<a target="_blank" href="../cdn/docs/Autos_Camiones_Residentes.pdf" style="text-decoration:underline">*@
    <a href="https://www2.chubb.com/mx-es/_assets/documents/aa04-aba-a-automoviles-y-camiones-residentes.pdf" target="_blank" style="text-decoration:underline">
        <small>Sujeto a t&eacute;rminos y condiciones</small>
    </a>

    <div class="row" style="margin-top:20px">
        <div class="col-md-11">
            <div class="col-md-1 col-xs-1">
                <input type="checkbox" id="chkUsoParticular" name="chkUsoParticular" data-behavior="mustbechecked" />
            </div>

            <div class="col-md-11 col-xs-11">
                <span style="color: #1F1410;font-family:Source Sans Pro;font-size: 12px;line-height: 15px;">
                    Mi auto no es un taxi, no es uber y no se usa para fines comerciales. <a href="../cdn/docs/restricciones-contratacion-aba.pdf" target="_blank" id="CondicionesLink" style="text-decoration: underline;">Ver M&aacute;s</a>
                    @*<a href="#" style="text-decoration:underline"></a>*@
                </span>
            </div>
        </div>

    </div>

    <div id="pnlErrorPago" class="alert alert-warning" style="padding:5px;font-size:12px;display: none;margin-top: 10px; font-weight:normal !important;"></div>

    <div>
        <button class="btn btn-lg btn-block btn-aba-large" id="btnComprar">
            @*style="margin-top:20px;padding-left:0; padding-right:0">*@
            Comprar
        </button>
    </div>

</fieldset>

@section Scripts
{
    <script src="~/cdn/js/gtagKwanko/PaqueteSeleccionado_.js"></script>
}