﻿.chat-panel {
    position: fixed;
    bottom: 0px;
    right: 5px;
    width: 380px;
    z-index: 1500;
}

.chat {
    border-bottom-color: #00C0D7;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
}

    .chat h1 {
        font-size: 14px;
        padding-top: 5px;
        padding-bottom: 7px;
        margin: 0px;
        font-weight: bold;
    }

    .chat h2 {
        font-size: 12px;
        padding-top: 0px;
        padding-bottom: 5px;
        margin: 0px;
        font-weight: normal;
    }

.chat-outgoing {
    text-align: right;
}

.chat-container {
    height: 300px;
    overflow-y: auto;
    width:370px;
}


.chat-frm-container {
    padding: 15px;
}

#chatFormularioInicio input {
    margin-bottom: 10px;
}

#chatFormularioInicio textarea {
    margin-bottom: 10px;
}

.chat-panel a {
    color: #ffffff;
}


.chat-frm-titulo {
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: bold;
    color: #00C0D7;
    text-align: center;
}

.btn-iniciar-chat {
    background-color: #00C0D7;
    color: #ffffff;
    font-size: 14px;
}

#btnChatEnviarMensaje {
    background-color: #00C0D7;
    height: 69px;
    width: 60px;
    color: #ffffff;
    text-align: center;
    border: none;
}

#txtChatMensaje {
    width: 95%;
    height: 70px;
}

#btnStopChat {
    background-color: #0093A5;
    font-family: "Source Sans Pro";
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 600;
    line-height: 17px;
    border: none;
    height: 43px;
    margin-top: -10px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    .chat-panel {
        width: 310px;
    }

    #lblHelp {
        font-size: 10px !important;
    }

    #btnStopChat {
        font-size: 10px;
    }
}