﻿@model PortalABA.UI.Models.CapturaDatosGeneralesCasaModel
@{
    var generos = (from p in Model.TiposSexo select new SelectListItem() { Text = p.Text, Value = p.Value, Selected = p.Selected }).ToList();
    var estadosCiviles = (from p in Model.TiposEstadoCivil select new SelectListItem() { Text = p.Text, Value = p.Value, Selected = p.Selected }).ToList();
    var tiposGiro = (from p in Model.TiposGiro select new SelectListItem() { Text = p.Text, Value = p.Value, Selected = p.Selected }).ToList();
    var tiposSociedad = (from p in Model.TiposSociedad select new SelectListItem() { Text = p.Text, Value = p.Value, Selected = p.Selected }).ToList();
    var tiposPersona = (from p in Model.TiposPersona select new SelectListItem() { Text = p.Text, Value = p.Value, Selected = p.Selected }).ToList();
    var tiposHabitacional = (from p in Model.TiposHabitacional select new SelectListItem() { Text = p.Text, Value = p.Value, Selected = p.Selected }).ToList();
    var dias = new List<SelectListItem>();
    dias.Add(new SelectListItem() { Text = "Día", Value = (-1).ToString() });
    for (int i = 1; i <= 31; i++)
    {
        dias.Add(new SelectListItem() { Text = i.ToString("00"), Value = i.ToString("00") });
    }

    var meses = new List<SelectListItem>();
    meses.Add(new SelectListItem() { Text = "Mes", Value = (-1).ToString() });
    for (int i = 1; i <= 12; i++)
    {
        meses.Add(new SelectListItem() { Text = i.ToString("00"), Value = i.ToString("00") });
    }

    var años = new List<SelectListItem>();
    años.Add(new SelectListItem() { Text = "Año", Value = (-1).ToString() });
    for (int i = DateTime.Now.Year - 18; i >= 1900; i--)
    {
        años.Add(new SelectListItem() { Text = i.ToString(), Value = i.ToString() });
    }
}
@section Styles{
    <link type="text/css" rel="stylesheet" href="~/cdn/css/pages/hogar/hogar.css" />
    @*<link type="text/css" rel="stylesheet" href="~/cdn/css/pages/hogar/hogar-responsive.css" />*@
}
<div id="pnlSeleccionaPaquete" style="padding-top: 120px;">
    <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-10">
            <div class="row">
                <div class="col-md-1 hidden-xs" style="margin-top: 150px;">
                    <div class="row" style="text-align:center">
                        <span class="circleStep">
                            1
                        </span>

                        <div class="labelStep active">
                            <span>Selecciona tu paquete</span>
                        </div>

                    </div>

                    <div class="row dashed">
                    </div>

                    <div class="row" style="text-align:center">
                        <span class="circleStep active">
                            2
                        </span>

                        <div class="labelStep">
                            <span>Ingresa tus datos</span>
                        </div>
                    </div>


                    <div class="row dashed">
                    </div>

                    <div class="row" style="text-align:center">
                        <span class="circleStep">
                            3
                        </span>

                        <div class="labelStep">
                            <span>Paga tu seguro</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-11 col-xs-12">
                    <div>
                        <div style="padding-left: 10px; padding-right: 10px;">
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <div style="padding-bottom: 40px;">
                                        <h1 style="margin-bottom: 0px;">2. Ingresa tus Datos</h1>
                                        <div style="font-family: 'Georgia'">Confirma la informaci&oacute;n para generar tu p&oacute;liza de tu <span style="text-transform: uppercase; font-weight: bold;">Hogar</span></div>
                                        <div style="color:#A5A0A7;font-family:'Source Sans Pro';font-size: 12px;line-height:15px">Los campos marcados con * son obligatorios.</div>
                                    </div>

                                    <div id="spinDatosProcesando" style="padding-top: 10px; display:none">
                                        <i class="fa fa-cog fa-spin fa-3x fa-fw" style="font-size: 13px"></i>&nbsp;<span style="font-size: 12px; font-weight: bold;">Procesando Información...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <form id="frmRfcHide" action="@Url.Content("~/AutoCotizador/CalculaRFC")" method="post">
                        @Html.Hidden("Nombre","",new { @id= "nombre_h" })
                        @Html.Hidden("ApellidoPaterno", "", new { @id = "paterno_h" })
                        @Html.Hidden("ApellidoMaterno", "", new { @id = "materno_h" })
                        @Html.Hidden("Dia", "", new { @id = "dia_h" })
                        @Html.Hidden("Mes", "", new { @id = "mes_h" })
                        @Html.Hidden("Año", "", new { @id = "anio_h" })
                    </form>

                    <form id="frmCapturaDatosGenerales" action="@Url.Content("~/hogar/EnviarDatosGenerales")" method="POST">
                        @Html.AntiForgeryToken()

                        @Html.HiddenFor(x => x.PaqueteSeleccionadoId)
                        @Html.HiddenFor(x => x.DatosPaquete)
                        @Html.HiddenFor(x => x.NegocioID)
                        @Html.HiddenFor(x => x.TipoPagoId)
                        @Html.HiddenFor(x => x.TipoPersona)
                        @Html.HiddenFor(x => x.TipoSociedadMoral)
                        @Html.HiddenFor(x => x.NoNivelesBien)
                        @Html.HiddenFor(x => x.MunicipioBien)
                        @Html.Hidden("Municipio")
                        @Html.Hidden("DomicilioAsegurado", false)
                        @Html.Hidden("TipoFacturanteId", 0)

                        <div class="row">
                            <div class="col-md-12">
                                <div style="font-family: 'Source Sans Pro'; padding-left: 15px; font-weight: bold; font-size: 17px; padding-bottom: 5px;">Datos Personales</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.PrimerNombreFisica, new { @class = "form-control", @maxlength = "100", @placeholder = "Primer nombre *", @required = "required" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.SegundoNombreFisica, new { @class = "form-control", @maxlength = "100", @placeholder = "Segundo nombre" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.ApellidoPaternoFisica, new { @class = "form-control", @maxlength = "100", @placeholder = "Apellido paterno *", @required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.ApellidoMaternoFisica, new { @class = "form-control", @maxlength = "100", @placeholder = "Apellido materno *", @required = "required" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.DropDownListFor(x => x.SexoFisica, generos, new { @class = "form-control", @required = "required", @placeholder = "Género" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.DropDownListFor(x => x.EstadoCivilFisica, estadosCiviles, new { @class = "form-control", @required = "required", @placeholder = "Estado civil" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="control-container">
                                    <div style="color:#A5A0A7;font-family:'Source Sans Pro';font-size: 12px;line-height:15px">Fecha de nacimiento *</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div>
                                    <div class="col-md-4">
                                        <div class="control-container">
                                            @Html.DropDownList("Dia", dias, new { @class = "form-control", @required = "required", @placeholder = "Día" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="control-container">
                                            @Html.DropDownList("Mes", meses, new { @class = "form-control", @required = "required", @placeholder = "Mes" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="control-container">
                                            @Html.DropDownList("Año", años, new { @Id = "Anio", @class = "form-control", @required = "required", @placeholder = "Año" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.RfcFisica, new { @class = "form-control", @maxlength = "16", @placeholder = "RFC *", @required = "required" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.Telefono, new { @class = "form-control", @maxlength = "10", @placeholder = "Teléfono celular *" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.Correo, new { @class = "form-control email", @maxlength = "100", @placeholder = "Correo electrónico *", @required = "required" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.Correo, new { @class = "form-control emailconfirm", @maxlength = "100", @placeholder = "Confirma tu correo electrónico *", @required = "required" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.TelefonoCasa, new { @class = "form-control", @maxlength = "10", @placeholder = "Teléfono fijo (Opcional)"})
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div style="font-family: 'Source Sans Pro'; padding-left: 15px; font-weight: bold; font-size: 17px; padding-bottom: 5px;">
                                    Direcci&oacute;n del Asegurado</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.CP, new { @class = "form-control", @maxlength = "5", @placeholder = "C.P. *", @required = "required" })
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="control-container">
                                    @Html.TextBox("EstadoDomicilio", "", new { @class = "form-control", @maxlength = "100", @placeholder = "Estado *", @required = "required", @disabled = "disabled" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBox("MunicipioText", "", new { @class = "form-control", @maxlength = "100", @placeholder = "Municipio *", @required = "required", @disabled = "disabled" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.Poblacion, new { @class = "form-control", @maxlength = "100", @placeholder = "Población *", @required = "required", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.Colonia, new { @class = "form-control", @maxlength = "100", @placeholder = "Colonia *", @required = "required", @disabled = "disabled" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.Calle, new { @class = "form-control", @maxlength = "100", @placeholder = "Calle *", @required = "required" })
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.NumeroExterior, new { @class = "form-control", @maxlength = "100", @placeholder = "Exterior *", @required = "required" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.NumeroInterior, new { @class = "form-control", @maxlength = "100", @placeholder = "Interior" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div style="font-family: 'Source Sans Pro'; padding-left: 15px; font-weight: bold; font-size: 17px; padding-bottom: 5px;">Datos del bien</div>
                            </div>
                        </div>
                        <div class="row">
        <div class="col-md-4">
            <div class="control-container">
                @Html.DropDownListFor(x => x.TipoHabitacionalBien, tiposHabitacional, new { @class = "form-control", @required = "required" , @placeholder = "Tipo Habitacional" })
            </div>
        </div>
        @*<div class="col-md-4">
            <div class="control-container">
                @Html.DropDownListFor(x => x.TipoMuroBien, tiposMuro, new { @class = "form-control", @required = "required", @disabled = "disabled" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="control-container">
                @Html.DropDownListFor(x => x.TipoTechoBien, tiposTecho, new { @class = "form-control", @required = "required", @disabled = "disabled" })
            </div>
        </div>*@

    </div>
    @*<div class="row">
        <div class="col-md-4">
            <div class="control-container">
                @Html.DropDownListFor(x => x.NoSotanosBien, sotanos, new { @class = "form-control", @required = "required", @placeholder = "Género" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="control-container">
                @Html.DropDownListFor(x => x.NoPisosBien, pisos, new { @class = "form-control", @required = "required", @placeholder = "Género" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div style="font-family: 'Source Sans Pro'; padding-left: 15px; font-weight: bold; font-size: 17px; padding-bottom: 5px;">Medidas de Seguridad</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="TodasMedidasSeguridad" value="-1">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Todas
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="MedidasSeguridad" value="3" checked>
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Ninguna
                </label>
            </div>
        </div>
        <div class="col-md-5">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="MedidasSeguridad" value="11">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Vigilante propio 24 horas
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="MedidasSeguridad" value="1">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    GPS
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="MedidasSeguridad" value="5">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Alarma Local
                </label>
            </div>
        </div>
        <div class="col-md-5">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="MedidasSeguridad" value="12">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Vigilante propio y Alarma
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="MedidasSeguridad" value="2">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Custodia
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="MedidasSeguridad" value="4">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Alarma Central
                </label>
            </div>
        </div>
        <div class="col-md-5">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="MedidasSeguridad" value="14">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Empresa de seguridad para traslados
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="MedidasSeguridad" value="7">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Extintores
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="MedidasSeguridad" value="10">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Veladores
                </label>
            </div>
        </div>
        <div class="col-md-5">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="MedidasSeguridad" value="6">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Circuito Cerrado Television con Grabadora
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="MedidasSeguridad" value="8">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Hidrantes
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="MedidasSeguridad" value="13">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Caja Fuerte
                </label>
            </div>
        </div>
        <div class="col-md-5">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="MedidasSeguridad" value="9">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Protecciones Metálicas
                </label>
            </div>
        </div>
    </div>*@
                        <div class="row">
                            <div class="col-md-12">
                                <div style="float:left;font-family: 'Source Sans Pro'; padding-left: 15px; font-weight: bold; font-size: 17px; padding-bottom: 5px;">Casa a Asegurar</div>

                                <div style="float:left;margin-top:0;" class="checkbox">
                                    <label>
                                        <input type="checkbox" name="DomicilioAseguradoCheck">
                                        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                        Misma dirección de tus datos
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.CodigoPostalBien, new { @class = "form-control", @maxlength = "100", @placeholder = "C.P.*", @required = "required" })
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="control-container">
                                    @Html.TextBox("EstadoBien", "", new { @class = "form-control", @maxlength = "100", @placeholder = "Estado *", @required = "required", @disabled = "disabled" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBox("MunicipioBienText", "", new { @class = "form-control", @maxlength = "100", @placeholder = "Municipio *", @required = "required", @disabled = "disabled" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.PoblacionBien, new { @class = "form-control", @maxlength = "100", @placeholder = "Población *", @required = "required", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.ColoniaBien, new { @class = "form-control", @maxlength = "100", @placeholder = "Colonia *", @required = "required", @disabled = "disabled" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.CalleBien, new { @class = "form-control", @maxlength = "100", @placeholder = "Calle *", @required = "required" })
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.NumeroExteriorBien, new { @class = "form-control", @maxlength = "100", @placeholder = "Exterior *", @required = "required" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.NumeroInteriorBien, new { @class = "form-control", @maxlength = "100", @placeholder = "Interior" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div style="float:left;font-family: 'Source Sans Pro'; padding-left: 15px; font-weight: bold; font-size: 17px; padding-bottom: 5px;">Datos de Facturación</div>
                                <div style="float:left;margin-top:0;" class="checkbox">
                                    <label>
                                        <input type="checkbox" name="TipoFacturanteCheck">
                                        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                        Tomar datos de asegurado
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.NombreFacturante, new { @class = "form-control", @maxlength = "300", @placeholder = "Nombre Facturante" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.EmailFacturante, new { @class = "form-control", @placeholder = "Email Facturante" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.EmailComplementoFacturante, new { @class = "form-control", @placeholder = "Email Complemento" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.RFCFacturante, new { @class = "form-control", @placeholder = "RFC" })
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="control-container" id="pnlErrorCaptura" style="display: none;">

                    </div>

                    <div style="margin-top:20px">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <div class="control-container">
                                    <button class="btn btn-default btn-block btn-atras" id="btnAnterior">Regresar</button>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <div class="control-container">
                                    <button class="btn btn-default btn-block btn-pagar" id="btnSiguiente">Siguiente</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<form id="frmResultadoSolicitud" action="@Url.Content("~/hogar/FormularioDePago")" method="POST">
    @Html.AntiForgeryToken()
    @Html.Hidden("DatosSolicitud")
</form>
@section Scripts
{

    <script type="text/javascript" language="javascript" nonce="YWJhLmNodWJiLmNvbQ==">

        var imprimirResumenErrores = function (errores) {
            $("#pnlErrorCaptura").load("/Contenidos/ListadoErrores_", { errores: errores });
            $("#pnlErrorCaptura").show();
        };

        var validaEmail = function (email) {
            var re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }

        var validarFormulario = function () {
            var errores = [];
            var esValido = true;
            $('.has-error').removeClass('has-error');
            if ($('#Telefono').val() === '' /*|| $('#TelefonoCasa').val() === ''*/) {
                $('#Telefono').parent().attr("class", "control-container has-error");
                //$('#TelefonoCasa').parent().attr("class", "control-container has-error");

                errores.push({
                    detalle: 'El campo [' + $('#Telefono').attr("placeholder").replace('*', '') + '] es requerido.' /*y [' + $('#TelefonoCasa').attr("placeholder").replace('*', '') + '] se requieren.'*/
                });

                esValido = false;
            }

            if ($('#Telefono').val() != '' && $('#Telefono').val().length != 10) {
                $('#Telefono').parent().attr("class", "control-container has-error");

                errores.push({
                    detalle: 'El campo [' + $('#Telefono').attr("placeholder").replace('*', '') + '] debe de ser de 10 dígitos.'
                });

                esValido = false;
            }

            //if ($('#TelefonoCasa').val() != '' && $('#TelefonoCasa').val().length != 10) {
            //    $('#TelefonoCasa').parent().attr("class", "control-container has-error");

            //    errores.push({
            //        detalle: 'El campo [' + $('#TelefonoCasa').attr("placeholder").replace('*', '') + '] debe de ser de 10 dígitos.'
            //    });

            //    esValido = false;
            //}

            if (!validaEmail($(".email").val())) {
                $(".email").parent().attr("class", "control-container has-error");
                errores.push({
                    detalle: 'El campo [' + $(".email").attr("placeholder").replace('*', '') + '] no tiene un email válido.'
                });
                esValido = false;
            }

            if (!validaEmail($(".emailconfirm").val())) {
                $(".emailconfirm").parent().attr("class", "control-container has-error");
                errores.push({
                    detalle: 'El campo [' + $(".emailconfirm").attr("placeholder").replace('*', '') + '] no tiene un email válido.'
                });
                esValido = false;
            }

            if ($(".email").val() != $(".emailconfirm").val()) {
                errores.push({
                    detalle: 'Los campos [' + $(".email").attr("placeholder").replace('*', '') + '] y [' + $(".emailconfirm").attr("placeholder").replace('*', '') + '] deben de ser iguales.'
                });
                esValido = false;
            }

            $("input[required=required]").each(function () {
                if ($(this).val() === '') {
                    $(this).parent().attr("class", "control-container has-error");

                    errores.push({
                        detalle: 'El campo [' + $(this).attr("placeholder").replace('*', '') + '] es requerido.'
                    });

                    esValido = false;
                }
            });

            $("select[required=required]").each(function () {
                if ($(this).val() === '-1') {
                    $(this).parent().attr("class", "control-container has-error");

                    errores.push({
                        detalle: 'El campo [' + $(this).attr("placeholder").replace('*', '') + '] es requerido.'
                    });

                    esValido = false;
                }
            });
            if ($("#EmailComplementoFacturante").val().length > 0){
                if (!validaEmail($("#EmailComplementoFacturante").val())) {
                    $("#EmailComplementoFacturante").parent().attr("class", "control-container has-error");
                    errores.push({
                        detalle: 'El campo [' + $("#EmailComplementoFacturante").attr("placeholder").replace('*', '') + '] no tiene un email válido.'
                    });
                    esValido = false;
                }
            }
            if ($("#EmailFacturante").val().length > 0) {
                if (!validaEmail($("#EmailFacturante").val())) {
                    $("#EmailFacturante").parent().attr("class", "control-container has-error");
                    errores.push({
                        detalle: 'El campo [' + $("#EmailFacturante").attr("placeholder").replace('*', '') + '] no tiene un email válido.'
                    });
                    esValido = false;
                }
            }
            if (esValido) {
                var dia = $("#Dia").val();
                var mes = $("#Mes").val();
                var año = $("#Anio").val();

                var fechaNacimiento = moment(año + mes + dia);

                if (!fechaNacimiento.isValid()) {
                    errores.push({
                        detalle: "La fecha de nacimiento es inválida."
                    });
                    esValido = false;
                }
                else {
                    var edad = moment().diff(fechaNacimiento, 'years');
                    if (edad < 18) {
                        errores.push({
                            detalle: "Las personas menores de 18 años no pueden contratar la políza."
                        });
                        esValido = false;
                    }
                }
            }

            if (esValido !== true) {
                imprimirResumenErrores(errores);
            }

            return esValido;
        };

        $(document).ready(function () {
            $('[name=TodasMedidasSeguridad]').click(function () {
                if ($(this).prop('checked') == true) {
                    $('[name=MedidasSeguridad]').prop('checked', true);
                    $('[name=MedidasSeguridad][value=3]').prop('checked', false);
                    $(this).prop('disabled', true);
                }
            });

            $('[name=MedidasSeguridad][value!=3]').click(function () {
                if ($('[name=MedidasSeguridad][value!=3]:checked').length > 0) {
                    $('[name=MedidasSeguridad][value=3]').prop('checked', false);
                }
                if ($('[name=MedidasSeguridad][value!=3]').length != $('[name=MedidasSeguridad][value!=3]:checked').length) {
                    $('[name=TodasMedidasSeguridad]').prop('checked', false);
                    $('[name=TodasMedidasSeguridad]').prop('disabled', false);
                } else {
                    $('[name=TodasMedidasSeguridad]').prop('checked', true);
                    $('[name=TodasMedidasSeguridad]').prop('disabled', true);
                }
            });

            $('[name=MedidasSeguridad][value=3]').click(function () {
                if ($(this).prop('checked') == true) {
                    $('[name=MedidasSeguridad][value!=3]').prop('checked', false);
                    $('[name=TodasMedidasSeguridad]').prop('checked', false);
                    $('[name=TodasMedidasSeguridad]').prop('disabled', false);
                }
            });

            $("#Anio").on('change', function () {
                var $frm = $('#frmRfcHide');
                var nombre = $("#PrimerNombreFisica").val() + ' ' + $("#SegundoNombreFisica").val();
                var paterno = $("#ApellidoPaternoFisica").val();
                var materno = $("#ApellidoMaternoFisica").val();
                var dia = $("#Dia").val();
                var mes = $("#Mes").val();
                var anio = $("#Anio").val();

                $("#nombre_h").val(nombre);
                $("#paterno_h").val(paterno);
                $("#materno_h").val(materno);
                $("#dia_h").val(dia);
                $("#mes_h").val(mes);
                $("#anio_h").val(anio);

                $.post($frm.attr("action"), $frm.serialize(), function (response) {
                    $("#RfcFisica").val(response);
                    $("#RfcFisica").change();
                }, 'json');

            });

            $("#CP").autocomplete({
                source: function (request, response) {
                    $.getJSON(apiRoot + "AutoCotizador/ObtenerLocalizacion", {
                        cp: request.term,
                    }, function (responseData) {
                        response(responseData.Localizaciones);
                    });
                },
                position: { collision: 'flip' },
                minLength: 5,
                select: function (event, ui) {
                    $('#Municipio').val(ui.item.Municipio);
                    $.getJSON(apiRoot + "AutoCotizador/ObtenerEstadoMunicipio", {
                        Estado: ui.item.Estado,
                        Municipio: ui.item.Municipio,
                        Poblacion: ui.item.Poblacion
                    }, function (responseData) {
                        $('#Colonia').val(ui.item.Colonia);
                        $('#CP').val(ui.item.CodigoPostal);
                        $('#EstadoDomicilio').val(responseData.Estado.Nombre);
                        $('#MunicipioText').val(responseData.Municipio.Nombre);
                        $('#Poblacion').val(responseData.Poblacion.Nombre);

                        $('#Calle').focus();
                    });

                    return false;
                },
                open: function () {
                    $(this).autocomplete('widget').css('z-index', 10000);
                    return true;
                }
            }).autocomplete('instance')._renderItem = function (ul, item) {
                return $('<li>').append('<div>' + item.Colonia + '</div>').appendTo(ul);
            };

            $("#CodigoPostalBien").autocomplete({
                source: function (request, response) {
                    $.getJSON(apiRoot + "AutoCotizador/ObtenerLocalizacion", {
                        cp: request.term,
                    }, function (responseData) {
                        response(responseData.Localizaciones);
                    });
                },
                position: { collision: 'flip' },
                minLength: 5,
                select: function (event, ui) {
                    $('#MunicipioBien').val(ui.item.Municipio);
                    $.getJSON(apiRoot + "AutoCotizador/ObtenerEstadoMunicipio", {
                        Estado: ui.item.Estado,
                        Municipio: ui.item.Municipio,
                        Poblacion: ui.item.Poblacion
                    }, function (responseData) {
                        $('#ColoniaBien').val(ui.item.Colonia);
                        $('#CodigoPostalBien').val(ui.item.CodigoPostal);
                        $('#EstadoBien').val(responseData.Estado.Nombre);
                        $('#MunicipioBienText').val(responseData.Municipio.Nombre);
                        $('#PoblacionBien').val(responseData.Poblacion.Nombre);

                        $('#CalleBien').focus();
                    });

                    return false;
                },
                open: function () {
                    $(this).autocomplete('widget').css('z-index', 10000);
                    return true;
                }
            }).autocomplete('instance')._renderItem = function (ul, item) {
                return $('<li>').append('<div>' + item.Colonia + '</div>').appendTo(ul);
            };

            $('[name=DomicilioAseguradoCheck]').change(function () {
                $('#DomicilioAsegurado').val($('[name=DomicilioAseguradoCheck]').is(':checked'));
                if ($(this).prop('checked') == true) {
                    $('#CodigoPostalBien').val($('#CP').val());
                    $('#EstadoBien').val($('#EstadoDomicilio').val());
                    $('#MunicipioBienText').val($('#MunicipioText').val());
                    $('#MunicipioBien').val($('#Municipio').val());
                    $('#PoblacionBien').val($('#Poblacion').val());
                    $('#ColoniaBien').val($('#Colonia').val());
                    $('#CalleBien').val($('#Calle').val());
                    $('#NumeroExteriorBien').val($('#NumeroExterior').val());
                    $('#NumeroInteriorBien').val($('#NumeroInterior').val());
                    $('#CalleBien').attr('disabled', 'disabled');
                    $('#NumeroExteriorBien').attr('disabled', 'disabled');
                    $('#NumeroInteriorBien').attr('disabled', 'disabled');
                } else {
                    $('#CodigoPostalBien').val('');
                    $('#EstadoBien').val('');
                    $('#MunicipioBienText').val('');
                    $('#MunicipioBien').val('');
                    $('#PoblacionBien').val('');
                    $('#ColoniaBien').val('');
                    $('#CalleBien').val('');
                    $('#NumeroExteriorBien').val('');
                    $('#NumeroInteriorBien').val('');
                    $('#CalleBien').removeAttr('disabled');
                    $('#NumeroExteriorBien').removeAttr('disabled');
                    $('#NumeroInteriorBien').removeAttr('disabled');
                }
            });

            $('[name=TipoFacturanteCheck]').change(function () {
                $('#TipoFacturanteId').val(($('[name=TipoFacturanteCheck]').is(':checked') ? 1 : 0));
                if ($(this).prop('checked') == true) {
                    var nombre = $('#PrimerNombreFisica').val() + ' ' + $('#SegundoNombreFisica').val() + ' ' + $('#ApellidoPaternoFisica').val() + ' ' + $('#ApellidoMaternoFisica').val()
                    $('#NombreFacturante').val(nombre);
                    $('#RFCFacturante').val($('#RfcFisica').val());
                    $('#EmailFacturante').val($('#Correo').val());
                    $('#NombreFacturante').attr('disabled', 'disabled');
                    $('#RFCFacturante').attr('disabled', 'disabled');
                    $('#EmailFacturante').attr('disabled', 'disabled');
                } else {
                    $('#NombreFacturante').val('');
                    $('#RFCFacturante').val('');
                    $('#EmailFacturante').val('');
                    $('#NombreFacturante').removeAttr('disabled');
                    $('#RFCFacturante').removeAttr('disabled');
                    $('#EmailFacturante').removeAttr('disabled');
                }
            });

            $('#NoPisosBien').change(function () {
                $('#NoNivelesBien').val($('#NoPisosBien').val());
            });

            $('#Telefono, #TelefonoCasa, #CP').on('keydown', function (e) {
                //var keyCode = ('which' in event) ? event.which : event.keyCode;

                //isNotWanted = (keyCode == 69 || keyCode == 101);
                //return !isNotWanted;
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 || (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) || (e.keyCode >= 35 && e.keyCode <= 40)) {
                    return;
                }
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });

            $('#btnGenerarPolizaCasa').click(function () {
                var formData = $('#frmCapturaDatosGenerales').serialize();
                $.ajax({
                    type: 'POST',
                    dataType: "json",
                    url: apiRoot + "Hogar/GenerarUrlPagoPolizaV2",
                    beforeSend: function () {
                        $('#Lightbox').show();
                    },
                    complete: function () {
                        $('#Lightbox').hide();
                    },
                    data: formData,
                    success: function (data) {
                        if (data.Validaciones.length == 0) {
                            location.href = data.UrlPagoPoliza;
                        }
                    },
                });
            });

            $("#btnAnterior").click(function () {
                history.back();
            });

            $("input[required=required], #Telefono, #TelefonoCasa").focus(function () {
                $(this).parent().attr("class", "control-container");
            });

            $("select[required=required]").focus(function () {
                $(this).parent().attr("class", "control-container");
            });

            $("#btnSiguiente").click(function () {
                $("#btnSiguiente").attr("disabled", "disabled");
                $('#Lightbox').show();
                $('#Lightbox').find('#spinnerLight').contents()[2].nodeValue = 'Espere un momento ...';
                if (validarFormulario()) {
                    var $form = $('#frmCapturaDatosGenerales');
                    var disabled = $form.find(':input:disabled').removeAttr('disabled');
                    var serialized = $form.serialize();

                    $.post($form.attr("action"), $form.serialize(), function (response) {
                        disabled.attr('disabled', 'disabled');
                        $('#Lightbox').hide();
                        $("#spinDatosProcesando").hide();
                        $("#btnSiguiente").removeAttr("disabled");
                        if (response.OperacionExitosa === true) {
                            $("#DatosSolicitud").val(response.DatosSolicitud);
                            $("#frmResultadoSolicitud").submit();
                        } else {
                            //var errores = [];
                            //imprimirResumenErrores(errores);
                        }
                    });
                }
                else {
                    $("#btnSiguiente").removeAttr("disabled");
                    $('#Lightbox').hide();
                    $("#spinDatosProcesando").hide();
                }
            });

            $('#PrimerNombreFisica, #SegundoNombreFisica, #ApellidoPaternoFisica, #ApellidoMaternoFisica').keypress(function (e) {
                var regex = /^[a-zA-Z\s]+$/
                var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                if (regex.test(str)) {
                    return true;
                }
                else {
                    e.preventDefault();
                    return false;
                }
            });

            $('#Calle').change(function () {
                if ($('[name=DomicilioAseguradoCheck]').is(':checked')) {
                    $('#CalleBien').val($('#Calle').val());
                }
            });
            $('#NumeroExterior').change(function () {
                if ($('[name=DomicilioAseguradoCheck]').is(':checked')) {
                    $('#NumeroExteriorBien').val($('#NumeroExterior').val());
                } 
            });
            $('#NumeroInterior').change(function () {
                if ($('[name=DomicilioAseguradoCheck]').is(':checked')) {
                    $('#NumeroInteriorBien').val($('#NumeroInterior').val());
                } 
            });

            $('#PrimerNombreFisica, #SegundoNombreFisica, #ApellidoPaternoFisica, #ApellidoMaternoFisica').change(function () {
                if ($('[name=TipoFacturanteCheck]').is(':checked')) {
                    var nombre = $('#PrimerNombreFisica').val() + ' ' + $('#SegundoNombreFisica').val() + ' ' + $('#ApellidoPaternoFisica').val() + ' ' + $('#ApellidoMaternoFisica').val()
                    $('#NombreFacturante').val(nombre);
                }
            });

            $('#Correo').change(function () {
                if ($('[name=TipoFacturanteCheck]').is(':checked')) {
                    var nombre = $('#PrimerNombreFisica').val() + ' ' + $('#SegundoNombreFisica').val() + ' ' + $('#ApellidoPaternoFisica').val() + ' ' + $('#ApellidoMaternoFisica').val()
                    $('#EmailFacturante').val($('#Correo').val());
                }
            });

            $('#RfcFisica').change(function () {
                if ($('[name=TipoFacturanteCheck]').is(':checked')) {
                    var nombre = $('#PrimerNombreFisica').val() + ' ' + $('#SegundoNombreFisica').val() + ' ' + $('#ApellidoPaternoFisica').val() + ' ' + $('#ApellidoMaternoFisica').val()
                    $('#RFCFacturante').val($('#RfcFisica').val());
                }
            });
        });
    </script>
    <script src="~/cdn/aplicacion/transports/jquery.binary.js"></script>
    <script src="~/cdn/js/gtagKwanko/CapturaDatosGenerales.js"></script>
}