﻿
@model PortalABA.UI.Models.CapturaDatosPersonalesModel

@{
    var generos = new List<SelectListItem>();
    generos.Insert(0, new SelectListItem() { Text = "Genero", Value = "0", Selected = true });

    var estadosCiviles = new List<SelectListItem>();
    estadosCiviles.Insert(0, new SelectListItem() { Text = "Estado Civil", Value = "0", Selected = true });
}

<div id="capturarDatos" class="capturarDatos hidden">
    <div class="row">
        <div class="col-md-1 hidden-xs" style="margin-top: 91px;">
            <div class="row" style="text-align:center">
                <span class="circleStep ">
                    1
                </span>

                <div class="labelStep ">
                    <span>Selecciona tu paquete</span>
                </div>

            </div>

            <div class="row dashed">
            </div>

            <div class="row" style="text-align:center">
                <span class="circleStep active">
                    2
                </span>

                <div class="labelStep active">
                    <span>Ingresa tus datos</span>
                </div>
            </div>


            <div class="row dashed">
            </div>

            <div class="row" style="text-align:center">
                <span class="circleStep">
                    3
                </span>

                <div class="labelStep">
                    <span>Paga tu seguro</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-10">
            <div>
                <div style="padding-left: 10px; padding-right: 10px;">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="bigStepTitle">2. Ingresa tus datos</div>
                            <div style="font-size: 14px; font-family: 'Merriweather'">Confirma la informaci&oacute;n para generar tu p&oacute;liza</div>
                        </div>
                    </div>
                </div>
            </div>

            <form id="frmCapturaDatosPersonales" action="@Url.Content("~/AutoCotizador/EnviarDatosPersonales")" method="POST">
                @*@Html.AntiForgeryToken()

                @Html.HiddenFor(x => x.PaqueteSeleccionadoId)
                @Html.HiddenFor(x => x.DatosPaquete)
                @Html.HiddenFor(x => x.Vehiculo)
                @Html.HiddenFor(x => x.Periodicidad)
                @Html.HiddenFor(x => x.RFC)
                @Html.HiddenFor(x => x.PeriodicidadId)
                @Html.HiddenFor(x => x.MunicipioId)
                @Html.HiddenFor(x => x.EntidadFederativaId)
                @Html.HiddenFor(x => x.Modelo)*@

                <div class="row" style="margin-top:50px">
                    <div class="col-md-4">
                        <div class="control-container">
                            Datos Personales
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="control-container">
                            @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control", @maxlength = "100", @placeholder = "Nombre", @required = "required" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="control-container">
                            @Html.TextBoxFor(x => x.ApellidoPaterno, new { @class = "form-control", @maxlength = "100", @placeholder = "Apellido Paterno", @required = "required" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="control-container">
                            @Html.TextBoxFor(x => x.ApellidoMaterno, new { @class = "form-control", @maxlength = "100", @placeholder = "Apellido Materno", @required = "required" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="control-container">
                            @Html.DropDownListFor(x => x.Genero, generos, new { @class = "form-control", @required = "required", @placeholder = "Género" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="control-container">
                            @Html.TextBoxFor(x => x.FechaNacimiento, new { @class = "form-control", @maxlength = "100", @placeholder = "Fecha de nacimiento", @required = "required" })

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="control-container">
                            @Html.DropDownListFor(x => x.EstadoCivil, estadosCiviles, new { @class = "form-control", @required = "required", @placeholder = "Estado civil" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="control-container">
                            @Html.TextBoxFor(x => x.CorreoElectronico, new { @class = "form-control", @maxlength = "100", @placeholder = "Correo electrónico", @required = "required" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="control-container">
                            @Html.TextBoxFor(x => x.Telefono, new { @class = "form-control", @maxlength = "100", @placeholder = "Teléfono celular", @required = "required" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="control-container">
                            @Html.TextBoxFor(x => x.TelefonoCasa, new { @class = "form-control", @maxlength = "100", @placeholder = "Teléfono de casa (Opcional)" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <div class="control-container">
                            @Html.TextBoxFor(x => x.CP, new { @class = "form-control", @maxlength = "100", @placeholder = "C.P.", @required = "required" })
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="control-container">
                            @Html.TextBoxFor(x => x.Direccion, new { @class = "form-control", @maxlength = "100", @placeholder = "Calle", @required = "required" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-container">
                            @Html.TextBoxFor(x => x.NumeroCasa, new { @class = "form-control", @maxlength = "100", @placeholder = "Número", @required = "required" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="control-container">
                            @Html.TextBoxFor(x => x.Colonia, new { @class = "form-control", @maxlength = "100", @placeholder = "Colonia", @required = "required" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="control-container">
                            @Html.TextBoxFor(x => x.Poblacion, new { @class = "form-control", @maxlength = "100", @placeholder = "Población", @required = "required" })
                        </div>
                    </div>

                </div>
            </form>

            <div class="control-container" id="pnlErrorCaptura" style="display:none;">

            </div>
            <div class="control-container" style="margin-top:40px">
                <div class="row">
                    <div class="col-md-8 col-xs-12">
                        <div style="padding-right: 10px; padding-bottom: 10px;">
                            <button class="btn btn-block text-uppercase" id="btnSiguiente" style="background-color: #00C0D7;color:#FFF">Siguiente</button>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div style="padding-right: 10px; padding-bottom: 10px;">
                            <button class="btn btn-block text-uppercase" id="btnAnterior">Atrás</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



@section Styles
{
    <link href="~/cdn/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
}

@section Scripts
{
    <script src="~/cdn/js/moment-with-locales.min.js"></script>
    <script src="~/cdn/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/cdn/js/gtagKwanko/CapturarDatos_.js"></script>
    @*<script src="~/cdn/aplicacion/cotizador-captura-datos.js"></script>*@
}
