﻿<div id="pnlConfirmacionPoliza" class="hidden">
    <div class="row" style="padding-bottom:20px">
        <div class="col-xs-12 col-md-8 col-md-offset-1">
            <div style="padding-bottom: 15px;">
                <div style="padding-left: 10px; padding-right: 10px;">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="bigStepTitle">¡Tu hogar ya está asegurado! Bienvenido a ABA</div>
                            <div class="numeroPoliza">Tu número de póliza es: 856933</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:65px">
                <div style="margin:0 5px">
                    <div class="col-md-5 col-xs-12" style="margin-top:10px">
                        <div style="border:1px solid #D1D1D1;padding:20px;">
                            @Html.Partial("PanelConfirma_")
                        </div>

                    </div>
                    <div class="col-md-5 col-xs-12 col-md-offset-1" style="margin-top:10px">
                        <div style="border:1px solid #D1D1D1;padding:23px;">
                            @Html.Partial("DescargaPoliza_")
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="col-md-2 col-md-offset-1 hidden-xs">
            <div class="row">
                <strong class="text-uppercase">Otros seguros para ti</strong>
            </div>
            <div class="row" style="height:565px;width:200px">
                <div class="casaImagen" style="padding-top:180px">
                    <div class="row" style="color: #FFFFFF;font-size: 41px;font-weight:bold;line-height:51px;text-align:center;text-shadow: 0 2px 4px 0 rgba(0,0,0,0.5)">
                        ¡Oscar!
                    </div>

                    <div class="row" style="margin-top:13px;color: #FFFFFF;font-family: Georgia;font-weight:bold;font-size: 21px;line-height:24px;text-align:center;text-shadow: 0 2px 4px 0 rgba(0,0,0,0.5)">
                        <div class="row">
                            ¿Ya viste?
                        </div>
                        <div class="row">
                            Puedes asegurar
                        </div>
                        <div class="row">
                            tu casa
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
