﻿@model PortalABA.UI.Models.CotizacionCasaModel

@section Styles{
    <link type="text/css" rel="stylesheet" href="~/cdn/css/pages/hogar/hogar.css" />
    @*<link type="text/css" rel="stylesheet" href="~/cdn/css/pages/hogar/hogar-responsive.css" />*@
}

    <form id="frmDatosCotizacionCasa">
     @Html.Hidden("Mascota", Model.Solicitud.Mascota)
     @Html.Hidden("PerfilId", Model.Solicitud.PerfilId)
     @Html.Hidden("TipoPagoId", 1, new {@id= "CotizacionTipoPagoId" })
    </form>

<div id="pnlSeleccionaPaquete" style="padding-top:120px;">
    <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-10">
            <div class="row" id="mensajeErrorPaquetes" style="display:none;height:60vh;margin:0 15px!important;">
                <div class="col-md-12 ">
                    <h3>
                        De momento no ha sido posible generar la cotización por favor reintente más tarde.
                        <a href="javascript:history.back()"><h5>Regresar</h5></a>
                    </h3>

                </div>
            </div>
            <div class="row" id="datosPaqueteContainer">
                <div class="col-md-1 hidden-xs" style="margin-top: 150px;">

                    <div class="row" style="text-align:center">
                        <span class="circleStep active">
                            1
                        </span>

                        <div class="labelStep active">
                            <span>Selecciona tu paquete</span>
                        </div>

                    </div>

                    <div class="row dashed">
                    </div>

                    <div class="row" style="text-align:center">
                        <span class="circleStep">
                            2
                        </span>

                        <div class="labelStep">
                            <span>Ingresa tus datos</span>
                        </div>
                    </div>


                    <div class="row dashed">
                    </div>

                    <div class="row" style="text-align:center">
                        <span class="circleStep">
                            3
                        </span>

                        <div class="labelStep">
                            <span>Paga tu seguro</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-11 col-xs-12">
                    @Html.Partial("EncabezadoCotizador_")
                    @Html.Partial("SelectorMensualidades_")
                    @Html.Partial("SelectorCotizador_",Model)
                    @Html.Partial("PanelComparativas_")
                                       
                    <div id="tablaComparativa"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/AutoCotizador/Cotizacion/DialogoSolicitarNombre_.cshtml")
    <form id="frmFormularioComprar" action="@Url.Content("~/hogar/CapturaDatosGenerales")" method="POST">
        <input type="hidden" id="seleccionPaquete" name="seleccionPaquete" value="" />
        <input type="hidden" id="seleccionPaqueteInformacion" name="seleccionPaqueteInformacion" value="" />
        <input type="hidden" id="vehiculo" name="vehiculo" value="" />
        <input type="hidden" id="periodicidad" name="periodicidad" value="" />
        <input type="hidden" id="periodicidadId" name="periodicidadId" value="" />
        <input type="hidden" id="nombreUsuario" name="nombreUsuario" value="" />
        <input type="hidden" id="CorreoElectronicoUsuario" name="CorreoElectronicoUsuario" value="" />
        @Html.Hidden("Mascota", Model.Solicitud.Mascota)
        @Html.Hidden("PerfilId", Model.Solicitud.PerfilId)
        @Html.Hidden("tipoPagoId")
        @Html.Hidden("paqueteSeleccionadoId")
        @Html.Hidden("seleccionPaqueteInformacion")
        
    </form>

    @section Scripts
{
        <script src="~/cdn/aplicacion/cotizador-hogar-seleccion-paquete.js"></script>
        <script type="text/javascript" language="javascript" nonce="YWJhLmNodWJiLmNvbQ==">
            $(function () {
                var chatInterval = setInterval(function () {
                    $("#chatPanel").show();
                    clearInterval(chatInterval);
                }, 60000);

                var getArchivoNombreUri = '@Url.Action("GetArchivoNotaTecnica", "CondicionesGenerales")';

                $.get(getArchivoNombreUri, { ramo: 'Autos', nota: 'Autos y Camiones Residentes' }, function (response) {
                    var fileName = response.Archivo;
                    //callback(fileName);

                    var url = '@Url.Content("~/cdn/docs/")' + fileName;

                    $('#CondicionesLink').attr('href', url);
                });
                var cbxCasa = localStorage.getItem("cbxCasa");
                $("#hogarSeleccion").html(cbxCasa);
            });
            $(document).ready(function () {
                $('#modalLlamamos').on('hidden.bs.modal', function () {
                    $('#txtNombreContactar').val('');
                    $('#txtCorreoElectronicoContactar').val('');
                    $('#txtTelefonoContactar').val('');
                    $('#txtTelefonoFijo').val('');
                })
            });
        </script>
        <script src="~/cdn/aplicacion/transports/jquery.binary.js"></script>
    }


