﻿@using System.Web.Razor.Generator
@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    var listadoporpietario = new List<SelectListItem>();
    var style = controllerName == "Home" ? "display:none;" : "";
    var listadoOpcionMascota = new List<SelectListItem>();

    listadoporpietario.Insert(0, new SelectListItem() { Text = "Tu casa es:", Value = "-1", Selected = true });
    listadoporpietario.Insert(1, new SelectListItem() { Text = "Propia", Value = PortalABA.Servicios.Properties.Settings.Default.cotizadorCasa_perfilId_propietario });
    listadoporpietario.Insert(2, new SelectListItem() { Text = "Rentada", Value = PortalABA.Servicios.Properties.Settings.Default.cotizadorCasa_perfilId_inquilino });
    listadoporpietario.Insert(3, new SelectListItem() { Text = "Propia, y la rento a inquilinos", Value = PortalABA.Servicios.Properties.Settings.Default.cotizadorCasa_perfilId_arrendatario });

    listadoOpcionMascota.Insert(0, new SelectListItem() { Text = "No", Value = "0" });
    listadoOpcionMascota.Insert(0, new SelectListItem() { Text = "Sí", Value = "1" });
    listadoOpcionMascota.Insert(0, new SelectListItem() { Text = "¿Tienes mascota?", Value = "-1", Selected = true });
}
<div class="hidden-xs fullscreen-bg">
    
</div>
<div class="casaCotizador" style="@style">
    <div class="visible-xs fondoCasa fullscreen-bg">

        <video loop muted autoplay class="fullscreen-bg__video">
            <source src="~/cdn/assets/img/aba-seguros-videoslider.mp4" type="video/mp4">
        </video>
    </div>

    <div id="panelCotizador" class="banner banner-altocontraste seguro-auto">
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8" style="padding: 10px;">
                <div style="text-align: center;">
                    @if (controllerName == "Home")
                    {
                        <div class="title">
                            Cotiza tu seguro en segundos
                        </div>
                        <div class="col-xs-12 aqui-van-imagenes" style="margin: 0px;text-align:center;">
                            <div data-name="Autobtn" class="col-xs-12 col-sm-4 col-md-offset-3 col-md-2"  style="cursor:pointer;">
                                <img src="~/cdn/assets/img/auto/auto.png" alt="auto" width="100" height="100">
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <img src="~/cdn/assets/img/casa/casa_hover.png" alt="casa" width="100" height="100">
                            </div>
                            <div data-name="Pymebtn" class="col-xs-12 col-sm-4 col-md-2">
                                <img src="~/cdn/assets/img/pyme/pyme.png" alt="PyME" width="100" height="100">
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="title">
                            Aseguramos mucho más que tu hogar
                        </div>
                        <div class="col-xs-12 aqui-van-imagenes" style="text-align:center">

                        </div>
                    }
                    
                </div>
            </div>
        </div>
        <form id="frmCotizadorCasa" action="@Url.Content("~/hogar/Cotizar")" method="GET">
            <div class="row">
                <div class="col-xs-12 col-md-offset-3 col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="control-container">
                                @Html.DropDownList("PerfilId", listadoporpietario, new { @class = "form-control aba-control", @required = "required" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="control-container">
                                @Html.DropDownList("Mascota", listadoOpcionMascota, new { @class = "form-control aba-control", @required = "required" })
                            </div>
                        </div>
                    </div>
                    <div class="row" id="pnlErrorCotizadorCasa" style="display:none;">
                        <div class="col-xs-12 col-md-8 col-md-offset-2">
                            <div style="padding-left: 20px; padding-right: 20px;">
                                <div class="alert alert-warning">
                                    <span class="fa fa-warning"></span>&nbsp;<span >Es necesario seleccionar alguna información.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>


        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <div class="row">
                    <div class="col-md-12" style="padding:0 10px">
                        <div style="text-align: center;" class="cotizar-ahora">
                            <button class="btn" id="btnCotizarCasa" type="button">Cotizar ahora</button>
                        </div>
                        <div class="cotizar-blanco" style="text-align:center">
                            <div class="btn" >
                                <a href="/Contenidos/Portal/?vista=Agentes">Encuentra un agente cerca de ti</a>
                            </div>
                        </div>
@if (controllerName == "Home")
{
                        <div style="text-align: center;">
                            <a id="scrollBtn" href="#seguroHogar" class="blink scrollBtn">
                                <img src="/cdn/assets/img/flecha.png" alt="ver mas">

                            </a>
                        </div>
}
                    </div>
                </div>
@if (controllerName != "Home")
{
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0 images">
                        <div class="col-xs-4 col-sm-4 col-md-4">
                            <figure>
                                <img src="~/cdn/assets/img/casa/familia.svg" alt="Tu Familia" width="113" height="94">
                                <figcaption>Tu Familia</figcaption>
                            </figure>
                        </div>

                        <div class="col-xs-4 col-sm-4 col-md-4">
                            <figure>
                                <img src="~/cdn/assets/img/casa/casa2.svg" alt="Tu Casa" width="113" height="94">
                                <figcaption>Tu Casa</figcaption>
                            </figure>
                        </div>

                        <div class="col-xs-4 col-sm-4 col-md-4">
                            <figure>
                                <img src="~/cdn/assets/img/casa/cosas.svg" alt="Tus Cosas" width="113" height="94">
                                <figcaption>Tus Cosas</figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
        </div>

