﻿@section Styles{
    <link type="text/css" rel="stylesheet" href="~/cdn/css/pages/hogar/hogar.css" />
    <link type="text/css" rel="stylesheet" href="~/cdn/css/pages/hogar/hogar-responsive.css" />
}

@Html.Partial("~/Views/hogar/FormularioCotizador_.cshtml")

@section Scripts{
    <script type="text/javascript" src="~/cdn/js/pages/hogar2.js"></script>
    <script type="text/javascript" language="javascript" nonce="YWJhLmNodWJiLmNvbQ==">
        $(document).ready(function () {
                setInterval(function () {
                    $("#chatPanel").show();
                }, 60000);
                $('#btnCotizarCasa').click(function () {
                    $('#pnlErrorCotizadorCasa').slideUp();
                        if ($('#PerfilId').val() != "-1" && $('#Mascota').val() != "-1") {
                            localStorage.setItem('cbxCasa', $("#PerfilId option:selected").text());
                            $('#frmCotizadorCasa').submit();
                        } else {
                            $('#pnlErrorCotizadorCasa').slideDown();
                        }

                });
        });
            
    </script>
}