﻿<div class="control-container">
    <div class="row" style="margin-top:20px">
        <div class="col-md-12 col-xs-12">
            <div class="text-uppercase">
                <strong>Tu confirmación de pago de póliza</strong>
            </div>
            <div class="text-uppercase">
                <div style="font-size: 24px;">ASD12BLS4877400</div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:40px">
        <div class="col-md-6 col-xs-6">
            <div class="text-uppercase">
                <strong>Monto</strong>
                
            </div>
            <div>
                <div style="font-size: 24px;">$4,550.00 MN</div>
            </div>
        </div>
        <div class="col-md-6 col-xs-6">
            <div class="text-uppercase">
                <strong>Fecha</strong>
            </div>
            <div style="font-size: 24px;">
                10/01/2017
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:65px;margin-bottom:10px">
        <div class="col-md-5 hidden-xs">
            <div style="text-align:center">
                <a href="#" id="imprimePago">
                    <span style="color:#000;font-family:Georgia;line-height:15px;display:inline-block;white-space:normal" class="label">Imprime tu confirmaci&oacute;n de pago</span>
                    <div style="margin-top:5px">
                        <img src="~/cdn/assets/icons/icn-imprimir.png" />
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-offset-1 col-md-5 col-xs-12">
            <div style="text-align:center">
                <a href="#" id="enviaPago">
                    <span style="color:#000;font-family:Georgia;line-height:15px;display:inline-block;white-space:normal" class="label">Envia tu confirmaci&oacute;n de pago</span>
                    <div style="margin-top:5px">
                        <img src="~/cdn/assets/icons/icn-correo.png" />
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/cdn/js/gtagKwanko/PanelConfirma_.js"></script>
}
