﻿@model List<PortalABA.Servicios.Modelos.CalculoCotizacionCasaModelo>


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    @{
        int index = 0;
        foreach (var item in Model)
        {
            index++;
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTipoPago@(item.TipoPagoId)" aria-expanded="true" aria-controls="collapseOne">
                            <div class="tipoPagoText">
                                @(item.TipoPagoId == 27 ? "Mensual" : (item.TipoPagoId == 29 ? "Trimestral" : (item.TipoPagoId == 28 ? "Semestral" : "Anual")))
                            </div>
                        </a>
                    </h4>
                </div>
                <div id="collapseTipoPago@(item.TipoPagoId)" class="panel-collapse collapse @(index == 1 ? "in" : " ")" role="tabpanel" >
                    <div class="panel-body">
                        @{
                            
                            foreach (var paquete in item.Paquetes)
                            {
                                <div class="col-md-4 col-sm-6 paquete" data-tipoPago="@(item.TipoPagoId)" data-paqueteId="@(paquete.PaqueteId)" data-paquete="@(Json.Encode(paquete))">
                                    <h4>@paquete.PaqueteNombre</h4>
                                    <h5><strong>@paquete.PrimaTotalFormato</strong></h5>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        }
    }
</div>
