﻿@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 667px) {
     .pymeCotizador .cotizar-ahora .btn, .casaCotizador .cotizar-blanco .btn {
        width:100%;
    }

     .pymeCotizador .fondoCasa {
        background-image: url('../../../assets/img/pyme/icn-movil-1-fondo.png'); 
    }

     .seleccionaPaquete .bigStepTitle, .capturarDatos .bigStepTitle, #pnlFormularioPago .bigStepTitle, #pnlConfirmacionPoliza .bigStepTitle{
        font-size: 29px;
        line-height: 29px;
    }

    #pnlConfirmacionPoliza .bigStepTitle{
        text-align:center;
    }

    #pnlConfirmacionPoliza .numeroPoliza{
        font-size: 14px;
        line-height: 16px;
        text-align:center;
        margin-top:5px;
    }

    #tblToolsMensualidades td {
        padding-left: 7px;
    }

    .seleccionaPaquete .itemCotizacion h1, .seleccionaPaquete .itemCotizacion h3 {
        font-size: 21px;
        font-weight: 300;
        line-height: 23px;
        margin:5px 0;
    }

    .seleccionaPaquete #pnlSeleccionPaquete {
        padding: 0 5px;
    }

    .seleccionaPaquete .formaDePago {
        
    }
    
}