﻿body{
    font-family:Source Sans Pro;
}
.pymeCotizador .fondo {
    background-image: url('../../../assets/img/pyme/ima-fondo-pyme.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.pymeCotizador .sub-title{
    color: #FFFFFF;
    margin-bottom:53px;
}


.pymeCotizador .images{
    text-align:center;
    margin-top:60px;
}

.seleccionaPaquete{
    background-color:#FFF;
    padding:100px 0;
}

.seleccionaPaquete .bigStepTitle, .capturarDatos .bigStepTitle, #pnlFormularioPago .bigStepTitle, #pnlConfirmacionPoliza .bigStepTitle{
    color: #000000;
    font-family:"Source Sans Pro";
    font-size: 55px;
    font-weight: bold;	
    letter-spacing: 1px;
    line-height: 69px;
}

#pnlConfirmacionPoliza .numeroPoliza{
    font-family: Georgia;
    font-size:24px;
    letter-spacing: 1px;
    line-height: 27px;
}

.seleccionaPaquete .tblActions {
    text-align: center;
}

.seleccionaPaquete .tblActions span{
    width: 80px;
    padding-bottom: 4px;

    color: #000000;
    font-family: Georgia;
    font-size: 11px;
    line-height: 12px;
    display:inline-block;
}

.seleccionaPaquete .lblSeguroCasa {
    font-family: Georgia;
    font-size: 15px;
    line-height: 17px;
    margin-left:5px;
}

.seleccionaPaquete .lblGustaria {
    color: #000;
    font-family:"Source Sans Pro";
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 19px;
    padding-top: 20px;

    margin-left:5px;
}

.seleccionaPaquete .opcion-recomendada-star{
    font-size:25px;
    vertical-align:middle;
}

.seleccionaPaquete .itemCotizacion h1, .seleccionaPaquete .itemCotizacion h3{
    color:#000;
    font-family:Source Sans Pro;
    font-size: 43px;
    line-height: 25px;
    margin-top: 10px;
    margin-bottom: 22px;
}

.seleccionaPaquete .opcion-recomendada-header {
    padding:5px 25px;
    font-family:"Source Sans Pro";
    font-size:14px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 18px;
}

.seleccionaPaquete .itemCotizacion.selected {
    background-color: #01BEE3;
}

.seleccionaPaquete .itemCotizacion.selected h1, .seleccionaPaquete .itemCotizacion:hover h1 {
    color:#FFF;
}

.seleccionaPaquete .itemCotizacion.selected h3, .seleccionaPaquete .itemCotizacion:hover h3 {
    color:#FFF;
}

.seleccionaPaquete .itemCotizacion:hover {
    background-color: #D4D4D4;
}

.seleccionaPaquete #panelSelectorCotizador .circleStep, .capturarDatos .circleStep, #pnlFormularioPago .circleStep {
    height: 40px;
    width:40px;
    border:2px solid #392665;
    background-color: #393939;
    border-radius:40px;
    color:#FFF;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
}

.seleccionaPaquete #panelSelectorCotizador .circleStep.active, .capturarDatos .circleStep.active, #pnlFormularioPago .circleStep.active {
    background-color: #644AA3;
}

.seleccionaPaquete #panelSelectorCotizador .labelStep, .capturarDatos .labelStep.active span, #pnlFormularioPago .labelStep.active span {
    margin-top:5px;
}

.seleccionaPaquete #panelSelectorCotizador .labelStep span, .capturarDatos .labelStep span, #pnlFormularioPago .labelStep span{
    display:inline-block;
    width:55px;
    color:#1F1410;
    font-family:Source Sans Pro;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
    text-align: center;
}

.seleccionaPaquete #panelSelectorCotizador .labelStep.active span, .capturarDatos .labelStep.active span, #pnlFormularioPago .labelStep.active span{
    color: #644AA3;
}

.seleccionaPaquete #panelSelectorCotizador .dashed, .capturarDatos .dashed, #pnlFormularioPago .dashed {
    text-align:center;
    margin:10px 50% !important;
    display:inline-block;
    height:27px;
    width:2px;
    border:1px dashed #1F1410;
}

.seleccionaPaquete #panelSelectorCotizador .comparaCoberturas {
    color: #00C0D7;
    font-family:Source Sans Pro;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 19px;
    text-decoration:underline;
}

.seleccionaPaquete #panelSelectorCotizador .tabla-comparativa th, .seleccionaPaquete #panelSelectorCotizador .tabla-comparativa td{
    padding:5px 30px;
}

.seleccionaPaquete #panelSelectorCotizador .tabla-comparativa th.removePadding , .seleccionaPaquete #panelSelectorCotizador .tabla-comparativa td.removePadding{
    padding:4px !important;
}

.seleccionaPaquete #panelSelectorCotizador .tabla-comparativa .paquetePreferente{
    color: #FFF;
    background-color:#00C0D7;
}

.seleccionaPaquete #tblToolsMensualidades td:first-child{
    padding-left:5px;
}

.seleccionaPaquete #tblToolsMensualidades td:last-child{
    padding-right:5px;
}

.seleccionaPaquete #tblToolsMensualidades button{
    font-family: Source Sans Pro;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 15px;
    min-height:35px;
    padding:15px 5px;
}

.seleccionaPaquete #pnlSeleccionPaquete{
    padding-top:0;
    padding-right:0;
}

.seleccionaPaquete #pnlSeleccionPaquete fieldset, #pnlFormularioPago fieldset{
    border:1px solid #c0c0c0;
    padding: 15px 25px;
}

.seleccionaPaquete #pnlSeleccionPaquete fieldset small, #pnlFormularioPago fieldset small{
    font-size: 11px;
    font-style:italic;
    font-weight:300;
    line-height: 14px;
}

.seleccionaPaquete #pnlSeleccionPaquete legend, #pnlFormularioPago legend{
    padding:0 10px;
    border:0;
    margin:0;
    width:auto;

    font-family:Source Sans Pro;
    font-size: 14px;
    line-height: 18px;
}

.seleccionaPaquete .formaDePago {
    font-size: 15px;
    line-height: 20px;
    font-weight:normal;
}

.seleccionaPaquete .plan-seleccion-title
{
    color: #9A9A9A;
    font-family:Source Sans Pro;
    font-size: 14px;
    line-height: 18px;
}

.seleccionaPaquete .seleccion-data
{
    font-size: 35px;
    font-weight: bold;
    line-height: 44px;
}

.seleccionaPaquete .shopping-cart, #pnlFormularioPago .shopping-cart{
    background-color: #00C0D7;
    color: #FFF;
    padding: 5px;
}

.capturarDatos {
    background-color:#FFF;
    padding:120px 0;
}

#pnlFormularioPago {
    background-color:#FFF;
    padding:120px 0;
    padding-bottom:80px;
}

#pnlConfirmacionPoliza {
    background-color:#FFF;
    padding:120px 0;
}

#pnlConfirmacionPoliza .casaImagen{
    background-image: url('../../../assets/img/casa-imagen.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}


