﻿<div id="seleccionaPaquete" class="seleccionaPaquete hidden">
    <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-10">
            @Html.Partial("EncabezadoCotizador_")
            @Html.Partial("SelectorMensualidades_")
        </div>
    </div>

    <div class="row">
        @Html.Partial("SelectorCotizador_")
    </div>
</div>
