﻿<div class="control-container">
    <div style="font-family: Georgia;font-size: 28px;line-height: 32px;text-align: center;margin-top:14px">
        <span>Descarga tu Póliza y condiciones generales</span>

        <div style="margin-top:15px">
            <img src="~/cdn/assets/img/icn-descarga-grande.png" width="56" />
        </div>
    </div>

    <div class="row" style="margin-top:40px;font-family:Georgia;font-size:12px;line-height:14px;">
        <div>
            Tu póliza ha sido enviada a tu correo electrónico: oscar@gmail.com
        </div>

        <div style="margin-top:15px">
            ¿Deseas enviarlo a otro correo?
        </div>

        <div class="col-md-12" style="margin-top:5px">
            <input type="text" class="form-control" style="height:30px"/>
        </div>
    </div>

    <div class="row" style="margin-top:10px">
        <button class="btn btn-default btn-block" id="btnEnviarPoliza" style="background-color:#00C0D7; text-transform:uppercase;color:#FFF; border:none">Enviar Póliza</button>
    </div>
</div>
