﻿@using System.Web.Razor.Generator
@model bool
@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    var listadogiro = new List<SelectListItem>();
    var style = controllerName == "Home" ? "display:none;" : "";
    var listadoPerfil = new List<SelectListItem>();

    listadoPerfil.Insert(0, new SelectListItem() { Text = "Propio", Value = PortalABA.Servicios.Properties.Settings.Default.cotizadorPyme_PerfilId_Propietario });
    listadoPerfil.Insert(0, new SelectListItem() { Text = "Rentado", Value = PortalABA.Servicios.Properties.Settings.Default.cotizadorPyme_PerfilId_Arrendatario });
    listadoPerfil.Insert(0, new SelectListItem() { Text = "Tu local es:", Value = "", Selected = true });
}


@if (Model)
{
    <div class="hidden-xs fullscreen-bg">
        <video loop muted autoplay class="fullscreen-bg__video">
            <source src="~/cdn/assets/img/aba-seguros-videoslider.mp4" type="video/mp4">
        </video>
    </div>
}
else
{
    <div class="hidden-xs fondoMain fullscreen-bg">

    </div>
}
<div class="pymeCotizador"  style="@style">
    <div class="visible-xs fondoPyme fullscreen-bg"></div>

    <div class="banner banner-altocontraste seguro-auto panelCotizador">
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8" style="padding: 10px;">
                <div style="text-align: center;">
                    @if (controllerName == "Home")
                    {
                        <div class="title">
                            Cotiza tu seguro en segundos
                        </div>
                        <div class="col-xs-12 aqui-van-imagenes" style="margin: 0px;text-align:center;">
                            <div data-name="Autobtn" class="col-xs-12 col-sm-4 col-md-offset-3 col-md-2" style="cursor:pointer;">
                                <img src="~/cdn/assets/img/auto/auto.png" alt="auto" width="100" height="100">
                            </div>
                            <div data-name="Casabtn" class="col-xs-12 col-sm-4 col-md-2" style="cursor:pointer;">
                                <img src="~/cdn/assets/img/casa/casa.png" alt="casa" width="100" height="100">
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <img src="~/cdn/assets/img/pyme/pyme_hover.png" alt="PyME" width="100" height="100">
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="title">
                            <h1 style="margin:0px;">Tu PyME Segura</h1>
                        </div>
                        <div class="col-xs-12 aqui-van-imagenes" style="text-align:center">
                            <h2 style="margin:0px;">Protege tu negocio</h2>
                        </div>
                    }
                </div>
            </div>
        </div>
        <form id="frmCotizadorPyme" action="@Url.Content("~/PymeCotizador/Cotizar")" method="GET">
            @Html.Hidden("GiroId")
            @Html.Hidden("SubGiroId")
            <div class="row">
                <div class="col-xs-12 col-md-offset-2 col-md-8">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="control-container">
                                @Html.DropDownList("PerfilId", listadoPerfil, new { @class = "form-control aba-control", @required = "required", @id = "PerfilIdPyme" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-container">
                                @Html.TextBox("CP", "", new { @id = "CPPyme", @class = "form-control aba-control", @required = "required", @placeholder = "CP", @maxlength = "5" })
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="control-container">
                                 @Html.DropDownList("cmbSubgiros", new List<SelectListItem>( ) { new SelectListItem { Value = "", Text = "Tu giro es:" }}, new { @class = "form-control aba-control", @required = "required" })
                                 @Html.TextBox("Subgiros", "", new { @placeholder = "¿Cuál es tu negocio? ejemplo: Librería", @id = "Subgiros", @required = "required", style = "width: 100%;display:none;" })
                            </div>

                            <div class="row" id="pnlErrorSubgirosPyme" style="display:none;">
                                <div class="col-xs-12">
                                    <div style="padding-left: 20px; padding-right: 20px;">
                                        <div class="">
                                            <span id="lblError">¿No encuentras tu negocio? llamanos al <a style="font-size: 14px;color:#fff;" href="tel:018007122828" >01 800 712 2828, opción 3- 4</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                        </div>
                    </div>
                    <div class="row" id="pnlErrorCotizadorPyme" style="display:none;">
                        <div class="col-xs-12 col-md-8 col-md-offset-2">
                            <div style="padding-left: 20px; padding-right: 20px;">
                                <div class="alert alert-warning">
                                    <span class="fa fa-warning"></span>&nbsp;<span id="lblError">Es necesario seleccionar alguna información.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <div class="row">
                    <div class="col-md-12" style="padding:0 10px">
                        <div style="text-align: center;" class="cotizar-ahora">
                            <button class="btn" id="btnCotizarPyme" type="button">Cotizar ahora</button>
                        </div>
                        <div class="cotizar-blanco" style="text-align:center">
                            <div class="btn">
                                <a href="/Contenidos/Portal/?vista=Agentes">Encuentra un agente cerca de ti</a>
                            </div>
                        </div>
                        @if (controllerName == "Home")
                        {
                            <div style="text-align: center;">
                                <a href="#pymeSegura" class="blink scrollBtn">
                                    <img src="/cdn/assets/img/flecha.png" alt="ver mas">

                                </a>
                            </div>
                        }
                    </div>
                </div>
                @if (controllerName != "Home")
                {
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0 images">
                            <div class="col-xs-4">
                                <img src="~/cdn/assets/img/pyme/icn-movil-1-cubrimos-2.png" class="visible-xs center-block" alt="cubrimos robo"/>
                                <img src="~/cdn/assets/img/pyme/icn-web-1-cubrimos-2.png" class="hidden-xs" alt="cubrimos robo"/>
                            </div>

                            <div class="col-xs-4">
                                <img src="~/cdn/assets/img/pyme/icn-movil-1-Satisfaccion-2.png" class="visible-xs center-block" alt="satistaccion total"/>
                                <img src="~/cdn/assets/img/pyme/icn-web-1-Satisfaccion-2.png" class="hidden-xs" alt="satisfaccion total"/>
                            </div>

                            <div class="col-xs-4">
                                <img src="~/cdn/assets/img/pyme/icn-movil-1-amparamos-2.png" class="visible-xs center-block" alt="amparamos vehiculos"/>
                                <img src="~/cdn/assets/img/pyme/icn-web-1-amparamos-2.png" class="hidden-xs" alt="amparamos vehiculos"/>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/cdn/js/gtagKwanko/PymeFormularioCotizador_.js"></script>
}