﻿@section Styles{
    <link type="text/css" rel="stylesheet" href="~/cdn/css/pages/pyme/pyme.css" />
    <link type="text/css" rel="stylesheet" href="~/cdn/css/pages/pyme/pyme-responsive.css" />
}
@section MetaTags{
    <title>ABA Chubb | Cotiza tu Seguro para Empresas PyME</title>
    <meta name="description" content="Cotiza tu seguro para empresas PyME. Asegura tu empresa contra robo, incendio, rotura de cristales, maquinaria, flotillas de vehículos y mucho más."/>
    <meta name="keywords" content="cotizar seguro para empresa, contratar seguro para empresa, cotizador de seguros empresarial, cotizar seguro empresarial, contratar seguro para empresas, cotizar seguro " />
}
@Html.Partial("~/Views/PymeCotizador/FormularioCotizador_.cshtml",true)


@section Scripts{
    <script type="text/javascript" src="~/cdn/js/pages/pyme.js"></script>
}