﻿

<div id="pnldudas" style="padding: 10PX 15px 15px 15px; margin: 0 15px 10px 15px;border-style: solid; border-width: 1px; border-color: #DADADA;">
    <fieldset style="padding-left:15px;padding-right:15px;">
        <legend style="font-family:'Source Sans Pro';text-transform:uppercase;">¿Tienes dudas?</legend>
        <div class="plan-seleccion-title">
            <span style="color:#00C0D7;" class="fa fa-phone"></span>&nbsp;Llamanos al <a style="font-size: 14px;" href="tel:018007122828" id="leadgen">01 800 712 2828 - opc. 3 opc. 4</a>
        </div>
        <div class="plan-seleccion-title">
            <a style="color:#9A9A9A;font-size: 14px;font-weight:normal;cursor:pointer;" href="mailto:@(PortalABA.Servicios.Properties.Settings.Default.contacto_default_email)?subject=ABA PyME Segura" id="email"><span style="color:#00C0D7;" class="fa fa-envelope-o"></span>&nbsp;Email</a>
        </div>
        <div id="dudasChat" style="cursor:pointer;" class="plan-seleccion-title" >
            <span style="color:#00C0D7;" class="fa fa-comments"></span>&nbsp;Chat
        </div>
        <div id="divContactar" class="plan-seleccion-title" style="cursor:pointer;" >
            <span style="color:#00C0D7;" class="fa fa-volume-control-phone"></span>&nbsp;¿Te Llamamos?
        </div>
    </fieldset>
</div>
<div id="pnlSeleccionPaquete" style="margin-left: 15px; margin-right: 15px; border-style: solid; border-width: 1px; border-color: #DADADA;">

</div>
<div id="modalLlamamos" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-size: 20px; font-family: 'Source Sans Pro'; font-weight: bold;">Deja tus datos para contactarte.</h4>
            </div>
            <div class="modal-body">
                <div name="divOculta">
                <div class="form-group" id="containerNombreCotizacion">
                    <label id="lblNombre">Nombre: </label>
                    <input type="text" maxlength="180" id="txtNombreContactar" name="txtNombreContactar" placeholder="" class="form-control" required="required">
                    <div class="alert-warning" style="padding:3px;margin-top:5px;" id="lblErrorNombreContactar">
                        <small>Es necesario que indique su nombre</small>
                    </div>
                </div>
                <div class="form-group">
                    <label>Correo electrónico</label>
                    <input type="text" maxlength="180" id="txtCorreoElectronicoContactar" name="txtCorreoElectronicoContactar" placeholder="" class="form-control" required="required">
                    <div class="alert-warning" style="padding:3px;margin-top:5px;display:none;" id="lblErrorCorreoContactar">

                    </div>
                </div>
                <div class="form-group">
                    <label>Teléfono celular</label>
                    <input type="text" maxlength="10" id="txtTelefonoContactar" name="txtTelefonoContactar" placeholder="" class="form-control" required="required">
                    <div class="alert-warning" style="padding:3px;margin-top:5px;display:none;" id="lblErrorTelefonoContactar">
                        <small>Es necesario que indique su teléfono celular</small>
                    </div>
                </div>
                <div class="form-group">
                    <label>Teléfono de casa</label>
                    <input type="text" maxlength="10" id="txtTelefonoFijo" name="txtTelefonoFijo" class="form-control" placeholder="Opcional">
                    <div class="alert-warning" style="padding:3px;margin-top:5px;display:none;" id="lblErrorTelefonoFijo">
                        <small>Es necesario que indique un teléfono de casa válido(10 digitos).</small>
                    </div>
                </div>
                <div class="form-group">
                    <div class="alert-warning" style="padding:3px;margin-top:5px;display:none;" id="lblLeadGenErrorProceso">
                        <small>Ocurrió un error.</small>
                    </div>
                </div>
                </div>
                @Html.Hidden("leadGenPaquete", new { id = "leadGenPaquete" })
                @Html.Hidden("leadGenFormaPago", new { id = "leadGenFormaPago" })
                @Html.Hidden("leadGenMontoPaquete", new { id = "leadGenMontoPaquete" })

                <div class="form-group" id="containerMessageSent" style="display:none;">
                    <div class="bigStepTitle">Tus datos se enviaron correctamente, pronto nos pondremos en contacto.</div>
                </div> 
            </div>
            <div class="modal-footer">
                <div name="divOculta">
                    <div class="col-xs-2 col-xs-offset-6">
                        <button class="btn btn-default btn-block btn-pagar" id="btnEnviarDatos" >Aceptar</button>
                    </div>
                    <div class="col-xs-3 col-xs-offset-1">
                        <button type="button" class="btn btn-default btn-block btn-atras" data-dismiss="modal" id="btnCancelar">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts
{
    <script src="~/cdn/js/gtagKwanko/PymePanelSeleccionPaquete_.js"></script>
}
