﻿@model PortalABA.UI.Models.FormularioPagoModel
<div class="control-container">
    <fieldset>
        <legend><span class="fa fa-shopping-cart"></span>&nbsp;Tu carrito:</legend>
        <div style="padding-bottom: 15px;">
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <div class="plan-seleccion-title">
                        Seguro
                    </div>
                    <div>
                        <div style="font-size: 32px; font-family: 'Source Sans Pro'; font-weight: bold;">PyME</div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="plan-seleccion-title">
                        Vigencia a partir de
                    </div>
                    <div style="font-size: 30px; font-family: 'Source Sans Pro'; font-weight: bold;">
                        @Utils.FormatearFecha(Model.Vigencia)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @*<small>* Sujeto a t&eacute;rminos y condiciones</small>*@
                </div>
            </div>

            <div class="plan-seleccion-title">
                Precio del seguro
            </div>
            <div style="font-size: 32px; font-family: 'Source Sans Pro'; font-weight: bold; text-transform: uppercase;">
                @Model.PrecioFormato
                @if (!Model.ImprimirSeccionPagoSubsecuente)
                {
                    <div style="font-size: 11px;">&Uacute;nico pago</div>
                }
            </div>

            <div style="padding-top: 10px; padding-bottom: 10px; font-family: 'Source Sans Pro'">
                <table style="width: 100%;" class="tblInformacionPagos">
                    <tr>
                        <td style="width: 220px">Forma de Pago</td>
                        <td><strong style="text-transform: capitalize;">@Model.Periodicidad</strong></td>
                    </tr>
                    @if (Model.ImprimirSeccionPagoSubsecuente)
                    {
                        <tr>
                            <td>@Model.NumeroPagos:</td>
                            <td><strong>@Model.PagoSubsecuenteFormato</strong></td>
                        </tr>
                    }
                </table>
            </div>

            <div class="plan-seleccion-title">
               Plan
            </div>
            <div style="font-size: 25px; font-family: 'Source Sans Pro'; font-weight: bold; text-transform: uppercase;">
                <strong>@Model.DescripcionPaquete</strong>
            </div>
            <div class="plan-seleccion-title">
                Giro
            </div>
            <div style="font-size: 25px; font-family: 'Source Sans Pro'; font-weight: bold; text-transform: uppercase;">
                <strong><span id="pymeSeleccion"></span></strong>
            </div>
        </div>
    </fieldset>
</div>
