﻿<div id="panelComparativas" style="display: none;">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div style="padding-left: 15px; padding-right: 15px; padding-top: 5px; padding-bottom: 30px;" class="pull-right">
                @*<button class="btn btn-block text-uppercase" id="btnVolverASelectorPlanes" style="background-color:#FFF;border: 1px solid #000;font-family:Source Sans Pro;font-size: 15px;
                    letter-spacing: 1px;color:#000 !important">
                    Regresar
                </button>*@

                <span  style="padding:8px 10px;width:25px;height:25px; border-radius:25px; border:solid 2px #f0f0f0">
                    <a href="#" id="btnVolverASelectorPlanes" style="text-decoration:none;color:#6e6e6e;font-size:20px;">
                        X
                    </a>
                </span>
                
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div style="overflow: auto;" id="panelTablaComparativa">
                
            </div>
        </div>
    </div>
</div>

