﻿@model List<PortalABA.UI.Models.PaqueteCoberturasModel>
@{
    int count = 0;
    int count1 = 0;
    int count2 = 0;
    string deducibledato = "";
    List<PortalABA.Servicios.Modelos.CoberturaCasa> coberturas = new List<PortalABA.Servicios.Modelos.CoberturaCasa>();
    if (Model != null)
    {
        coberturas = Model.FirstOrDefault().Coberturas;
    }
}
<div class="table-responsive">
    @if (ViewBag.Mascota == false)
    {
        <table class="table table-striped table-bordered table-condensed tabla-comparativa">
            <thead>
                <tr>
                    @foreach (var item in Model)
                {
                    if (count == 0)
                    {
                            <td> &nbsp;</td>
                        }
                        <td colspan="2">
                            <div class="comparativa-header">
                                @if (item.PaquetePreferente)
                                {
                                    <span class="fa fa-star opcion-recomendada-star" style="font-size: 18px;"></span>
                                }
                                <span class="text-uppercase">@item.Descripcion</span>
                            </div>
                            @if (item.PaquetePreferente)
                            {
                                <div style="font-size: 11px;">El 92% de nuestros clientes compra esta p&oacute;liza</div>
                            }
                        </td>

                        count++;
                    }
                </tr>
                <tr>
                    @foreach (var item in Model)
                {
                    if (count1 == 0)
                    {
                            <th>
                                <div>Coberturas</div>
                            </th>
                        }
                        <th class="@(item.PaquetePreferente ? "paquetePreferente" : "")">
                            <div style="width: 100px;">Suma Asegurada</div>
                        </th>
                        <th class="@(item.PaquetePreferente ? "paquetePreferente" : "") removePadding">
                            <div style="width: 80px;">Deducible</div>
                        </th>

                        count1++;
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var cobertura in coberturas)
                {
                    <tr>
                        <td>
                            @cobertura.Descripcion
                        </td>
                        @foreach (var paquete in Model)
                    {
                        var coberturaItem = paquete.Coberturas.Where(cond => cond.CoberturaId == cobertura.CoberturaId).FirstOrDefault();
                        if (coberturaItem != null)
                        {
                                <td>@coberturaItem.SumaAseguradaFormato</td>
                                <td class="removePadding">@coberturaItem.Deducible</td>
                            }
                            else
                            {
                                <td></td>
                                <td class="removePadding"></td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <table class="table table-striped table-bordered table-condensed tabla-comparativa">
            <thead>
                <tr>
                    @foreach (var item in Model)
                {
                    if (count == 0)
                    {
                            <td> &nbsp;</td>
                        }
                        <td style="width: 130px;" colspan="2">
                            <div class="comparativa-header">
                                @if (item.PaquetePreferente)
                                {
                                    <span class="fa fa-star opcion-recomendada-star" style="font-size: 18px;"></span>
                                }
                                <span class="text-uppercase">@item.Descripcion</span>
                            </div>
                            @if (item.PaquetePreferente)
                            {
                                <div style="font-size: 11px;">El 92% de nuestros clientes compra esta p&oacute;liza</div>
                            }
                        </td>
                        if (count == 2)
                        {
                            <td> &nbsp;</td>
                        }
                        count++;
                    }
                </tr>
                <tr>
                    @foreach (var item in Model)
                {
                    if (count1 == 0)
                    {
                            <th>
                                <div style="width: 300px;">Coberturas</div>
                            </th>
                        }
                        <th class="@(item.PaquetePreferente ? "paquetePreferente" : "")">
                            <div style="width: 80px;">SA</div>
                        </th>
                        <th class="@(item.PaquetePreferente ? "paquetePreferente" : "")">
                            <div style="width: 50px;">Deducible</div>
                        </th>
                        if (count1 == 2)
                        {
                            <th class="@(item.PaquetePreferente ? "paquetePreferente" : "") removePadding">
                                <div style="width: 100px;">Descripción</div>
                            </th>
                        }
                        count1++;
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var cobertura in coberturas)
                {
                    count2 = 0;
                    deducibledato = "";
                    <tr>
                        <td>
                            @cobertura.Descripcion
                        </td>
                        @foreach (var paquete in Model)
                        {
                            var coberturaItem = paquete.Coberturas.Where(cond => cond.CoberturaId == cobertura.CoberturaId).FirstOrDefault();
                            if (coberturaItem != null)
                            {
                                if (deducibledato == "")
                                {
                                    deducibledato = coberturaItem.Deducible;
                                }
                                <td>@coberturaItem.SumaAseguradaFormato</td>
                                <td>@coberturaItem.SumaDeducible</td>
                                if (count2 == 2)
                                {
                                    <td class="removePadding">@deducibledato</td>
                                }
                            }
                            else
                            {
                                <td></td>
                                <td class="removePadding"></td>
                            }
                            count2++;
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
