﻿@model List<PortalABA.Servicios.Modelos.AgenteModelo>
@{ 
        var tel = false;
        var colors = new List<string>() { "lb-blue", "lb-orange", "lb-purple", "lb-yellow", "lb-green" };
        var indexColor = 0;
    }
@foreach (var item in Model)
    {
        tel = false;
        indexColor = (indexColor >= colors.Count ? 0 : indexColor);
    <li>
        <div class="agente-item @(colors[indexColor])">
            <h1>@item.NombreAgente</h1>
            <div class="content">
                <div>
                    <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;
                    @if (item.TelefonoOficina != ""){
                        @(tel ? "|" : "")
                    <a href="tel:@(item.TelefonoOficina)">@item.TelefonoOficina</a>@(" (Oficina)")
                        tel = true;
                    }
                    @if(item.TelefonoOficina_2 != ""){
                    @(tel ? "|" : "")
                    <a href="tel:@(item.TelefonoOficina_2)">@item.TelefonoOficina_2</a>@(" (Oficina 2)")
                        tel = true;
                    }
                    @if(item.TelefonoCelular != ""){
                    @(tel ? "|" : "")
                    <a href="tel:@(item.TelefonoCelular)">@item.TelefonoCelular</a>@(" (Celular)")
                     tel = true;
                    } 
                </div>
                <div>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;
                    <a href="mailto:@(item.Email)">@item.Email</a>
                </div>
                <div>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    &nbsp;@(item.Direccion)
                </div>
            </div>
        </div>
    </li>
    indexColor++;
}