﻿<!--AUTO SEGURO-->
<div id="autoSeguro" class="auto-seguro section-imageback">
    <div class="row">
        <div class="col-md-offset-1 col-md-10 col-xs-12">
            <div style="padding-top: 50px; padding-left: 15px; padding-right: 15px;">
                <div class="pre-title azul-fosfo">
                    SEGUROS
                </div>
                <div class="title">
                    Auto Seguro
                </div>
                <div class="sub-title color-gris">
                    Seguimiento a siniestros en línea, APP ABA Clientes, Asistencia en Viaje (grúa, cerrajero,
                    <br />
                    entre otros), son algunas de las coberturas y beneficios que te tendrán siempre tranquilo.
                </div>
                <div style="text-align:left;" class="col-xs-10 col-md-4 btn-container">
                    <a href="@Url.Action("Auto","Seguros")" id="autoSeguro">
                        <div class="btn col-xs-5 btn-ver-mas redirect-to-segunda">
                            VER MÁS
                        </div>
                    </a>
                    <a href="@Url.Action("Index","AutoCotizador")" id="autoCotizadorIndex">
                        <div class="col-xs-offset-1 btn col-xs-5 btn-cotizar redirect-to-cotizador">
                            COTIZAR
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--SEGUROS HOGAR-->
<div id="seguroHogar" class="seguro-hogar section-imageback">
    <div class="row">
        <div class="col-md-offset-1 col-md-10 col-xs-12">
            <div style="padding-top: 50px; padding-left: 15px; padding-right: 15px;text-align:right;" >
                <div class="pre-title azul-fosfo">
                    SEGUROS
                </div>
                <div class="title">
                    Hogar Seguro
                </div>
                <div class="sub-title color-gris">
                    Cuenta siempre con asistencia en el hogar (cerrajero, plomero, electricista), además
                    <br />
                    de protección contra robo, incendio, equipo electrónico, entre otras coberturas.
                </div>
                <div style="text-align:left;" class="col-xs-offset-2 col-md-offset-8 col-xs-10 col-md-4 btn-container">
                    <a href="@Url.Action("Hogar","Seguros")" id="hogarSeguro">
                        <div class="btn col-xs-5 btn-ver-mas redirect-to-hogar">
                            VER MÁS
                        </div>
                    </a>
                    <a href="@Url.Action("Index","CasaCotizador")" id="casaCotizadorIndex">
                        <div class="btn col-xs-offset-1 btn col-xs-5 btn-cotizar redirect-to-cotizador">
                            COTIZAR
                        </div> 
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--PYME SEGURA-->
<div id="pymeSegura" class="pyme-segura section-imageback">
    <div class="row">
        <div class="col-md-offset-1 col-md-10 col-xs-12">
            <div style="padding-top: 50px; padding-left: 15px; padding-right: 15px;">
                <div class="pre-title azul-fosfo">
                    SEGUROS
                </div>
                <div class="title">
                    PyME Segura
                </div>
                <div class="sub-title color-gris">
                    Cuida tu PyME con los paquetes que
                    <br />
                    tenemos para tí.
                </div>
                <div style="text-align:center;" class="col-xs-10 col-md-4 btn-container">
                    <a href="@Url.Action("PyME","Seguros")" id="pymeSeguro">
                        <div class="btn col-xs-5 btn-ver-mas redirect-to-pyme">
                            VER MÁS
                        </div>
                    </a>
                    <a href="@Url.Action("Index","PymeCotizador")" id="pymeCotizadorIndex">
                        <div class="col-xs-offset-1 btn col-xs-5 btn-cotizar redirect-to-cotizador">
                            COTIZAR
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--OTROS SEGUROS -->
<div id="otrosSeguros" class="otros-seguros section-imageback">
    <div class="row">
        <div class="col-md-offset-1 col-md-10 col-xs-12">
            <div style="padding-top: 50px; padding-left: 15px; padding-right: 15px;text-align:right;" >
                <div class="pre-title azul-fosfo">
                    SEGUROS
                </div>
                <div class="title">
                    OTROS SEGUROS
                </div>
                <div class="sub-title color-gris">
                    ¿Necesitas un seguro para transporte de mercancía, eres contratista? 
                    <br />
                    ¿O Buscas algo para proteger a tu familia como Graves Enfermedades, Viajes o Vida?
                    <br />
                     Para esto y más tenemos un seguro especial para tí.
                </div>
                <div style="text-align:center;" class="col-xs-offset-2 col-md-offset-8 col-xs-10 col-md-4 btn-container">
                    <a href="@Url.Action("Otros","Seguros")" id="otrosSeguros">
                        <div class="btn col-xs-offset-7 col-xs-5 btn-ver-mas redirect-to-masseguros">
                            VER MÁS
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--QUIENES SOMOS -->
<div id="quienesSomos" class="hidden-xs col-xs-12 quienes-somos quienes-somos-fondo" style="padding: 0;">
    <img alt="Chubb" src="~/cdn/assets/img/logo/logo-chubb.png" style="margin-top: -25px; width: 160px;" class="col-xs-offset-1 col-sm-offset-1 col-md-offset-2 col-lg-offset-1">
    <div class="title col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offest-2 col-md-8 col-lg-offest-1 col-lg-11">
        ¿Quiénes somos?
    </div>
    <div class="quienes-somostxt col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-6 col-md-offest-1 col-md-3 col-lg-offest-1 col-lg-3">
        Nuestra compañía se distingue globalmente por su amplia oferta de productos y servicios, gran capacidad de distribución, excepcional fortaleza financiera, excelencia en suscripción, conocimientos técnicos superiores en la gestión de siniestros y operaciones locales.
    </div>
    <div class="col-xs-12 btn-container" style="margin-top: 30px;text-align:left;">
        <a href="https://www2.chubb.com/mx-es/about-us/financial-information.aspx" target="_blank">
            <div class="btn col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-6 col-md-offset-1 col-md-3 col-lg-offest-1 col-lg-3 btn-cotizar">
                @*<a href="~/Contenidos/QuienesSomos#informacion-financiera">INFORMACIÓN FINANCIERA</a>*@
                INFORMACIÓN FINANCIERA
            </div>
        </a>

    </div>
    <div style="text-align:left;" class="col-xs-12 btn-container">
        <a href="~/Contenidos/QuienesSomos#mision-vision">
            <div class="btn col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-6 col-md-offset-1 col-md-3 col-lg-offest-1 col-lg-3 btn-cotizar">
                MISIÓN Y VISIÓN
            </div>
        </a>
    </div>

    <div style="text-align:left;" class="col-xs-12 btn-container">
        <a href="~/Contenidos/QuienesSomos#valores">
            <div class="btn col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-6 col-md-offset-1 col-md-3 col-lg-offest-1 col-lg-3 btn-cotizar">
                VALORES
            </div>
        </a>
    </div>
</div>
<div class="visible-xs col-xs-12 quienes-somos quienes-somos-fondo-responsive" style="padding: 0;">
    <img alt="logo aba" src="~/cdn/assets/img/logo-aba.png" style="margin-top: -25px; width: 160px;" class="col-xs-offset-1 col-sm-offset-1 col-md-offset-2 col-lg-offset-1">
    <div class="title col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offest-2 col-md-8 col-lg-offest-1 col-lg-11">
        ¿Quiénes somos?
    </div>
    <div class="quienes-somostxt col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-6 col-md-offest-1 col-md-3 col-lg-offest-1 col-lg-3">
        Nuestra compañía se distingue globalmente por su amplia oferta de productos y servicios, gran capacidad de distribución, excepcional fortaleza financiera, excelencia en suscripción, conocimientos técnicos superiores en la gestión de siniestros y operaciones locales.
    </div>
    <div  class="col-xs-12 btn-container" style="margin-top: 30px;text-align:left;">
        <a href="https://www2.chubb.com/mx-es/about-us/financial-information.aspx" target="_blank">
            <div class="btn col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-6 col-md-offset-1 col-md-3 col-lg-offest-1 col-lg-3 btn-cotizar">
                @*<a href="~/Contenidos/QuienesSomos">INFORMACIÓN FINANCIERA</a>*@
                INFORMACIÓN FINANCIERA
            </div>
        </a>
    </div>
    <div style="text-align:left;" class="col-xs-12 btn-container">
        <a href="~/Contenidos/QuienesSomos">
            <div class="btn col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-6 col-md-offset-1 col-md-3 col-lg-offest-1 col-lg-3 btn-cotizar">
                MISIÓN Y VISIÓN
            </div>
        </a>
    </div>

    <div style="text-align:left;" class="col-xs-12 btn-container">
        <a href="~/Contenidos/QuienesSomos">
            <div class="btn col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-6 col-md-offset-1 col-md-3 col-lg-offest-1 col-lg-3 btn-cotizar">
                VALORES
            </div>
        </a>
    </div>
</div>

@section Scripts
{
    <script src="~/cdn/js/gtagKwanko/ContenidoHome_.js"></script>
}