﻿
@section MetaTags{
    <title>ABA Chubb | Seguros de Auto, Casa y Empresas</title>
    <meta name="description" content="Ingresa y conoce todos nuestros seguros y los beneficios que te ofrecen. Seguro de auto, casa, empresas y muchos seguros más." />
    <meta name="keywords" content="aba seguros, seguros aba, chubb seguros, seguros chubb, seguro de auto, seguro de casa, seguro de hogar, seguro para empresas, seguro de vida, seguro medico" />
}
@section Styles
{
    @*@Styles.RenderFormat(@"<link href=""{0}"" rel=""stylesheet"" />","~/cdn/css/pages/home.css")*@
    @*<style type="text/css"> @Html.GetContent("~/cdn/css/pages/home.css")</style>*@
<link href="~/cdn/css/pages/home.css" rel="stylesheet" />
}


@Html.Partial("~/Views/AutoCotizador/FormularioCotizador_.cshtml", false)
@Html.Partial("~/Views/CasaCotizador/FormularioCotizador_.cshtml", false)
@Html.Partial("~/Views/PymeCotizador/FormularioCotizador_.cshtml", false)
@Html.Partial("~/Views/Home/ContenidoHome_.cshtml")


@section Scripts
{
<script type="text/javascript" language="javascript" nonce="YWJhLmNodWJiLmNvbQ==">
    $(document).ready(function () {
        
        buscarGiros = function () {
            $.getJSON(apiRoot + "PymeCotizador/BuscarSubgiros", {
               
            }, function (responseData) {
                $.each(responseData.items, function (index, item) {
                    $('#cmbSubgiros').append($("<option>").val(item.id).text(item.label).data('GiroId',item.parentid));
                });
                $('#cmbSubgiros').append($("<option>").val(0).text("Otro"));
            });
        }
        buscarGiros();
        $('#cmbSubgiros').change(function () {
            if ($(this).val() == 0) {
                $('#Subgiros').slideDown();
            } else {
                $('#Subgiros').slideUp();
                $('#GiroId').val($(this).find('option:selected').data('GiroId'));
                $('#SubGiroId').val($(this).val());
            }
        });
            // Show Right Panel on init in Desktop
            var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);

            if(!isMobile)
            {
                $('.login-right-panel').show();
            }

            $('[data-name=Autobtn]').click(function () {
                $('#panelCotizador').show();
                $('video').show();
                $('.casaCotizador').hide();
                $('.pymeCotizador').hide();
            });
            $('[data-name=Casabtn]').click(function () {
                $('#panelCotizador').hide();
                //$('video').hide();
                $('.casaCotizador').show();
                $('.pymeCotizador').hide();
            });
            $('[data-name=Pymebtn]').click(function () {
                $('#panelCotizador').hide();
                //$('video').hide();
                $('.casaCotizador').hide();
                $('.pymeCotizador').show();
            });
            $('#btnCotizarCasa').click(function () {
                $('#pnlErrorCotizadorCasa').slideUp();
                if ($('#PerfilId').val() != "" && $('#PerfilId').val() != "-1" && $('#Mascota').val() != "-1" && $('#Mascota').val() != "") {
                        localStorage.setItem('cbxCasa', $("#PerfilId option:selected").text());
                        $('#frmCotizadorCasa').submit();
                    } else {
                        $('#pnlErrorCotizadorCasa').slideDown();
                    }

            });
            $('#btnCotizarPyme').click(function () {
                $('#pnlErrorCotizadorPyme').slideUp();
                if ($('#GiroId').val() != "" && $('#SubGiroId').val() != "" && $('#PerfilIdPyme').val() != "-1" && $('#CPPyme').val() != "") {
                    var subgiroSeleccionado = "";
                    if ($('#Subgiros').is(':visible')) subgiroSeleccionado = $('#Subgiros').val();
                    else subgiroSeleccionado = $("#cmbSubgiros option:selected").text();
                    localStorage.setItem('cbxSubGiroId', subgiroSeleccionado);
                    localStorage.setItem('cbxPyme', $("#PerfilIdPyme option:selected").text());
                    $('#frmCotizadorPyme').submit();
                } else {
                    $('#pnlErrorCotizadorPyme').slideDown();
                }

            });


            //$("#CPPyme").autocomplete({
            //    source: function (request, response) {
            //        $.getJSON(apiRoot + "AutoCotizador/ObtenerLocalizacion", {
            //            cp: request.term,
            //        }, function (responseData) {
            //            response(responseData.Localizaciones);
            //        });
            //    },
            //    position: { collision: 'flip' },
            //    minLength: 5,
            //    select: function (event, ui) {
            //        $('#CPPyme').val(ui.item.CodigoPostal);

            //        return false;
            //    },
            //    open: function () {
            //        $(this).autocomplete('widget').css('z-index', 10000);
            //        return true;
            //    }
            //}).autocomplete('instance')._renderItem = function (ul, item) {
            //    return $('<li>').append('<div>' + item.Colonia + '</div>').appendTo(ul);
            //};

            $("#Subgiros").autocomplete({
                source: function (request, response) {
                    $.getJSON(apiRoot + "PymeCotizador/BuscarSubgiros", {
                        busqueda: request.term,
                    }, function (responseData) {
                        if (responseData.items.length == 0) {
                            $('#pnlErrorSubgirosPyme').slideDown();
                            $('#SubGiroId').val('');
                            $('#GiroId').val('');
                        }
                        else $('#pnlErrorSubgirosPyme').slideUp();
                        response(responseData.items);
                    });
                },
                position: { collision: 'flip' },
                minLength: 2,
                select: function (event, ui) {
                    $('#Subgiros').val(ui.item.label);
                    $('#SubGiroId').val(ui.item.id);
                    $('#GiroId').val(ui.item.parentid);

                    return false;
                },
                open: function () {
                    $(this).autocomplete('widget').css('z-index', 10000);
                    return true;
                }
            }).autocomplete('instance')._renderItem = function (ul, item) {
                return $('<li>').append('<div>' + item.label + '</div>').appendTo(ul);
            };

            $('#CPPyme').on('keydown', function (e) {
                //var keyCode = ('which' in event) ? event.which : event.keyCode;

                //isNotWanted = (keyCode == 69 || keyCode == 101);
                //return !isNotWanted;
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 || (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) || (e.keyCode >= 35 && e.keyCode <= 40)) {
                    return;
                }
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });
        });
</script>
}
