﻿@media only screen 
and (min-width : 1200px) 
and (max-width : 1440px) {
     .seguro-para-tu .ele .minivideos {
        height: 122px; 
        width: 202px; 
        margin-left: 33px !important;
    }
}

@media only screen 
and (min-width : 980px) 
and (max-width : 1024px) {
    .seguro-para-tu .ele .title {
        font-size: 15px;  
        line-height: 21px;
    }

     .seguro-para-tu .ele .minivideos {
        height: 74px; 
        width: 130px; 
        margin-left: 40px !important;
    }
}


@media only screen 
and (min-width : 266px) 
and (max-width : 900px) {
    .section-cotizador-auto-flotante {
        position: fixed;
    }

    .beneficios-aba{
        background-color: #EEEEEE;
        padding-top: 50px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .left-title {
        margin-top: 75px;
        font-family: Montserrat;
        font-weight: bold;
        font-size: 28px;
        color: #000000;
        letter-spacing: 0;
        text-align:center;
        line-height:34px; 
        width: 100%;
    }

    .seccion-gris {
        background-color: #34373C;
        padding: 0;
        padding-top: 15px;
        padding-bottom: 42px;
        height: 157px;
        font-size: 24px;
        font-weight: 300;
        letter-spacing: 1px;
        text-align: center;
    }

    .seccion-gris .ele {
        font-family: 'Montserrat';
        font-weight: 300;
        font-size: 24px;
        letter-spacing: 1px;
        line-height: 29px;
        color: white;
        text-align: center;
        padding-right: 15px;
        padding-left:15px;
    }

    a.btn-seccion-gris {
        display: inline-block;
        width: 150px;
        font-size: 15px;
        line-height:19px;
    }

    .ProductosTitulo {
        margin-top: 40px;
        line-height: 43px;
    }

    .seguro-para-tu .ele .minivideos {
        height: 74px; 
        width: 130px; 
        margin-left: 20px;
    }

    .seguro-para-tu .ele .title {
        font-size: 14px;
        line-height: 21px;
        margin-top: 35px !important
    }

    .seguro-para-tu .ele .title > span {
        font-size: 18px;
        color: #000000 !important; 
        font-family:'Montserrat';   
        font-weight: 300;   
        line-height: 46px;
        text-align: center;
    }

    .seguro-para-tu .ele:first-child {
        border-left: none !important;
    }
    .seguro-para-tu .ele {
        border-right: none !important;
        border-left: none !important;
        border-bottom: 1px solid #DADADA;
        min-height: 105px;
    }
    .seguro-para-tu .ele:last-child{
        border-right: none !important;
        border-left: none !important;
    }

    .seguro-para-tu {
        padding: 0;
        background-color: #D8D8D8;
    }

    .seguro-para-tu > div{
        margin-bottom:  40px;
        background-color: #EEEEEE;
        padding: 0;
        padding-top: 1px;
    }

    .seguro-para-tu > section > div > div {
        font-size: 10px;
        line-height: 13px;
        font-weight: bold;
        font-family: "Source Sans Pro";
    }

    .seguro-para-tu > section > div > div > img {
        height: 28px;
        width: 28px;
    }

    a.btn-ver-tabla {
        width: 100%;
    }

    .es-facil .main-title {
        font-size: 55px;
        line-height: 47px;
        font-size: 38px;
    }

    ul.submenu {
        margin-top: 0px;
        margin-left: -37px;
        list-style-type: none;
    }

    ul.submenu li {
        display: list-item;
        margin-left: 0px;
        padding: 5px;
        border-left: none;
        border-bottom: solid 2px #323141;
        text-align: center;
    }

    ul.submenu li:last-child {
      border-right: none;
      border-bottom: none;
    }

    ul.submenu li a {
        font-size: 12px;
    }

    ul.submenu li a:hover {
        font-size: 12px;
    }

    ul.submenu li a.active {
        font-size: 12px;
    }

    .section-cotizador-auto-flotante {
        position: fixed;
    }

    .section-cotizador-auto-flotante .data-to-fill {
        text-align: center;
        margin-left: -8px;
    }

    .section-cotizador-auto-flotante .close{
        font-size: 15px;
    }

    .section-cotizador-auto-flotante .title{
        font-family: "Source Sans Pro";
        font-size: 21px;
        font-weight: bold;
        margin-top: 10px;
    }

    #tabla-responsiva {
        margin-left: 0px !important;
    }
}

@media only screen 
and (min-width : 768px) 
and (max-width : 900px)
{
    .seguro-para-tu .ele {
        border-right: none !important;
        border-left: none !important;
        border-bottom: 1px solid #DADADA;
        min-height: 210px;
    }
    .seguro-para-tu #integral {
        padding-top: 29px;
    }
}


@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    ul.submenu {
        margin-top: 0px;
        margin-left: -37px;
        list-style-type: none;
    }

    ul.submenu li {
        display: list-item;
        margin-left: 0px;
        padding: 5px;
        border-left: none;
        border-bottom: solid 2px #323141;
        text-align: center;
    }

    .section-cotizador-auto-flotante {
        position: fixed;
    }

    .seguro-para-tu .ele .title {
        font-size: 15px;
        line-height: 21px;
        margin-top: 35px !important
    }

    .seguro-para-tu .ele:first-child {
        border-left: none !important;
    }
    .seguro-para-tu .ele {
        border-right: none !important;
        border-left: none !important;
        border-bottom: 1px solid #DADADA;
        height: 105px;
    }
    .seguro-para-tu .ele:last-child{
        border-right: none !important;
        border-left: none !important;
    }

    .seguro-para-tu > div {
        padding-top: 0px !important;
    }

    a.btn-ver-tabla {
        width: 100%;
    }

    .es-facil .main-title {
        font-size: 25px;
    }

    #tabla-responsiva {
        margin-left: 0px !important;
    }
}