﻿/*@import url('https://fonts.googleapis.com/css?family=Merriweather');*/

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

#pagoPolizaContainer {
    background-image: url('../../assets/bkgs/ima2-aba.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-size:100%;
    padding-top: 120px;
    padding-bottom: 90px;
    /*padding-left: 700px;*/
    text-align: center;
    margin:0 auto;
}

#panelPago {
    background-color: #212125;
    min-height: 440px;
    height: auto;
}

.secondStep {
    height: 350px !important;
}

#panelPago > div > h1, #panelPago > div > h4 {
    text-align: center;
    color: white;
    font-family: Montserrat;
}

#panelPago > div > div > p {
    text-align: center;
    color: white;
    font-family: Montserrat;
    font-size: 11px;
    margin-top: 5px;
}

#panelPago > div > h1 {
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
}

#panelPago > div > h4 {
    font-family: 'Merriweather', serif;
    font-size: 14px;
    line-height: 18px;
}

.btn-invoice-pay {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    text-align: center;
    background-color: #00C0D7;
    width: 100%;
    margin-left: -29px;
}

.btn-second-step {
    margin-left: -2px !important;
}

.input-margin {
    padding-top: 10px;
}

.form-margin {
    margin-top: 30px;
}

.form-margin-second-step {
    margin-top: 14px;
}

.input-color {
    border: 1px solid #979797;
    background-color: #212125;
    color: #FFFFFF;
    font-family: "Source Sans Pro";
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
}

.fa-color {
    color: #00C0D7;
}
