﻿@media only screen and (min-device-width : 1024px) and (max-device-width : 1440px) {

}

@media only screen and (min-device-width : 375px) and (max-device-width : 991px) {
    .barraInicial   {
        padding-top: 130px;
        padding-bottom: 40px;
        padding-left: 10px;
    }

    .barraInicialTxt1 > p {  
    }

    .barraInicialTxt2 > p { 
        font-size: 35px;    
        font-weight: 600;  
        line-height: 35px;
    }

    .barraInicialTxt3 > p {
    }

    .oficina-item > div > div > h4, .oficina-item > div > div > p {
        color: #FFFFFF;
        margin: 0;
    }

    .oficina-item > div > div > p {
        font-size: 12px;
    }

    .oficina-item > div > div > i {
        margin-top: 5px;
        color: #FFFFFF;
    }

    #oficinas {
        margin-bottom: 15px;
        max-width: 300px;
        overflow-y: scroll;
    }

}

@media only screen and (min-device-width : 414px) and (max-device-width : 736px) {

}

/* Samsung Galaxy S5*/
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    .chubbmail {
        font-size: 16px !important;
    }
}