﻿.barraInicialTxt1 > p{
    color: #000000;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: bold;
    line-height:16px;
}

.chubbmail {
}

.barraInicialTxt3 > p {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 19px;
}

.benefitsTitle, .benefitsSubTitle, .benefitsSubTitle a {
    font-family: Montserrat;
    color: #323337;
}
.benefitsSubTitle a:hover {
    font-family: Montserrat;
    color: #00C0D7;
}
.benefitsTitle {
    font-size: 13px;
    line-height: 16px;
    font-weight: 300;
}
.benefitsSubTitle, .benefitsSubTitle a {
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
}
@media only screen and (max-width: 991px) { /*MOBILE TABLET OR PHONE*/
.benefitsSubTitle, .benefitsSubTitle a {
    font-size: 18px;
}
}

.benefitsPadding {
    padding-left: 9px;
}

.submenu > div > div > a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #000;
    text-decoration: none;
}

.submenu > div > div > a:active {
    color: #01C1E2;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}

.submenu > div > div > a:hover {
    color: #01C1E2;
}


.form-title {
    color: #000000;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    text-transform: uppercase;
    margin: 40px 0;
}

.form-group > input, .form-group > textarea {
    border: 1px solid #000000;
    background-color: #FFFFFF;
}

.btn-contact-send {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    text-align: center;
    background-color: #00C0D7;
    width: 230px;
    margin-left: -25px;
}

.form-footer-margin {
    padding-bottom: 40px;
}

.buscador-title {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 7px;
}

.buscador-sub-title {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: bold;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 5px;
}

.buscador-puntos-encontrados-title {
    color: #00C0D7;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
}

.buscador-puntos-encontrados-subtitle {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 19px;
    margin-bottom: 20px;
}

#map {
    margin-top: -20px;
}

#oficinas {
    overflow-y: scroll;
}

.oficina-item > div > div > h4, .oficina-item > div > div > p {
    color: #FFFFFF;
    margin: 0;
}

.oficina-item > div > div > p {
    font-size: 13px;
}

.oficina-item > div > div > i {
    margin-top: 5px;
    color: #FFFFFF;
}

.form-control-aba {
    display: block;
    width: 95%;
    height: 43px;
    padding: 10px 18px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}