﻿/**
    Hoja de Estilos para la página de Autos
*/


/* Beneficios Aba*/
.beneficios-aba{
    background-color: #EEEEEE;
    padding: 50px;
}

.beneficios-aba > .title{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.beneficios-aba .categorias .ele:first-child{
    border-right: 1px solid gray;
}

.beneficios-aba .categorias .ele:last-child{
    border-left: 1px solid gray;
}

@media (max-width: 992px){
    .beneficios-aba .categorias .ele:first-child{
        border-right: none;
        border-bottom: 1px solid gray;
    }

    .beneficios-aba .categorias .ele:last-child{
        border-left: none;
        border-top: 1px solid gray;
    }
}

.beneficios-aba .categorias .ele{
    padding: 20px;
    text-align: left;
}

.beneficios-aba .categorias .ele .title{
    font-weight: bold;
    color: rgba(1, 190, 220, .7);
    font-size: 24px;
}
.beneficios-aba .categorias .ele .text{
    font-family: NunitoSans;
}

.beneficios-aba .categorias .ele .text ul{
    margin-top: 10px;
    font-family: NunitoSans;
}

/* Carrusel de Imagenes */
.container-carousel-segunda {
    padding: 0;
    padding-top: 80px;
    background-color: #00C0D8;
}

.carousel-segunda {
    padding: 0;

}

.carousel-segunda .item{
    margin: 0;
}

.carousel-segunda .item img{
    display: block;
    width: 100vw;
    /*height: 100vh;*/
    object-fit: cover;
}

/* Cotizador de Auto Flotante */
.seguro-auto select, .seguro-auto input, .section-cotizador-auto-flotante input, .section-cotizador-auto-flotante select {
    border: 1px solid white;
    background-color: transparent !important;
    height: 40px;
    color: white !important;
    margin-top: 7px;
    font-weight: 400;
    font-style: normal;
}
.section-cotizador-auto-flotante {
    background-color: #34373C;
    position: inherit;
    padding: 0;
    z-index: 0;
    bottom:0;
}
.section-cotizador-auto-flotante .close{
    margin: 20px 0px 0px 0px;
    font-size: 18px;
    font-weight: lighter;
    color: white !important;
}

.section-cotizador-auto-flotante .title{
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-top: 30px;
    text-align: center;
}

.section-cotizador-auto-flotante .data-to-fill{
    margin-top: 10px;
    padding-bottom: 15px;
}

.cotizar-blanco .btn a, .cotizar-blanco-responsive .btn a {
    margin-left: -1541px;
}

/* Cotiza en Línea */
.seccion-gris {
    background-color: #34373C;
    padding: 0;
    padding-top: 42px;
    padding-bottom: 42px;
    height: 120px;
}

.seccion-gris .ele{
    font-family: 'Montserrat';
    font-weight: lighter;
    font-size: 24px;
    letter-spacing: 1.5px;
    color: white;
    text-align: right;
}

a.btn-seccion-gris {
    display: block;
    height: 50px;
    width: 100%;
    border: 1px solid #01C1E2;
    border-radius: 2px;
    padding: 15px;
    margin-top: -5px;
    /*Step 3: Text Styles*/
    color: #01C1E2;
    text-align: center;
    font: 16px 'Source Sans Pro', sans-serif;
    vertical-align: middle;
}

/* Estelar */
.estelar-franja {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #0091BC;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 1.21px;
    padding: 5px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    text-align: center;
}

.estelar {
    background-color: #01BEE3;
    color: #FFF;
}

.estelar-title{
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter !important;
    font-size: 37px;
}

.estelar-subtitle {
    margin-top: 32px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #FFF;
}

/* Tabla de Amortización */
.tbl-amortizacion {
    font-size: 11px;
    font-family: "Source Sans Pro";
    font-size: 13px;
    line-height: 17px;
}

.tbl-amortizacion > table > thead > tr > th {
    font-weight: bold;
    font-size: 11px;
    line-height: 14px;
}

.tbl-amortizacion > table > thead > tr > th .estelar {
    background-color: #00C0D7;
    color: #FFFFFF;
}

.seguro-para-tu .ele .title > span {
    font-size: 37px;
    color: #000000 !important; 
    font-family: 'Montserrat';   
    font-weight: 300;   
    line-height: 46px;
    text-align: center;
}
.seguro-para-tu .ele .minivideos{
    height: 122px; 
    width: 202px; 
    border: 1px solid #cecece;
    margin-top: 25px; 
    margin-bottom: 25px;
    margin-left:100px !important;
    text-align: center;
}
