﻿@media only screen 
and (max-width : 767px) {
    #panelPago {
        width:auto !important;
        min-height:400px;
        margin:10px;
    }

    #pagoPolizaContainer {
        background-image: url(../../assets/bkgs/ima3-aba.png);
    }
}

@media only screen 
and (min-width : 1201px) 
and (max-width : 1800px) {
    #pagoPolizaContainer {
        padding-bottom: 90px;
        /*padding-left: 35% !important;*/
       
    }
}

@media only screen 
and (min-width : 1200px) 
and (max-width : 1440px) {
    #pagoPolizaContainer {
        padding-bottom: 90px;
        /*padding-left: 40% !important;*/
    }
}

@media only screen 
and (min-width : 980px) 
and (max-width : 1024px) {
    #pagoPolizaContainer {
        padding-bottom: 90px;
        /*padding-left: 40% !important;*/
    }

    #panelPago > div > h1 {
        font-size: 36px;
    }
}

@media only screen 
and (min-width : 200px) 
and (max-width : 550px) {

    #panelPago > div > h1 {
        font-size: 24px;
    }
}

@media only screen 
and (min-width : 768px) 
and (max-width : 1020px) {

    #panelPago > div > h1 {
        font-size: 36px;
    }
}

@media  only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    #pagoPolizaContainer {
        padding-bottom: 90px;
        /*padding-left: 478px !important;*/
    }

    .input-margin {
        padding-top: 10px;
    }

    .btn-second-step {
        /*width: 285px;*/
        /*margin-left: 19px !important;*/
    }
}

/*Iphone 6*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) {
    #pagoPolizaContainer {
        padding-top: 150px;
        padding-bottom: 90px;
        /*padding-left: 16px !important;*/
    }

    #panelPago {
        background-color: #212125;
        height: 370px;
        /*width: 345px;*/
    }

    #panelPago > div > h1 {
        font-size: 32px;
        line-height: 39px;
        text-transform: uppercase;
    }

    #panelPago > div > h4 {
        font-family: 'Merriweather', serif;
        font-size: 13px;
        line-height: 17px;
    }

    .input-color {
        border: 1px solid #979797;
        background-color: #212125;
        color: #FFFFFF;
        font-family: "Source Sans Pro";
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 15px;
    }

    .btn-invoice-pay {
        /*width: 300px;*/
        /*margin-left: -15px;*/
    }

    .btn-second-step {
        /*width: 290px;*/
        margin-left: 0px;
    }
}


/*iPhone 6 Plus*/
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) {
    #pagoPolizaContainer {
        padding-top: 150px;
        padding-bottom: 90px;
        /*padding-left: 19px !important;*/
    }
    #panelPago {
        /*width: 375px;*/
    }

    .btn-invoice-pay {
        /*width: 320px;*/
        /*margin-left: -24px;*/
    }

    .btn-second-step {
        /*width: 320px;*/
        margin-left: -0px;
    }
}

/* Samsung Galaxy S5*/
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    #pagoPolizaContainer {
        padding-top: 150px;
        padding-bottom: 90px;
        padding-left: 8px !important;
    }
    #panelPago {
        width: 345px;
        height: 360px;
    }

    #panelPago > div > h1 {
        font-size: 30px;
        line-height: 39px;
        text-transform: uppercase;
    }

    #panelPago > div > h4 {
        font-family: 'Merriweather', serif;
        font-size: 11px;
        line-height: 17px;
    }

    .btn-invoice-pay {
        width: 320px;
        margin-left: -24px;
    }

    .btn-second-step {
        width: 320px;
        margin-left: -0px;
    }

    .form-margin {
        margin-top: 20px;
    }
}
