﻿@model PortalABA.UI.Models.CapturaDatosGeneralesCasaModel
@{
    var generos = (from p in Model.TiposSexo select new SelectListItem() { Text = p.Text, Value = p.Value, Selected = p.Selected }).ToList();
    var estadosCiviles = (from p in Model.TiposEstadoCivil select new SelectListItem() { Text = p.Text, Value = p.Value, Selected = p.Selected }).ToList();
    var tiposGiro = (from p in Model.TiposGiro select new SelectListItem() { Text = p.Text, Value = p.Value, Selected = p.Selected }).ToList();
    var tiposSociedad = (from p in Model.TiposSociedad select new SelectListItem() { Text = p.Text, Value = p.Value, Selected = p.Selected }).ToList();
    var tiposPersona = (from p in Model.TiposPersona select new SelectListItem() { Text = p.Text, Value = p.Value, Selected = p.Selected }).ToList();
    var tiposHabitacional = (from p in Model.TiposHabitacional select new SelectListItem() { Text = p.Text, Value = p.Value, Selected = p.Selected }).ToList();
    var dias = new List<SelectListItem>();
    dias.Add(new SelectListItem() { Text = "Día", Value = (-1).ToString() });
    for (int i = 1; i <= 31; i++)
    {
        dias.Add(new SelectListItem() { Text = i.ToString("00"), Value = i.ToString("00") });
    }

    var meses = new List<SelectListItem>();
    meses.Add(new SelectListItem() { Text = "Mes", Value = (-1).ToString() });
    for (int i = 1; i <= 12; i++)
    {
        meses.Add(new SelectListItem() { Text = i.ToString("00"), Value = i.ToString("00") });
    }

    var años = new List<SelectListItem>();
    años.Add(new SelectListItem() { Text = "Año", Value = (-1).ToString() });
    for (int i = DateTime.Now.Year - 18; i >= 1900; i--)
    {
        años.Add(new SelectListItem() { Text = i.ToString(), Value = i.ToString() });
    }
}
@section Styles{
    <link type="text/css" rel="stylesheet" href="~/cdn/css/pages/casa/casa.css" />
    @*<link type="text/css" rel="stylesheet" href="~/cdn/css/pages/casa/casa-responsive.css" />*@
}
<div id="pnlSeleccionaPaquete" style="padding-top: 120px;">
    <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-10">
            <div class="row">
                <div class="col-md-1 hidden-xs" style="margin-top: 150px;">
                    <div class="row" style="text-align:center">
                        <span class="circleStep">
                            1
                        </span>

                        <div class="labelStep active">
                            <span>Selecciona tu paquete</span>
                        </div>

                    </div>

                    <div class="row dashed">
                    </div>

                    <div class="row" style="text-align:center">
                        <span class="circleStep active">
                            2
                        </span>

                        <div class="labelStep">
                            <span>Ingresa tus datos</span>
                        </div>
                    </div>


                    <div class="row dashed">
                    </div>

                    <div class="row" style="text-align:center">
                        <span class="circleStep">
                            3
                        </span>

                        <div class="labelStep">
                            <span>Paga tu seguro</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-11 col-xs-12">
                    <div>
                        <div style="padding-left: 10px; padding-right: 10px;">
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <div style="padding-bottom: 40px;">
                                        <h1 style="margin-bottom: 0px;">2. Ingresa tus Datos</h1>
                                        <div style="font-family: 'Georgia'">Confirma la informaci&oacute;n para generar tu p&oacute;liza de tu <span style="text-transform: uppercase; font-weight: bold;">Hogar</span></div>
                                        <div style="color:#A5A0A7;font-family:'Source Sans Pro';font-size: 12px;line-height:15px">Los campos marcados con * son obligatorios.</div>
                                    </div>

                                    <div id="spinDatosProcesando" style="padding-top: 10px; display:none">
                                        <i class="fa fa-cog fa-spin fa-3x fa-fw" style="font-size: 13px"></i>&nbsp;<span style="font-size: 12px; font-weight: bold;">Procesando Información...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <form id="frmRfcHide" action="@Url.Content("~/AutoCotizador/CalculaRFC")" method="post">
                        @Html.Hidden("Nombre","",new { @id= "nombre_h" })
                        @Html.Hidden("ApellidoPaterno", "", new { @id = "paterno_h" })
                        @Html.Hidden("ApellidoMaterno", "", new { @id = "materno_h" })
                        @Html.Hidden("Dia", "", new { @id = "dia_h" })
                        @Html.Hidden("Mes", "", new { @id = "mes_h" })
                        @Html.Hidden("Año", "", new { @id = "anio_h" })
                    </form>

                    <form id="frmCapturaDatosGenerales" action="@Url.Content("~/CasaCotizador/EnviarDatosGenerales")" method="POST">
                        @Html.AntiForgeryToken()

                        @Html.HiddenFor(x => x.PaqueteSeleccionadoId)
                        @Html.HiddenFor(x => x.DatosPaquete)
                        @Html.HiddenFor(x => x.NegocioID)
                        @Html.HiddenFor(x => x.TipoPagoId)
                        @Html.HiddenFor(x => x.TipoPersona)
                        @Html.HiddenFor(x => x.TipoSociedadMoral)
                        @Html.HiddenFor(x => x.NoNivelesBien)
                        @Html.HiddenFor(x => x.MunicipioBien)
                        @Html.Hidden("Municipio")
                        @Html.Hidden("DomicilioAsegurado", false)
                        @Html.Hidden("TipoFacturanteId", 0)

                        <div class="row">
                            <div class="col-md-12">
                                <div style="font-family: 'Source Sans Pro'; padding-left: 15px; font-weight: bold; font-size: 17px; padding-bottom: 5px;">Datos Personales</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.PrimerNombreFisica, new { @class = "form-control", @maxlength = "100", @placeholder = "Primer nombre *", @required = "required" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.SegundoNombreFisica, new { @class = "form-control", @maxlength = "100", @placeholder = "Segundo nombre" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.ApellidoPaternoFisica, new { @class = "form-control", @maxlength = "100", @placeholder = "Apellido paterno *", @required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.ApellidoMaternoFisica, new { @class = "form-control", @maxlength = "100", @placeholder = "Apellido materno *", @required = "required" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.DropDownListFor(x => x.SexoFisica, generos, new { @class = "form-control", @required = "required", @placeholder = "Género" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.DropDownListFor(x => x.EstadoCivilFisica, estadosCiviles, new { @class = "form-control", @required = "required", @placeholder = "Estado civil" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="control-container">
                                    <div style="color:#A5A0A7;font-family:'Source Sans Pro';font-size: 12px;line-height:15px">Fecha de nacimiento *</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div>
                                    <div class="col-md-4">
                                        <div class="control-container">
                                            @Html.DropDownList("Dia", dias, new { @class = "form-control", @required = "required", @placeholder = "Día" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="control-container">
                                            @Html.DropDownList("Mes", meses, new { @class = "form-control", @required = "required", @placeholder = "Mes" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="control-container">
                                            @Html.DropDownList("Año", años, new { @Id = "Anio", @class = "form-control", @required = "required", @placeholder = "Año" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.RfcFisica, new { @class = "form-control", @maxlength = "16", @placeholder = "RFC *", @required = "required" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.Telefono, new { @class = "form-control", @maxlength = "10", @placeholder = "Teléfono celular *" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.Correo, new { @class = "form-control email", @maxlength = "100", @placeholder = "Correo electrónico *", @required = "required" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.Correo, new { @class = "form-control emailconfirm", @maxlength = "100", @placeholder = "Confirma tu correo electrónico *", @required = "required" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.TelefonoCasa, new { @class = "form-control", @maxlength = "10", @placeholder = "Teléfono fijo (Opcional)"})
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div style="font-family: 'Source Sans Pro'; padding-left: 15px; font-weight: bold; font-size: 17px; padding-bottom: 5px;">
                                    Direcci&oacute;n del Asegurado</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.CP, new { @class = "form-control", @maxlength = "5", @placeholder = "C.P. *", @required = "required" })
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="control-container">
                                    @Html.TextBox("EstadoDomicilio", "", new { @class = "form-control", @maxlength = "100", @placeholder = "Estado *", @required = "required", @disabled = "disabled" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBox("MunicipioText", "", new { @class = "form-control", @maxlength = "100", @placeholder = "Municipio *", @required = "required", @disabled = "disabled" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.Poblacion, new { @class = "form-control", @maxlength = "100", @placeholder = "Población *", @required = "required", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.Colonia, new { @class = "form-control", @maxlength = "100", @placeholder = "Colonia *", @required = "required", @disabled = "disabled" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.Calle, new { @class = "form-control", @maxlength = "100", @placeholder = "Calle *", @required = "required" })
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.NumeroExterior, new { @class = "form-control", @maxlength = "100", @placeholder = "Exterior *", @required = "required" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.NumeroInterior, new { @class = "form-control", @maxlength = "100", @placeholder = "Interior" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div style="font-family: 'Source Sans Pro'; padding-left: 15px; font-weight: bold; font-size: 17px; padding-bottom: 5px;">Datos del bien</div>
                            </div>
                        </div>
                        <div class="row">
        <div class="col-md-4">
            <div class="control-container">
                @Html.DropDownListFor(x => x.TipoHabitacionalBien, tiposHabitacional, new { @class = "form-control", @required = "required" , @placeholder = "Tipo Habitacional" })
            </div>
        </div>
        @*<div class="col-md-4">
            <div class="control-container">
                @Html.DropDownListFor(x => x.TipoMuroBien, tiposMuro, new { @class = "form-control", @required = "required", @disabled = "disabled" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="control-container">
                @Html.DropDownListFor(x => x.TipoTechoBien, tiposTecho, new { @class = "form-control", @required = "required", @disabled = "disabled" })
            </div>
        </div>*@

    </div>
    @*<div class="row">
        <div class="col-md-4">
            <div class="control-container">
                @Html.DropDownListFor(x => x.NoSotanosBien, sotanos, new { @class = "form-control", @required = "required", @placeholder = "Género" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="control-container">
                @Html.DropDownListFor(x => x.NoPisosBien, pisos, new { @class = "form-control", @required = "required", @placeholder = "Género" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div style="font-family: 'Source Sans Pro'; padding-left: 15px; font-weight: bold; font-size: 17px; padding-bottom: 5px;">Medidas de Seguridad</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="TodasMedidasSeguridad" value="-1">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Todas
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="MedidasSeguridad" value="3" checked>
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Ninguna
                </label>
            </div>
        </div>
        <div class="col-md-5">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="MedidasSeguridad" value="11">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Vigilante propio 24 horas
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="MedidasSeguridad" value="1">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    GPS
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="MedidasSeguridad" value="5">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Alarma Local
                </label>
            </div>
        </div>
        <div class="col-md-5">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="MedidasSeguridad" value="12">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Vigilante propio y Alarma
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="MedidasSeguridad" value="2">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Custodia
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="MedidasSeguridad" value="4">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Alarma Central
                </label>
            </div>
        </div>
        <div class="col-md-5">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="MedidasSeguridad" value="14">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Empresa de seguridad para traslados
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="MedidasSeguridad" value="7">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Extintores
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="MedidasSeguridad" value="10">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Veladores
                </label>
            </div>
        </div>
        <div class="col-md-5">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="MedidasSeguridad" value="6">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Circuito Cerrado Television con Grabadora
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="MedidasSeguridad" value="8">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Hidrantes
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="MedidasSeguridad" value="13">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Caja Fuerte
                </label>
            </div>
        </div>
        <div class="col-md-5">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="MedidasSeguridad" value="9">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Protecciones Metálicas
                </label>
            </div>
        </div>
    </div>*@
                        <div class="row">
                            <div class="col-md-12">
                                <div style="float:left;font-family: 'Source Sans Pro'; padding-left: 15px; font-weight: bold; font-size: 17px; padding-bottom: 5px;">Casa a Asegurar</div>

                                <div style="float:left;margin-top:0;" class="checkbox">
                                    <label>
                                        <input type="checkbox" name="DomicilioAseguradoCheck">
                                        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                        Misma dirección de tus datos
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.CodigoPostalBien, new { @class = "form-control", @maxlength = "100", @placeholder = "C.P.*", @required = "required" })
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="control-container">
                                    @Html.TextBox("EstadoBien", "", new { @class = "form-control", @maxlength = "100", @placeholder = "Estado *", @required = "required", @disabled = "disabled" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBox("MunicipioBienText", "", new { @class = "form-control", @maxlength = "100", @placeholder = "Municipio *", @required = "required", @disabled = "disabled" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.PoblacionBien, new { @class = "form-control", @maxlength = "100", @placeholder = "Población *", @required = "required", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.ColoniaBien, new { @class = "form-control", @maxlength = "100", @placeholder = "Colonia *", @required = "required", @disabled = "disabled" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.CalleBien, new { @class = "form-control", @maxlength = "100", @placeholder = "Calle *", @required = "required" })
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.NumeroExteriorBien, new { @class = "form-control", @maxlength = "100", @placeholder = "Exterior *", @required = "required" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.NumeroInteriorBien, new { @class = "form-control", @maxlength = "100", @placeholder = "Interior" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div style="float:left;font-family: 'Source Sans Pro'; padding-left: 15px; font-weight: bold; font-size: 17px; padding-bottom: 5px;">Datos de Facturación</div>
                                <div style="float:left;margin-top:0;" class="checkbox">
                                    <label>
                                        <input type="checkbox" name="TipoFacturanteCheck">
                                        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                        Tomar datos de asegurado
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.NombreFacturante, new { @class = "form-control", @maxlength = "300", @placeholder = "Nombre Facturante" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.EmailFacturante, new { @class = "form-control", @placeholder = "Email Facturante" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.EmailComplementoFacturante, new { @class = "form-control", @placeholder = "Email Complemento" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="control-container">
                                    @Html.TextBoxFor(x => x.RFCFacturante, new { @class = "form-control", @placeholder = "RFC" })
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="control-container" id="pnlErrorCaptura" style="display: none;">

                    </div>

                    <div style="margin-top:20px">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <div class="control-container">
                                    <button class="btn btn-default btn-block btn-atras" id="btnAnterior" >Regresar</button>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <div class="control-container">
                                    <button class="btn btn-default btn-block btn-pagar" id="btnSiguiente" >Siguiente</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<form id="frmResultadoSolicitud" action="@Url.Content("~/CasaCotizador/FormularioDePago")" method="POST">
    @Html.AntiForgeryToken()
    @Html.Hidden("DatosSolicitud")
</form>
@section Scripts
{
<script src="~/cdn/aplicacion/cotizador-casa-captura-datos-generales.js"></script>
    <script src="~/cdn/aplicacion/transports/jquery.binary.js"></script>
<script src="~/cdn/js/gtag/CasaCapturaDatosGenerales.js"></script>
}