﻿@model PortalABA.UI.Models.FinalizacionPagoModel
@{
var isAutorizado = Model.AutorizacionId == 1 || Model.AutorizacionId == 2 || Model.AutorizacionId == 3;
}
<div id="pnlConfirmacionPoliza" class="">
    <div class="row" style="padding-bottom: 20px">

        <div class="col-xs-12 col-md-8 col-md-offset-1">
            @if (Model.EsAutorizado)
            {
                <div style="padding-bottom: 15px;">
                    <div style="padding-left: 10px; padding-right: 10px;">
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <div class="bigStepTitle">¡Tu Hogar ya está asegurado! Bienvenido a ABA</div>
                                @*<div class="numeroPoliza">Tu auto es: <span style="text-transform: uppercase;" id="vehiculoCotizado"></span></div>*@
                                <div class="numeroPoliza">Tu número de póliza es:<span id="lblPolizaId">@Model.PolizaId</span></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 65px">
                    <div style="margin: 0 5px">
                        <div class="col-md-5 col-xs-12" style="margin-top: 10px">
                            <div style="border: 1px solid #D1D1D1; padding: 20px;">
                                <div class="control-container">
                                    <div class="row" style="margin-top: 20px">
                                        <div class="col-md-12 col-xs-12">
                                            <div class="text-uppercase">
                                                <strong>Tu confirmación de pago de póliza</strong>
                                            </div>
                                            <div class="text-uppercase">
                                                <div style="font-size: 24px;" id="lblConfirmacionPoliza">@Model.NumConfirmacion</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 40px">
                                        <div class="col-md-6 col-xs-6">
                                            <div class="text-uppercase">
                                                <strong>Monto</strong>

                                            </div>
                                            <div>
                                                <div style="font-size: 24px;">$<span id="lblMonto">1233</span>&nbsp;MN</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xs-6">
                                            <div class="text-uppercase">
                                                <strong>Fecha</strong>
                                            </div>
                                            <div style="font-size: 24px;" id="lblFechaVigencia"></div>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top: 65px; margin-bottom: 10px">
                                        <div class="col-md-5 hidden-xs">
                                            <div style="text-align: center">
                                                <a href="#" id="lnkImprimirConfirmacion">
                                                    <span style="color: #000; font-family: Georgia; line-height: 15px; display: inline-block; white-space: normal" class="label">Imprime tu confirmación de pago</span>
                                                    <div style="margin-top: 5px">
                                                        <img src="~/cdn/assets/icons/icn-imprimir.png">
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-offset-1 col-md-5 col-xs-12">
                                            <div style="text-align: center">
                                                <a href="#" id="lnkEnviarConfirmacion">
                                                    <span style="color: #000; font-family: Georgia; line-height: 15px; display: inline-block; white-space: normal" class="label">Envia tu confirmación de pago</span>
                                                    <div style="margin-top: 5px">
                                                        <img src="~/cdn/assets/icons/icn-correo.png">
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="row" style="margin-top:10px">
                                                <div class="alert alert-success" id="alertaEnvioConf" style="display:none;">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    Correo enviado, Gracias.
                                                </div>
                                                <div class="row" id="AlertEnvioConfSpinner" style="display:none;">
                                                    <i class="fa fa-cog fa-spin"></i> Enviando P&oacute;liza...
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-xs-12 col-md-offset-1" style="margin-top: 10px">
                            <div style="border: 1px solid #D1D1D1; padding: 0 23px 23px 23px;">
                                <div class="control-container">
                                    <div class="col-md-12">
                                            <div style="font-family: Georgia; font-size: 28px; line-height: 32px; text-align: center;">
                                                Descargas
                                            </div>
                                        </div>
                                    <div class="col-md-6">
                                        <div style="font-family: Georgia; font-size: 28px; line-height: 32px; text-align: center; margin-top: 14px">
                                            <div style="height:50px;">Póliza</div>

                                            <div style="margin-top: 15px;height:70px;">
                                                <a id="lnkImprimirPoliza">
                                                    <div style="margin-top: 5px">
                                                        <img src="~/cdn/assets/img/icn-descarga-grande.png" width="56">
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div style="font-family: Georgia; font-size: 28px; line-height: 32px; text-align: center; margin-top: 14px">
                                            <div style="height:50px;">Condiciones Generales</div>

                                            <div style="margin-top: 15px;height:70px;">
                                                <a id="lnkImprimirCondicionesGenerales">
                                                    <div style="margin-top: 5px">
                                                        <img src="~/cdn/assets/img/icn-descarga-grande.png" width="56">
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row" style="margin-top: 40px; font-family: Georgia; font-size: 12px; line-height: 14px;">
                                        <div>
                                            Tu póliza ha sido enviada a tu correo electrónico: <span id="lblCorreoElectronico"></span>
                                        </div>

                                        <div style="margin-top: 15px">
                                            ¿Deseas enviarlo a otro correo?
                                        </div>

                                        <div class="col-md-12" style="margin-top: 5px">
                                            <input type="text" id="txtUsuarioEmail" class="form-control" style="height: 30px">
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top: 10px">
                                        <button class="btn btn-default btn-block" id="btnEnviarPoliza" style="background-color: #00C0D7; text-transform: uppercase; color: #FFF; border: none">Enviar Póliza</button>
                                    </div>

                                    <div class="row" style="margin-top:10px">
                                        <div class="alert alert-danger" id="alertEnvioPolizaErrores" style="display:none;">
                                            Correo enviado, Gracias.
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top:10px">
                                        <div class="alert alert-success" id="alertEnvioPoliza" style="display:none;">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            Correo enviado, Gracias.
                                        </div>
                                        <div class="row" id="AlertEnvioPolizaSpinner" style="display:none;">
                                            <i class="fa fa-cog fa-spin"></i> Enviando P&oacute;liza...
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            }
    else
    {
        <div style="padding-bottom: 15px;">
            <div style="padding-left: 10px; padding-right: 10px;">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="bigStepTitle">Su pago no fue realizado</div>
                        <div class="numeroPoliza">Favor de contactar a call center: 01 800 712 2828</div>
                    </div>
                </div>
            </div>
        </div>
    }
        </div>
        <a href="@Url.Action("Portal","Contenidos", new { vista = "Hogar_Seguro"})">
            <div class="col-md-2 col-md-offset-1 hidden-xs">
                <div class="row">
                    <strong class="text-uppercase">Otros seguros para ti</strong>
                </div>
                <div class="row" style="height: 565px; width: 200px">
                    <div class="casaImagen" style="padding-top: 180px">
                        <div class="row" style="color: #FFFFFF; font-size: 41px; font-weight: bold; line-height: 51px; text-align: center; text-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5)">
                            <span id="lblNombre"></span>
                        </div>

                        <div class="row" style="margin-top: 13px; color: #FFFFFF; font-family: Georgia; font-weight: bold; font-size: 21px; line-height: 24px; text-align: center; text-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5)">
                            <div class="row">
                                ¿Ya viste?
                            </div>
                            <div class="row">
                                Puedes asegurar
                            </div>
                            <div class="row">
                                tu auto
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </a>
</div>
</div>


@section Styles
{
    <link href="~/cdn/css/pages/casa/casa.css" rel="stylesheet" />
}

@section Scripts
{
    <script src="~/cdn/aplicacion/transports/jquery.binary.js"></script>
    <script>
        var ClavePoliza = "";
        var validarEmail = function () {
            var email = $('#txtUsuarioEmail').val();
            var $errorContainer = $('#alertEnvioPolizaErrores');

            if ($errorContainer.is(':visible')) {
                $errorContainer.hide();
            }

            if (email === '' || email === undefined) {
                $errorContainer.html('Favor de ingresar un Correo Electrónico.').show();

                return false;
            }

            if (!/\S+@@\S+\.\S+/.test(email)) {
                $errorContainer.html('Favor de ingresar un Correo Electrónico valido.').show();
                return false;
            }

            return true;
        }
        $(function () {
            var initialize = function () {

                var datosConfirmacion = JSON.parse(localStorage.getItem("DatosPoliza" + "@Model.PolizaId"));
                //$("#lblPolizaId").html(datosConfirmacion.Poliza);
                $("#lblPolizaId").html("@ViewBag.Poliza");
                //$("#lblMonto").html(datosConfirmacion.Monto);
                $("#lblMonto").html(localStorage.getItem("monto"));
                //$("#lblFechaVigencia").html(datosConfirmacion.FechaVigencia);
                $("#lblFechaVigencia").html("@ViewBag.Fecha");
                //$("#lblCorreoElectronico").html(datosConfirmacion.CorreoElectronico);
                $("#lblCorreoElectronico").html("@ViewBag.Email");
                //$("#lblNombre").html(datosConfirmacion.Nombre);
                $("#lblNombre").html("@ViewBag.Nombre");
                $("#lblConfirmacionPoliza").html("@Model.NumConfirmacion");
                //ClavePoliza = datosConfirmacion.ClavePoliza;
                ClavePoliza = "@ViewBag.Cve";
                AseguradoId = "@ViewBag.AseguradoId";
                //Vehiculo

                $("#lnkImprimirPoliza").click(function (e) {
                    e.preventDefault();
                    var launcher = window.open(webSiteRoot + "CasaCotizador/GenerarImpresionPoliza", "ImpresionPoliza");
                    $.post(apiRoot + "CasaCotizador/ObtenerUrlImpresionPoliza", { polizaId: "@Model.PolizaId", clavePoliza: ClavePoliza, aseguradoId: "@ViewBag.AseguradoId" }, function (response) {

                        $.each(response.ImpresionUrl, function (index, url) {
                            downloadDocument(url, index, launcher);
                        });
                    });

                    return false;
                });

                $("#lnkImprimirCondicionesGenerales").click(function (e) {
                    window.open(webSiteRoot + 'cdn/assets/docs/condiciones-aba-hogar-seguro.pdf', '_blank');
                });

                $("#lnkImprimirConfirmacion").click(function (e) {
                    e.preventDefault();

                    $.ajax({
                        url: webSiteRoot + "CasaCotizador/ImprimirConfirmacionPagoPoliza",
                        method: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify({
                            confirmacion: {
                                //Poliza: datosConfirmacion.Poliza,
                                //Monto: datosConfirmacion.Monto,
                                //FechaContratacion: datosConfirmacion.FechaVigencia,
                                Poliza: "@ViewBag.Poliza",
                                Monto: localStorage.getItem("monto"),
                                FechaContratacion: "@ViewBag.Fecha",
                                Confirmacion: "@Model.NumConfirmacion",
                                Liquidacion: "@Model.Liquidacion"
                            }
                        }),
                        dataType: 'binary',
                        processData: false,
                        error: function (xhr, textStatus, data) {
                            console.error(textStatus);
                        },
                        success: function (response, status, xhr) {
                            var filename = "";
                            var disposition = xhr.getResponseHeader("Content-Disposition");

                            if (disposition && disposition.indexOf("attachment") !== -1) {
                                var filenameRegex = /filename[^;=\n]*=(([""]).*?\2|[^;\n]*)/;
                                var matches = filenameRegex.exec(disposition);
                                if (matches !== null && matches[1]) {
                                    filename = matches[1].replace(/[""]/g, "");
                                }
                            }

                            var type = xhr.getResponseHeader("Content-Type");
                            var data = new Blob([response], { type: type });

                            if (typeof window.navigator.msSaveBlob !== 'undefined') {
                                window.navigator.msSaveBlob(data, filename);
                            }
                            else {
                                var URL = window.URL || window.webkitURL;
                                var downloadURL = URL.createObjectURL(data);

                                if (filename) {
                                    var a = document.createElement('a');

                                    if (typeof a.download == 'undefined') {
                                        window.location = downloadURL;
                                    }
                                    else {
                                        a.href = downloadURL;
                                        a.download = filename;
                                        document.body.appendChild(a);
                                        a.click();
                                    }
                                }
                                else {
                                    window.location = downloadURL;
                                }

                                setTimeout(function () {
                                    URL.revokeObjectURL(downloadURL);
                                }, 100);
                            }
                        }
                    });
                });

                $('#lnkEnviarConfirmacion').click(function (e) {
                    e.preventDefault();

                    //var emailUsuario = datosConfirmacion.CorreoElectronico;
                    var emailUsuario = "@ViewBag.Email";

                    if (emailUsuario !== '' || emailUsuario !== undefined) {
                        $.ajax({
                            url: webSiteRoot + "CasaCotizador/EnviarConfirmacionPagoPoliza",
                            method: 'POST',
                            contentType: 'application/json; charset=utf-8',
                            data: JSON.stringify({
                                confirmacion: {
                                    //Poliza: datosConfirmacion.Poliza,
                                    //Monto: datosConfirmacion.Monto,
                                    //FechaContratacion: datosConfirmacion.FechaVigencia,
                                    Poliza: "@ViewBag.Poliza",
                                    Monto: localStorage.getItem("monto"),
                                    FechaContratacion: "@ViewBag.Fecha",
                                    Confirmacion: "@Model.NumConfirmacion",
                                    //UsuarioEmail: datosConfirmacion.CorreoElectronico,
                                    UsuarioEmail: "@ViewBag.Email",
                                    Liquidacion: "@Model.Liquidacion"
                                }
                            }),
                            dataType: 'json',
                            processData: false,
                            beforeSend: function () {
                                $('#AlertEnvioConfSpinner').show();
                            },
                            error: function (xhr, textStatus, data) {
                                console.error(textStatus);
                            },
                            success: function (response, status, xhr) {
                                console.log("success");
                                $('#alertaEnvioConf').show();
                            },
                            complete: function () {
                                $('#AlertEnvioConfSpinner').hide();
                            }
                        });
                    }
                });

                $('#btnEnviarPoliza').click(function (e) {
                    e.preventDefault();

                    if (validarEmail()) {
                        var emailUsuario = $('#txtUsuarioEmail').val();
                        $.ajax({
                            url: webSiteRoot + "CasaCotizador/EnviarImpresionPoliza",
                            method: 'POST',
                            contentType: 'application/json; charset=utf-8',
                            data: JSON.stringify({
                                //clavePoliza: datosConfirmacion.ClavePoliza,
                                clavePoliza: "@ViewBag.Cve",
                                polizaId: '@Model.PolizaId',
                                correoElectronio: emailUsuario,
                                AseguradoID: '@ViewBag.AseguradoId'
                            }),
                            dataType: 'json',
                            processData: false,
                            beforeSend: function () {
                                $('#AlertEnvioPolizaSpinner').show();
                            },
                            error: function (xhr, textStatus, data) {
                                console.error(textStatus);
                            },
                            success: function (response, status, xhr) {
                                console.log("success");
                                $('#alertEnvioPoliza').show();
                            },
                            complete: function () {
                                $('#AlertEnvioPolizaSpinner').hide();
                            }
                        });
                    }
                });


                function envioAutomatico() {
                    $.ajax({
                        url: webSiteRoot + "CasaCotizador/EnviarImpresionPoliza",
                        method: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify({
                            //clavePoliza: datosConfirmacion.ClavePoliza,
                            clavePoliza: "@ViewBag.Cve",
                            polizaId: '@Model.PolizaId',
                            //correoElectronio: datosConfirmacion.CorreoElectronico
                            correoElectronio: "@ViewBag.Email",
                            AseguradoID: '@ViewBag.AseguradoId'
                        }),
                        dataType: 'json',
                        processData: false,
                        error: function (xhr, textStatus, data) {
                            console.error(textStatus);
                        },
                        success: function (response, status, xhr) {
                            console.log("success envio automatico");
                        }
                    });
                }

                var timeoutId = setTimeout(function () {
                    envioAutomatico();
                    clearTimeout(timeoutId);
                }, 3000);


                function downloadDocument(url, index, launcher) {
                    if (url != undefined) {
                        var src = url;
                        $.ajax({
                            cache: false,
                            async: false,
                            url: apiRoot + 'ServiciosExpress/ConsultaPolizaDescargar',
                            data: { UrlDescarga: src },
                            success: function (data) {
                                var response = data;
                                if (index == 0) {
                                    launcher.location = '/ServiciosExpress/Download?fileGuid=' + response.FileGuid
                                                      + '&filename=' + response.FileName;
                                } else {
                                    var newWin = window.open('/ServiciosExpress/Download?fileGuid=' + response.FileGuid
                                                + '&filename=' + response.FileName);
                                    if (!newWin || newWin.closed || typeof newWin.closed == 'undefined') {
                                        alert("Deshabilitar el bloqueo de ventanas emergentes para descargar los archivos.");
                                    }
                                }
                            }
                        });
                    }
                };

            };
            initialize();
        });
    </script>
}