﻿@*@model PortalABA.UI.Models.FormularioPagoModel*@
<div id="pnlFormularioPago" class="hidden">
    <div class="row">
        <div class="col-md-1 hidden-xs" style="margin-top: 91px;">
            <div class="row" style="text-align:center">
                <span class="circleStep ">
                    1
                </span>

                <div class="labelStep ">
                    <span>Selecciona tu paquete</span>
                </div>

            </div>

            <div class="row dashed">
            </div>

            <div class="row" style="text-align:center">
                <span class="circleStep">
                    2
                </span>

                <div class="labelStep active">
                    <span>Ingresa tus datos</span>
                </div>
            </div>


            <div class="row dashed">
            </div>

            <div class="row" style="text-align:center">
                <span class="circleStep active">
                    3
                </span>

                <div class="labelStep">
                    <span>Paga tu seguro</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-10">
            <div style="padding-bottom: 15px;">
                <div style="padding-left: 10px; padding-right: 10px;">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="bigStepTitle">3. Paga tu seguro</div>
                            <div style="font-size: 14px; font-family: 'Merriweather'">Oscar, estas a un paso de contratar tu p&oacute;liza &#161;Confirma tu pago!</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-xs-12">
                    @Html.Partial("PanelDatosPago_")
                </div>
                <div class="col-md-4 col-xs-12" >
                    @Html.Partial("PanelBotonPago_")
                </div>
            </div>
        </div>
    </div>
</div>

