﻿
@section MetaTags{
<title>ABA Chubb | Cotiza tu Seguro de Casa</title>
<meta name="description" content="Cotiza tu seguro de hogar. Nuestros paquetes de seguro para hogar protegen tu casa, tu familia, tus cosas y hasta tu mascota." />
<meta name="keywords" content="cotizar seguro de casa, contratar seguro de casa, cotizador de seguros de casa, cotizar seguro de hogar, contratar seguro de hogar, cotizar seguros de casa, cotizar aba hogar seguro, cotizar seguro casa, cotizar hogar seguro"/>

}
@section Styles{
    <link type="text/css" rel="stylesheet" href="~/cdn/css/pages/casa/casa.css" />
    <link type="text/css" rel="stylesheet" href="~/cdn/css/pages/casa/casa-responsive.css" />
}

@Html.Partial("~/Views/CasaCotizador/FormularioCotizador_.cshtml",true)

@section Scripts{
    <script type="text/javascript" src="~/cdn/js/pages/casa.js"></script>
    <script type="text/javascript" language="javascript" nonce="YWJhLmNodWJiLmNvbQ==">
        $(document).ready(function () {
                setInterval(function () {
                    $("#chatPanel").show();
                }, 60000);
                $('#btnCotizarCasa').click(function () {
                    $('#pnlErrorCotizadorCasa').slideUp();
                        if ($('#PerfilId').val() != "-1" && $('#Mascota').val() != "-1") {
                            localStorage.setItem('cbxCasa', $("#PerfilId option:selected").text());
                            $('#frmCotizadorCasa').submit();
                        } else {
                            $('#pnlErrorCotizadorCasa').slideDown();
                        }

                });
        });
            
    </script>
}