﻿@model  List<PortalABA.UI.Models.PaqueteAutoModel>

@foreach (var item in Model)
{
    <div class="itemCotizacion @item.ClasePreferente">
        <a href="#pnlSeleccionPaquete" data-action="seleccionarPaquete" data-paqueteid="@item.PaqueteId">
            <div class="row">
                <div class="col-md-9 col-xs-7">
                    @if(item.PaquetePreferente == true)
                            {
                    <div class="opcion-recomendada-header">
                        <span class='fa fa-star opcion-recomendada-star' style="font-size:19px;"></span>
                        El 92% de nuestros clientes compra esta p&oacute;liza
                    </div>
                    }
                    <h1 class="hidden-xs">
                        @item.Descripcion
                    </h1>
                    <h1 class="visible-xs" style="font-size:18px">
                        @item.Descripcion
                    </h1>
                    <h3>@item.Monto </h3>

                    <input type="button" value="Ver Detalle" class="text-uppercase btn btn-block visible-xs"
                           style="background-color:transparent;color:#FFF;border:1px solid #FFF;margin-top: 10px;width: 88%;font-size: 12px;height: 35px;" />
                </div>
                <div class="col-md-3 col-xs-5">
                    <iframe class="minivideos hidden-xs" style="width: 100%; height: 100px; margin-top: 10px; margin-bottom: 10px;" allowfullscreen
                            src='@item.VideoSrc'></iframe>

                    <iframe class="minivideos visible-xs" style="width:100%;height:100px;" allowfullscreen
                            src='@item.VideoSrc'></iframe>
                </div>
            </div>
        </a>
    </div>
}
