﻿<div style="padding-top: 10px; padding-bottom: 10px;">
    <div id="selectorMensualidades" class="row" style="padding-left: 5px; padding-right: 5px;">
        <div class="col-md-4 col-xs-12">
            <div style="padding-top: 20px; padding-left: 10px; font-family: 'Source Sans Pro'; font-size: 17px; text-transform: uppercase; font-weight: bold;">
                ¿C&oacute;mo te gustar&iacute;a pagar tu p&oacute;liza?
            </div>
        </div>
        <div class="col-md-8 col-xs-12">
            <table id="tblToolsMensualidades">
                <tr>
                    <td width="25%">
                        <button class="btn btn-bordered-active" data-action="periodicidad" data-periodicidad="mensual" data-periodicidad-id="27" id="btnMensual" >Mensual</button>
                    </td>
                    <td width="25%">
                        <button class="btn btn-bordered" data-action="periodicidad" data-periodicidad="trimestral" data-periodicidad-id="29" id="btnTrimestral" >Trimestral</button>
                    </td>
                    <td width="25%">
                        <button class="btn btn-bordered" data-action="periodicidad" data-periodicidad="semestral" data-periodicidad-id="28" id="btnSemestral" >Semestral</button>
                    </td>
                    <td width="25%">
                        <button class="btn btn-bordered" data-action="periodicidad" data-periodicidad="anual" data-periodicidad-id="12" id="btnAnual" >Anual</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
@section Scripts
{
<script src="~/cdn/js/gtag/CasaSelectorMensualidades.js"></script>
    }