﻿/*-----HOME-----*/
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.fondoHome {
    background-image: url('../../assets/img/ima-fondo-movil.png');
}

@media only screen and (max-width : 767px) {
    .fondoHome {
        /*background-image: url('../../assets/bkgs/home/cotiza.png');*/
        background-image: url('../../assets/img/home-movil-cotiza.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.fondoCotiza {
    background-image: url('../../assets/img/ima-fondo-movil.png');
}

@media only screen and (max-width : 767px) {
    .fondoCotiza {
        /*background-image: url('../../assets/bkgs/home/cotiza.png');*/
        background-image: url('../../assets/img/img-cotizador-movil.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.btniconos {
        padding-left: 0px; 
        padding-top: 18px;
}
.txtIcono {
        margin-top: 15px;
    }
.seguro-auto{
    margin-top: 70px;
    margin-bottom: 60px;
}
.seguro-auto .title {
    font-size: 45px;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: bold;
    color: white;
}
.seguro-auto .sub-title{
    margin-top: 20px;
    font-size: 16px;
    font-family: 'Merriweather';
    color: rgba(255, 255, 255, .7);
    font-weight: 300;
}
.seguro-auto select, .seguro-auto input, .section-cotizador-auto-flotante input, .section-cotizador-auto-flotante select{
    border: 1px solid white;
    background-color: transparent !important;
    height: 40px;
    color: white !important;
    margin-top: 7px;
    font-weight: 400;
    font-style: normal;
    padding-left: 15px;
}
.seguro-auto input::-webkit-input-placeholder{
    color: white;
}
.seguro-auto .aqui-van-imagenes{
    margin-top:30px;
    margin-bottom: 30px;
}
.seguro-auto .aqui-van-imagenes .btn:first-child{
    padding-top: 14px;
}
.seguro-auto .aqui-van-imagenes img{
    margin-top: 15px;
}
.aqui-van-imagenes .btn > div{
    color: white;
}
.seguro-auto .data-to-fill{
    margin-top: 10px;
    padding-bottom: 15px;
    font-family: 'Montserrat', 'sans-serif';
}
.cotizar-ahora .btn{
    font-size: 16px;
    color: white;
    font-family: 'Montserrat', 'sans-serif';
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(0,192,215,0.8);
    border-radius: 0px !important;
}
.cotizar-ahora .text{
    font-size: 16px;
}
.cotizar-blanco .btn a{
    font-size: 14px;
    font-family: 'Montserrat', 'sans-serif';
    color: white;
    text-decoration: underline;
}
.cotizar-blanco .text{
    font-size: 16px;
}
@media only screen and (max-width: 991px) { /*MOBILE TABLET OR PHONE*/
.seguro-auto {
    margin-top: 55px;
    margin-bottom: 66px;
}
.seguro-auto .title {
    font-size: 40px;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: bold;
    color: white;
    line-height: 50px;
    padding-right:15px; 
    padding-left:15px;
}
.seguro-auto .sub-title{
    margin-top: 0px;
    font-size: 16px;
    font-family: 'Merriweather';
    color: rgba(255, 255, 255, .7);
    font-weight: 300;
    padding-right:30px; 
    padding-left:30px;
}
.seguro-auto .aqui-van-imagenes{
    margin-top:8px;
    margin-bottom: 10px;
}
.seguro-auto .aqui-van-imagenes .btn:first-child{
    padding-top: 8px;
}
.seguro-auto .aqui-van-imagenes img{
    margin-top: 10px;
}
.seguro-auto .data-to-fill{
    margin-top: 0px;
    padding-bottom: 10px;
    font-family: 'Montserrat', 'sans-serif';
}
.cotizar-ahora .btn{
    font-size: 16px;
    color: white;
    font-family: 'Montserrat', 'sans-serif';
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(0,192,215,0.8);
    border-radius: 0px !important;
}
.btniconos {
        padding-left: 0px; 
        padding-top: 0px;
        padding-bottom: 0px;
 }
.txtIcono {
    margin-top: 5px;
}
}

.auto-seguro {
    background-image: url('../../assets/img/auto.jpg');
}

.seguro-hogar{
    background-image: url('../../assets/img/casa.jpg');
}

.pyme-segura {
    background-image: url('../../assets/img/pyme.jpg');
}

.otros-seguros{
    background-image: url('../../assets/img/otrosseguros.jpg');
}

.section-imageback{
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 310px;
}

.section-imageback .container{
    margin-top: 50px;
}

.section-imageback .title{
    font-size: 32px;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: bold;
    color: white;
}

.section-imageback .pre-title{
    font-size: 18px;
    font-family: 'Montserrat', 'sans-serif';
    color: #01BEDC;
}

.section-imageback .sub-title{
    font-size: 16px;
    font-family: 'Merriweather';
    font-weight: 300;
}

.section-imageback .btn-container{
    margin-top: 20px;
    padding: 0;

}

.section-imageback .btn-container .btn{
    border-radius: 0px;
}

.azul-fosfo{
    color: #01BEDC;
}

.color-gris{
    color: #DDDDDD;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.47);
}

.btn-ver-mas, .section-imageback .btn-ver-mas, .nuestros-seguros-menu .btn-ver-mas, .segundo-menu .seguros .ele .btn-ver-mas {
    border: 1px solid #01BEDC;
    color: #01BEDC;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 13px;
    border-radius: 0px !important;
    text-decoration: none;
}

.btn-ver-mas a, .section-imageback .btn-ver-mas a, .nuestros-seguros-menu .btn-ver-mas a, .segundo-menu .seguros .ele .btn-ver-mas a {
    color: #01BEDC;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 13px;
    text-decoration: none;
}

.nuestros-seguros-menu {
    position: fixed;
    top: 102px;   
}

@media only screen and (min-width: 800px) and (max-width : 981px) {
    .nuestros-seguros-menu {
        top: 133px;
    }
}

.btn-cotizar, .section-imageback .btn-cotizar, .nuestros-seguros-menu .btn-cotizar, .segundo-menu .seguros .ele .btn-cotizar{
    border: 1px solid white;
    color: white;
    font-size: 13px;
    font-family: 'Montserrat', 'sans-serif';
    border-radius: 0px !important;
    background-color: rgba(250, 250, 250, .1);
}

.btn-cotizar a, .section-imageback .btn-cotizar a, .nuestros-seguros-menu .btn-cotizar a, .segundo-menu .seguros .ele .btn-cotizar a {
    color: white; 
    font-size: 13px;
    font-family: 'Montserrat', 'sans-serif';
    text-decoration: none;
}

.quienes-somos-fondo{
    background-image: url('../../assets/img/mapaazul.png');
}

.quienes-somos-fondo-responsive{
    background-image: url('../../assets/img/Chubb_map_movil.png');
}

.quienes-somos {
    color: white;
    padding-bottom: 150px !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.quienes-somos img {
    padding-top: 150px !important;
    padding-bottom: 50px !important;
}

.quienes-somos .title{
    font-size: 32px;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: bold;
}

.quienes-somos .btn-container div{
    border: 1px solid white;
    color: white;
    font-family: 'Merriweather';
    font-size: 16px;
    line-height: 23px;
    border-radius: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(250, 250, 250, .1);
}

.quienes-somos .btn-container a{
    color: white;
    font-family: 'Merriweather';
    font-size: 16px;
    text-decoration: none;
}

.quienes-somostxt {
    color: white;
    font-family: 'Merriweather';
    font-size: 16px;
    line-height: 23px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.gracias-fondo{
    background-image: url('../../assets/img/gracias_img.jpg');
}
#panelGracias {
    padding-top:120px;
    padding-bottom:120px;
}
.gracias {
    padding-bottom: 150px !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0px -150px;
}

.gracias #square{
    margin-top:120px;
    background-color:white;
    padding:10px 5%;
    box-shadow: 0 0 5px #222;
}
.gracias #square .title{
    color:rgb(0,192,215);
    font-size:32px;
    font-weight:800;
}
.gracias #square .txt{
    color: #666666;
    font-size:15px;
    font-weight:500;
}
.gracias-scotia-fondo{
    background-image: url('../../assets/img/scotia-gracias.jpg');
}
@media only screen and (max-width: 590px) {
    .gracias-scotia-fondo{
        background-image: url('../../assets/img/scotia-gracias-small.png');
    }
}
.gracias #squareScotia{
    margin-top:120px;
    background-color:rgba(255,255,255,0.85);
    padding:10px 5%;
}
.gracias #squareScotia .title{
    color:rgb(0,192,215);
    font-size:32px;
    font-weight:800;
}
.gracias #squareScotia .txt{
    color: #666666;
    font-size:15px;
    font-weight:500;
}

/*-----OTROS SEGUROS, SEGURO BASICO ESTANDARIZADO, QUE HACER EN CASO DE SINIESTRO-----*/

@media only screen and (max-width: 991px) { /*MOBILE TABLET OR PHONE*/
    .otros-seguros-producto .barraInicial { 
        padding-top: 130px;
        padding-bottom: 40px;
        padding-left:10px;
    }
    .otros-seguros-producto .barraInicialTxt2 {
        font-size: 35px;    
        font-weight: 600;  
        line-height: 35px;
    }
    .siniestro .barraInicial { 
        padding-top: 130px;
        padding-bottom: 40px;
        padding-left:10px;
    }
    .siniestro .barraInicialTxt2 {
        font-size: 35px;    
        font-weight: 600;  
        line-height: 35px;
    }
    .seguro-basico .barraInicialSBE{ 
        padding-top: 130px;
        padding-bottom: 40px;
        padding-left:10px;
        background-image: url('../../assets/img/seguro-basico-responsive.png');
    }
    .aviso-privacidad .barraInicial { 
        padding-top: 130px;
        padding-bottom: 40px;
        padding-left:10px;
    }
    .aviso-privacidad .barraInicialTxt2 {
        font-size: 35px;    
        font-weight: 600;  
        line-height: 35px;
    }
}

.barraInicial {  
    width: 100%;  
    background-color: #00C0D7;
    padding-top: 165px;
    padding-bottom: 78px;
    }
.barraInicialTxt1 {     
    color: #000000; 
    font-family: 'Montserrat', 'sans-serif'; 
    font-size: 15px;    
    line-height: 16px;
    }
.barraInicialTxt2 {     
    color: #FFFFFF; 
    font-family: 'Montserrat', 'sans-serif';     
    font-size: 47px;    
    font-weight: bold;  
    line-height: 57px;
    }
.barraInicialTxt3 {     
    color: #FFFFFF; 
    font-family: 'Montserrat', 'sans-serif';    
    font-size: 18px;    
    line-height: 19px;
    }
.barraInicialTxt4 { 
    color: #FFFFFF; 
    font-family: 'Montserrat', 'sans-serif';   
    font-size: 64px;    
    font-weight: bold;  
    line-height: 78px;  
    text-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}
.barraInicialSBE {  
    width: 100%;  
    background-color: #00C0D7;
    background-image: url('../../assets/img/seguro_basico.jpg');
    padding-top: 165px;
    padding-bottom: 78px;
    }
.contenidogeneral{
    padding-top: 55px;
    padding-bottom: 55px;
}
.tituloNegro27 { 
    color: #323141; 
    font-family: 'Montserrat', 'sans-serif'; 
    font-size: 27px;    
    font-weight: bold;  
    line-height: 33px;
}
.txtNegro22{
    color: #323141; 
    font-family: 'Merriweather'; 
    font-size: 22px;    
    line-height: 37px;
}
.txtNegro22 a {
    color: #00C0D7; 
    font-family: 'Merriweather';  
    font-size: 22px;    
    line-height: 37px;
}
.txtNegro22 a:hover  {
    color: #00C0D7; 
    font-family: 'Merriweather';  
    font-size: 22px;    
    line-height: 37px;
}
.txtNegro18  {
    color: #000000; 
    font-family: 'Montserrat', 'sans-serif';     
    font-size: 18px;    
    line-height: 24px;
}
.txtNegro16  {
    color: #000000; 
    font-family: 'Merriweather'; 
    font-size: 16px;    
    font-weight: 300;   
    line-height: 23px;
}
.txtNegro16 a:link {
    color: #00C0D7; 
    font-family: 'Merriweather';  
    font-size: 16px;    
    font-weight: 300;   
    line-height: 23px;
    text-decoration: none;
}
.txtNegro16 a:hover {
    color: #00C0D7; 
    font-family: 'Merriweather';  
    font-size: 16px;    
    font-weight: 300;   
    line-height: 23px;
    text-decoration: underline;
}
.txtNegro16b a:link {
    color: #00C0D7; 
    font-family: 'Merriweather';  
    font-size: 16px;    
    font-weight: 300;   
    line-height: 23px;
}
.txtNegro16b a:hover {
    color: #00C0D7; 
    font-family: 'Merriweather';  
    font-size: 16px;    
    font-weight: 300;   
    line-height: 23px;
    text-decoration: underline;
}
@media only screen and (max-width: 991px) { /*MOBILE TABLET OR PHONE*/
.txtNegro16  { 
    font-size: 15px;    
}
.txtNegro16 a:link {
    font-size: 15px;
}
.txtNegro16 a:hover {
    font-size: 15px;
}
.txtNegro16b a:link {
    font-size: 15px;
}
.txtNegro16b a:hover {
    font-size: 15px;
}
}
.center {
    text-align: center;
}

.btnSeguros, .btnSeguros a {  
    height: 100%;   
    width: 100%;
    padding: 8px 20px 8px 20px;   
    border: 1px solid #979797;  
    border-radius: 100px;
    color: #000000; 
    font-family: 'Merriweather';  
    font-size: 14px;    
    font-weight: 300;   
    line-height: 18px;
    text-decoration: none;
}
.btnSeguros a:hover {  
    height: 100%;   
    width: 100%;
    padding: 8px 20px 8px 20px;  
    border: 1px solid #979797;  
    border-radius: 100px;
    color: #00C0D7; 
    font-family: 'Merriweather';  
    font-size: 14px;    
    font-weight: 300;   
    line-height: 18px;
    text-decoration: none;
}
/*-----MAPA DE SITIO-----*/
.mapa-sitio {
    background-color: #34373C;
}
@media only screen and (max-width: 991px) { /*MOBILE TABLET OR PHONE*/
    .contenedor-ayuda {
        background-color: #34373C;
    }
    .contenedor-ayuda .barraInicial { 
        padding-top: 130px;
        padding-bottom: 40px;
        padding-left:10px;
    }
    .contenedor-ayuda .barraInicialTxt2 {
        font-size: 35px;    
        font-weight: 600;  
        line-height: 35px;
    }
    .contenedor-ayuda .row .ele .title{
    font-size: 22px;
    line-height: 28px;
}
.contenedor-ayuda .row .ele .liga{	
    font-size: 14px;	
    line-height: 38px;
}
}
.contenedor-ayuda{
    background-color: #34373B;
}
.contenedor-ayuda .row{
    color: white !important;
    padding: 50px 50px 50px 50px;
}
.contenedor-ayuda .row .ele .title{
    font-weight: bold;
    font-size: 27px;
    line-height: 33px;
}
.contenedor-ayuda .row .ele .liga{
    color: #FFFFFF;	
    font-family: 'Merriweather';	
    font-size: 16px;	
    line-height: 41px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.contenedor-ayuda .row .ele a{
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
.contenedor-ayuda .row .ele:first-child{
}
@media(max-width: 991px){
    .contenedor-ayuda .row .ele .links-container{
        text-align: center;
        border-bottom: 1px solid #BBBBBB;
    }
    .contenedor-ayuda .row .ele:last-child .links-container{
        border-bottom: none;
    }
    .contenedor-ayuda .row .ele{
        padding-top: 20px;
    }
}

.seguro-auto select option {
    background-color: #808080;
}

.Siniestrocontenidogeneral{
    padding-top: 30px;
}