﻿body {
    font-family: 'Montserrat', 'sans-serif';
    background-color: #FFFFFF;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: transparent;
}


.info-footer {
    padding-top: 40px;
    background-color: #3E3F43;
    color: #fffff0;
    z-index: 666;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.aba-header-height {
    min-height: 70px;
    /*padding-top: 8px;*/
}

#navbar > ul > li > a {
    font-family: Montserrat;
    text-decoration: none !important;
}

    #navbar > ul > li > a:hover {
        text-decoration: none;
        background: transparent !important;
    }

.social-links li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    float: left;
}

.footer-content {
    padding-right: 10px;
    padding-left: 20px;
    padding-top: 20px;
}

.footer-maincontent {
    font-family: 'Merriweather';
    color: #A4A4A5;
    font-size: 17px;
    padding-right: 60px;
    line-height: 26px;
    padding-top: 10px;
}

.info-footer a {
    color: #fffff0;
}

    .info-footer a:hover {
        color: #008080;
    }

.footer-title {
    font-family: 'Source Sans Pro';
    text-transform: uppercase;
    font-size: 15px;
    color: #6B6C70;
    padding-bottom: 0px;
}

.footer-underline {
    margin-bottom: 15px;
}

.footer-tel {
    font-family: 'Source Sans Pro';
    font-size: 27px;
    color: #FFFFFF;
    line-height: 34px;
}

.footer-mail {
    font-family: 'Source Sans Pro';
    font-size: 14px;
    color: #FFFFFF;
    line-height: 17px;
}

.footer-lozalizador-title {
    font-family: 'Source Sans Pro';
    text-transform: uppercase;
    font-size: 15px;
    color: #FFFFFF;
    line-height: 17px;
}

.info-footer ul {
    list-style: none;
    font-size: 12px;
    -webkit-padding-start: 5px;
}

.info-footer li {
    font-size: 13px;
    font-family: 'Source Sans Pro';
    padding-top: 5px;
    padding-bottom: 5px;
}

.social-links {
    padding-top: 10px;
}

#social-links td {
    padding: 7px;
}

#selectorOficinas {
    padding-top: 20px;
    padding-bottom: 15px;
}

    #selectorOficinas select {
        border: 1px solid #CACBCD;
        background-color: #3E3F43 !important;
        height: 40px;
        color: #CACBCD;
    }


.info-footer-links {
    font-family: 'Source Sans Pro';
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #5C5C5E;
    background-color: #34373C;
}

    .info-footer-links a {
        color: #828282;
    }

#panelCotizador, .panelCotizador {
    padding-top: 90px;
    padding-bottom: 90px;
}

.aba-control {
    border: 1px solid white;
    background-color: rgba(62, 63, 67, 0.36);
    height: 40px;
    color: #fffff0 !important;
    margin-top: 7px;
    font-weight: 400;
    font-style: normal;
}

.banner h1 {
    font-family: 'Montserrat';
    font-size: 45px;
    font-weight: bold;
}

.banner h3 {
    font-family: 'Merriweather';
    font-size: 14px;
}

.banner-altocontraste {
    color: #fffff0;
}

.control-container {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
}

.banner button {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border: 1px solid #01BEDC;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 95px;
    padding-right: 95px;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: rgba(0,192,215,0.8);
}

.btn-aba-large {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border: 1px solid #01BEDC;
    margin-top: 10px;
    margin-bottom: 10px;
    /*padding-left: 95px;
    padding-right: 95px;*/
    /*padding-top: 18px;
    padding-bottom: 18px;*/
    background-color: rgba(0,192,215,0.8);
}

.btn-aba {
    font-weight: bold;
    color: white;
    border: 1px solid #01BEDC;
    background-color: rgba(0,192,215,0.8) !important;
}


legend {
    margin-bottom: 5px !important;
}

.btn-default {
    background-color: #DDDDDD;
    color: #1f7681;
    font-weight: bold;
}

.container > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
    margin-right: 0px !important;
    margin-left: 0px !important;
    border: none;
    max-height: 400px;
}

@media only screen and (max-width: 991px) { /*MOBILE TABLET OR PHONE*/
    .container-fluid > .navbar-collapse {
        margin-right: 0px !important;
        margin-left: 0px !important;
        /*background-color: rgba(0,192,215,0.9);*/
        border: none;
        max-height: 400px;
    }
}

.container-fluid > .navbar-header {
    margin-right: 0px !important;
    margin-left: 0px !important;
    border: none;
}

.container {
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.container-fluid {
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-inverse {
    background-color: rgba(0, 192, 215, 0.9) !important;
    border-color: transparent !important;
}

    .navbar-inverse .navbar-nav > li > a:hover,
    .navbar-inverse .navbar-nav > li > a:focus {
        color: #ffffff;
        background-color: transparent !important;
    }

    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:hover,
    .navbar-inverse .navbar-nav > .active > a:focus {
        color: #ffffff;
        background-color: #0296a8 !important;
    }

.navbar-brand {
    padding-top: 0px;
    padding-left: 15px;
    font-size: 19px;
    line-height: 21px;
    height: 50px;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #0296a8 !important;
}


@media (min-width: 768px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: 0px;
    }
}

@media (max-width: 767px) {
    .navbar-brand img {
        margin-top: 0px !important;
    }
#pnlSeleccionaPaquete {
    padding-top:130px !important;
}
}


#pnlSeleccionaPaquete a {
    font-weight: bold;
    text-decoration: none;
    font-size: 11px;
    color: #000000;
}

#pnlSeleccionaPaquete h1 {
    font-family: 'Source Sans Pro';
    margin-top: 5px;
    font-size: 50px;
    font-weight: bold;
}

.itemCotizacion {
    border: 1px solid #D1D1D1;
    background-color: #FFFFFF;
}


.btn-bordered {
    text-transform: uppercase;
    border: 1px solid #000;
    font-weight: bold;
    font-size: 70% !important;
    width: 100%;
    background-color: rgba(255,255,255,0);
    padding: 15px 5px;
}

    .btn-bordered:hover {
        border: 1px solid #000;
        font-weight: bold;
        font-size: 12px;
        border: 1px solid #644AA3;
        background-color: #644AA3;
        color: #fff;
    }

.btn-bordered-active {
    font-family: 'Source Sans Pro';
    text-transform: uppercase;
    font-size: 70% !important;
    border: 1px solid #000;
    background-color: #644AA3;
    color: #fff;
    width: 100%;
    padding: 15px 5px;
}

#tblToolsMensualidades td {
    padding-top: 10px;
    padding-left: 5px;
}

#tblToolsMensualidades {
    width: 100%;
}

#seleccionCoberturasStack >.opcion-recomendada h1 {
    color:#FFF;
}

#seleccionCoberturasStack h1 {
    font-family: 'Source Sans Pro';
    font-size: 36px;
    text-transform: uppercase;
    margin: 0px;
    font-weight: 300;
}

#seleccionCoberturasStack >.opcion-recomendada h3 {
    color:#FFF;
}

#seleccionCoberturasStack h3 {
    margin: 0px;
    font-family: 'Source Sans Pro';
    font-size: 35px;
    font-weight: normal;
    /*font-weight: normal;*/
}

.itemCotizacion {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 25px;
    padding-right: 25px;
}

.opcion-recomendada-header {
    color: #fffff0;
    padding: 5px;
    font-family: 'Source Sans Pro';
    font-size: 14px;
}

.opcion-recomendada-header.notselected {
    color: #000;
}

.opcion-recomendada {
    background-color: #01BEE3;
}

#seleccionCoberturasStack {
    color: #474747 !important;
}

    #seleccionCoberturasStack a {
        background-color: #01BEE3 !important;
    }

.opcion-recomendada-star {
    font-size: 25px;
    color: #FDD933;
}

.plan-seleccion-title {
    font-family: 'Source Sans Pro';
    color: #9A9A9A;
    font-weight: normal;
    font-size: 14px;
    padding-top: 10px;
    text-transform: uppercase;
}

#pnlSeleccionPaquete {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Source Sans Pro';
}

legend {
    font-size: 15px;
    font-weight: bold;
    color: #00C0D7;
}

#pnlSeleccionPaquete small {
    font-size: 11px;
    font-weight: normal;
}

.itemCotizacion:hover {
    background-color: #01BEE3;
    color:#FFF;
}

.itemCotizacion:hover h1, .itemCotizacion:hover h3, .itemCotizacion:hover .opcion-recomendada-header {
    color:#FFF;
}

.comparativa-header {
    font-size: 16px;
    text-transform: uppercase;
}

.tabla-comparativa {
    font-family: 'Source Sans Pro';
    font-size: 12px;
}

    .tabla-comparativa th {
        background-color: #C8C8C8;
    }

.tool-btn-red {
    background-color: #FF6400 !important;
    color: #fffff0 !important;
    border-color: #FF6400 !important;
}

.tool-btn-purple {
    background-color: #C234FD !important;
    color: #fffff0 !important;
    border-color: #C234FD !important;
}

.tool-btn-yellow {
    background-color: #FFB407 !important;
    color: #fffff0 !important;
    border-color: #FFB407 !important;
}

.tool-btn-green {
    background-color: #61D518 !important;
    color: #fffff0 !important;
    border-color: #61D518 !important;
    text-transform: uppercase;
    font-weight: bold;
}

#toolBarButtonHeader td {
    padding: 0px;
    margin: 0px;
}

/*.btn-tool-container {
    padding-left: 15px;
    padding-right: 15px;
}*/

/*
    Media Queries iPhone 5 para botones en toolbar
*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) { 
    .tool-btn-red {
        width: 50px ;
    }

    .tool-btn-purple {
        width: 50px ;
    }

    .tool-btn-yellow {
        width: 50px ;
    }

    .tool-btn-green {
        width: 170px;
    }

    /*.btn-tool-container  {
       
        padding-right: 10px;
    }*/
}

.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
    color: #ffffff;
    background-color: #00C0D7;
    border-color: #009FB2;
}


.tblInformacionPagos td {
    padding: 3px;
}

.btn-Chubb, .btn-Chubb a, .btn-Chubb a:hover {
    color: #FFFFFF;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 12px;
    padding-left: 10px;
    text-decoration: none;
}

.panel-boton-pago {
    padding: 15px;
    border: solid;
    border-width: 1px;
    border-color: #D1D1D1;
}

.btn-pagar {
    background-color: #00c0d7;
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-weight:bold;
    letter-spacing: 1px;
    line-height: 18px;
    text-transform: uppercase;
    border:none;
    height:45px;
}

.btn-atras {
    background-color: #fff;
    color: #000000;
    font-family: 'Source Sans Pro';
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 18px;
    height:45px;
}

#scrollBtn {
    color:#FFF;
    font-size:40px;
}

#scrollBtn:hover {
    color:rgba(0,192,215,0.8);
}

.marquee {
    width: 900px;
    overflow: hidden;
}