﻿.agentescss {
    padding-bottom: 100px !important;
    font-family: 'Montserrat', 'sans-serif' !important;
}

.agentescss .col {
        padding-right:15px !important;
        margin-bottom:15px !important;
}

.agentescss .parrafo{
    text-align: justify !important;
    font-family: 'Montserrat', 'sans-serif';
    color:#000000;
    font-size: 18px;
    padding-bottom:30px;
    
}
.agentescss h2{
    color: #323141; 
    font-family: 'Montserrat', 'sans-serif'; 
    font-size: 27px;    
    font-weight: bold;  
    line-height: 33px; 
    padding-bottom:30px;  
}

.agentescss .bg-gray {
    background-color: #EEEEEE !important;
}
.agentescss .bg-white{
    background-color: #ffffff !important;    
}
.agentescss .bg-bluelight {
    background-color:#ffffff !important;
    border-left:20px solid #01bfdf !important;
    margin-left:0px !important;
    display:block !important;
}

.agentescss .bg-purplelight {
    background-color:#ffffff !important;
    border-left:20px solid #C742F5 !important;
    margin-left:0px !important;
    display:block !important;
}

.btn-blue {	
    background-color: #00C0D7 !important;
    color:#ffffff;
}

/*AGENTE-ITEM*/
.agentescss .agente-item {
    height:100%;
    min-height: 100px;
    /*max-height:120px;*/
    width:300px;
    /*background-color:cadetblue;*/
}
/*NAME*/
.agentescss .agente-item h1{
    font-size:20px;
    font-weight:500;
    padding-left:5px;
    padding-top:10px;
}
/*CONTENT*/
.agentescss .agente-item .content {
    font-family: 'Merriweather';
    font-size:12px;
    padding-left: 10px;
    word-wrap: break-word; 
}
.agentescss .agente-item .content a {
    font-family: 'Merriweather';
    font-size:12px;
    padding-left: 10px;
    word-wrap: break-word; 
    color: #00C0D7;
}
.agentescss .agente-item .content a:hover {
    font-family: 'Merriweather';
    font-size:12px;
    padding-left: 10px;
    word-wrap: break-word; 
    color: #00C0D7;
}
.agentescss ul li {
    vertical-align: top;
}

.agentescss .lb-blue{
    border-left:#00C0D7 solid 2px;
}
.agentescss .lb-orange{
    border-left:#FF6400 solid 2px;
}
.agentescss .lb-purple{
    border-left:#C234FD solid 2px;
}
.agentescss .lb-yellow{
    border-left:#FFB407 solid 2px;
}
.agentescss .lb-green{
    border-left:#61D518 solid 2px;
}

@media only screen and (max-width: 991px) { /*MOBILE TABLET OR PHONE*/
    .agentescss .contenidogeneral {
        padding-top: 55px;
        padding-bottom: 55px;
    }
    .agentescss .col {
        padding-right:0px !important;
    }

    .agentescss .parrafo{
        font-size: 15px;
        padding-bottom:20px;  
    }
    .agentescss h2{
        font-size: 25px; 
        padding-bottom:20px;  
    }
    .agentescss .barraInicial { 
        padding-top: 130px;
        padding-bottom: 40px;
        padding-left:10px;
    }
    .agentescss .barraInicialTxt2 {
        font-size: 35px;    
        font-weight: 600;  
        line-height: 35px;
    }

    .agentescss ul.submenu li {
        text-align: center;
        display: block;
        padding: 0px;
        padding-bottom: 5px;
        padding-top:5px;
        border: none !important;
        border-bottom: solid 1px #C1C1C1 !important;
    }
    .agentescss .beneficios-aba, .agentescss .submenu{
        padding:10px;
    }
}