


.seguros-quienes-somos{
    top: 50%;
    transform: translateY(-50%);
}

.nuestros-seguros-btn{
    font-weight: bold;
}

.seguros-quienes-somos > div:last-child a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

video {
    -webkit-filter: brightness(.5); /* Safari 6.0 - 9.0 */
    filter: brightness(.5);
}


.dropdown.seguros a.dropdown-toggle{
    color: white;

}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background-color: #00C0D7 !important;
}

.dropdown.seguros.open a.dropdown-toggle{
    background-image: none !important;
    background-color: #00C0D7 !important;
    -webkit-box-shadow: none !important;
    color: white;
}

@media (min-width: 768px) {
    .dropdown.seguros.open .dropdown-menu{
        display: none
    }
}

@media (max-width: 767px) {

    .navbar-brand img{
        margin-top: -16px !important;
    }

    .segundo-menu{
        background-color: #00AABE;
    }

    .segundo-menu ul li{
        background-color: #00AABE;
        color: white;
        font-family: Montserrat;
        color: #FFFFFF;
        text-align: center;
    }
    .segundo-menu ul li > a{
        color: white !important;
    }
    .segundo-menu  .seguros.open{
        background-color: #00AABE;
    }

    .segundo-menu .dropdown-toggle{
        background-color: #00AABE !important;
        background-image: none !important;
    }

    .segundo-menu  .seguros .ele{
        padding: 0;
        display: table;
        border-bottom: 1px solid #00C0D7;
        padding-bottom: 10px;
        padding-top: 10px;
        background-color: black;
    }

    .segundo-menu  .seguros .ele > div:first-child{
        margin-top: 8px
    }

    .segundo-menu  .seguros .ele > div:last-child{
        padding: 0;
    }

    .nuestros-seguros-menu .ele{
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }

    .nuestros-seguros-menu .nombre-seguro{
        margin-top: 10px !important;
        margin-bottom: 0px !important;
    }
    .nombre-seguro{
        margin-top: 10px !important;
        margin-bottom: 0px !important;
        color:#FFFFFF;
        font-size:12px;
    }


    .login-right-panel{
        display: none;
    }

    .fullscreen-bg {
        background: url(../../images/fondo.png);
    }

    .fullscreen-bg__video {
        display: none;
    }

    .login-right-panel{
        position: absolute;
    }
    
    /*    .seguros-quienes-somos{
            top: 50%;
            transform: translateY(-50%);
        }*/
    .IMAGENSOTA-JARCOR{
        padding: 0 !important;
        background-image: url(../../images/aba-mini.png) !important;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 2700px !important;
    }
    .interior-gray-auto-seguro .images-section{
        margin-bottom: 25px;
    }
    .interior-gray-auto-seguro .images-section .ele {
        top: 0% !important;
        transform: translateY(0%) !important;
    }
    .interior-gray-auto-seguro .images-section .ele img{
        margin-top: 15px;
        width: 20% !important;
    }
    .interior-gray-auto-seguro .images-section .ele:first-child{
        border-right: 1px solid #01BEDC !important;
        border-bottom: none !important;
        padding-bottom: 15px;
    }

    .interior-gray-auto-seguro .images-section .ele:last-child{
        border-left: 1px solid #01BEDC !important;
        border-top: none !important ;

    }

}

@media (min-width: 768px) and (max-width: 979px) {
    .IMAGENSOTA-JARCOR{
        padding: 0 !important;
        background-image: url(../../images/tablet-786.png) !important;
        background-size: contain;
        background-repeat: no-repeat;
        min-height: 2700px !important;
    }
    .nuestros-seguros-menu .ele{
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }

    .nuestros-seguros-menu .nombre-seguro{
        margin-top: 10px !important;
        margin-bottom: 0px !important;
    }
    .sidebar-nav-fixed{
        margin-top: 32px !important;
    }

    .interior-gray-auto-seguro .images-section .description{
        margin-bottom: 5px;
    }
    .interior-gray-auto-seguro .images-section .ele {
        top: 0% !important;
        transform: translateY(0%) !important;
    }
    .interior-gray-auto-seguro .images-section .ele img{
        margin-top: 15px;
        width: 25% !important;
    }

    .interior-gray-auto-seguro .images-section .ele:first-child{
        border-bottom: 1px solid #01BEDC !important;
        border-right: none   !important;
        margin-top: 25px;
    }

    .interior-gray-auto-seguro .images-section .ele:last-child{
        border-left: none !important;
        border-top: 1px solid #01BEDC !important;
        /*border-left: 1px solid #01BEDC !important;*/
    }

}
.servcio-express{
    color: #33373A;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    font-size: 15px;
}

.color-gris2, .color-gris2 a{
    color: #7A7B7D;
}



.cotizar-ahora2 .btn{
    font-weight: 500;
    font-size: 20px;
    border-radius: 0px !important;
    color: #01BEDC;
    border: 1px solid #01BEDC;
    padding: 5px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 10px;
    margin-top: 4px;
    background-color: rgba(1, 190, 220, .02);
}
.cotizar-ahora2 .text{
    font-size: 16px;
}

.cotizar-ahora3 .btn{
    font-weight: 500;
    font-size: 15px;
    border-radius: 0px !important;
    color: #01BEDC;
    border: 1px solid #01BEDC;
    padding: 5px;
    padding-bottom: 9px;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-top: 9px;
    background-color: rgba(1, 190, 220, .02);
    text-align: center;
    height: 42px !important;
}
.cotizar-ahora3 .text{
    font-size: 14px;
}
/*-----SERVICIOS EN LINEA------*/
.login-right-panel{
    display: none;
    position: absolute;
    margin-right:0px;
}

.sidebar-nav-fixed .well2{
    border: 0 !important;
    background-image: none !important;
    padding: 3px;
    padding-left: 10px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    width: 250px;
}
.sidebar-nav-fixed{
        z-index: 1;
        margin-top: 130px !important;
        position: fixed;
        right:0;
    }

@media only screen and (max-height: 1800px) {
    .sidebar-nav-fixed {
        margin-top: 102px !important;
    }
}

.login-right-panel .close{
    font-size: 10px;
    font-weight: lighter;
    color: #CACBCD;
    width:10px;
    height:10px;
}
.login-right-panel .gris-obscuro{
    background-color: #34373C;
    margin: 0px;
}

.gris-clarito{
    background-color: rgba(255,255,255,0.7);
    margin: 0px;
}
@media only screen and (max-width: 991px) {
    .gris-clarito {
        background-color: rgba(255,255,255,0.9);
    }
    .sidebar-nav-fixed{
        margin-top: 102px !important;
    }
}
.login-right-panel input{
    z-index: 1;
    background: #DDDDDD;
    border: 0;
    height: 30px;	
    width: 210px;
    color: #9A9A9A;	
    font-family: "Helvetica Neue";	
    font-size: 12px;	
    font-style: italic;	
    line-height: 14px;
    padding-left:10px;
}
.inicio-blanco {
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 19px;
}
.inicio-txt {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 10px;
    line-height: 13px;
    margin-top: 7px;
}
.green-btn, .green-btn a {
    border: 1px solid #60D41B;
    border-radius: 0px !important;
    color: #60D41B;
    font-family: 'Montserrat';
    font-size: 14px;
    height: 44px;	
    width: 200px;
    margin-top:15px;
    margin-bottom:15px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    padding: 10px 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
.green-btn a:hover{
    border: 1px solid #FFFFFF;
    border-radius: 0px !important;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 14px;
    height: 44px;	
    width: 200px;
    margin-top:15px;
    margin-bottom:15px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    padding: 10px 18px;
}

.btn-registrar-cliente, .btn-registrar-cliente a{
    color: #FFFFFF !important;
    text-decoration: underline;
    font-family: 'Montserrat';	
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.se-title {
    /*color: #323141;*/
    color: #dbdbdb;	
    font-family: 'Montserrat';	
    font-size: 16px;	
    line-height: 19px;
    font-weight: bold;
}
.se-li {
    /*color: #323141;*/
    color: #dbdbdb;	
    font-family: 'Montserrat';	
     font-size: 12px;		
     line-height: 16px;
}

@media only screen and (max-height: 768px) {
    .se-li {
        margin-top: 05px;
    }
}

.se-li a, .se-li a:hover {
    color: #00C0D7;
}
/*-----FINALIZA SERVICIOS EN LINEA------*/
.btn-blanco{
    border: 1px solid white;
    color: white;
    border-radius: 0px;
}

.nuestros-seguros-menu .ele{
    margin-top: 50px;
    margin-bottom: 50px;
}

.nuestros-seguros-menu .ele .img-container{
    /*max-height: 40px;*/
}

.nuestros-seguros-menu .ele .btn-container{
    padding: 0;
}

.nuestros-seguros-menu .ele{
    /*border-right: 1px solid #CACBCD;*/
    /*border-left: 1px solid #CACBCD;*/
}

.nuestros-seguros-menu .ele:first-child{
    border-left: none !important;
    border-right: none !important;
}

.nuestros-seguros-menu .ele .nombre-seguro{
    font-size: 16px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nuestros-seguros-menu .ele:last-child{
    /*border-left: 1px solid #CACBCD;*/
    border-right: none !important;
}

.nuestros-seguros-menu .btn-container .btn{
    margin-top:15px;
}

.btn-cotizarseguros{
    border: 1px solid white;
    border-radius: 15pt;
    color: black;
    font-weight: bold;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
}



.seguro-empresarial{
    background-image: url(../../images/seguro-empresarial.jpg);
}
.ver-mas-seguros{
    padding: 0;
    background-color: #2A2A2A;
}

.ver-mas-seguros .btn {
    margin-bottom: 15px;
}

.IMAGENSOTA-JARCOR{
    padding: 0;
    background-image: url(../../images/extra.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 2400px;
}

.last-section{
    background-color: #3E3F43;
    padding-top: 50px;
    padding-bottom: 50px;
}

.last-section .aba-title{
    color: white;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}

.last-section .redes-sociales img{
    width: 30px;
    height: auto;
    margin-top: 30px;
    border-radius: 0px;
    padding: 0;
}

.last-section .primary-opt{
    color: gray;
    font-weight: bold;
    /*border-bottom: 1px solid #01BEDC;*/
    font-size: 14px;
}

.last-section .long-desc{
    margin-top: 20px;
    font-size: 17px;
    font-family: 'Merriweather', 'serif';
}

.last-section .menusin{
    margin-top: 20px;
}

.menusin a:hover{
    color: #01BEDC !important;
}

.last-section a{
    color: #CACBCD !important;
    text-decoration: none;
    height: 30px;
}

.last-section .sub-contacto{
    margin-top: 15px;
}

.last-section .sub-contacto .sucursal{
    color: white;
    font-size:14px;
    font-weight: bold;
}

.last-section .sub-contacto .direccion-sucursal{
    color: white;
    font-size:14px;
}

.last-section .sub-contacto select{
    border: 1px solid #CACBCD;
    background-color: transparent !important;
    height: 40px;
    color: #CACBCD;
    margin-top: 15px;
}

.last-section .sub-contacto .telefono{
    font-size: 30px;
    color: white;
}

.selects-container{
    margin-bottom: 25px;
}

footer > div {
    background-color: #323336;
    min-height: 60px !important;
    padding-top: 10px !important;
}


footer a{
    color: white;
}
footer a:hover{

    text-decoration: none;
}
.footer-text{
    color: white !important;
    font-weight: 400 !important;
    font-family: 'NunitoSans', 'sans-serif' !important;
    font-style: normal !important;
}

.footer-derechos{
    color: white !important;
    font-weight: 400 !important;
    font-family: 'NunitoSans', 'sans-serif' !important;
    font-style: normal !important;
    opacity: .8 !important;
}

.menu-servicios-express .ele {
    margin-top: 6px;
    margin-bottom: 6px;
}

@media only screen and (max-height: 768px) {
    .menu-servicios-express .ele {
        margin-top: 3px !important;
        margin-bottom: 3px !important;
    }
}

.menu-servicios-express .ele div:last-child a{
    /*color: #333739 !important;*/
    color: #dbdbdb !important;
    text-decoration: none;
    font-size: 12px;
}

.contenedor-cintas div{
    white-space: initial;
    word-wrap: break-word;
}


.primer-header .elementos-desc-icono > span:last-child{
    display: none;

}

@media (max-width: 991px){
    .primer-header .elementos-desc-icono > span:first-child{
        display: none;
    }

    .primer-header .elementos-desc-icono > span:last-child{
        display: block;
        font-size: 22px;
        padding-top: 5px;
        padding-bottom: 10px;
    }

    .iniciar-sesion-btn{
        height: 49px;
    }
}


.container-carousel-segunda {
    padding: 0;
    padding-top: 80px;
    background-color: #00C0D8;
}

.carousel-segunda {
    padding: 0;

}

.carousel-segunda .item{
    margin: 0;
}

.carousel-segunda .item img{
    display: block;
    width: 100vw;
    /*height: 100vh;*/
    object-fit: cover;
}

.auto-seguro-azul{
    color: white;
    background-color: #00C0D8;
    max-height: 400px;
    padding: 60px;
    padding-top: 150px;
    padding-bottom: 100px;
}

.auto-seguro-azul .title{
    font-weight: bold;
    color: black;
}

.auto-seguro-azul .subtitle{
    font-weight: bold;
    font-size: 46px;
}

.auto-seguro-azul .text{
    font-size: 18px;
}

.auto-seguro-blanco{
    /*padding: 60px;*/
    /*padding-top: 80px;*/
    /*padding-bottom: 80px;*/
}

.auto-seguro-blanco .testimonio{
    background-image: url('../../images/persona.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    background-position: center;
}

.auto-seguro-blanco .description{
    padding-top: 45px;
}

.auto-seguro-blanco .title{
    font-weight: bold;
    color: rgba(1, 190, 220, .7);
}

.auto-seguro-blanco .subtitle{
    font-size: 30px;
    font-family: 'Merriweather', 'serif';
}

.auto-seguro-blanco .comilla{
    font-size: 100px;
    color: rgba(1, 190, 220, .7);

}

.auto-seguro-blanco .text{
    /*margin-top: 10px;*/
    font-weight: bold;
    color: gray;
}

.beneficios-aba{
    background-color: #EEEEEE;
    padding: 50px;
}

.beneficios-aba > .title{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.beneficios-aba .categorias .ele:first-child{
    border-right: 1px solid gray;
}

.beneficios-aba .categorias .ele:last-child{
    border-left: 1px solid gray;
}

/**/
.requisitos-aba{
    background-color: #FFF;
    padding: 50px;
}

.requisitos-aba > .title{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.requisitos-aba .categorias .ele:first-child{
    border-right: 1px solid gray;
}

.requisitos-aba .categorias .ele:last-child{
    border-left: 1px solid gray;
}
/**/

/**/
.consejos-aba{
    background-color: #EEEEEE;
    padding: 50px;
}

.consejos-aba > .title{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.consejos-aba .categorias .ele:first-child{
    border-right: 1px solid gray;
}

.consejos-aba .categorias .ele:last-child{
    border-left: 1px solid gray;
}
/**/

/**/
.siniestros-aba{
    background-color: #FFF;
    padding: 50px;
}

.siniestros-aba > .title{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.siniestros-aba .categorias .ele:first-child{
    border-right: 1px solid gray;
}

.siniestros-aba .categorias .ele:last-child{
    border-left: 1px solid gray;
}
/**/


@media (max-width: 992px){
    .beneficios-aba .categorias .ele:first-child{
        border-right: none;
        border-bottom: 1px solid gray;
    }

    .beneficios-aba .categorias .ele:last-child{
        border-left: none;
        border-top: 1px solid gray;
    }
}

.beneficios-aba .categorias .ele{
    padding: 20px;
    text-align: left;
}

.beneficios-aba .categorias .ele .title{
    font-weight: bold;
    color: rgba(1, 190, 220, .7);
    font-size: 24px;
}
.beneficios-aba .categorias .ele .text{
    font-family: NunitoSans;
}

.beneficios-aba .categorias .ele .text ul{
    margin-top: 10px;
    font-family: NunitoSans;
}

.seccion-azul{
    background-color: rgba(1, 190, 220, 1);
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.seccion-azul .ele{
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    text-align: center;
    font-family: NunitoSans;
}

.seccion-azul div:first-child .ele{
    border-right: 1px solid white;
}

.seccion-azul div:last-child .ele{
    border-left: 1px solid white;
}

@media (max-width: 992px){
    .seccion-azul div:first-child .ele{
        border-right: none;
        border-bottom: 1px solid white;
    }

    .seccion-azul div:last-child .ele{
        border-left: none;
        border-top: 1px solid white;
    }
}

.coberturas{
    background-color: #DDDDDD;
    padding: 30px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.coberturas .contenedor-tipo-coberturas .ele{
    background-color: #EDEDED;
    padding-top: 50px;
    padding-bottom: 50px;
}

.coberturas .contenedor-tipo-coberturas .ele .desc-cobertura .title{
    font-weight: bold;
    font-size: 36px;
}

.coberturas .contenedor-tipo-coberturas .ele .desc-cobertura .lvl-cobertura-desc{
    font-weight: 500;
}

.coberturas .contenedor-tipo-coberturas .ele .desc-cobertura .lvl-cobertura{
    font-style: italic;
}

.coberturas .contenedor-tipo-coberturas .ele .desc-cobertura .text{
    padding-right: 10px;
    border-right: 1px solid #01BEDC;
    font-family: NunitoSans;
    margin-top: 20px;
}



.coberturas .contenedor-tipo-coberturas .ele .imgs-cobertura{
    font-weight: bold;
}

.coberturas .contenedor-tipo-coberturas .ele .imgs-cobertura .title{
    font-weight: bold;
    font-size: 26px;
}

.coberturas .contenedor-tipo-coberturas .ele .imgs-cobertura .subtitle{
    font-weight: normal;
}


.coberturas .contenedor-tipo-coberturas .ele .imgs-cobertura .container-img-desc{}

.coberturas .contenedor-tipo-coberturas .ele .imgs-cobertura .container-img-desc > div {
    padding: 0px;;
}

.coberturas .contenedor-tipo-coberturas .ele .imgs-cobertura .container-img-desc > div img{
    padding: 0px;
}

.coberturas .contenedor-tipo-coberturas .ele .imgs-cobertura .container-img-desc .img-desc{
    display: table;
}
.coberturas .contenedor-tipo-coberturas .ele .imgs-cobertura .container-img-desc .text{
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
}

.coberturas .contenedor-tipo-coberturas .ele .imgs-cobertura .black-border-btns{
    margin-top: 20px;
}

.coberturas .contenedor-tipo-coberturas .ele .imgs-cobertura .black-border-btns .btn{
    border: 1px solid black;
    color: black;
    margin-top: 15px;
    font-weight: bold;
    word-wrap: break-word;
    white-space: normal;
}

.coberturas .contenedor-tipo-coberturas .ele .imgs-cobertura  .btn.btn-blue{
    background-color: #01BEDC;
    color: white;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
}

.panel-tipos-coberturas{
    padding: 0;
}

.panel-tipos-coberturas .ele{

    background-color: #EDEDED;
    margin-bottom: 15px;
    display: table;
    padding: 5px;
    text-align: left;
}

.panel-tipos-coberturas .ele .body{
    padding-left: 15px;
    padding-right: 15px;
}

.panel-tipos-coberturas .ele .body{
    display: table-cell;
    vertical-align: middle;
}

.panel-tipos-coberturas .ele .body .title{
    font-weight: bold;
    font-size: 22px;
}
.panel-tipos-coberturas .ele .body .subtitle{
    font-weight: bold;
}

.panel-tipos-coberturas .ele .body .lvl-cobertura{
    font-style: italic;
}

.es-facil {
    background-color: #01BEDC;
    color: white;
    /*background-image: url('../../images/carro-azul.png');*/
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 80px;
    padding-top: 50px;
}

.es-facil .main-title{
    font-size: 55px;
    font-weight: bold;
}

.es-facil .seccion {
    margin-top: 30px;
}

.es-facil .seccion .title{
    color: black;
    font-weight: bold;
    font-size: 27px;
}

.es-facil .seccion .text{
    font-weight: 300;
    font-size: 14px;
    margin-top: 5px;
    font-family: 'Merriweather', 'serif';
}

#mostrar-tabla-aqui {
    padding-top: 40px;
    padding-bottom: 40px;
}
.localizacion-mapa{
    padding: 0;
}

.localizacion-mapa .buscar {
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: black;
    color: white;
}

.localizacion-mapa .buscar .title{
    color: white;
    font-size: 30px;
    font-weight: 500;
}

.localizacion-mapa .buscar .selects{
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}

.localizacion-mapa .buscar select {
    margin-top: 15px;
    background-color: black;
    border: 1px solid white;
    color: white;
    border-radius: 0px;
    height: 35px;
}
.localizacion-mapa .mapa{
    padding: 0;
}

.localizacion-mapa .puntos-container{
    height: 400px;
    overflow-y: scroll;
    padding: 20px;
    margin-top:20px;
}

.localizacion-mapa .puntos-container .title{
    font-size: 16px;
    color: #17B7D2;
    font-weight: bold;
}

.localizacion-mapa .puntos-container .ciudades{
    font-size: 26px;
}

.localizacion-mapa .puntos-container .punto{
    margin-top: 10px;
}

.localizacion-mapa .puntos-container .punto .glyphicon-map-marker, .localizacion-mapa .puntos-container .punto .glyphicon-earphone{
    color: white;
    font-size: 30px;
}

.localizacion-mapa .puntos-container .punto .row{
    padding-top: 25px;
}

.localizacion-mapa .puntos-container .punto .title{
    font-size: 16px;
}

.contactanos{
    margin-top: 50px;
    margin-bottom: 50px;
}


.contactanos .text{
    margin-top: 15px;
    margin-bottom: 30px;
}

.contactanos .titulo{
    font-weight: bold;
    font-size: 34px;
}

.contactanos input {
    margin-bottom: 25px;
    height: 40px;
    border: 1px solid black;
}

.contactanos .enviar-msg{
    background-color: #17B7D2;
    color: white;
    font-weight: bold;
    padding: 12px;
    border-radius: 0;
    margin-top: 25px;
}

textarea {
    resize: none;
    height: 100px;
    border: 1px solid black;
}

.interior-gray-auto-seguro > .ele{
    padding-top: 20px;
    padding-bottom: 20px;
}

.interior-gray-auto-seguro > .ele .detalle-section .title-auto-seguro{
    color: #17B7D2;
    font-size: 14px;
    font-weight: bold;
}

.interior-gray-auto-seguro .ele .title{
    color: black;
    font-size: 35px;
    font-weight: bold;
}

.rounded-gray-btn{
    /*margin-top: 5px;*/
    background-color: #FFFFFF;
    border-radius: 50px;
    font-weight: bold;
}

.interior-gray-auto-seguro .images-section .ele:first-child{
    border-right: 1px solid #01BEDC;
}

.interior-gray-auto-seguro .images-section .ele:last-child{
    border-left: 1px solid #01BEDC;
    margin-top: 25px;
}

.interior-gray-auto-seguro .images-section .ele{
    top: 0%;
    transform: translateY(-0%);
    margin-top: 25px;
}

.interior-gray-auto-seguro .images-section .ele img{
    margin-top: 15px;
    width: 35%;
}

.interior-gray-auto-seguro .images-section .ele .description{
    font-weight: bold;
    font-size: 10px;
    margin-top: 5px;

}

.tablillas{
    /*background-color: #EDEDED;*/
    text-align: center;
    padding-bottom: 20px;
}

.tablillas thead{
    background-color: #BBBBBB;
}

.tablillas tbody{
    background-color: white;
}

.tablillas thead th{
    width: 33%;
    text-align: center !important;
    color: #25333E;
    height: 46px;
}
.tablillas tbody td{
    width: 33%;
    height: 34px;
}

.tablillas tbody tr td:first-child{
    border: none !important;
}

.tablillas tbody tr td{
    border-left-color: #CACBCD;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #CACBCD;
    border-right-style: solid;
    border-right-width: 1px;

}

.tablillas tbody tr td:last-child{
    border: none !important;
}

.section-cotizador-auto-flotante {
    background-color: #34373C;

}
.section-cotizador-auto-flotante .close{
    font-size: 18px;
    font-weight: lighter;
    color: white !important;
}

.section-cotizador-auto-flotante .title{
    font-size: 21px;
    font-weight: bold;
    font-family: 'Montserrat';
    color: white;
    margin-top: 15px;
    /*letter-spacing: 1px;    
    line-height: 27px;*/
}

.section-cotizador-auto-flotante .data-to-fill{
    margin-top: 10px;
    padding-bottom: 15px;
    font-family: 'Montserrat';
}

.morado-2imgs{
    padding: 0;
}

.morado-2imgs .morado{
    background-color: #6F17C8;
    padding: 40px;
    font-size: 40px;
    color: white;
    padding-bottom: 65px;
    padding-top: 78px;
}

.morado-2imgs .morado .mr{
    font-size: 12px;
    margin-top: 15px;
}

.morado-2imgs .morado2{
    background-color: #6F17C8;
    padding: 40px;
    font-size: 40px;
    color: white;
    padding-bottom: 65px;
    padding-top: 150px;
}

.morado-2imgs .morado2 .mr{
    font-size: 12px;
    margin-top: 15px;
}

.morado-2imgs .img{
    height: 200px;
}

.morado-2imgs > .img{
    background-image: url('../../images/carro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.morado-2imgs > .img:last-child{
    background-image: url('../../images/carretera.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.secciones-rectangulares{
    background-color: white;
    padding: 0;
}
.secciones-rectangulares .seccion{
    border: 1px solid #CCCCCC;
    padding: 15px;
    padding-bottom: 60px;
    text-align: center;
}
.secciones-rectangulares .seccion .title{
    color: gray;
    font-weight: bold;
}
.secciones-rectangulares .seccion .subtitle{
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 20px;
}
.secciones-rectangulares .seccion .subtitle2{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/*.top-menu-separator{
    padding-top: 80px;
}*/

.chubb-logo{
    background-image: url('../../images/chubblogo.png');
    margin-top: 24px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}
.aba-logo{
    background-image: url('../../images/logo-aba.png');
    margin-top: 16px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

.paginador-noticias{
    margin-top: 40px;
    margin-bottom: 40px;
}

.paginador-noticias .btn{
    font-weight: bold;
    color: #17B7D2;
    border-radius: 0px;
    padding: 10px;
    border: 1px solid #17B7D2;
}

.paginador-noticias .btn.disabled, .btn[disabled], fieldset[disabled] .btn{
    color: gray;
    border: 1px solid gray;
}

.paginador-noticias .info-pages{
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 12px;
}

.top-menu-separator-noticias{
    padding-top: 115px;
    background-color: #00C0D8;
}


.header-morado{

    background-color: #6F17C8;
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cuerpo-noticia .noticia{
    margin-bottom: 35px;
}

.cuerpo-noticia .noticia .meta-data{
    margin-top: 50px;
    margin-bottom: 20px;
}

.cuerpo-noticia .noticia .title{
    font-weight: bold;
    font-size: 37px;
    margin-bottom: 15px;
}

.cuerpo-noticia .noticia .sinopsis{
    font-family: 'Merriweather', 'serif';
    font-size: 20px;
    margin-bottom: 30px;
}

.cuerpo-noticia .noticia .text-img{
    margin-top: 20px;
    font-family: 'Merriweather', 'serif';
    font-size: 13px;
}

.cuerpo-noticia .noticia .img-noticia{
    background-image: url('../../images/carro.jpg');
    height: 200px;
    margin-top: 30px;
    margin: 30px;
    margin-left: 0px;
    margin-bottom: 10px;
}

.cuerpo-noticia .noticia .desc-img{
    margin-bottom: 20px;
}

.panel-otras-noticias{
    /*border-left: 1px solid black;*/
    padding-left: 0;
    padding-right: 0px;
}

.panel-otras-noticias .title{
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
    font-size: 20px;

}

.panel-otras-noticias .img-carretera{
    background-image: url('../../images/carretera.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 230px;
}




.panel-otras-noticias .seccion .title{
    color: #7A7B7D;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}

.panel-otras-noticias .seccion .subtitle{
    font-size: 21px;
    font-weight: bold;
    text-align: center;
}

.panel-otras-noticias .seccion  .text{
    color: #BBBBBB;
    text-align: center;
    font-size: 13px;
}
.panel-otras-noticias .seccion{

    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    padding-bottom: 40px;
    padding-top: 10px;
}
.panel-otras-noticias .noticia-principal.seccion{
    border-top: none !important;
}

/*
* fin descripcion de noticia
*/

/*quienes somos*/


.historia-mision-valores > .ele{
    border-left: 20px solid #01BEDC;background-color: #EDEDED;
}

.historia-mision-valores .ele {
    padding: 20px;
}

.historia-mision-valores > .ele .title{
    font-weight: bold;
    margin-bottom: 15px;
}



.tabs-container{

    background-color: #EDEDED;
    padding: 0px;
    /*padding-bottom: 10px;*/
    padding-top: 30px;
}

.tabs-container #quienes, .tabs-container #info{
    margin-top: 40px;
    padding: 0px;
}

.tabs-container .tablink{
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 0;
    word-wrap: break-word;
    padding-top: 10px;
    word-wrap: break-word;
    white-space: normal;
    margin-left: 30px;
}
.tabs-container .tablink:first-child{
    border-right: none !important;
}

.tabs-container .title{
    padding-left: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
}

.tabs-container .text{
    padding-left: 30px;
    margin-bottom: 20px;
}

.carousel-historia{
    background-color: white;
    padding: 30px;
}
#carousel-historia a span:before{
    color: #01BEDC;
}
.carousel-inner{
/*    padding-right: 30px;
    padding-left: 30px;*/
}
.carousel-historia .item .ele div{
    margin: 0px;
    padding: 5px;
}
.carousel-historia .item .ele  img{
    background-color: #17B7D2;
    margin: 0px;
    padding: 0px;
}

@media (max-width: 550px){
    .carousel-historia .item .ele  img{
        background-color: #17B7D2;
        margin: 0px;
        padding: 0px;
    }
    .carousel-historia .item .ele div{
        margin: 0px;
        padding: 5px;
    }
    /*.login-right-panel{
        display: none !important;
    }*/

}
@media (max-width: 767px){
        .sidebar-nav-fixed{
        margin-top:128px!important;
    }
}

.carousel-historia .item .ele .container-text .text{
    padding: 10px 0px 10px 0px;
    margin: 0px;
}
.carousel-historia .item .ele .container-text .anio{
    font-weight: bold;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
}



.carousel-control{
    width: 0%;
    color: aqua;
}

.carousel-control:hover{
    color: aqua;
}

.carousel-control:focus{
    color: aqua;
}

/*//info financiaera (quienes somos)*/

.info-financiara-container{
    padding: 0;
}

.info-financiara-container .ele{
    border-left: 20px solid #C742F5;
    background-color: #e6e6e6;
    margin-bottom: 50px;
}

.info-financiara-container .ele > div.title{
    font-weight: bold;
    font-size: 16px;
}



.info-financiara-container .ele > div{
    padding-top: 15px;
    padding-bottom: 15px;

}

.info-financiara-container .ele > div:nth-child(even){
    background-color: white;;
}

.letras-chiquitas{
    font-size: 10px;
    margin-bottom: 30px;
}

.coberturas-container{
    padding-bottom: 100px;
}

.coberturas-container .tab-container .tablink{

    font-weight: bold;
    font-size: 16px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-radius: 0px;
    word-wrap: break-word;
    padding-top: 20px;
    white-space: normal;

    padding-bottom: 10px;

    height: 80px;

}

.coberturas-container .tab-container .tablink.active{

    color: #01BEDC;
}

.coberturas-container{
    background-color: #EDEDED;
    padding: 0px;
    /*padding-bottom: 10px;*/
    padding-top: 30px;
}

.coberturas-container .seccion{
    padding:0;
}

.coberturas-container .seccion .title{
    font-weight: bold;
    font-size: 22px;;
}

.coberturas-container .seccion .descripcion{
    padding: 35px;
}

.coberturas-container .seccion .table-simulada .row{
    padding: 15px;
    padding-left: 80px;
}

.coberturas-container .seccion .table-simulada .row:nth-child(even){
    background-color: white;
}

.coberturas-container .seccion .table-simulada .row a{
    color: black;
}

@media(max-width: 767px){
    .morado-2imgs > .img{
        display: none;
    }

    .sidebar-nav-fixed
    {
        position:absolute;
        right:auto;
        float:none !important;
    }

    .sidebar-nav-fixed .well2 {
        width: 100%;
        padding:10px 30px;
    }

    .login-right-panel input {
        width: 100%;
    }

    .se-li {
        margin-top:5px;
        line-height: 20px;
    }

    .se-title {
        text-align:unset !important;
    }

    .menu-servicios-express .se-title{
        margin-top:20px;
    }

    .carousel-indicators {
        bottom: 0 !important;
        margin-bottom: 0;
    }
}

.otros-seguros-container {
    background-color: #EDEDED;
}

.otros-seguros-container > .row{
    padding-top: 20px;
    padding-bottom: 20px;
}

.otros-seguros-container > .row:nth-child(even){
    background-color: white;
}

.otros-seguros-container .ele .icono {
    display: table;
}
.otros-seguros-container .ele .img-container{
    display: table-cell;
    /*vertical-align: middle;*/
    border-right: 1px solid #00C0D8;
    padding-top: 20px;
    padding-bottom: 20px;
}

.otros-seguros-container .ele .descripcion .title{
    font-weight: bold;
    font-size: 20px;
}

.otros-seguros-container .ele .btn{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 100px !important;
}


@media(max-width: 767px){

    .otros-seguros-container .ele .img-container{
        border: none;
        border-bottom: 1px solid #00C0D8;
    }
    .otros-seguros-container .ele .icono {
        margin-bottom: 20px;
    }

}

.contenedor-ayuda{
    background-color: #34373B;
}

.contenedor-ayuda .row{
    color: white !important;
    padding: 30px 0px 30px 30px;
}

.contenedor-ayuda .row .ele .title{
    font-weight: bold;
    font-size: 18px;
}

.contenedor-ayuda .row .ele a{
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contenedor-ayuda .row .ele:first-child{

}


@media(max-width: 767px){

    .contenedor-ayuda .row .ele .links-container{
        text-align: center;
        border-bottom: 1px solid #BBBBBB;
    }
    .contenedor-ayuda .row .ele:last-child .links-container{
        border-bottom: none;
    }
    .contenedor-ayuda .row .ele{
        padding-top: 20px;
    }

}

/*comillas testimonios*/

.auto-seguro-blanco .description img:first-child{
    margin-top: -55px;
    position: absolute;
}

/*hogar seguro*/

iframe{
    border: none;
}

/*transporte seguro*/

.transporte-cobertura{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #EDEDED;
}

.transporte-cobertura .title{
    color: #17B7D2;
    font-size: 14px;
    font-weight: bold;
}

.transporte-cobertura .subtitle{
    color: black;
    font-size: 35px;
    font-weight: bold
}

/*nuevo login*/

.nuevo-login > div:first-child {
    background-color: black;
    background-image: none;
    border: none;
}

.nuevo-login .color-gris{
    font-size: 36px !important;
    text-align: center;
}

.nuevo-login .green-btn {
    background-color: #6ED900;
    color: white;
}

.nuevo-login .botones{
    display: table;
}

.nuevo-login .botones .btn{
    /*height: 70px;*/
    font-weight: 300 !important;
    padding-top: 10px;
    padding-bottom: 10px;
    display: table-cell;
    vertical-align: middle;
    color: white;
    border: 1px solid white;
    margin-top: 20px;
    border-radius: 0px;
}

/*.input-group-addon{color:#ff0000; background-color: #ffffff;}*/

/*pantalla de la discordia*/
.seguro-para-tu{
    padding: 0;
    background-color: #D8D8D8;
}
.seguro-para-tu > div{
    /*margin-top: 40px;*/
    margin-bottom:  40px;
    background-color: #EEEEEE;
    padding: 0;
    padding-top: 40px;
}
.seguro-para-tu .ele:first-child{
    border-right: 1px solid #DADADA;
    border-left: none !important;
}
.seguro-para-tu .ele{
    border-right: 1px solid #DADADA;
    border-left: 1px solid #DADADA;
}
.seguro-para-tu .ele:last-child{
    border-right: none !important;
    border-left: 1px solid #DADADA;
}
.seguro-para-tu .ele .title{
    font-size: 22px;
    color: #000000; 
    font-family: 'Montserrat';   
    font-weight: 300;   
    line-height: 46px;
    text-align: center;
}
.seguro-para-tu .ele .minivideos{
    height: 122px; 
    width: 202px; 
    border: 1px solid #cecece;
    margin-top: 25px; 
    margin-bottom: 25px;
    margin-left:100px;
    text-align: center;
}

.seguro-para-tu .ele .img-container{
    margin-top: 20px;
    margin-bottom: 70px;
    padding: 0;
}
.seguro-para-tu .ele .img-container .text{
    word-wrap: break-word;
    text-align: center;
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.seguro-para-tu .ele .img-container img{
    height: 47px;
    width: auto;
    text-align: center;
    margin-left: 23%;
}
.seguro-para-tu .ele .img-container div{
    padding: 0;

}
.seguro-para-tu .ele .dineros{
    font-size: 36px;
}

.seguro-para-tu .ele .dineros span{
    color: #7A7B7D;
}

.seguro-para-tu .ele .puntitos{
    font-size: 80px;
    letter-spacing: -5px;
}
.seguro-para-tu .ele .puntitos span{
    color: #7A7B7D;
}

.seguro-para-tu .ele .cobertura{
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    margin-bottom: 30px;
    margin-top: 7px;
}

.seguro-para-tu .ele .btn{
    border: 1px solid #979797;
    border-radius: 50px;
    margin-bottom: 15px;
}
.seguro-para-tu .ele .btn:first-child{
    font-weight: 300 !important;
}
.seguro-para-tu .ele .btn:last-child{
    background-color: #644AA3;
    color: white;
}

/* === Estilos para cotizador === */
.seguro-auto-cotizador{
    margin-top: 200px;
    margin-bottom: 170px;
}

.seguro-auto-cotizador .title{
    font-size: 59px;
    font-weight: bold;
    color: white;
}

.seguro-auto-cotizador .sub-title{
    margin-top: 5px;
    font-size: 17px;
    color: rgba(255, 255, 255, 1);
    font-weight: 300;
    font-family: Georgia;
}

.seguro-auto-cotizador select, .seguro-auto-cotizador input, .section-cotizador-auto-flotante input, .section-cotizador-auto-flotante select{
    border: 1px solid white;
    background-color: transparent !important;
    height: 40px;
    color: white !important;
    margin-top: 7px;
    font-weight: 400;
    font-style: normal;
}
.seguro-auto-cotizador input::-webkit-input-placeholder{
    color: white;
}

.seguro-auto-cotizador .aqui-van-imagenes{
    margin-top:30px;
    margin-bottom: 30px;
}

.seguro-auto-cotizador .aqui-van-imagenes .btn:first-child{
    padding-top: 14px;
}

.seguro-auto-cotizador .aqui-van-imagenes img{
    margin-top: 15px;
}

.btn-agente {
    border: 1px solid #FFF;
    color: #FFF;
    border-radius: 0px !important;
    background: rgba(255,255,255,0.20);
}

.cotizar-blanco-cotizador .btn{
    font-size: 14px;
    color: white;
    text-decoration: underline;
    text-align: center;
}

.section-cotizador{
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 270px;
}

.section-cotizador .container{
    margin-top: 50px;
}

.section-cotizador .title{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 55px;
    color: #000000;
    letter-spacing: 1.5px;
}

.section-cotizador .pre-title{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    color: #000000;
    letter-spacing: 1.3px;
}

.section-cotizador .sub-title{
    font-size: 16px;
    font-weight: 300;
}
.section-cotizador .btn-container{
    margin-top: 20px;
    padding: 0;

}
.section-cotizador .btn-container .btn{
    border-radius: 0px;
}
.auto-seguro-cotizador{
    background-color: #DDDDDD;
    height: 874px;
}

.auto-seguro-cotizador-form{
    background-color: #FFF;
    height: 854px;
}

.auto-seguro-cotizador-pago{
    background: cover;
    background-image: url("../../images/img-fondo-carro.png");
    height: 824px;
}

.lbl-acciones {
    font-family: Georgia;
    font-size: 11px;
    color: #000000;
}
.btn-bordered {
    border: 1px solid #000;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal !important;
    letter-spacing: 1.04px;
    border-radius: 0px !important;
    width: 100%;
}

.btn-bordered-negro {
    border: 1px solid #000;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal !important;
    letter-spacing: 1.04px;
    border-radius: 0px !important;
    width: 100%;
}

.btn-bordered:hover {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1.04px;
    border: 1px solid #644AA3;
    background-color: #644AA3;
    color: #fff;
}

.active-btn {
    font-family: 'Source Sans Pro', sans-serif;
    border: 1px solid #644AA3;
    background-color: #644AA3;
    color: #fff;
    color: #FFFFFF;
    letter-spacing: 1.04px;
}

.tabla-precios {
    padding: 0;
    background-color: #EEEEEE;
}

.item {
    margin-top: 48px;
}

.item-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter !important;
    font-size: 37px;
    color: #000000;
}

.item-subtitle {
    margin-top: 32px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #000000;
}

.circle-inactive {
    color:#7A7B7D;
}

.estelar {
    background-color: #01BEE3;
    color: #FFF;
}

.estelar-franja {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #0091BC;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 1.21px;
    padding: 5px;
    /*margin-left: -15px;
    margin-right: -15px;*/
    text-align: center;
}

.estelar-title{
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter !important;
    font-size: 37px;
}

.estelar-subtitle {
    margin-top: 32px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #FFF;
}

.circle-inactive-estelar {
    color:rgba(255,255,255,0.40);
}

.costo {
    margin-top: 45px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    color: #000000;
}

.total {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
    color: #000000;
}

.total small{
    font-size: 12px;
}

.descripcion-total{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
}

.btn-estelar-bordered {
    font-family: 'Source Sans Pro', sans-serif;
    border: 1px solid #FFF;
    border-radius: 0px !important;
    margin-top: 35px;
    margin-bottom: 5px;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 1.3px;
    padding-left: 60px;
    padding-right: 60px;
}

.agente-blanco {
    margin-top: 20px;
}

.agente-blanco a{
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFF;
    margin-top: 20px;
    margin-left: 45px;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 12px;
    text-decoration: underline;
}
.agente-blanco2 a{
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFF;
    margin-top: 20px;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 12px;
    text-decoration: underline;
    text-align: center;
}

.lbl-form {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    color: #000000;
    letter-spacing: 0.49px;
}

input[type="text"].cotizador {
    background-color:#F5F5F5 !important;
}

select.cotizador {
    background-color:#F5F5F5 !important;
}

input[type="text"].cotizador::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #3C3C3C;
    letter-spacing: 0.41px;
}
input[type="text"].cotizador::-moz-placeholder { /* Firefox 19+ */
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #3C3C3C;
    letter-spacing: 0.41px;
}
input[type="text"].cotizador:-ms-input-placeholder { /* IE 10+ */
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #3C3C3C;
    letter-spacing: 0.41px;
}
input[type="text"].cotizador:-moz-placeholder { /* Firefox 18- */
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #3C3C3C;
    letter-spacing: 0.41px;
}

.detalle-pago {
    font-family: 'Source Sans Pro', sans-serif;
}

.p-cotizador{
    margin-top: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

.btn-negro {
    display: block;
    height: 50px;
    width: 100%;
    background: #000;
    border: 1px solid #000;
    padding: 15px;

    /*Step 3: Text Styles*/
    color: #FFF;
    text-align: center;
    font: 16px 'Source Sans Pro', sans-serif;
    vertical-align: middle;
}

a.btn-negro {
	text-decoration: none;
}

a.btn-negro:hover{
    color: #FFF;
}

.contenedor-gris {
    background-color: #E6E6E6;
    width: 100%;
    height: 130px;
}

.img-casa-bg {
    background: cover;
    background-image: url('../../images/casa-imagen.png');
    width: 220px;
    height: 613px;
}

.barra-azul {
    float: left;
    width: 64px;
    height: 874px;
    background-color: #01BFDF;
}

li.square {
    text-align: center;
    margin-bottom: 10px;
    width: 20px;
    height: 20px;
    opacity: 0.05;
    background: #000000;
}

li.square-active {
    text-align: center;
    margin-bottom: 10px;
    width: 20px;
    height: 20px;
    background-color: rgba(48,48,64,0.70);
    color:#FFF;
}

ul.tbl {
    margin-left: 20px;
}

ul.tbl li {
    display: inline;
    margin-left: 20px;
}
/* ============================== */

/* ============================== */
ul.submenu {
    margin-top: 0px;
}

ul.submenu li {
    display: inline-block;
    margin-left: -4px;
    padding: 18px;
    border-left: solid 1px #C1C1C1;
}

ul.submenu li:last-child {
  border-right: solid 1px #C1C1C1;
}

ul.submenu li a {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 11px;
    color: #000;
    text-decoration: none;
}

ul.submenu li a:hover {
    color: #01C1E2;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 11px;
    text-decoration: none;
}

ul.submenu li a.active {
    color: #01C1E2;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 11px;
    text-decoration: none;
}

ul.submenu > li.despegable > a {
    display: inline-block;
    /*color: white;*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*ul.submenu > li.despegable:hover {
    background-color: #c40105;
}*/

/* Grupo Desplegable */
ul.submenu > li.despegable > ul.grupo-despegable,
ul.grupo-despegable > li {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

ul.submenu > li.despegable:hover > ul.grupo-despegable { 
    display: block;
}

ul.main > li.despegable > ul.grupo-despegable > li,
ul.grupo-despegable > li {
    display: block;
    position: relative;
}

ul.main > li.despegable > ul.grupo-despegable > li:hover,
ul.grupo-despegable > li > ul.sub-grupo-despegable > li a:hover {
    background-color: #f1f1f1;
}

ul.main > li.despegable > ul.grupo-despegable > li > a,
ul.grupo-despegable > li > a {
    color: black;
    /*padding: 12px 16px;*/
    text-decoration: none;
    display: block;
    text-align: left;
}

.left-title {
    margin-top: 75px;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 28px;
    color: #000000;
    letter-spacing: 0;
}

.inner-title {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 21px;
    color: #000000;
    letter-spacing: 1.31px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 3%;
    margin-right: 2%px;
}

.servicios-item {
    margin-top: 30px; /*  modificación de tamaño */
    margin-left: 3%;
    margin-right: 2%;
}

.servicios-item .inner-item-title {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0.88px;
    text-transform: uppercase;
}

.inner-item-content {
    font-family: 'Merriweather';
    font-size: 13px;
    color: #000000;
    letter-spacing: 0.75px;
    padding-top: 4px;
}

.last {
    margin-bottom: 40px;
}

.seccion-gris{
    background-color: #34373C;
    padding: 0;
    padding-top: 42px;
    padding-bottom: 42px;
}

.seccion-gris .ele{
    font-family: 'Montserrat';
    font-weight: lighter;
    font-size: 24px;
    letter-spacing: 1.5px;
    color: white;
    text-align: right;
}

a.btn-seccion-gris {
    display: block;
    height: 40px;
    width: 100%;
    border: 1px solid #01C1E2;
    border-radius: 2px;
    color: #01C1E2;
    text-align: center;
    font-family: 'Montserrat';
    vertical-align: middle;
    font-size: 16px;
}

.seguro-para-tu > section{
    text-align: center;
    margin-top: -40px;
    margin-bottom:  5px;
    background-color: #34373C;
    padding: 0;
    padding-top: 40px;
}
.ProductosTitulo{
    color: #000000;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Montserrat';
    text-align: center;
    margin-bottom: 40px;
    margin-top: 80px;
}


.icon-disabled {
    opacity: 0.2;
}

.auto-servicios:hover {
    background-color: #01BEE3;
    color: #FFF;
}

.auto-servicios:hover .cobertura {
    color: #fff !important;
}

.auto-servicios:hover span {
    color: #fff !important;
    opacity: 0.5 !important;
}

.auto-servicios:hover .circle-inactive {
    color: #fff !important;
    opacity: 0.5 !important;
}

a.btn-ver-tabla{
    display: block;
    height: 50px;
    width: 100%;
    border: 1px solid #000;
    border-radius: 2px;
    padding: 15px;
    margin-top: -5px;
    /*Step 3: Text Styles*/
    color: #000;
    text-align: center;
    text-decoration: none;
    font: 16px 'Source Sans Pro', sans-serif;
    vertical-align: middle;
}

.servicios-item-localizador {
    margin-top: 30px;
    margin-left: 30px;
}

.servicios-item-localizador .inner-item-title-localizador {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 28px;
    color: #323337;
    letter-spacing: 0;
}

.inner-item-content-localizador {
    font-family: 'Montserrat';
    font-size: 16px;
    color: #323337;
    letter-spacing: 0;
}

.last-localizador {
    margin-bottom: 30px;
}

.carousel-indicators li {
    background: #ccc;
    z-index: 0px !important;
}

.efecto:hover {
    background-color: #01BEE3;
    color: #FFF;
}

.efecto:hover span {
    color: #fff !important;
}

.efecto:hover div {
    color: #fff !important;
}

.efecto:hover .circle-inactive {
    color: #fff !important;
    opacity: 0.5 !important;
}

ul.progress-bar-steps {
    height: 300px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

ul.progress-bar-steps li {
    background: #A5A5A5;
    color: #fff;
    text-align: center;
    border-radius: 100px;
    width: 31px;
    height: 31px;
    position: relative;
    vertical-align: middle;
}

ul.progress-bar-steps li::after {
    content: "";
    position: absolute;
    bottom: 31px;
    left: 13px;
    background: #A5A5A5;
    width: 5px;
    height: 10vh;
}
/* ============================== */

@media(max-width: 992px){
    .seguro-para-tu .ele .dineros{
        margin-top: 0px !important;
    }
    .seguro-para-tu .ele .img-container img{
        /*height: 140px;*/
    }
}

.btn:hover, .btn:focus, .btn.focus {
    color: white !important;
    text-decoration: none;
}

.cuadro-cotizador{
    border-radius: 1px;
    height: 45px;
}

.amplia{
    color: #000;
}

.amplia2{
    color:#000000;

}
#active:hover {
    background-color: #01BEE3;
    color: #FFF;
}
#active:hover.circle-inactive {
    color : #fff !important;

}


#active:hover.item-title{
    color:#fff !important;

}

@media (max-width:1500px) {
    .fullscreen-bg {
        position: fixed;
        top: 100px;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -100;
    }

    .fullscreen-bg__video {
        position: absolute;
        top: 75%;
        left: 50%;
        width: auto;
        height: auto;
        min-width: 50%;
        min-height: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

/* INICIA AGREGADOS*/
.tool-btn-green{
    width:100%!important;
}
.navbar-right{
    margin-top:8px!important;
}
#toolBarButtonHeader{
    float:right;
}
.logoChubbHeader{
    max-height: 15px;
    margin-left:20px;
    margin-top:8px;

}
.logoAbaHeader{
    max-height: 52px;
    }

@media screen and (min-width: 554px) {
    .btn-tool-container {
    padding-left: 15px;
    padding-right: 15px;
}
}
@media screen and (max-width: 767px) and (min-width: 415px) {

}
@media screen and (max-width: 554px){
    .toolBarButtonContainer{
        position:relative;
        width:100%!important;
    }
    .logoChubbHeader{
    margin-top:0px;
    padding: 1px 0;
}
}
@media screen and (max-width: 767px) {

    #toolBarButtonHeader {
        width: 100% !important;
        border: 0px;
    }
}
@media screen and (max-width: 568px){
    #toolBarButtonHeader tr td:nth-child(1){
        width:20%!important;
    }
    #toolBarButtonHeader tr td:nth-child(2){
        width:20%!important;
    }
    #toolBarButtonHeader tr td:nth-child(3){
        width:20%!important;
    }
    #toolBarButtonHeader tr td:nth-child(4){
        width:40%!important;
    }
    .tool-btn-yellow,.tool-btn-purple,.tool-btn-red{
        width:100%!important;
    }
}

@media screen and (max-width: 414px)  {

}
@media screen and (min-width: 768px){
.login-right-panel{
        z-index: 1031;
    }
}
@media screen and (max-width: 767px){


}

.casaCotizador .fondoCasa {
    background-image: url(/cdn/assets/img/casa/ima-fondo-casa.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.pymeCotizador .fondoPyme {
    background-image: url(/cdn/assets/img/pyme/ima-fondo-pyme.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.load-bar-custom {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 6px;
  background-color: #fdba2c;
}
.load-bar-custom-2 {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #fdba2c;
}
.bar-custom {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}
.bar-custom:nth-child(1), .bar-custom-2:nth-child(1) {
  background-color: #00C0D7;
  animation: loading-custom 3s linear infinite;
}
.bar-custom:nth-child(2), .bar-custom-2:nth-child(2) {
  background-color: #fdba2c;
  animation: loading-custom 3s linear 1s infinite;
}
.bar-custom:nth-child(3), .bar-custom-2:nth-child(3) {
  background-color: #00C0D7;
  animation: loading-custom 3s linear 2s infinite;
}
@keyframes loading-custom {
    from {left: 50%; width: 0;z-index:100;}
    33.3333% {left: 0; width: 100%;z-index: 10;}
    to {left: 0; width: 100%;}
}
/* FINALIZA AGREGADOS*/




