﻿.condiciones-generales {
    padding-bottom: 0px !important;
}
.condiciones-generales .parrafo{
    text-align: justify !important;
    font-family: 'Montserrat', 'sans-serif';
    color:#000000;
    font-size: 18px;
    padding-bottom:30px;
    
}
.condiciones-generales h2{
    color: #323141; 
    font-family: 'Montserrat', 'sans-serif'; 
    font-size: 27px;    
    font-weight: bold;  
    line-height: 33px; 
    padding-bottom:30px;  
}

.condiciones-generales .bg-gray {
    background-color: #EEEEEE !important;
}
.condiciones-generales .bg-white{
    background-color: #ffffff !important;    
}
.condiciones-generales .bg-bluelight {
    background-color:#ffffff !important;
    border-left:20px solid #01bfdf !important;
    margin-left:0px !important;
    display:block !important;
}

.file-link{
    padding-bottom:10px;
    padding-top:10px;
}

.condiciones-generales .bg-purplelight {
    background-color:#ffffff !important;
    border-left:20px solid #C742F5 !important;
    margin-left:0px !important;
    display:block !important;
}

/*TABLE*/
.condiciones-generales table thead {
    color: #00C0D7;
}

@media only screen and (max-width: 991px) { /*MOBILE TABLET OR PHONE*/
    .condiciones-generales .parrafo{
        font-size: 15px;
        padding-bottom:20px;  
    }
    .condiciones-generales h2{
        font-size: 25px; 
        padding-bottom:20px;  
    }
    .condiciones-generales .barraInicial { 
        padding-top: 130px;
        padding-bottom: 40px;
        padding-left:10px;
    }
    .condiciones-generales .barraInicialTxt2 {
        font-size: 35px;    
        font-weight: 600;  
        line-height: 35px;
    }

    .condiciones-generales ul.submenu li {
        text-align: center;
        display: block;
        padding: 0px;
        padding-bottom: 5px;
        padding-top:5px;
        border: none !important;
        border-bottom: solid 1px #C1C1C1 !important;
    }
    .condiciones-generales .beneficios-aba, .condiciones-generales .submenu{
        padding:10px;
    }

    .condiciones-generales .tdRamo {
       display:none;
    }


}