﻿.loginSection {
    border-radius: 0px !important;
    background-color: #ebeceb;
    color:#000000 !important;
    padding-left:15px !important;
    /*width:220px !important;*/
}
.loginSection div.close{
   color:#00c0d7;
   padding-top: 0px !important;
   height:20px;
}
.loginSectionOption{
    margin: 1px 0 ;
    font-size: 12px;
    color:#000000 !important;
}
.loginSectionOption a{
    text-decoration: none !important;
    color:#7f8284 !important;
    font-weight:800;
    font-size:12px;
}
.loginSectiontitle{
    color: #323141; 
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 19px;
    font-weight: bold;
}
.loginSectionli{
    color:#323141 !important;
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 16px;
    vertical-align:middle;
    margin-top: 5px;
    padding-left:5px !important;
}
.loginSection .loginSectionOption:nth-child(3){
    padding-top:5px;
}
.loginSectionOption:nth-last-child(1){
    padding-bottom:10px !important;
}
/*.loginSectionIcon{
    padding-top:5px;
}*/
.green{
    color:#78c143;
}
.purple{
    color:#65499d;
}
.yellow{
    color:#ffb819;
}
.red{
    color:#ec3b3d;
}
.bgcolor-aba{
    background-color:#00C0D7;
}
.servicioexpressSection{
    color:#FFFFFF !important;
    padding: 3px 3px 3px 15px;
    /*width:220px !important;*/
}
.servicioexpresstitle{
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 19px;
    font-weight: bold;
}
.servicioexpresssubtitle{
    font-size:12px;
    margin-top:3px !important;
    padding-right:10px !important;
}

.servicioexpressli{
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 16px;
    vertical-align:middle;
    margin-top: 5px;
    padding-left:5px !important;
}
.servicioexpressOption a{
    text-decoration: none !important;
    color:#FFFFFF !important;
    font-size:12px;
    font-weight:800;
}
/*.servicioexpressicon{
    padding-top:5px;
}*/
.servicioexpressicon img{
    height:20px;padding-top:5px;
}
.loginSectionIcon img{
    height:20px;padding-top:5px;
}
.btn-slim{
    padding-bottom: 8px !important;
    padding-top: 8px !important;
}

.fondoMain {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('/cdn/assets/img/mainbg.jpg');
    height:100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
