﻿/*@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: url("../../fonts/Montserrat/Montserrat-Thin.ttf");
}*/
@font-face {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 300;
    src: url("../../fonts/Montserrat/Montserrat-Light.ttf");
     src: local('Montserrat Light'), 
         local('Montserrat-Light'), 
         url("../../fonts/Montserrat/Montserrat-Light.ttf") format('truetype');
}
 @font-face {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 400;
     src: url("../../fonts/Montserrat/Montserrat-Regular.ttf");
     src: local('Montserrat Regular'),
          local('Montserrat-Regular'),
          url("../../fonts/Montserrat/Montserrat-Regular.ttf") format('truetype');
}
 @font-face {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 500;
     src: url("../../fonts/Montserrat/Montserrat-Medium.ttf");
     src: local('Montserrat Medium'),
          local('Montserrat-Medium'),
          url("../../fonts/Montserrat/Montserrat-Medium.ttf") format('truetype');
}
 @font-face {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 600;
    src: url("../../fonts/Montserrat/Montserrat-SemiBold.ttf");
     src: local('Montserrat SemiBold'),
          local('Montserrat-SemiBold'),
          url("../../fonts/Montserrat/Montserrat-SemiBold.ttf") format('truetype');
}
 @font-face {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 700;
    src: url("../../fonts/Montserrat/Montserrat-Bold.ttf");
     src: local('Montserrat Bold'),
          local('Montserrat-Bold'),
          url("../../fonts/Montserrat/Montserrat-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style:normal;
    font-weight: 800;
    src: url("/cdn/fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: 'Montserrat';
    font-style:normal;
    font-weight: bold;
    src: url("../../fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    src: url("../../fonts/Merriweather/Merriweather-Light.ttf");
    src: local('Merriweather'),
        local('Merriweather-Light'),
        url("../../fonts/Merriweather/Merriweather-Light.ttf") format("truetype")
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url("../../fonts/Merriweather/Merriweather-Regular.ttf");
    src: local('Merriweather'),
        local('Merriweather-Regular'),
        url("../../fonts/Merriweather/Merriweather-Regular.ttf") format("truetype")
}

/*@font-face {
    font-family: 'NunitoSans';
    font-style: normal;
    font-weight: 400;
    src: url("../../fonts/Nunito_Sans/NunitoSans-Regular.ttf");
    src: local('NunitoSans'),
        local('NunitoSans-Regular'),
        url("../../fonts/Nunito_Sans/NunitoSans-Regular.ttf") format("truetype")
}

@font-face {
    font-family: 'NunitoSans';
    font-style: normal;
    font-weight: bold;
    src: url("../../fonts/Nunito_Sans/NunitoSans-Bold.ttf");
    src: local('NunitoSans'),
        local('NunitoSans-Bold'),
        url("../../fonts/Nunito_Sans/NunitoSans-Bold.ttf") format("truetype")
}



@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url("../../fonts/Montserrat/Montserrat-Regular.ttf");
    src: local('Montserrat'),
        local('Montserrat-Regular'),
        url("../../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype")
}

@font-face {
    font-family: 'Montserrat';
    font-style: medium;
    font-weight: 500;
    src: url("../../fonts/Montserrat/Montserrat-Medium.ttf");
    src: local('Montserrat'),
        local('Montserrat-Medium'),
        url("../../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype")
}

@font-face {
    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 700;
    src: url("../../fonts/Montserrat/Montserrat-Bold.ttf");
    src: local('Montserrat'),
        local('Montserrat-Bold'),
        url("../../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype")
}

@font-face {
    font-family: 'Montserrat';
    font-style: extra-bold;
    font-weight: bolder;
    src: url("../../fonts/Montserrat/Montserrat-ExtraBold.ttf");
    src: local('Montserrat'),
        local('Montserrat-ExtraBold'),
        url("../../fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype")
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url("../../fonts/Merriweather/Merriweather-Regular.ttf");
    src: local('Merriweather'),
        local('Merriweather-Regular'),
        url("../../fonts/Merriweather/Merriweather-Regular.ttf") format("truetype")
}

@font-face {
    font-family: 'Merriweather';
    font-style: bold;
    font-weight: bold;
    src: url("../../fonts/Merriweather/Merriweather-Bold.ttf");
    src: local('Merriweather'),
        local('Merriweather-Bold'),
        url("../../fonts/Merriweather/Merriweather-Bold.ttf") format("truetype")
}




*/

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
    src: url('../../fonts/Source_Sans_Pro/SourceSansPro-Light.woff');
  src: local('Source Sans Pro Light'),
  local('SourceSansPro-Light'),
  url('../../fonts/Source_Sans_Pro/SourceSansPro-Light.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
    src: url('../../fonts/Source_Sans_Pro/SourceSansPro-Regular.woff');
  src: local('Source Sans Pro Regular'),
  local('SourceSansPro-Regular'),
  url('../../fonts/Source_Sans_Pro/SourceSansPro-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
    src: url('../../fonts/Source_Sans_Pro/SourceSansPro-Bold.woff');
  src: local('Source Sans Pro Bold'),
  local('SourceSansPro-Bold'),
  url('../../fonts/Source_Sans_Pro/SourceSansPro-Bold.woff') format('woff');
}
