﻿.aba-page-header {
    background-color: #4A4F53;
    color: #ffffff;
}

.lnk-header {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    font-weight: normal;
    color: #ffffff;
    font-size: 14px;
}

.lnk-header {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
    color: #ffffff;
    font-size: 12px;
}