﻿.quienes-somos {
    padding-bottom: 0px !important;
}
.quienes-somos .parrafo{
    text-align: justify !important;
    font-family: 'Montserrat', 'sans-serif';
    color:#000000;
    font-size: 18px;
    padding-bottom:30px;
    
}
.quienes-somos h2{
    color: #323141; 
    font-family: 'Montserrat', 'sans-serif'; 
    font-size: 27px;    
    font-weight: bold;  
    line-height: 33px; 
    padding-bottom:30px;  
}

.quienes-somos .bg-gray {
    background-color: #EEEEEE !important;
}
.quienes-somos .bg-white{
    background-color: #ffffff !important;    
}
.quienes-somos .bg-bluelight {
    background-color:#ffffff !important;
    border-left:20px solid #01bfdf !important;
    margin-left:0px !important;
    display:block !important;
}

.file-link, .file-link a, .file-link a:hover{
    padding-bottom:10px;
    padding-top:10px;
    color:#00C0D7;
}

.quienes-somos .bg-purplelight {
    background-color:#ffffff !important;
    border-left:20px solid #C742F5 !important;
    margin-left:0px !important;
    display:block !important;
}

/*CAROUSEL*/
.quienes-somos .jcarousel-wrapper {
    margin:0px;
    padding:50px;
    border:0px !important;
    -webkit-box-shadow:none !important;
    background-color:#ffffff;
    height:300px;
}
.quienes-somos .jcarousel li{
        background-color: #00BFFF;
        border: none;
        color: #ffffff;
        height:200px;
        width:200px;
        padding: 10px;
        margin-right:10px;
} 
.quienes-somos .jcarousel li h1{
        color: #ffffff;
        text-align:center;
        font-size:40px;
}
.quienes-somos .jcarousel li label{
        color: #ffffff;
        text-align:center;
        font-size:16px;
        font-weight:100;
}

.quienes-somos .jcarousel-control-prev,
.quienes-somos .jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: none;
    color: #00BFFF;
    text-decoration: none;
    text-shadow: none;
    -webkit-border-radius: unset;
    -moz-border-radius: unset;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size:40px;
    font-weight:100;
}

@media only screen and (max-width: 991px) { /*MOBILE TABLET OR PHONE*/
    .quienes-somos .parrafo{
        font-size: 15px;
        padding-bottom:20px;  
    }
    .quienes-somos h2{
        font-size: 25px; 
        padding-bottom:20px;  
    }
    .quienes-somos .barraInicial { 
        padding-top: 130px;
        padding-bottom: 40px;
        padding-left:10px;
    }
    .quienes-somos .barraInicialTxt2 {
        font-size: 35px;    
        font-weight: 600;  
        line-height: 35px;
    }

    .quienes-somos ul.submenu li {
        text-align: center;
        display: block;
        padding: 0px;
        padding-bottom: 5px;
        padding-top:5px;
        border: none !important;
        border-bottom: solid 1px #C1C1C1 !important;
    }
    .quienes-somos .beneficios-aba, .quienes-somos .submenu{
        padding:10px;
    }


}