﻿@model List<PortalABA.Servicios.Modelos.EncuestaModelo>
@{
    var clave = "";
    var pregunta = "";
    var respuestas = new List<string>() { };
    var number = 1;
}
@section Scripts{
    <script src="~/cdn/aplicacion/Encuesta.js"></script>
}

@if (Model == null)
{
    <br /><br /><br /><br />
    var pre = System.Configuration.ConfigurationManager.AppSettings["MsgError"];
    @Html.Label("labelError", pre, new { @class = "lblErrorMsg" });
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
}
else if (Model.Count == 0)
{
    <br /><br /><br /><br />
    var pre = System.Configuration.ConfigurationManager.AppSettings["MsgError"];
    @Html.Label("labelError", pre, new { @class = "lblErrorMsg" });
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
}
else
{
    if (Model.Count > 1)
    {
        foreach (var item in Model)
        {
            <div></div>
            <label>@number .  @item.pregunta</label><br />
            if (item.respuestas.Count == 4)
            {
                <label>&nbsp;&nbsp;</label>
            }
            foreach (var respuesta in item.respuestas)
            {
                var chckClass = "img" + respuesta.Trim() + "-Gris";
                var imgName = item.clave.Trim() + "-" + respuesta.TrimEnd();
                var imgId = imgName + "-img";

                if (item.respuestas.Count <= 2)
                {
                    @Html.RadioButton(item.clave.TrimEnd(), true, false, new { id = item.clave.Trim() + "-" + respuesta.TrimEnd(), @class = "checkEncuesta", @style = "visibility: hidden;" })
                    <img id="@imgId" name="@imgName" class="imgCheck @chckClass" style="width:25px; height:25px" />
                    @Html.Label(respuesta.Trim(), new { @style = "font-size:14px;" })
                    if (respuesta.Trim() == "SI" || respuesta.Trim() == "NO")
                    {
                        <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    }
                    else
                    {

                        <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    }
                }
                else if (item.respuestas.Count == 4)
                {
                    @Html.RadioButton(item.clave.TrimEnd(), true, false, new { id = item.clave.Trim() + "-" + respuesta.TrimEnd(), @class = "checkEncuesta", @style = "visibility: hidden; width:0px;" })
                    <img id="@imgId" name="@imgName" class="imgCheck @chckClass" style="width:25px; height:25px" />
                    @Html.Label(respuesta.Trim(), new { @style = "font-size:14px;" })
                    <label>&nbsp;</label>
                }
                else
                {
                    if (respuesta != "0")
                    {
                        @Html.RadioButton(item.clave.Trim(), true, false, new { id = item.clave.Trim() + "-" + respuesta.Trim(), @class = "checkEncuesta" })
                        @Html.Label(respuesta.Trim(), new { @style = "font-size:14px;" })
                        <label>&nbsp; &nbsp;</label>
                    }
                }

            }
            <br /><br />
            number = number + 1;
        }
        <br /><br /><br /><br />
        <div style="padding-bottom:20px; padding-left:200px;padding-right:200px;">
            <button class="btnEncuestaInactivo" id="btnEnvioEncuesta" disabled="disabled"></button>
        </div>
    }
    else
    {
        <br /><br /><br /><br />
        var pre = Model[0].pregunta;
        @Html.Label("labelError", pre, new { @class = "lblErrorMsg" });
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    }
}