﻿@model PortalABA.UI.Models.FormularioPagoModel
    ﻿@{
    bool PagoHabilitado = true;
    DateTime CurrentDate = DateTime.Now;
    DateTime Inicio = Convert.ToDateTime(System.Configuration.ConfigurationManager.AppSettings["InhabilitaPago_Inicio"].ToString());
    DateTime Fin = Convert.ToDateTime(System.Configuration.ConfigurationManager.AppSettings["InhabilitaPago_Fin"].ToString());
    if (CurrentDate >= Inicio && CurrentDate <= Fin) { PagoHabilitado = false; }
    }
    <div id="pnlFormularioPago" style="padding-top: 120px;">
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <div class="row">
                    <div class="col-md-1 hidden-xs" style="margin-top: 150px;">
                        <div class="row" style="text-align:center">
                            <span class="circleStep">
                                1
                            </span>
                            <div class="labelStep active">
                                <span>Selecciona tu paquete</span>
                            </div>
                        </div>
                        <div class="row dashed">
                        </div>
                        <div class="row" style="text-align:center">
                            <span class="circleStep">
                                2
                            </span>
                            <div class="labelStep">
                                <span>Ingresa tus datos</span>
                            </div>
                        </div>

                        <div class="row dashed">
                        </div>
                        <div class="row" style="text-align:center">
                            <span class="circleStep active">
                                3
                            </span>
                            <div class="labelStep">
                                <span>Paga tu seguro</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-11 col-xs-12">
                        <div>
                            <div style="padding-left: 10px; padding-right: 10px;">
                                <div class="row">
                                    <div class="col-md-12 col-xs-12">
                                        <div style="padding-bottom: 40px;">
                                            <h1 style="margin-bottom: 0px;font-family: 'Source Sans Pro';margin-top: 5px;font-size: 50px;font-weight: bold;">3. Paga tu seguro</h1>
                                            <div style="font-family: 'Georgia'">Estás a un paso de contratar tu p&oacute;liza ¡Confirma tu pago!</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-xs-12">
                                @Html.Partial("PanelDatosPago_", Model)
                            </div>
                            <div class="col-md-4 col-xs-12">
                                @Html.Partial("PanelBotonPago_", Model)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form id="frmDatosPagoPoliza">
        @Html.HiddenFor(x => x.PolizaId)
        @Html.HiddenFor(x => x.ClavePoliza)
        @Html.HiddenFor(x => x.AseguradoId)
        @Html.Hidden("datosPersonales", (string)ViewBag.datosPersonales)
    </form>
    <form id="frmDatosConfirmacionPoliza">
        @Html.HiddenFor(x => x.NumeroPolizaFormato)
        @Html.HiddenFor(x => x.MontoPrimerPagoFormato)
        @Html.HiddenFor(x => x.FechaVigenciaFormato)
        @Html.HiddenFor(x => x.Nombre)
        @Html.HiddenFor(x => x.CorreoElectronico)
    </form>
    @if (!PagoHabilitado)
    {

        <div id="modalLlamamos" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="font-size: 20px; font-family: 'Source Sans Pro'; font-weight: bold;">Deja tus datos para contactarte.</h4>
                    </div>
                    <div class="modal-body">
                        <div name="divOculta">
                            <div class="form-group" id="containerNombreCotizacion">
                                <label id="lblNombre">Nombre: </label>
                                <input type="text" maxlength="180" id="txtNombreContactar" name="txtNombreContactar" placeholder="" class="form-control" required="required">
                                <div class="alert-warning" style="padding:3px;margin-top:5px;" id="lblErrorNombreContactar">
                                    <small>Es necesario que indique su nombre</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Correo electrónico</label>
                                <input type="text" maxlength="180" id="txtCorreoElectronicoContactar" name="txtCorreoElectronicoContactar" placeholder="" class="form-control" required="required">
                                <div class="alert-warning" style="padding:3px;margin-top:5px;display:none;" id="lblErrorCorreoContactar">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Teléfono celular</label>
                                <input type="text" maxlength="10" id="txtTelefonoContactar" name="txtTelefonoContactar" placeholder="" class="form-control" required="required">
                                <div class="alert-warning" style="padding:3px;margin-top:5px;display:none;" id="lblErrorTelefonoContactar">
                                    <small>Es necesario que indique su teléfono celular</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Teléfono de casa</label>
                                <input type="text" maxlength="10" id="txtTelefonoFijo" name="txtTelefonoFijo" class="form-control" placeholder="Opcional">
                                <div class="alert-warning" style="padding:3px;margin-top:5px;display:none;" id="lblErrorTelefonoFijo">
                                    <small>Es necesario que indique un teléfono de casa válido(10 digitos).</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="alert-warning" style="padding:3px;margin-top:5px;display:none;" id="lblLeadGenErrorProceso">
                                    <small>Ocurrió un error.</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="containerMessageSent" style="display:none;">
                            <div class="bigStepTitle">Tus datos se enviaron correctamente, pronto nos pondremos en contacto.</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div name="divOculta">
                            <div class="col-xs-2 col-xs-offset-6">
                                <button class="btn btn-default btn-block btn-pagar" id="btnEnviarDatos">Aceptar</button>
                            </div>
                            <div class="col-xs-3 col-xs-offset-1">
                                <button type="button" class="btn btn-default btn-block btn-atras" data-dismiss="modal" id="btnCancelar">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @section Scripts
{
        <script type="text/javascript" src="~/cdn/aplicacion/cotizador-formulario-pago.js"></script>

        <script type="text/javascript" nonce="YWJhLmNodWJiLmNvbQ==">

            var teLlamamos = function () {
                var isValid = true;
                if (!($("#txtNombreContactar").val().length > 0)) {
                    isValid = false;
                    $("#containerNombreCotizacion").addClass("has-warning");
                    $("#lblErrorNombreContactar").slideDown();
                }
                if (!($("#txtTelefonoContactar").val().length > 0)) {
                    isValid = false;
                    $("#txtTelefonoContactar").addClass("has-warning");
                    $("#lblErrorTelefonoContactar").slideDown();
                } else if (!($("#txtTelefonoContactar").val().length == 10)) {

                    isValid = false;
                    $("#txtTelefonoContactar").addClass("has-warning");
                    $("#lblErrorTelefonoContactar").slideDown();
                }

                if (!($("#txtCorreoElectronicoContactar").val().length > 0)) {
                    isValid = false;
                    $("#txtCorreoElectronicoContactar").addClass("has-warning");
                    $("#lblErrorCorreoContactar").html('<small>Es necesario que indique su correo electr&oacute;nico</small>')
                    $("#lblErrorCorreoContactar").show();
                }
                else {
                    if (!utils.IsValidEmailAddress($("#txtCorreoElectronicoContactar").val())) {
                        $("#txtCorreoElectronicoContactar").addClass("has-warning");
                        $("#lblErrorCorreoContactar").html('<small>Direcci&oacute;n de correo inv&aacute;lida. Por favor verifique.</small>')
                        $("#lblErrorCorreoContactar").show();
                        isValid = false;
                    }
                }
                if (($("#txtTelefonoFijo").val().length > 0)) {
                    if (!($("#txtTelefonoFijo").val().length == 10)) {

                        isValid = false;
                        $("#txtTelefonoFijo").addClass("has-warning");
                        $("#lblErrorTelefonoFijo").slideDown();
                    }
                } else {
                    $("#lblErrorTelefonoFijo").slideUp();
                }

                if (isValid) {

                    var retrievedObject = localStorage.getItem('AutoInfoProspecto');
                    var JSONInfoProspecto = JSON.parse(retrievedObject);
                    $.ajax({
                        url: webSiteRoot + "ServiciosExpress/LlamadaLeadGen",
                        method: 'POST',
                        data: {
                            NombreCompleto: $("#txtNombreContactar").val(),
                            Email: $("#txtCorreoElectronicoContactar").val(),
                            TelefonoCompletoCelular: $("#txtTelefonoContactar").val(),
                            TelefonoCompletoCasa: $("#txtTelefonoFijo").val() == null ? "" : $("#txtTelefonoFijo").val(),
                            Origen: "AutoCotizador",
                            Producto: JSONInfoProspecto.Producto,
                            PaqueteSeleccionado: JSONInfoProspecto.PaqueteSeleccionado,
                            FormaPago: JSONInfoProspecto.FormaPago,
                            MontoPaquete: JSONInfoProspecto.MontoPaquete,
                            PerfilCliente: JSONInfoProspecto.PerfilCliente,
                            TipoMotivoLlamada: JSONInfoProspecto.TipoMotivoLlamada,
                            Modelo: JSONInfoProspecto.Modelo,
                            Marca: JSONInfoProspecto.Marca,
                            Vehiculo: JSONInfoProspecto.Vehiculo,
                            Municipio: JSONInfoProspecto.Municipio,
                            Estado: JSONInfoProspecto.Estado
                        },
                        beforeSend: function () {
                            $('#Lightbox').find('#spinnerLight').contents()[2].nodeValue = 'Espere un momento ...';
                            $('#Lightbox').show();
                            $('#lblLeadGenErrorProceso').hide();
                        },
                        complete: function () {
                            $('#Lightbox').hide();
                        },
                        success: function (response) {
                            if (response.Response) {
                                $('#modalLlamamos').modal('hide');
                            } else {
                                $('#lblLeadGenErrorProceso').show();
                            }
                        }
                    });
                }
            };
            $(document).ready(function () {

                $('#modalLlamamos').on('shown.bs.modal', function () {
                    $('#modalLlamamos').find('.has-warning').removeClass("has-warning");
                    $('#modalLlamamos').find('.alert-warning').slideUp();
                });
                $('#modalLlamamos').on('hidden.bs.modal', function () {
                    $('#modalLlamamos').find('.has-warning').removeClass("has-warning");
                    $('#modalLlamamos').find('.alert-warning').slideUp();
                    $('#txtNombreContactar').val('');
                    $('#txtCorreoElectronicoContactar').val('');
                    $('#txtTelefonoContactar').val('');
                    $('#txtTelefonoFijo').val('');
                });

                $('#btnEnviarDatos').click(function () {
                    teLlamamos();
                });
            });

        </script>
    }