﻿
@{

    Layout = "~/Views/Shared/metroCHUBB.cshtml";
}

<div id="pnlConfirmacionPoliza" class="">
    <div class="row" style="padding-bottom: 20px">
        <div class="col-xs-12 col-md-8 col-md-offset-1">
            <div style="padding-bottom: 15px;">
                <div style="padding-left: 10px; padding-right: 10px;">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="bigStepTitle">Generando impresi&oacute;n de p&oacute;liza</div>
                            <div class="numeroPoliza">Por favor espere 
                                <img src="~/cdn/assets/img/ajax-loader.gif" /></div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

      
    </div>
</div>


@section Styles
{
    <link href="~/cdn/css/pages/casa/casa.css" rel="stylesheet" />
}


