﻿@Html.Partial("~/Views/AutoCotizador/FormularioCotizador_.cshtml", true)

@section MetaTags{
    <title>ABA Chubb | Cotiza tu Seguro de Auto</title>
    <meta name="description" content="Cotiza tu seguro de auto en línea y selecciona el paquete de seguro que más te convenga. Conoce todos los beneficios que ABA Auto Seguro te ofrece." />
    <meta name="keywords" content="cotizar seguro de auto, contratar seguro de auto, cotizador de seguros de auto, cotizar seguro de automovil, contratar seguro de automovil, cotizar seguros de autos, cotizar aba auto seguro, cotizar seguro auto, cotizar auto seguro" />
}
@section Styles{
    <style>
        .labelBlanco {
            font-family: "Source Sans Pro";
            font-size: 11px;
            font-weight: bold;
            line-height: 16px;
            text-align: center;
            display: inline-block;
            margin-top: 10px;
            width: 40%;
        }

        .images {
            text-align: center;
            margin-top: 30px;
        }

        .imageIcon {
            height: 50px;
        }
    </style>
}
@section Scripts{
    <script type="text/javascript" nonce="YWJhLmNodWJiLmNvbQ==">
        $(document).ready(function () {
            var utils = new Utils();
            var getArchivoNombreUri = '@Url.Action("GetArchivoNotaTecnica", "CondicionesGenerales")';

            $.get(getArchivoNombreUri, { ramo: 'Autos', nota: 'Autos y Camiones Residentes' }, function (response) {
                var fileName = response.Archivo;
                //callback(fileName);

                var url = '@Url.Content("~/cdn/docs/")' + fileName;

                $('#CondicionesLink').attr('href', url);
            });
        });
    </script>
}