﻿@model PortalABA.UI.Models.CotizacionModel

<div id="panelSelectorCotizador">
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <div style="padding-left: 15px; padding-top: 8px; padding-bottom: 20px; text-align:center" class="hidden-xs">
                <a href="#" id="btnMostrarTodasComparativas" class="" style="color: #00C0D7;text-decoration: underline;font-family: 'Source Sans Pro';text-transform: uppercase;font-weight: normal;font-size: 15px;">Comparar Todas Las Coberturas</a>
            </div>

            <div id="seleccionCoberturasStack" style="padding-bottom: 10px;">
                <div style="padding-top: 10px;">
                    <i class="fa fa-cog fa-spin fa-3x fa-fw" style="font-size: 13px;"></i>&nbsp;<span style="font-size: 12px; font-weight: bold;">Cargando paquetes...</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            @Html.Partial("PanelSeleccionPaquete_")
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-xs-12">
            <div style="padding-left: 15px; padding-top: 8px; padding-bottom: 20px; text-align:center">
                <a href="#" id="btnMostrarComparativas" style="color: #00C0D7;text-decoration: underline;font-family: 'Source Sans Pro';text-transform: uppercase;font-weight: normal;font-size: 15px;" >Comparar Coberturas</a>
            </div>
        </div>
    </div>
</div>

@section Script{
    
<script src="~/cdn/js/gtag/SelectorCotizador.js"></script>
    }