﻿@model PortalABA.Servicios.Modelos.TablaComparativa

<table class="table table-striped table-bordered table-condensed tabla-comparativa">
    <thead>
        <tr>
            <td>&nbsp;</td>

            <td colspan="2">
                <div class="comparativa-header">
                    @if (Model.Paquete1.PaquetePreferente)
                    {
                        <span class="fa fa-star opcion-recomendada-star" style="font-size: 18px;"></span>
                    }@Model.Paquete1.DescripcionPaquete
                </div>
                @if (Model.Paquete1.PaquetePreferente)
                {
                    <div style="font-size: 11px;">El 92% de nuestros clientes compra esta p&oacute;liza</div>
                }
            </td>

            <td colspan="2">
                <div class="comparativa-header">
                    @if (Model.Paquete2.PaquetePreferente)
                    {
                        <span class="fa fa-star opcion-recomendada-star" style="font-size: 18px;"></span>
                    } @Model.Paquete2.DescripcionPaquete
                </div>
                @if (Model.Paquete2.PaquetePreferente)
                {
                    <div style="font-size: 11px;">El 92% de nuestros clientes compra esta p&oacute;liza</div>
                }
            </td>

            <td colspan="2">
                <div class="comparativa-header">
                    @if (Model.Paquete3.PaquetePreferente)
                    {
                        <span class="fa fa-star opcion-recomendada-star" style="font-size: 18px;"></span>
                    }@Model.Paquete3.DescripcionPaquete
                </div>
                @if (Model.Paquete3.PaquetePreferente)
                {
                    <div style="font-size: 11px;">El 92% de nuestros clientes compra esta p&oacute;liza</div>
                }
            </td>

            <td colspan="2">
                <div class="comparativa-header">
                    @if (Model.Paquete4.PaquetePreferente)
                    {
                        <span class="fa fa-star opcion-recomendada-star" style="font-size: 18px;"></span>
                    }@Model.Paquete4.DescripcionPaquete
                </div>
                @if (Model.Paquete4.PaquetePreferente)
                {
                    <div style="font-size: 11px;">El 92% de nuestros clientes compra esta p&oacute;liza</div>
                }
            </td>

        </tr>
        <tr>
            <th>
                <div>Coberturas</div>
            </th>
            <th>
                <div style="width: 100px;">SA</div>
            </th>
            <th>
                <div style="width: 80px;">Deducible</div>
            </th>
            <th>
                <div style="width: 100px;">SA</div>
            </th>
            <th>
                <div style="width: 80px;">Deducible</div>
            </th>
            <th>
                <div style="width: 100px;">SA</div>
            </th>
            <th>
                <div style="width: 80px;">Deducible</div>
            </th>
            <th>
                <div style="width: 100px;">SA</div>
            </th>
            <th>
                <div style="width: 80px;">Deducible</div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fila in Model.Filas)
        {
            <tr>
                <td>
                    @fila.DescripcionCobertura
                </td>
                <td>@fila.Paquete1.SumaAsegurada</td>
                <td>@fila.Paquete1.Deducible</td>
                <td>@fila.Paquete2.SumaAsegurada</td>
                <td>@fila.Paquete2.Deducible</td>
                <td>@fila.Paquete3.SumaAsegurada</td>
                <td>@fila.Paquete3.Deducible</td>
                <td>@fila.Paquete4.SumaAsegurada</td>
                <td>@fila.Paquete4.Deducible</td>
            </tr>
        }
    </tbody>
</table>