﻿
@section MetaTags{
<title>ABA Chubb | Consulta tu Factura</title>
<meta name="description" content="Consulta tu factura en línea, solo necesitas tener a la mano tu número de póliza, tu número de asegurado y el inciso." />
<meta name="keywords" content="consultar factura, consultar factura aba, aba consultar factura, aba facturacion, facturacion aba, facturas aba" />
}
    @section Styles {
        <link href="~/cdn/css/pages/consulta_factura.css" rel="stylesheet" />
        <link href="~/cdn/css/pages/consulta_factura-responsive.css" rel="stylesheet" />
    }

@section Scripts {
    <script src="~/cdn/js/pages/consulta_factura.js"></script>
<script src="~/cdn/js/gtagKwanko/ConsultaFactura.js"></script>
}
<div id="pagoPolizaContainer" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row" id="consultaWindow">
        <div id="panelPago" class="col-lg-4 col-md-6 col-lg-offset-4 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1>Consulta tu <br/> Factura</h1>
                @*<h4>No hagas filas, paga tu deducible por Internet.</h4>*@
            </div>
            <div id="firstStep" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-margin">
                <form id="frmFormularioConsulta" action="~/ServiciosExpress/ConsultaFacturaResultado" method="post">
                @Html.AntiForgeryToken()
                <div class="col-lg-12 col-sm-12 col-xs-12" id="lblErrores" style="display:none;">
                    <div class="alert-warning">
                        <small>Es necesario que indique el N&uacute;mero de Asegurado.</small>
                    </div>
                </div>
                <div class="form-group col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 input-margin">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="text"  maxlength="10" id="siniestro" name="Poliza" placeholder="NÚMERO DE PÓLIZA" class="form-control input-color" />
                        <div class="alert-warning" style="padding:3px;margin-top:5px;display:none;" id="lblErrorNumSiniestro">
                            <small>Es necesario que indique el N&uacute;mero de P&oacute;liza.</small>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <a href="#" data-toggle="modal" data-target="#ModalAyudaPoliza">
                            <i class="fa fa-2x fa-question-circle fa-color"></i>
                        </a>
                    </div>
                </div>
                <div class="form-group col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 input-margin">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="text" maxlength="8" id="clave" name="AseguradoId" placeholder="NÚMERO DE ASEGURADO" class="form-control input-color" />
                        <div class="alert-warning" style="padding:3px;margin-top:5px;display:none;" id="lblErrorAsegurado">
                            <small>Es necesario que indique el N&uacute;mero de Asegurado.</small>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <a href="#" data-toggle="modal" data-target="#ModalAyudaAsegurado">
                            <i class="fa fa-2x fa-question-circle fa-color"></i>
                        </a>
                    </div>
                </div>
                <div class="form-group col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 input-margin">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="text" maxlength="6" id="inciso" name="Inciso" placeholder="INCISO" class="form-control input-color" />
                        <div class="alert-warning" style="padding:3px;margin-top:5px;display:none;" id="lblErrorInciso">
                            <small>Es necesario que indique el Inciso de su P&oacute;liza.</small>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <a href="#" data-toggle="modal" data-target="#ModalAyudaInciso">
                            <i class="fa fa-2x fa-question-circle fa-color"></i>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                    <div class="form-group col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="col-lg-12 col-md-12 col-sm-10 col-xs-10">
                            <button class="btn btn-lg btn-invoice-pay" id="consultaPoliza">BUSCAR FACTURA<i style="display:none;" class="fa fa-cog fa-spin"></i></button>
                            <div class="alert-warning" style="padding:3px;margin-top:5px;display:none;" id="lblErrorConsulta">

                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-md-12">
                    <p>Si no cuentas con el N&uacute;mero de P&oacute;liza, N&uacute;mero de Asegurado o Inciso</p>
                    <p>Por favor comun&iacute;cate al <a href="tel:018007122828"><b>01 800 712 2828</b></a></p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="embedContainer"></div>
</div>
@Html.Partial("~/Views/Contenidos/_ServicioExpressModales.cshtml")
@*@Html.Partial("~/Views/ServiciosExpress/ConsultaPolizaResultado_.cshtml")*@