﻿@model PortalABA.Servicios.Modelos.ConsultaFacturaResponseModelo
@section Styles {
    <link href="~/cdn/css/pages/consulta_poliza.css" rel="stylesheet" />
    <link href="~/cdn/css/pages/consulta_poliza-responsive.css" rel="stylesheet" />
<link href="~/cdn/css/pages/contacto.css" rel="stylesheet" />
<link href="~/cdn/css/pages/contacto-responsive.css" rel="stylesheet" />
}
@if (Model.Valido == 1)
{
    using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formSolicitud" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.FacturaImpresion.Info)
        @Html.HiddenFor(x => x.FacturaImpresion.Email)
        @Html.HiddenFor(x => x.FacturaImpresion.TipoDescarga)
    }
    <div class="localizador-oficinas">
        <!--HEADER-->
        <div class="row">
            <div class="col-md-12 col-xs-12 barraInicial">
                <div class="col-md-offset-1 col-md-11 col-xs-12 barraInicialTxt1">
                    @*<strong style="text-transform:capitalize;">¿No sabes cuando pagar?</strong>*@
                </div>
                <div class="col-md-offset-1 col-md-11 col-xs-12 barraInicialTxt2">
                    <p>Consulta tu Factura</p>
                </div>
                <div class="col-md-offset-1 col-md-11 col-xs-12 barraInicialTxt3">
                    
                </div>
            </div>
        </div>
    </div>
    <div style="background-color:#eeeeee;">
        <div id="general" class="row" style="padding:20px 0;">
            <div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-1 benefitsPadding" style="border-left:solid 5px #FF6400;">
                <p class="benefitsTitle">P&oacute;liza:</p>
                <p class="benefitsSubTitle">@Model.Poliza</p>
            </div>
            <div class="col-xs-12 hidden-md hidden-lg">&nbsp;</div>
            <div class="col-xs-10 col-xs-offset-1 col-md-3 benefitsPadding" style="border-left:solid 5px #ffb407;">
                <p class="benefitsTitle">Asegurado</p>
                <p class="benefitsSubTitle">@Model.AseguradoId</p>
            </div>
            <div class="col-xs-12 hidden-md hidden-lg">&nbsp;</div>
            <div class="col-xs-10 col-xs-offset-1 col-md-3 benefitsPadding" style="border-left:solid 5px #c234fd;">
                <p class="benefitsTitle">Inciso</p>
                <p class="benefitsSubTitle">@Model.Inciso</p>
            </div>
        </div>

    </div>
    <div id="pagos" class="form-footer-margin" style="background-color:#eeeeee !important;">
        <div class="row">
    @if (Model.Valido == 0)
    {
        <div class="alert alert-danger" role="alert">
            <h4>Ocurri&oacute; un error</h4>
            <p>@Model.Mensaje</p>
        </div>
    }
    else if (Model.Factura.Count == 0)
    {
        <div class="alert alert-danger" role="alert">
            No Existen Facturas
        </div>
    }
    else
    {
        <div class="table-responsive" style="background-color: transparent !important; padding: 35px;">
            <table class="table" cellspacing="0" cellpadding="0" style="color: black; background-color: transparent !important; border: none; border-color: transparent !important;">
                <thead style="text-transform: capitalize; color: #00C0D7; font-family: Montserrat; font-size: 16px; font-weight: 500; line-height: 23px; text-align: center;">
                    <tr>
                        <th>Concepto</th>
                        <th>Estatus</th>
                        <th>Fecha</th>
                        <th>Monto</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody style="color: #323141; font-family: Merriweather; font-size: 14px; line-height: 23px;">
                    @foreach (var item in Model.Factura)
                    {
                        <tr style="font-family: Montserrat;line-height:55px;color:white;background-color: gray;">
                            <td style="line-height: 55px;">@item.Concepto</td>
                            <td style="line-height: 55px;">@item.Estatus</td>
                            <td style="line-height: 55px;">@item.FechaFactura</td>
                            <td style="line-height: 55px;">@item.Monto.ToString("C")</td>
                            <td style="line-height: 55px;">
                                <div class="row" >
                                    <div style="float:left;width:35px;">
                                        <button name="downloadFactura" data-tipo="PDF" data-info="@item.Info" style="width: 25px !important;padding-left: 0;background-color:transparent;margin-left: 0px;" class="btn btn-xs btn-contact-send" id="downloadFacturaPDF">
                                            <img style="height:25px;" src="/cdn/assets/img/iconos/file_pdf.svg" />
                                        </button>
                                    </div>
                                    <div style="float:left;width:35px;">
                                        <button name="downloadFactura" data-tipo="XML" data-info="@item.Info" style="width: 25px !important;padding-left: 0;background-color:transparent;margin-left: 0px;" class="btn btn-xs btn-contact-send" id="downloadFacturaXML">
                                            <img style="height:25px;" src="/cdn/assets/img/iconos/file_xml.svg" />
                                        </button>
                                    </div>
                                    <div style="float:left;width:35px;">
                                        <button name="enviarFactura" data-info="@item.Info" style="width: 25px !important;padding-left: 0;background-color:transparent;margin-left: 0px;" class="btn btn-xs btn-contact-send" id="enviarFactura">
                                            <img style="height:25px;" src="/cdn/assets/img/iconos/send_mail.svg" />
                                        </button>
                                    </div>
                                    <i class="fa fa-cog fa-spin" style="font-size:24px;display:none;"></i>
                                
                                </div>
                                     </td>
                                    </tr>
                    }
                    </tbody>
                    </table>
                </div>
    }
        </div>
    </div>
    
    <div class="modal fade" tabindex="-1" role="dialog" id="pnlEnviarPoliza">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Enviar Factura</h4>
                </div>
                <div class="modal-body">
                    <div id="pnlImprimirCotizacionCorreoEl">
                        <div class="form-group" id="containerCorreoCotizacion">
                            <label>Correo electr&oacute;nico *</label>
                            <input type="text" maxlength="180" id="txtEnvioPolizaCorreoElectronico" name="txtEnvioPolizaCorreoElectronico" placeholder="ejemplo@correo.com" class="form-control" />
                            <div class="alert-warning" style="padding:3px;margin-top:5px;display:none;" id="lblErrorCorreo">
                                <small>Es necesario que indique su correo electr&oacute;nico</small>
                            </div>
                        </div>
                        <div class="form-group" id="containerConfirmaCorreoCotizacion">
                            <label>Confirmar Correo electr&oacute;nico *</label>
                            <input type="text" maxlength="180" id="txtEnvioPolizaConfirmaCorreoElectronico" name="txtEnvioPolizaConfirmaCorreoElectronico" placeholder="ejemplo@correo.com" class="form-control" />
                            <div class="alert-warning" style="padding:3px;margin-top:5px;display:none;" id="lblErrorConfirmarCorreo">
                                <small>Es necesario que confirme su correo electr&oacute;nico</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12" id="containerPrint" style="display:none;">
                        <div class="bigStepTitle">Generando impresi&oacute;n</div>
                        <div class="numeroPoliza">
                            Por favor espere
                            <img src="~/cdn/assets/img/ajax-loader.gif" />
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="color:#000;font-weight:normal;border:none">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="btnEnviarPoliza" style="background-color:#33ccdf;border:none">Enviar Factura</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}
else
{

    <div id="pnlSeleccionaPaquete" style="padding-top:120px;">
        <div class="row">
            <div class="col-xs-12 col-md-offset-1 col-md-10">
                <div class="row" id="mensajeErrorPaquetes" style="height:60vh;margin:0 15px!important;">
                    <div class="col-md-12 ">
                        <h3>
                            No encontramos tu póliza, por favor llámanos al <a style="font-weight:inherit!important;font-size:1em;" href="tel:018007122828"><strong>01800 712 2828</strong></a>, envíanos tus datos al correo <a style="font-weight:inherit!important;font-size:1em;" href="mailto:contacto.aba@chubb.com"><strong>contacto.aba@chubb.com</strong></a> o contáctanos por chat.
                            <a href="@Url.Action("ConsultaFactura","ServiciosExpress")"><h5>Regresar</h5></a>
                        </h3>

                    </div>
                </div>
            </div>
        </div>
    </div>

}
@section Scripts{
    <script type="text/javascript" nonce="YWJhLmNodWJiLmNvbQ==">
        var count = 0;

        var downloadDocument = function (tipo) {

            $('#FacturaImpresion_TipoDescarga').val(tipo);
            $.ajax({
                url: apiRoot + 'ServiciosExpress/DescargaFactura',
                method: 'POST',
                data: $('#formSolicitud').serialize(),
                processData: false,
                beforeSend: function () {
                    $('#Lightbox').show();
                    $('#Lightbox').find('#spinnerLight').contents()[2].nodeValue = 'Espere un momento ...';
                },
                error: function (xhr, textStatus, data) {
                    console.error(textStatus);
                    $('#containerPrint').hide();
                },
                success: function (response) {
                    window.location = '/ServiciosExpress/DownloadFactura?fileGuid=' + response.FileGuid
                                      + '&filename=' + response.FileName + '&tipo=' + tipo;
                },
                complete: function () {
                    $('#Lightbox').hide();
                }
            });
        };

        var sendDocument = function () {
                var form = $('#formSolicitud');
                var token = $('input[name="__RequestVerificationToken"]', form).val();
                $.ajax({
                    cache: false,
                    async: false,
                    type: 'POST',
                    url: apiRoot + 'ServiciosExpress/EnviarFactura',
                    data: $('#formSolicitud').serialize(),
                    beforeSend: function () {
                        $('#Lightbox').show();
                        $('#Lightbox').find('#spinnerLight').contents()[2].nodeValue = 'Espere un momento ...';
                    },
                    success: function (data) {
                        var response = data;
                        $('#pnlEnviarPoliza').modal('hide');
                    },
                    complete: function () {
                        $('#Lightbox').hide();
                    }
                });
        };

        var validarFormularioEnvio = function () {
            var isValid = true;
        
                if (!($("#txtEnvioPolizaCorreoElectronico").val().length > 0)) {
                    isValid = false;
                    $("#containerCorreoCotizacion").addClass("has-warning");
                    $("#lblErrorCorreo").html('<small>Es necesario que indique su correo electr&oacute;nico</small>')
                    $("#lblErrorCorreo").show();
                }
                else {
                    if (!utils.IsValidEmailAddress($("#txtEnvioPolizaCorreoElectronico").val())) {
                        $("#containerCorreoCotizacion").addClass("has-warning");
                        $("#lblErrorCorreo").html('<small>Direcci&oacute;n de correo inv&aacute;lida. Por favor verifique.</small>')
                        $("#lblErrorCorreo").show();
                        isValid = false;
                    }

                    if (utils.IsValidEmailAddress($("#txtEnvioPolizaConfirmaCorreoElectronico").val())) {
                        var correo = $("#txtEnvioPolizaCorreoElectronico").val();
                        var confirmacion = $("#txtEnvioPolizaConfirmaCorreoElectronico").val();

                        if (correo !== confirmacion) {
                            $("#containerConfirmaCorreoCotizacion").addClass("has-warning");
                            $("#lblErrorConfirmarCorreo").html('<small>Valide su direcci&oacute;n de correo el&eacute;ctronico..</small>')
                            $("#lblErrorConfirmarCorreo").show();
                            isValid = false;
                        }
                    }
                    else {
                        $("#containerConfirmaCorreoCotizacion").addClass("has-warning");
                        $("#lblErrorConfirmarCorreo").html('<small>Direcci&oacute;n de correo inv&aacute;lida. Por favor verifique.</small>')
                        $("#lblErrorConfirmarCorreo").show();
                        isValid = false;
                    }


                }

            return isValid;
        }

        $(document).ready(function () {
            $('#btnEnviarPoliza').click(function () {
                if (validarFormularioEnvio()) {
                    $('#FacturaImpresion_Email').val($('#txtEnvioPolizaCorreoElectronico').val());
                    sendDocument();
                }
            });
            $('[name=downloadFactura]').click(function () {
                $('#FacturaImpresion_Info').val($(this).data('info'));
                var tipo = $(this).data('tipo');
                downloadDocument(tipo);
            }); 
            $('[name=enviarFactura]').click(function () {
                $('#FacturaImpresion_Info').val($(this).data('info'));
                $('#pnlEnviarPoliza').modal({
                    keyboard: true
                });
            });
        });
    </script>

    <script src="~/cdn/js/gtagKwanko/ConsultaFacturaResultado.js"></script>
    }
