﻿@model PortalABA.Servicios.Modelos.ConsultaPolizaModelo

@section MetaTags{ 
    <title>ABA Chubb | Consulta tu Póliza</title>
    <meta name="description" content="Consulta tu póliza en línea, solo necesitas tener a la mano tu número de póliza, tu número de asegurado y el inciso." />
    <meta name="keywords" content="consultar poliza, consultar poliza de seguro, poliza de seguro aba, consultar poliza seguro aba, aba seguros poliza" />
    }
@section Styles {
    <link href="~/cdn/css/pages/consulta_poliza.css" rel="stylesheet" />
    <link href="~/cdn/css/pages/consulta_poliza-responsive.css" rel="stylesheet" />
}
@if (Model.Valido == 1)
{
    using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
    {
        @Html.AntiForgeryToken()
    }
    @Html.HiddenFor(x => x.Poliza)
    <div style="padding-top:120px;">
        <div class="row">
            <div class="col-xs-12 col-md-offset-1 col-md-10">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div>
                            <div>
                                <div style="padding-left: 5px; padding-right: 5px;">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td style="width: 100%;">
                                                    <h1 class="headerTitle">Consulta tu Póliza</h1>
                                                </td>
                                                <td>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td style="vertical-align: top;">
                                                                   
                                                                </td>
                                                                <td style="vertical-align: top;">
                                                                    
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>
                        <div class="row" style="padding-top: 10px; padding-bottom: 10px;">
                            @foreach (var item in Model.Url)
                            {
                                <div class="col-md-offset-1 col-md-9 col-xs-10" style="padding-left: 5px; padding-right: 5px;">
                                    <embed style="width:100%;height:80vh;" src="@(item)" />
                                </div>
                                <div class="col-md-1 col-xs-2">
                                    <div class="row">
                                        <a href="#" id="embedDescargar">
                                            <div style="text-align: center;">
                                                <img src="/cdn/assets/icons/icn-imprimir.png">
                                            </div>
                                            <div style="text-align: center;padding-top:2px; padding-bottom: 10px;font-family:'Georgia'">Descarga tu póliza</div>
                                        </a>
                                    </div>
                                    <div class="row">
                                        <a href="#" id="embedEnviarCorreo">
                                            <div style="text-align: center;">
                                                <img src="/cdn/assets/icons/icn-correo.png">
                                            </div>
                                            <div style="text-align: center;padding-top:2px; padding-bottom: 10px;font-family:'Georgia'">Envía tu póliza</div>
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="pnlEnviarPoliza">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Enviar p&oacute;liza</h4>
                </div>
                <div class="modal-body">
                    <div id="pnlImprimirCotizacionCorreoEl">
                        <div class="form-group" id="containerCorreoCotizacion">
                            <label>Correo electr&oacute;nico *</label>
                            <input type="text" maxlength="180" id="txtEnvioPolizaCorreoElectronico" name="txtEnvioPolizaCorreoElectronico" placeholder="ejemplo@correo.com" class="form-control" />
                            <div class="alert-warning" style="padding:3px;margin-top:5px;display:none;" id="lblErrorCorreo">
                                <small>Es necesario que indique su correo electr&oacute;nico</small>
                            </div>
                        </div>
                        <div class="form-group" id="containerConfirmaCorreoCotizacion">
                            <label>Confirmar Correo electr&oacute;nico *</label>
                            <input type="text" maxlength="180" id="txtEnvioPolizaConfirmaCorreoElectronico" name="txtEnvioPolizaConfirmaCorreoElectronico" placeholder="ejemplo@correo.com" class="form-control" />
                            <div class="alert-warning" style="padding:3px;margin-top:5px;display:none;" id="lblErrorConfirmarCorreo">
                                <small>Es necesario que confirme su correo electr&oacute;nico</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12" id="containerPrint" style="display:none;">
                        <div class="bigStepTitle">Generando impresi&oacute;n</div>
                        <div class="numeroPoliza">
                            Por favor espere
                            <img src="~/cdn/assets/img/ajax-loader.gif" />
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="color:#000; font-weight:normal;border:none">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="btnEnviarPoliza" style="background-color:#33ccdf;border:none">Enviar p&oacute;liza</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}
else
{

    <div id="pnlSeleccionaPaquete" style="padding-top:120px;">
        <div class="row">
            <div class="col-xs-12 col-md-offset-1 col-md-10">
                <div class="row" id="mensajeErrorPaquetes" style="height:60vh;margin:0 15px!important;">
                    <div class="col-md-12 ">
                        <h3>
                            No encontramos tu póliza, por favor llámanos al <a style="font-weight:inherit!important;font-size:1em;" href="tel:018007122828"><strong>01800 712 2828</strong></a>, envíanos tus datos al correo <a style="font-weight:inherit!important;font-size:1em;" href="mailto:contacto.aba@chubb.com"><strong>contacto.aba@chubb.com</strong></a> o contáctanos por chat.
                            <a href="@Url.Action("ConsultaPoliza","ServiciosExpress")"><h5>Regresar</h5></a>
                        </h3>

                    </div>
                </div>
            </div>
        </div>
    </div>

}
@section Scripts{
    <script type="text/javascript" nonce="YWJhLmNodWJiLmNvbQ==">
        var count = 0;

        var downloadDocument = function ($embed, index) {
            if ($embed != undefined) {
                var src = $($embed).attr('src');
                $.ajax({
                    cache: false,
                    async: false,
                    url: apiRoot + 'ServiciosExpress/ConsultaPolizaDescargar',
                    data: { UrlDescarga: src },
                    success: function (data) {
                        var response = data;
                        if (index == 0) {
                            window.location = '/ServiciosExpress/Download?fileGuid=' + response.FileGuid
                                              + '&filename=' + response.FileName;
                        } else {
                            var newWin = window.open('/ServiciosExpress/Download?fileGuid=' + response.FileGuid
                                        + '&filename=' + response.FileName);
                            if (!newWin || newWin.closed || typeof newWin.closed == 'undefined') {
                                alert("Deshabilitar el bloqueo de ventanas emergentes para descargar los archivos.");
                            }
                        }
                    }
                });
            }
        };

        var sendDocument = function (urls, email) {
            if (urls != undefined && urls.length > 0) {
                var form = $('#__AjaxAntiForgeryForm');
                var token = $('input[name="__RequestVerificationToken"]', form).val();
                $.ajax({
                    cache: false,
                    async: false,
                    type: 'POST',
                    url: apiRoot + 'ServiciosExpress/EnviarPoliza',
                    data: { UrlsDescarga: urls, CorreoElectronio: email, NumPoliza: $('#Poliza').val(), __RequestVerificationToken: token},
                    success: function (data) {
                        var response = data;
                        $('#pnlEnviarPoliza').modal('hide');
                    }
                });
            }
        };

        var validarFormularioEnvio = function () {
            var isValid = true;
        
                if (!($("#txtEnvioPolizaCorreoElectronico").val().length > 0)) {
                    isValid = false;
                    $("#containerCorreoCotizacion").addClass("has-warning");
                    $("#lblErrorCorreo").html('<small>Es necesario que indique su correo electr&oacute;nico</small>')
                    $("#lblErrorCorreo").show();
                }
                else {
                    if (!utils.IsValidEmailAddress($("#txtEnvioPolizaCorreoElectronico").val())) {
                        $("#containerCorreoCotizacion").addClass("has-warning");
                        $("#lblErrorCorreo").html('<small>Direcci&oacute;n de correo inv&aacute;lida. Por favor verifique.</small>')
                        $("#lblErrorCorreo").show();
                        isValid = false;
                    }

                    if (utils.IsValidEmailAddress($("#txtEnvioPolizaConfirmaCorreoElectronico").val())) {
                        var correo = $("#txtEnvioPolizaCorreoElectronico").val();
                        var confirmacion = $("#txtEnvioPolizaConfirmaCorreoElectronico").val();

                        if (correo !== confirmacion) {
                            $("#containerConfirmaCorreoCotizacion").addClass("has-warning");
                            $("#lblErrorConfirmarCorreo").html('<small>Valide su direcci&oacute;n de correo el&eacute;ctronico..</small>')
                            $("#lblErrorConfirmarCorreo").show();
                            isValid = false;
                        }
                    }
                    else {
                        $("#containerConfirmaCorreoCotizacion").addClass("has-warning");
                        $("#lblErrorConfirmarCorreo").html('<small>Direcci&oacute;n de correo inv&aacute;lida. Por favor verifique.</small>')
                        $("#lblErrorConfirmarCorreo").show();
                        isValid = false;
                    }


                }

            return isValid;
        }

        $(document).ready(function () {
            $('#embedDescargar').click(function () {
                $.each($('embed'), function (index, $embed) {
                    downloadDocument($embed, index);
                });
            });

            $('#embedEnviarCorreo').click(function () {
                $('#pnlEnviarPoliza').modal({
                    keyboard: true
                });
               
            });
            $('#btnEnviarPoliza').click(function () {

                var url = [];
                if (validarFormularioEnvio()) {
                    var correo = $('#txtEnvioPolizaCorreoElectronico').val();
                    $.each($('embed'), function (index, embedItem) {
                        url.push($(embedItem).attr('src'));
                    });
                    sendDocument(url, correo);
                }
            });
        });
    </script>

    <script src="~/cdn/js/gtagKwanko/ConsultaPolizaResultado.js"></script>
    }
