﻿@model  PortalABA.Servicios.Modelos.ReciboPagoPolizaRequest
@section MetaTags{
<title>ABA Chubb | Pago de Póliza</title>
<meta name="description" content="Realiza el pago de tu póliza en línea. No hagas filas y paga tu póliza de manera cómoda y segura en nuestro portal de internet desde donde estés." />
<meta name="keywords" content="poliza de seguro, pagar poliza aba, pagar poliza seguros aba, pagar poliza, poliza de seguro aba, seguros poliza, revisar poliza de seguro" />
}
@section Styles {
    <link href="~/cdn/css/pages/pago_poliza.css" rel="stylesheet" />
    <link href="~/cdn/css/pages/pago_poliza-responsive.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/cdn/js/pages/pago_poliza.js"></script>
    <script src="~/cdn/js/gtagKwanko/PagoPoliza.js"></script>
}
<div id="pagoPolizaContainer" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div id="panelPago" class="col-lg-4 col-md-6 col-lg-offset-4 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1>Pago de P&oacute;liza</h1>
                <h4>No hagas filas, paga tu p&oacute;liza por Internet</h4>
            </div>
            <form id="pagoPolizaForm" method="post" action="@Url.Action("PagoPolizaIntersticial", "ServiciosExpress")">
                <div id="firstStep" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-margin">
                    @*<div class="col-lg-12 col-sm-12 col-xs-12" id="lblProximamente">
                            <div class="alert alert-info">
                                <small>PROXIMAMENTE</small>
                            </div>
                        </div>*@
                    <div class="col-lg-12 col-sm-12 col-xs-12" id="lblErrores" style="display:none;">
                        <div class="alert-warning">
                            <small>Es necesario que indique el Asegurado.</small>
                        </div>
                    </div>
                    <div class="form-group col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 input-margin">
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                            @Html.TextBoxFor(x => x.NumPoliza, new { @class = "form-control input-color", @maxlength = "10", @placeholder = "NÚMERO DE PÓLIZA" })
                            <div class="alert-warning" style="padding:3px;margin-top:5px;display:none;" id="lblErrorNumSiniestro">
                                <small>Es necesario que indique el N&uacute;mero de P&oacute;liza.</small>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <a href="#" data-toggle="modal" data-target="#ModalAyudaPoliza">
                                <i class="fa fa-2x fa-question-circle fa-color"></i>
                            </a>
                        </div>
                    </div>
                    <div class="form-group col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 input-margin">
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                            @Html.TextBoxFor(x => x.Asegurado, new { @class = "form-control input-color", @maxlength = "8", @placeholder = "NÚMERO DE ASEGURADO" })
                            <div class="alert-warning" style="padding:3px;margin-top:5px;display:none;" id="lblErrorAsegurado">
                                <small>Es necesario que indique el N&uacute;mero Asegurado.</small>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <a href="#" data-toggle="modal" data-target="#ModalAyudaAsegurado">
                                <i class="fa fa-2x fa-question-circle fa-color"></i>
                            </a>
                        </div>
                    </div>
                    <div class="form-group col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 input-margin">
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                            @Html.TextBoxFor(x => x.Inciso, new { @class = "form-control input-color", @maxlength = "6", @placeholder = "INCISO" })
                            <div class="alert-warning" style="padding:3px;margin-top:5px;display:none;" id="lblErrorInciso">
                                <small>Es necesario que indique el Inciso de su P&oacute;liza.</small>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <a href="#" data-toggle="modal" data-target="#ModalAyudaInciso">
                                <i class="fa fa-2x fa-question-circle fa-color"></i>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="col-lg-12 col-md-12 col-sm-10 col-xs-10">
                            <button type="button" class="btn btn-lg btn-invoice-pay" id="payFirstStep">PAGAR</button>
                        </div>
                    </div>
                    <div class="col-md-12 visible-sm visible-md visible-lg" style="color:white;">
                        <p>Si no cuentas con el N&uacute;mero de P&oacute;liza, N&uacute;mero de Asegurado o Inciso</p>
                        <p>Por favor comun&iacute;cate al <a href="tel:018007122828"><b>01 800 712 2828</b></a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@Html.Partial("~/Views/Contenidos/_ServicioExpressModales.cshtml")