﻿@model PortalABA.Servicios.Modelos.ReciboPagoPolizaResponse
@{
    //List<PortalABA.Servicios.Modelos.ReciboPagoPolizaModel> pasts = null;
    //List<PortalABA.Servicios.Modelos.ReciboPagoPolizaModel> next = null;

    bool MostrarBotonPago = true;
    string EstatusProximo = "PAGO PRÓXIMO";
    string EndosoRecibo = null;
    bool PagoHabilitado = true;
    DateTime CurrentDate = DateTime.Now;
    DateTime Inicio = Convert.ToDateTime(System.Configuration.ConfigurationManager.AppSettings["InhabilitaPago_Inicio"].ToString());
    DateTime Fin = Convert.ToDateTime(System.Configuration.ConfigurationManager.AppSettings["InhabilitaPago_Fin"].ToString());
    if (CurrentDate >= Inicio && CurrentDate <= Fin) { PagoHabilitado = false; }

    //if (!Model.HasErrors)
    //{
    //    pasts = Model.Recibos.Where(x => x.FechaLimitePago <= DateTime.Now).ToList();
    //    next = Model.Recibos.Where(x => x.FechaLimitePago > DateTime.Now).ToList();
    //}
}

@section Styles {
    <link href="~/cdn/css/pages/contacto.css" rel="stylesheet" />
    <link href="~/cdn/css/pages/contacto-responsive.css" rel="stylesheet" />
}
<div class="localizador-oficinas">
    <!--HEADER-->
    <div class="row">
        <div class="col-md-12 col-xs-12 barraInicial">
            <div class="col-md-offset-1 col-md-11 col-xs-12 barraInicialTxt1">
                <strong style="text-transform:capitalize;">¿No sabes cuando pagar?</strong>
            </div>
            <div class="col-md-offset-1 col-md-11 col-xs-12 barraInicialTxt2">
                <p>Pago de póliza</p>
            </div>
            <div class="col-md-offset-1 col-md-11 col-xs-12 barraInicialTxt3">
                <p>No hagas filas, paga con tus tarjetas de crédito las 24 Horas</p>
            </div>
        </div>
    </div>
</div>
<div style="background-color:#eeeeee;">
    <!--web-->
    @*<div class="hidden-xs hidden-sm submenu">
            <div class="row" style="line-height:80px; padding:20px 0;">
                <div class="col-md-2 col-md-offset-1 text-center" style="border-left:1px solid #C1C1C1;"><a href="#general">INFORMACI&Oacute;N GENERAL</a></div>
                <div class="col-md-3 text-center" style="border-left:1px solid #C1C1C1; border-right:1px solid #C1C1C1;"><a href="#pagos">PAGOS REALIZADOS</a></div>
            </div>
        </div>*@
    <!--movil-->
    @*<div class="hidden-md hidden-lg submenu">
            <div class="row" style="line-height:40px; padding:20px 0;">
                <div class="col-xs-10 col-xs-offset-1 text-center"><a href="#beneficios">INFORMACI&Oacute;N GENERAL</a></div>
                <div class="col-xs-10 col-xs-offset-1 text-center" style="border-top:1px solid #C1C1C1;"><a href="#seccionmapa">PAGOS REALIZADOS</a></div>
            </div>
        </div>*@

    <div id="general" class="row" style="padding:20px 0;">
        <div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-1 benefitsPadding" style="border-left:solid 5px #FF6400;">
            <p class="benefitsTitle">P&oacute;liza:</p>
            <p class="benefitsSubTitle">@Model.NumPoliza</p>
        </div>
        <div class="col-xs-12 hidden-md hidden-lg">&nbsp;</div>
        <div class="col-xs-10 col-xs-offset-1 col-md-3 benefitsPadding" style="border-left:solid 5px #ffb407;">
            <p class="benefitsTitle">Inciso</p>
            <p class="benefitsSubTitle">@Model.Inciso</p>
        </div>
        <div class="col-xs-12 hidden-md hidden-lg">&nbsp;</div>
        <div class="col-xs-10 col-xs-offset-1 col-md-3 benefitsPadding" style="border-left:solid 5px #c234fd;">
            <p class="benefitsTitle">Vigencia</p>
            <p class="benefitsSubTitle">@DateTime.Now.ToString("dd/MM/yyyy")</p>
        </div>
    </div>

</div>
<div id="pagos" class="form-footer-margin" style="background-color:#eeeeee !important;">
    <div class="row">
        @if (Model.HasErrors)
        {
            <div class="alert alert-danger" role="alert">
                <h4>Ocurri&oacute; un error</h4>
                <p>@Model.Message</p>
            </div>
        }
        else if (Model.Recibos.Count == 0)
        {
            <div class="alert alert-danger" role="alert">
                No Existen Recibos de Pago
            </div>
        }
        else
        {
            <div class="table-responsive" style="background-color: transparent !important; padding: 35px;">
                <table class="table" cellspacing="0" cellpadding="0" style="color: black; background-color: transparent !important; border: none; border-color: transparent !important;">
                    <thead style="text-transform: capitalize; color: #00C0D7; font-family: Montserrat; font-size: 16px; font-weight: 500; line-height: 23px; text-align: center;">
                        <tr>
                            <th>Serie</th>
                            <th>Fecha Limite de Pago</th>
                            <th>Monto a Pagar</th>
                            <th>Estatus</th>
                        </tr>
                    </thead>
                    <tbody style="color: #323141; font-family: Merriweather; font-size: 14px; line-height: 23px;">
                        @foreach (var item in Model.Recibos)
                        {
                            if (item.Estatus.ToLower() == "pagada" || item.Estatus.ToLower() == "periodo de gracia")
                            {
                                var color = "font-family: Montserrat;background-color: " + (@item.Estatus.ToLower() == "pagada" ? "#61D518" : (MostrarBotonPago && item.Estatus.ToLower() == "periodo de gracia" ? "#FFB407" : "gray")) + "; line-height; 55px;color:white";// : "background-color: aqua; line-height; 55px;"  ;
                                <tr style="@color">
                                    <td style="line-height: 55px;">@item.Serie</td>
                                    <td style="line-height: 55px;">@item.FechaLimitePago</td>
                                    <td style="line-height: 55px;">@item.PrimaTotal.ToString("C")</td>
                                    <td style="line-height: 55px;">
                                        @if (item.Estatus.ToLower() == "pagada")
                                        {
                                            @item.Estatus
                                        }
                                        else
                                        {
                                            if (MostrarBotonPago && item.Estatus.ToLower() == "periodo de gracia")
                                            {
                                                MostrarBotonPago = false;
                                                var url = ViewBag.UrlPago;
                                                EndosoRecibo = item.EndosoRecibo;
                                                if (PagoHabilitado)
                                                {
                                                    <button id="payInvoice" style="width: 115px !important;" class="btn btn-contact-send">PAGAR</button>
                                                }
                                                else
                                                {
                                                    <button id="payInvoice" style="width: 115px !important;" class="btn btn-contact-send" disabled>PAGAR</button>
                                                } }
                                            else
                                            {
                                                @Html.Raw(EstatusProximo)
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        @*@if (next != null)
                            {
                                <tr>
                                    <td style="line-height: 55px;" colspan="4">
                                        <h3>Pr&oacute;ximos Pagos</h3>
                                    </td>
                                </tr>

                                foreach (var item in next)
                                {
                                    <tr>
                                        <td style="line-height: 55px;">@item.Serie</td>
                                        <td style="line-height: 55px;">@item.FechaLimitePago.ToString("dd/MM/yyyy")</td>
                                        <td style="line-height: 55px;">@item.PrimaTotal.ToString("C")</td>
                                        <td style="line-height: 55px;">@item.Estatus</td>
                                    </tr>
                                }
                            }*@
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>
<form id="frmDatosPoliza">
    @Html.HiddenFor(x => x.Poliza)
    @Html.HiddenFor(x => x.ClavePoliza)
    @Html.HiddenFor(x => x.Asegurado)
    @Html.HiddenFor(x => x.Inciso)
    @Html.HiddenFor(x => EndosoRecibo)
    @Html.Hidden("Tipo")
</form>
@if (!PagoHabilitado)
{
    <div id="ModalPagoDesactivado" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body" style="margin-top: 25px;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -35px;"><span aria-hidden="true">&times;</span></button>
                    <strong>Estimado cliente: El sistema de pagos de Chubb estará fuera de servicio hasta el día 1 de enero 2019. Puedes realizar el pago de tu póliza en el banco con el número de referencia que viene en el aviso de cobro junto con tu póliza; si no cuentas con ella, <a href="@Url.Action("ConsultaPoliza", "ServiciosExpress")">descárgala aquí.</a></strong>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}

@section Scripts {
    <script src="~/cdn/js/pages/pago_poliza_intersticial.js"></script>
    <script src="~/cdn/js/gtagKwanko/PagoPolizaIntersticial.js"></script>
    <script type="text/javascript" nonce="YWJhLmNodWJiLmNvbQ==">
        $(document).ready(function () {
            if ($('#ModalPagoDesactivado')) {
                $('#ModalPagoDesactivado').modal();
            }
        });
    </script>
}