﻿@model PortalABA.Servicios.Modelos.FinalizacionPagoPolizaModel
@{
    
}

<div id="pnlConfirmacionPoliza" class="">
    <div class="row" style="padding-bottom: 20px">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            @if (Model.EsAutorizado)
            {
                <div style="padding-bottom: 15px;">
                    <div style="padding-left: 10px; padding-right: 10px;">
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <div class="bigStepTitle" style="font-size:40px;">¡El pago de tu recibo fue realizado exitosamente!</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div style="margin: 0 5px">
                        <div class="col-md-5 col-xs-12" style="margin-top: 10px">
                            <div style="border: 1px solid #D1D1D1; padding: 20px;">
                                <div class="control-container">
                                    <div class="row" style="margin-top: 20px">
                                        <div class="col-md-12 col-xs-12">
                                            <div class="text-uppercase">
                                                <strong>Tu confirmación de pago</strong>
                                            </div>
                                            <div class="text-uppercase">
                                                <div style="font-size: 24px;" id="lblConfirmacionPoliza"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 40px">
                                        <div class="col-md-6 col-xs-6">
                                            <div class="text-uppercase">
                                                <strong>Número de confirmación</strong>
                                            </div>
                                            <div>
                                                <div style="font-size: 24px;">@Model.NumConfirmacion</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xs-6">
                                            <div class="text-uppercase">
                                                <strong>Liquidación</strong>
                                            </div>
                                            <div style="font-size: 24px;" id="lblFechaVigencia">@Model.Liquidacion</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div style="padding-bottom: 15px;">
                    <div style="padding-left: 10px; padding-right: 10px;">
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <div class="bigStepTitle">Su pago no fue realizado</div>
                                <div class="numeroPoliza">Favor de contactar a call center: 01 800 712 2828</div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Styles
{
    <link href="~/cdn/css/pages/casa/casa.css" rel="stylesheet" />
}

