﻿@{
    bool PagoHabilitado = true;
    DateTime CurrentDate = DateTime.Now;
    DateTime Inicio = Convert.ToDateTime(System.Configuration.ConfigurationManager.AppSettings["InhabilitaPagoDeducible_Inicio"].ToString());
    DateTime Fin = Convert.ToDateTime(System.Configuration.ConfigurationManager.AppSettings["InhabilitaPagoDeducible_Fin"].ToString());
    if (CurrentDate >= Inicio && CurrentDate <= Fin) { PagoHabilitado = false; }
}
@section MetaTags{
    <title>ABA Chubb | Pago de Deducible</title>
    <meta name="description" content="Realiza el pago de deducible en línea. No hagas filas y paga tu deducible de manera cómoda y segura en nuestro portal de internet desde donde estés." />
    <meta name="keywords" content="pagar deducible, pagar deducible aba, aba seguros deducible, deducible de seguro, deducible aba seguros" />

}
@section Styles {
    <link href="~/cdn/css/pages/pago_deducible.css" rel="stylesheet" />
    <link href="~/cdn/css/pages/pago_deducible-responsive.css" rel="stylesheet" />
}

<input type="hidden" id="urlSiniestro" value="@ViewBag.urlSiniestro" />
<div id="pagoPolizaContainer" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div id="panelPago" class="col-lg-4 col-md-6 col-lg-offset-4 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1>Pago de <br />Deducibles</h1>
                <h4>No hagas filas, paga tu deducible por Internet.</h4>
            </div>
            <div id="firstStep" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-margin">
                <div class="col-lg-12 col-sm-12 col-xs-12" id="lblErrores" style="display:none;">
                    <div class="alert-warning">
                        <small>Es necesario que indique el N&uacute;mero de Asegurado.</small>
                    </div>
                </div>
                <div class="form-group col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 input-margin">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="text" maxlength="10" id="siniestro" placeholder="NÚMERO DE PÓLIZA" class="form-control input-color" />
                        <div class="alert-warning" style="padding:3px;margin-top:5px;display:none;" id="lblErrorNumSiniestro">
                            <small>Es necesario que indique el N&uacute;mero de P&oacute;liza.</small>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <a href="#" data-toggle="modal" data-target="#ModalAyudaPoliza">
                            <i class="fa fa-2x fa-question-circle fa-color"></i>
                        </a>
                    </div>
                </div>
                <div class="form-group col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 input-margin">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="text" maxlength="8" id="clave" placeholder="NÚMERO DE ASEGURADO" class="form-control input-color" />
                        <div class="alert-warning" style="padding:3px;margin-top:5px;display:none;" id="lblErrorAsegurado">
                            <small>Es necesario que indique el N&uacute;mero de Asegurado.</small>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <a href="#" data-toggle="modal" data-target="#ModalAyudaAsegurado">
                            <i class="fa fa-2x fa-question-circle fa-color"></i>
                        </a>
                    </div>
                </div>
                <div class="form-group col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 input-margin">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="text" id="inciso" maxlength="6" placeholder="INCISO" class="form-control input-color" />
                        <div class="alert-warning" style="padding:3px;margin-top:5px;display:none;" id="lblErrorInciso">
                            <small>Es necesario que indique el Inciso de su P&oacute;liza.</small>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <a href="#" data-toggle="modal" data-target="#ModalAyudaInciso">
                            <i class="fa fa-2x fa-question-circle fa-color"></i>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="col-lg-12 col-md-12 col-sm-10 col-xs-10">
                        @if (PagoHabilitado)
                        {
                            <button class="btn btn-lg btn-invoice-pay" id="payFirstStep" data-gtagevent="ServiciosExpress" data-gtageventcategory="PagoDeducible" data-gtageventlabel="Buscar" gtagclick>PAGAR</button>
                        }
                        else
                        {
                            <button class="btn btn-lg btn-invoice-pay" id="payFirstStep" disabled>PAGAR</button>
                        }
                    </div>
                </div>
                <div class="col-md-12 visible-sm visible-md visible-lg" style="color:white;">
                    <p>Si no cuentas con el N&uacute;mero de P&oacute;liza, N&uacute;mero de Asegurado o Inciso</p>
                    <p>Por favor comun&iacute;cate al <a href="tel:018007122828"><b>01 800 712 2828</b></a></p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div id="secondStep" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-margin" style="display:none;">
                <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 input-margin">
                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <a href="" class="btn btn-pay-option">Quiero <br />Pagar un <br />Siniestro</a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <a href="" class="btn btn-pay-option">Quiero <br />Pagar mi <br />P&oacute;liza</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Views/Contenidos/_ServicioExpressModales.cshtml")

@section Scripts {
    <script src="~/cdn/js/pages/pago_deducible.js"></script>
    <script src="~/cdn/js/gtagKwanko/PagoDeducible.js"></script>
    <script type="text/javascript" nonce="YWJhLmNodWJiLmNvbQ==">
        $(document).ready(function () {
            if ($('#ModalPagoDesactivado')) {
                $('#ModalPagoDesactivado').modal();
            }
        });
    </script>
}