﻿@section MetaTags{
<title>ABA Chubb | Seguimiento a Siniestros</title>
<meta name="description" content="Seguimiento de siniestros en línea. Da seguimiento y revisa los avances en la reparación de tu siniestro, con tu número de póliza." />
<meta name="keywords" content="siniestros, siniestro de auto, siniestro de casa, siniestro de robo, siniestro de incendio, reportar un siniestro, sieniestros aba" />

}
@section Styles {
    <link href="~/cdn/css/pages/seguimiento_siniestro.css" rel="stylesheet" />
    <link href="~/cdn/css/pages/seguimiento_siniestro-responsive.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/cdn/aplicacion/utils.js"></script>
    <script src="~/cdn/js/pages/seguimiento_siniestro.js"></script>
    <script src="~/cdn/js/gtagKwanko/SeguimientoSiniestro.js"></script>
}
<input type="hidden" id="urlSiniestro" value="@ViewBag.urlSiniestro" />
<div id="pagoPolizaContainer" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div id="panelPago" class="col-lg-4 col-md-6 col-lg-offset-4 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1>Seguimiento a Siniestros</h1>
                <h4>Revisa fotos, avances en la reparación y más.</h4>
            </div>
            <div id="firstStep" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-margin">
                <div class="col-lg-12 col-sm-12 col-xs-12" id="lblErrores" style="display:none;">
                    <div class="alert-warning">
                        <small>Es necesario que indique el Asegurado.</small>
                    </div>
                </div>
                <div class="form-group col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 input-margin">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="text"  maxlength="10" id="siniestro" placeholder="NÚMERO DE PÓLIZA" class="form-control input-color" />
                        <div class="alert-warning" style="padding:3px;margin-top:5px;display:none;" id="lblErrorNumSiniestro">
                            <small>Es necesario que indique el N&uacute;mero de P&oacute;liza.</small>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <a href="#" data-toggle="modal" data-target="#ModalAyudaPoliza">
                            <i class="fa fa-2x fa-question-circle fa-color"></i>
                        </a>
                    </div>
                </div>
                <div class="form-group col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 input-margin">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="text" id="clave" placeholder="NÚMERO DE ASEGURADO" maxlength="8" class="form-control input-color" />
                        <div class="alert-warning" style="padding:3px;margin-top:5px;display:none;" id="lblErrorAsegurado">
                            <small>Es necesario que indique el N&uacute;mero de Asegurado.</small>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <a href="#" data-toggle="modal" data-target="#ModalAyudaAsegurado">
                            <i class="fa fa-2x fa-question-circle fa-color"></i>
                        </a>
                    </div>
                </div>
                <div class="form-group col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 input-margin">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="text" id="inciso" placeholder="INCISO" maxlength="6" class="form-control input-color" />
                        <div class="alert-warning" style="padding:3px;margin-top:5px;display:none;" id="lblErrorInciso">
                            <small>Es necesario que indique el Inciso de su P&oacute;liza.</small>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <a href="#" data-toggle="modal" data-target="#ModalAyudaInciso">
                            <i class="fa fa-2x fa-question-circle fa-color"></i>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button class="btn btn-lg btn-invoice-pay" id="payFirstStep">DAR SEGUIMIENTO</button>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 visible-md visible-lg">
                    <p>Si no cuentas con el N&uacute;mero de P&oacute;liza, N&uacute;mero de Asegurado o Inciso</p>
                    <p>Por favor comun&iacute;cate al <a href="tel:018007122828"><b>01 800 712 2828</b></a></p>
                </div>
            </div>
            <div id="secondStep" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-margin" style="display:none;">
                <div class="form-group col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 input-margin">
                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                        <input type="text" placeholder="CÓDIGO DE CELULAR" class="form-control input-color" />
                    </div>
                </div>
                <div class="form-group col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 form-margin-second-step">
                        <button class="btn btn-lg btn-invoice-pay btn-second-step" id="paySecondStep">PAGAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Views/Contenidos/_ServicioExpressModales.cshtml")