﻿@{ 
    string path = "~/cdn/assets/docs/";
    List<Tuple<string, string>> DictamenesEmitidos = new List<Tuple<string, string>>();
    List<Tuple<string, string>> EstadosFinancieros = new List<Tuple<string, string>>();
    List<Tuple<string, string>> NotasRevelacion = new List<Tuple<string, string>>();
    List<Tuple<string, string>> ReporteSolvencia = new List<Tuple<string, string>>();

    DictamenesEmitidos.Add(new Tuple<string, string>("EEFF_NotasRevelacionDictaminados_2016.pdf", "Estados Financieros y Notas de Revelación Dictaminados al 31 de Diciembre del 2016"));
    DictamenesEmitidos.Add(new Tuple<string, string>("EEFF_NotasRevelacionDictaminados_2015-2014.pdf", "Estados Financieros y Notas de Revelación Dictaminados al 31 de Diciembre de 2015 y 2014"));
    DictamenesEmitidos.Add(new Tuple<string, string>("EEFF_NotasRevelacionDictaminados_2014-2013.pdf", "Estados Financieros y Notas de Revelación Dictaminados al 31 de Diciembre de 2014 y 2013"));
    DictamenesEmitidos.Add(new Tuple<string, string>("EEFF_NotasRevelacionDictaminados_2013-2012.pdf", "Estados Financieros y Notas de Revelación Dictaminados al 31 de Diciembre de 2013 y 2012"));
    DictamenesEmitidos.Add(new Tuple<string, string>("EEFF_NotasRevelacionDictaminados_2012-2011.pdf", "Estados Financieros y Notas de Revelación Dictaminados al 31 de Diciembre de 2012 y 2011"));


    EstadosFinancieros.Add(new Tuple<string, string>("EEFFConsolidados_Notas2016.pdf", "Estados Financieros y Notas de Revelación al 31 de Diciembre de 2016."));
    EstadosFinancieros.Add(new Tuple<string, string>("EEFFConsolidados_Notas2015.pdf", "Estados Financieros y Notas de Revelación al 31 de Diciembre de 2015."));
    EstadosFinancieros.Add(new Tuple<string, string>("EEFFConsolidados_Notas2014.pdf", "Estados Financieros y Notas de Revelación al 31 de Diciembre de 2014."));
    EstadosFinancieros.Add(new Tuple<string, string>("EEFFConsolidados_Notas2013.pdf", "Estados Financieros y Notas de Revelación al 31 de Diciembre de 2013."));
    EstadosFinancieros.Add(new Tuple<string, string>("EEFFConsolidados_Notas2012.pdf", "Estados Financieros y Notas de Revelación al 31 de Diciembre de 2012."));


    NotasRevelacion.Add(new Tuple<string, string>("NotasEEFFConsolidadas2016.pdf", "Informe de Notas Revelación de Información Adicional a los EEFF al 31 de Diciembre de 2016."));
    NotasRevelacion.Add(new Tuple<string, string>("NotasEEFFConsolidadas2015.pdf", "Informe de Notas Revelación de Información Adicional a los EEFF al 31 de Diciembre de 2015."));
    NotasRevelacion.Add(new Tuple<string, string>("NotasEEFFConsolidadas2014.pdf", "Informe de Notas Revelación de Información Adicional a los EEFF al 31 de Diciembre de 2014."));
    NotasRevelacion.Add(new Tuple<string, string>("NotasEEFFConsolidadas2013.pdf", "Informe de Notas Revelación de Información Adicional a los EEFF al 31 de Diciembre de 2013."));
    NotasRevelacion.Add(new Tuple<string, string>("NotasEEFFConsolidadas2012.pdf", "Informe de Notas Revelación de Información Adicional a los EEFF al 31 de Diciembre de 2012."));

    ReporteSolvencia.Add(new Tuple<string, string>("RSolvenciaCondicionFinanciera_2016.pdf", "Reporte de Solvencia y Condición Financiera 2016."));
}

<!--ARTICULO: INFORMACIÓN FINANCIERA-->
<div class="row bg-gray">
    <div class="col-xs-offset-1 col-xs-10">
        <h2>Información Financiera</h2>
        <div class="parrafo">
            De conformidad con la Circular Única de Seguros en su Título 14 Estados Financieros en el Capítulo 14.2 De la aprobación y difusión de los Estados Financieros, así como las bases y formatos para su presentación.
            <br/><br/>
            Se da cumplimiento a difundir a través de la página principal del portal electrónico en Internet, el Dictamen emitido por el auditor externo responsable acompañado de los estados financieros y las notas que forman parte integrante de los estados financieros dictaminados así como también el Informe de Notas de Revelación a los Estados financieros.
        </div>
    </div>
</div>


<!--DICTAMENES EMITIDOS-->
<div class="row bg-purplelight">
    <div class="col-xs-offset-1 col-xs-10">
        <h2>Dictámenes Emitidos</h2>
        @{ bool first = true; }
        @foreach (var file in DictamenesEmitidos)
        {
            <div class="@(first ? "bg-gray" : "bg-white") file-link">
                <a href="@Url.Content(path + file.Item1)" target="_blank">@file.Item2</a>
            </div>

            first = first ? false : true;
        }

    </div>
    <br />
</div>

<!--ESTADOS FINANCIEROS-->
<div class="row bg-purplelight">
    <div class="col-xs-offset-1 col-xs-10">
        <h2>Estados Financieros</h2>
        @{ first = true; }
        @foreach (var file in EstadosFinancieros)
        {
            <div class="@(first ? "bg-gray" : "bg-white") file-link">
                  <a href="@Url.Content(path + file.Item1)" target="_blank">@file.Item2</a>
            </div>

            first = first ? false : true;
        }

    </div>
    <br/>
</div>


<!--INFORME DE NOTAS REVELACIÓN DE INFORMACIÓN ADICIONAL A LOS EEFF-->
<div class="row bg-purplelight">
    <div class="col-xs-offset-1 col-xs-10">
        <h2>Informe de Notas Revelación de Información Adicional a los EEFF</h2>
        @{ first = true; }
        @foreach (var file in NotasRevelacion)
        {
            <div class="@(first ? "bg-gray" : "bg-white") file-link">
                <a href="@Url.Content(path + file.Item1)" target="_blank">@file.Item2</a>
            </div>

            first = first ? false : true;
        }

    </div>
    <br />
</div>


<!--REPORTE SOLVENCIA-->
<div class="row bg-purplelight bg-white">
    <div class="col-xs-offset-1 col-xs-10">
        <h2>Reporte de Solvencia y Condición Financiera</h2>
        @{ first = true; }
        @foreach (var file in ReporteSolvencia)
        {
            <div class="@(first ? "bg-gray" : "bg-white") file-link">
                <a href="@Url.Content(path + file.Item1)" target="_blank">@file.Item2</a>
            </div>

            first = first ? false : true;
        }
    </div>
        <br /><br />
</div>

