﻿@{
    #region HISTORIA ABA CATÁLOGO
    List<Tuple<string, string>> historia = new List<Tuple<string, string>>();
    historia.Add(new Tuple<string, string>("1958", "Inicia la historia de ABA Seguros, bajo el nombre de Aseguradora Aztlán."));
    historia.Add(new Tuple<string, string>("1974", "Cambia el nombre a Aseguradora Banpaís."));
    historia.Add(new Tuple<string, string>("1985", "Se transforma a Seguros del País."));
    historia.Add(new Tuple<string, string>("1988", "Es comprada por ABACO Grupo Financiero."));
    historia.Add(new Tuple<string, string>("1991", "Nace el nombre de ABA Seguros y se constituye como parte del Grupo Financiero ABACO."));
    historia.Add(new Tuple<string, string>("1994", "Se utiliza por primera vez el vehículo CHEVY con el característico color aqua para atender los siniestros."));
    historia.Add(new Tuple<string, string>("1996", "Se instala la Matriz en un piso de la torre ABACO, actualmente Torre ABA Seguros."));
    historia.Add(new Tuple<string, string>("1997", "Separación de ABACO Grupo Financiero."));
    historia.Add(new Tuple<string, string>("1998", "Comienza el \"Call Center\"."));
    historia.Add(new Tuple<string, string>("2002", "ABA Seguros se incorpora a la familia GMAC."));
    historia.Add(new Tuple<string, string>("2006", "Cerberus Capital Management LP. compra el 51% de GMAC."));
    historia.Add(new Tuple<string, string>("2007", "Se ofrece la cobertura de seguro de auto en tres países (México, USA y Canadá)."));
    historia.Add(new Tuple<string, string>("2008", "Se cumple 50 años en el mercado. Se inaugura el edificio de Cumbres. Surge VIBIA."));
    historia.Add(new Tuple<string, string>("2009", "Se ocupa el 1er lugar en calidad de servicio de acuerdo a la CONDUSEF."));
    historia.Add(new Tuple<string, string>("2013", "Es comprada por ACE Group."));
    historia.Add(new Tuple<string, string>("2016", "ACE Group adquiere Chubb Group, transformándose en Chubb."));
    #endregion
}
<!--ARTICULO: ¿QUIÉN ES CHUBB EN EL MUNDO?-->
<div class="row bg-gray">
    <div class="col-xs-offset-1 col-xs-10">
        <h2>¿Quién es Chubb en el mundo?</h2>
        <div class="parrafo">
            Somos el grupo de compañías de seguros y fianzas más grande del mundo que cotiza en Bolsa, con operaciones en 54 países, una excepcional fortaleza financiera
            y una amplia gama de seguros personales y comerciales. Tenemos presencia en más de 170 países, en los cuales contamos con una gran participación en programas
            multinacionales.
            <br /><br />
            Chubb es sinónimo de servicio de excelencia. Nuestros clientes y socios comerciales pueden estar seguros que serán tratados en forma justa y con sentido de
            urgencia en tiempos de necesidad. Nuestro compromiso con la excelencia en los siniestros significa que las personas, familias y empresas que confían en que
            los protegeremos pueden estar confiadas en que realmente lo haremos. Es una gran medida de certidumbre en un mundo incierto.
        </div>
    </div>
</div>

@*<!--ARTICULO: ¿QUIÉN ES ABA?-->
    <div class="row bg-bluelight">
        <div class="col-xs-offset-1 col-xs-10">
            <h2>¿Quién es ABA Seguros?</h2>
            <div class="parrafo">
                ABA Seguros es una compañía especializada en el área de daños, completamente enfocada al servicio y satisfacción de sus clientes. Ha estado más de 50 años en el
                mercado y está posicionada, según la AMIS, como la cuarta aseguradora de autos en ventas de México.
                <br><br />
                En 1956 nace ABA Seguros bajo el nombre de Aztlán. En el 2016 pasó a ser una empresa de Chubb Group. En el siguiente cronograma se detallan los sucesos mas
                importantes en la historia de ABA Seguros.
            </div>
        </div>
    </div>*@

<!--CARRUSEL HISTORIA ABA-->
<div class="bg-white">
    <div class="jcarousel-wrapper">
        <div class="jcarousel">
            <ul>
                @foreach (var item in historia)
                {
                    <li>
                        <div class="item-carousel">
                            <h1>@item.Item1</h1>
                            <label>@item.Item2</label>
                        </div>
                    </li>
                }
            </ul>
        </div>

        <a href="#" class="jcarousel-control-prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        <a href="#" class="jcarousel-control-next"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
    </div>
</div>

<!--ARTICULO: MISIÓN Y VISIÓN-->
<div id="mision-vision" class="row bg-bluelight" style="padding-top:80px">
    <div class="col-xs-offset-1 col-xs-10">
        <h2>Misión y Visión</h2>
        <div class="parrafo">
            Nuestra Misión es ofrecer excelencia en el servicio a través de nuestros empleados y agentes de seguros, siempre atendiendo a nuestra filosofía que esta sustentada en tres principios:
            <ul>
                <li>Servicio al cliente.</li>
                <li>Respeto a las personas y a la competencia.</li>
                <li>Búsqueda de la excelencia.</li>
            </ul>
        </div>
    </div>
</div>

<!--ARTICULO: VALORES-->
<div id="valores" class="row bg-bluelight">
    <div class="col-xs-offset-1 col-xs-10">
        <h2>Valores</h2>
        <div class="parrafo">
            <ul>
                <li>Integridad, respeto y confianza.</li>
                <li>Enfoque al cliente y al mercado.</li>
                <li>Innovación, visión de negocio.</li>
                <li>Competitividad.</li>
                <li>Enfoque a resultados, motivación y dirección a otros.</li>
                <li>Colaboración.</li>
                <li>Negociación y relación con pares.</li>
                <li>Profesionalismo</li>
                <li>Planeación, organización, y toma de decisiones de calidad.</li>
            </ul>
        </div>
    </div>
</div>
