﻿<div class="modal fade" tabindex="-1" role="dialog" id="pnlImprimirCotizacionModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Imprimir cotizaci&oacute;n</h4>
            </div>
            <div class="modal-body">                
                <div class="form-group" id="containerNombreCotizacion">
                    <label id="lblNombre">Nombre *</label>
                    <input type="text" maxlength="180" id="txtNombreCotizacion" name="txtNombreCotizacion" placeholder="Indique su nombre" class="form-control" />
                    <div class="alert-warning" style="padding:3px;margin-top:5px;display:none;" id="lblErrorNombre">
                        <small>Es necesario que indique su nombre</small>
                    </div>
                </div>
                <div id="pnlImprimirCotizacionCorreoEl">
                    <div class="form-group" id="containerCorreoCotizacion">
                        <label>Correo electr&oacute;nico *</label>
                        <input type="text" maxlength="180" id="txtCotizacionCorreoElectronico" name="txtCotizacionCorreoElectronico" placeholder="ejemplo@correo.com" class="form-control" />
                        <div class="alert-warning" style="padding:3px;margin-top:5px;display:none;" id="lblErrorCorreo">
                            <small>Es necesario que indique su correo electr&oacute;nico</small>
                        </div>
                    </div>
                    <div class="form-group" id="containerConfirmaCorreoCotizacion">
                        <label>Confirmar Correo electr&oacute;nico *</label>
                        <input type="text" maxlength="180" id="txtCotizacionConfirmaCorreoElectronico" name="txtCotizacionConfirmaCorreoElectronico" placeholder="ejemplo@correo.com" class="form-control" />
                        <div class="alert-warning" style="padding:3px;margin-top:5px;display:none;" id="lblErrorConfirmarCorreo">
                            <small>Es necesario que confirme su correo electr&oacute;nico</small>
                        </div>
                    </div>
                    <div>
                        <p style="font-size:13px; font-family:'Source Sans Pro'">
                            <input type="checkbox" id="chkAceptarImpresion" />
                            Acepto que la informaci&oacute;n que en este acto proporciono, incluyendo mi nombre y direcci&oacute;n de correo electr&oacute;nico, sean almacenados y utilizados por CHUBB SEGUROS MEXICO S.A. o cualquier tercero que dicha empresa estime competente, con fines de seguimiento a mi solicitud, prestaci&oacute;n de servicios, fines estad&iacute;sticos o de publicidad. Estoy de acuerdo en que mi autorizaci&oacute;n se mantenga vigente hasta en tanto notifique por escrito lo contrario a CHUBB SEGUROS MEXICO S.A.
                        </p>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12" id="containerPrint" style="display:none;">
                    <div class="bigStepTitle">Generando impresi&oacute;n</div>
                    <div class="numeroPoliza">
                        Por favor espere
                        <img src="~/cdn/assets/img/ajax-loader.gif" />
                    </div>
                </div>
                <div class="form-group" id="containerMessageSent" style="display:none;">
                    <div class="bigStepTitle">La cotizaci&oacute;n se ha enviado al correo especificado.</div>
                </div>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="color:#000; font-weight:normal;border:none">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnImprimirCotizacion" style="background-color:#33ccdf;border:none">Imprimir cotizaci&oacute;n</button>
                <div id="loadingEnviandoMail" class="load-bar-custom" style="display:none;">
                    <div class="bar-custom"></div>
                    <div class="bar-custom"></div>
                    <div class="bar-custom"></div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section Scripts
{
<script src="~/cdn/js/gtag/DialogoSolicitarNombre.js"></script>
    }