﻿
<div class="col-xs-12 nuestros-seguros-menu" style="text-align:center;display:none;background-color: rgba(0, 0, 0, 0.9);padding:0;z-index: 1;color:white;font-weight: bold;">
    <div class="col-xs-6 col-sm-3 col-md-3 ele" style="padding-top:11px;">
        <div class="col-xs-12 img-container">         
            <img src="~/cdn/assets/icons/fill07.png" alt="Auto Seguro">   
        </div>
        <div class="col-xs-12 nombre-seguro" style="margin-top: 33px;">
            Auto Seguro
        </div>
        <div class="col-xs-12 btn-container">
            <a class="btn col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6 btn-ver-mas redirect-to-segunda" href="@Url.Action("Auto","Seguros")"  id="autoSeguro">VER MÁS</a>
            <a class="btn col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6 btn-ver-mas redirect-to-cotizador btn-cotizar" href="@Url.Action("Index","AutoCotizador")" id="autoIndex">COTIZAR</a>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-3 ele" style="padding-top:0px;">
        <div class="col-xs-12 img-container">
            <img src="~/cdn/assets/icons/fill05.png" alt="Hogar Seguro">
        </div>
        <div class="col-xs-12 nombre-seguro" style="margin-top: 24px;">
            Hogar Seguro
        </div>
        <div class="col-xs-12 btn-container">
            <a class="btn col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6 btn-ver-mas redirect-to-segunda" href="@Url.Action("Hogar","Seguros")" id="hogarSeguro">VER MÁS</a>
            <a class="btn col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6 btn-ver-mas redirect-to-cotizador btn-cotizar" href="@Url.Action("Index","CasaCotizador")" id="hogarIndex">COTIZAR</a>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-3 ele" style="padding-top:0px;">
        <div class="col-xs-12 img-container">            
            <img src="~/cdn/assets/icons/fill06.png" alt="PyME Segura">
        </div>
        <div class="col-xs-12 nombre-seguro" style="margin-top: 28px;">
            PyME Segura
        </div>
        <div class="col-xs-12 btn-container">
            <a class="btn col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6 btn-ver-mas redirect-to-segunda" href="@Url.Action("PyME","Seguros")"  id="pymeSeguro">VER MÁS</a>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-3 ele" style="padding-top:0px;">

        <div class="col-xs-12 img-container">
            <img src="~/cdn/assets/icons/otros-Seguros.png" alt="Otros Seguros"/>
        </div>
        <div class="col-xs-12 nombre-seguro">
            Otros Seguros
        </div>
        <div class="col-xs-12 btn-container">
            <a class="btn col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6 btn-ver-mas redirect-to-segunda" href="@Url.Action("Otros","Seguros")" id="otrosSeguros">VER MÁS</a>
        </div>
    </div>
</div>  

@section Scripts
{
    <script src="~/cdn/js/gtagKwanko/_SeguroDropdown.js"></script>
}