﻿<div class="chat-panel" id="chatPanel" style="display: none;">
    <div class="panel" style="margin-bottom:0">
        <div class="panel-heading" id="chatHeader" style="background-color: #00C0D7;color:#ffffff; cursor: pointer;" >
           @* <img src="~/cdn/assets/img/logo/logo-aba-chat.png" />*@
            <span id="lblHelp" style="font-size: 13px;">ABA Chat ¿En qué podemos ayudarte?</span>
            <div class="btn-group pull-right">
                <a href="#" id="closeChat">
                    <span class="glyphicon glyphicon-remove" style="padding-left: 5px;"></span>
                </a>
                <button class="btn btn-default btn-xs" id="btnStopChat" style="display:none;">
                    Finalizar
                </button>
            </div>
        </div>
        <div id="chatCollapsible" class="collapse in">
            @Html.Partial("~/Views/Chat/FormularioInicioChat_.cshtml")
            @Html.Partial("~/Views/Chat/_ChatCerrado.cshtml")
            @Html.Partial("~/Views/Chat/_ChatFinalizado.cshtml")
            @Html.Partial("~/Views/Chat/_ChatError.cshtml")
            <div class="chatControl" style="display: none;" id="chatControlContainer">
                <div class="panel-body" style="padding: 0px;background-color: #EBEBEB;">
                    <div class="chat-container" id="conversationContainer">
                    </div>
                </div>
                <div class="panel-footer">
                    <div style="padding:5px;font-size:12px;font-family:'Source Sans Pro'; font-weight:bold;color:#808080;">
                        &nbsp;<span id="pnlUserTyping" ></span>
                    </div>
                    <div class="input-group">
                        <input id="txtChatMensaje" type="text" class="form-control input-sm" placeholder="Escriba su mensaje..." value="" maxlength="500" />
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-sm" id="btnChatEnviarMensaje">
                                <span class="fa fa-send"></span><br/>
                                Enviar
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<script id="chatTextTemplate" type="text/template">
    <%
    _.each(conversation, function(message){
    %>
    <div class="chat">

        <%
        if(message.type === 'incoming') {
        %>
        <div class="row">
            <div class="col-md-6 col-xs-6"><h1><%= message.sender %></h1></div>
            <div class="col-md-6 col-xs-6"><div style="text-align:right;"><span class="fa fa-clock-o"></span>&nbsp;<%= message.msgTime %></div></div>
        </div>
        <%
        }
        %>

        <%
        if(message.type === 'outgoing') {
        %>
        <div class="row">
            <div class="col-md-6 col-xs-6"><span class="fa fa-clock-o"></span>&nbsp;<%= message.msgTime %></div>
            <div class="col-md-6 col-xs-6"><div style="text-align:right;"><h1><%= message.sender %></h1></div></div>
        </div>
        <%
        }
        %>
        <div class="chat-<%= message.type %>">
            <p><%= message.text %></p>
        </div>
    </div>
    <%
    });
    %>
</script>*@
