﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" style="background: url(../cdn/assets/img/customersurvey/fondo.png)">
<head runat="server">
    <title></title>
    <link href="~/cdn/css/extended/fontfaces.css" rel="stylesheet" />
    <link href="~/cdn/css/jqueryui/jquery-ui.css" rel="stylesheet" />
    <link href="~/cdn/css/jqueryui/jquery-ui.theme.min.css" rel="stylesheet" />
    <script src="~/cdn/js/jquery-2.2.4.min.js"></script>
    <script src="~/cdn/js/jquery-ui.min.js"></script>
    <script src="~/cdn/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/cdn/aplicacion/Encuesta.js"></script>
    <script nonce="YWJhLmNodWJiLmNvbQ==">
        var webSiteRoot = "@Url.Content("~/")";
        var apiRoot = "@PortalABA.Servicios.Utils.GetAPIRoot()";
    </script>
    @RenderSection("Scripts", required: true)
    <style type="text/css">
        .btnEncuestaInactivo {
            background-image: url(../cdn/assets/img/customersurvey/btnenviar.png); /* 16px x 16px */
            background-color: transparent; /* make the button transparent */
            background-repeat: no-repeat; /* make the background image appear only once */
            background-position: 0px 0px; /* equivalent to 'top left' */
            border: none; /* assuming we don't want any borders */
            /* height: 16px;*/ /* make this the size of your image */
            /* padding-left: 16px;*/ /* make text start to the right of the image */
            vertical-align: middle; /* align the text vertically centered */
            height: 50px;
            width: 150px;
            opacity: 0.6;
            cursor: not-allowed;
        }

        .btnEncuestaActivo {
            background-image: url(../cdn/assets/img/customersurvey/btnenviar.png); /* 16px x 16px */
            background-color: transparent; /* make the button transparent */
            background-repeat: no-repeat; /* make the background image appear only once */
            background-position: 0px 0px; /* equivalent to 'top left' */
            border: none; /* assuming we don't want any borders */
            cursor: pointer; /* make the cursor like hovering over an <a> element */
            /* height: 16px;*/ /* make this the size of your image */
            /* padding-left: 16px;*/ /* make text start to the right of the image */
            vertical-align: middle; /* align the text vertically centered */
            height: 50px;
            width: 150px;
        }

        .lblErrorMsg {
            font-size: 40px;
        }

        /*  [type=radio] {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
        }
        */
        /* IMAGE STYLES */
        [type=radio] + img {
            cursor: pointer;
        }

        /* CHECKED STYLES */
        /*  [type=radio]:checked + img {
            outline: 2px solid #f00;
        }*/

        .imgSI {
            background-image: url(../cdn/assets/img/customersurvey/si.png);
            background-repeat: no-repeat;
        }

        .imgSI-Gris {
            background-image: url(../cdn/assets/img/customersurvey/si_gris.png);
            background-repeat: no-repeat;
        }

        .imgNO {
            background-image: url(../cdn/assets/img/customersurvey/no.png);
            background-repeat: no-repeat;
        }

        .imgNO-Gris {
            background-image: url(../cdn/assets/img/customersurvey/no_gris.png);
            background-repeat: no-repeat;
        }

        .imgBUENO {
            background-image: url(../cdn/assets/img/customersurvey/bueno.png);
            background-repeat: no-repeat;
        }

        .imgBUENO-Gris {
            background-image: url(../cdn/assets/img/customersurvey/bueno_gris.png);
            background-repeat: no-repeat;
        }

        .imgMALO {
            background-image: url(../cdn/assets/img/customersurvey/malo.png);
            background-repeat: no-repeat;
        }

        .imgMALO-Gris {
            background-image: url(../cdn/assets/img/customersurvey/malo_gris.png);
            background-repeat: no-repeat;
        }

        .imgREGULAR {
            background-image: url(../cdn/assets/img/customersurvey/regular.png);
            background-repeat: no-repeat;
        }

        .imgREGULAR-Gris {
            background-image: url(../cdn/assets/img/customersurvey/regular_gris.png);
            background-repeat: no-repeat;
        }

        .imgEXCELENTE {
            background-image: url(../cdn/assets/img/customersurvey/excelente.png);
            background-repeat: no-repeat;
        }

        .imgEXCELENTE-Gris {
            background-image: url(../cdn/assets/img/customersurvey/excelente_gris.png);
            background-repeat: no-repeat;
        }
     </style>
</head>
<body>
    <header style="text-align:center;"><img src="~/cdn/assets/img/customersurvey/logo.png" style="margin:auto; width:200px;" /></header>
    @Html.Hidden("MsgEncuestaContestada", System.Configuration.ConfigurationManager.AppSettings["MsgEncuestaContestada"])
    @Html.Hidden("MsgEncuestaFin", System.Configuration.ConfigurationManager.AppSettings["MsgEncuestaFin"])
    @Html.Hidden("MsgError", System.Configuration.ConfigurationManager.AppSettings["MsgError"])
    @Html.Hidden("MsgSiniestroNoEncontrado", System.Configuration.ConfigurationManager.AppSettings["MsgSiniestroNoEncontrado"])
    @Html.Hidden("varOrden", Session["orden"])  
    <div id="divTitle" style="text-align:center; padding-top:40px;">
        <label id="lbltituloEncuesta" style="color: white; font-size: 25px; font-weight: bold; font-family: 'Montserrat'"></label><br />
        <label id="lblSubtituloEncuesta" style="color: white; font-size: 25px; font-family: 'Montserrat'"></label>
    </div>
    <div style="padding-top: 30px; margin:auto; width:80%">
        <form id="fEncuesta" runat="server" style="background-color:white; border-radius:10px;">
            <div style="text-align:center"></div>
            <br /><br />
            <div id="divEncuestaServicio" style="padding-top:20px; font-family:'Montserrat'; font-size:17px; padding-left:200px;padding-right:150px;">
                @Html.Partial("EncuestaServicio")
            </div>
        </form>
    </div>
</body>
</html>


