﻿<div class="info-footer last-section" id="pnlFooter">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-content">
                        <div class="footer-title"><strong>Chubb Seguros México, S.A.</strong></div>
                        <div class="footer-underline">
                            <img src="~/cdn/assets/img/footer-title.gif" alt="Chubb Seguros México"/>
                        </div>
                        <div class="footer-maincontent">
                            Chubb cuenta con una amplia gama de productos dirigida al mercado de personas y de la pequeña y mediana empresa. Ofrecemos un respaldo y servicio de calidad, además de un cálido trato, siempre enfocado en el cliente.
                        </div>
                        <div class="social-links">
                            <table id="social-links">
                                <tr>
                                    <td><a href="https://www.facebook.com/abaproductos/" target="_blank"><img src="~/cdn/assets/img/social/facebook.png" class="img-responsive" style="width: 32px;" alt="facebook"/></a></td>
                                    <td><a href="https://twitter.com/abaproductos" target="_blank"><img src="~/cdn/assets/img/social/twitter.png" class="img-responsive" style="width: 32px;" alt="twitter"/></a></td>
                                    <td><a href="https://www.youtube.com/channel/UCx1rmOMaFO1CqzDOLOX0xLw" target="_blank"><img src="~/cdn/assets/img/social/youtube.png" class="img-responsive" style="width: 32px;" alt="youtube"/></a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-content">
                        <div class="footer-title">ACCESOS R&Aacute;PIDOS</div>
                        <div class="footer-underline">
                            <img src="~/cdn/assets/img/footer-title.gif" alt="accesos rápidos"/>
                        </div>
                        <ul>
                            
                            <li><a href="https://www.autos.subastasabaseguros.com">Subastas (Proveedores)</a></li>
                            <li><a href="~/Contenidos/Portal/?vista=Seguro_Basico">Seguro B&aacute;sico Estandarizado</a></li>
                            <li><a href="https://www2.chubb.com/mx-es/condiciones-generales.aspx" target="_blank">Condiciones Generales</a></li>
                            <li><a href="~/AutoCotizador/Index">Cotizador de Auto</a></li>
                            <li><a href="~/Contenidos/Portal/?vista=Seguimiento_Siniestro">Seguimiento a Siniestros</a></li>
                            <li><a href="~/Contenidos/Siniestro">¿Qu&eacute; hacer en caso de siniestro?</a></li>
                            <li><a href="https://www2.chubb.com/mx-es/" target="_blank">Conoce Chubb</a></li>
                            <li><a href="https://www.chubb.com/mx-es/about-us/chubb-insurance.aspx" target="_blank">Unidad Especializada de Atención al Cliente (UNE)</a></li>
                            <li><span style="color: #CACBCD !important;">Descarga APP ABA Clientes</span> <a href="https://itunes.apple.com/mx/app/aba-clientes/id590274057?mt=8" target="_blank" style="margin-left: 12px;"><img src="~/cdn/assets/icons/mobile/Apple.png" alt="ios"/></a> <a href="https://play.google.com/store/apps/details?id=com.abaseguros.abaclientes&hl=es_419" target="_blank" style="margin-left: 15px;"><img src="~/cdn/assets/icons/mobile/Android.png" alt="android"/></a> </li>
                        </ul>
                        <div>
                            <table>
                                <tr>
                                    <td style="vertical-align:top;">
                                        <a href="http://www.buro.gob.mx" target="_blank">
                                            <div style="text-align: center;">
                                                <img src="~/cdn/assets/img/logo/logo-buro.png" alt="buró de crédito"/>
                                                <div style="font-family: 'Source Sans Pro'; font-size: 10px; color: #BABBBD;">http://www.buro.gob.mx</div>
                                            </div>
                                        </a>
                                    </td>
                                    <td style="vertical-align:top;">
                                        <div style="padding-left: 50px;">
                                            <a href="#" data-toggle="modal" data-target="#ModalCondusef">
                                                <img src="~/cdn/assets/img/logo/logo-condusef.png" alt="condusef" />
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="footer-content">
                        <div class="footer-title">CONTACTO</div>
                        <div class="footer-underline">
                            <img src="~/cdn/assets/img/footer-title.gif" alt="underline"/>
                        </div>
                        <div>
                            <a href="tel:018007122828" class="footer-tel" id="footertelefono">01 800 712 2828</a>
                        </div>
                        <div style="padding-top: 10px; padding-bottom: 10px; font-size: 12px;">
                            <a href="@PortalABA.Servicios.Properties.Settings.Default.contacto_default_email" class="footer-mail" id="footeremail">@PortalABA.Servicios.Properties.Settings.Default.contacto_default_email</a>
                        </div>
                        <div id="selectorOficinas">
                            <div class="footer-lozalizador-title">LOCALIZAR OFICINAS:</div>
                            <div style="padding-top: 10px;">
                                <select id="footerEstado" class="form-control">
                                    <option value="0">Seleccionar estado</option>
                                </select>
                            </div>
                            <div style="padding-top: 10px;">
                                <select id="footerMunicipio" class="form-control">
                                    <option value="0">Seleccionar municipio</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="info-footer-links">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-12">
            <div class="row">
                <div class="col-md-6 hidden-xs">
                    © Chubb Seguros México, S.A. Todos los derechos reservados.
                </div>
                <div class="col-xs-12 visible-xs">
                    <div style="text-align: center; padding-top: 5px; padding-bottom: 10px; font-size: 11px;">
                        © Chubb Seguros México, S.A. Todos los derechos reservados.
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="row">
                        <div class="col-md-offset-8 col-xs-offset-8 col-md-4 col-xs-4">
                            <div style="text-align: center;">
                                 
                                <a href="https://www2.chubb.com/mx-es/footer/privacy-notices.aspx" target="_blank">Aviso de privacidad</a>
                                @*<a href="~/Contenidos/Portal/?vista=Aviso_Privacidad">Aviso de privacidad</a>*@
                            </div>
                        </div>
                        @*<div class="col-md-4 col-xs-4">
                            <div style="text-align: center;">
                                <a href="~/cdn/assets/docs/AvisodeLegalAbaseguros.pdf" target="_blank">Aviso legal</a>
                            </div>
                        </div>*@
                        @*<div class="col-md-4 col-xs-4">
                            <div style="text-align: center;">
                                <a href="~/Contenidos/Portal/?vista=MapaSitio">Mapa del sitio</a>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Condusef -->
<div id="ModalCondusef" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style="margin-top: 25px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -35px;"><span aria-hidden="true">&times;</span></button>
                <a href="http://www.condusef.gob.mx" target="_blank">
                    <img src="~/cdn/assets/img/condusef.jpg" class="img-responsive" alt="condusef"/>
                </a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts
{
    <script src="~/cdn/js/gtagKwanko/Footer_.js"></script>
}