﻿@{  
    var registro = PortalABA.Servicios.Properties.Settings.Default.PortalABA_RegistroCliente;
    var contrasena = PortalABA.Servicios.Properties.Settings.Default.PortalABA_RecuperarContrasenaCliente;
    var mailto = PortalABA.Servicios.Properties.Settings.Default.contacto_default_email;
    var telefono = PortalABA.Servicios.Properties.Settings.Default.contacto_default_telefono;
    var urlIframe = PortalABA.Servicios.Properties.Settings.Default.urlIframe + "100&wctx=rm%3d0&id=passive&ru=%2f&wtrealm=https%3a%2f%2fweb5.abaseguros.com%2facceso%2fLoginProxy.aspx&wa=wsignin1.0";
    var marqueeEnabled = System.Configuration.ConfigurationManager.AppSettings["marqueeVisible"] ?? "";
}
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div style="background-color: #4A4F53;">
            <div class="row">
                <div class="col-md-9 col-sm-6 col-xs-12">
                    @if (marqueeEnabled == "1")
                    {
                    <div class="row" onclick="window.open('/Contenidos/Portal/?vista=TemporadaHuracanes', 'mywindow');">
                        <div class="marquee" style="color:#FFF;margin-top:4px;cursor:pointer;width:100%">
                            <strong>Temporada de Huracanes 2018:&nbsp;</strong>¡Protégete! Recomendaciones para cuidar de tí y tu familia en esta temporada <u>aqui.</u>
                        </div>
                    </div>
                    }
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 toolBarButtonContainer">
                    <table id="toolBarButtonHeader">
                        <tr>
                            <td>
                                <a id="telABA" style="width:100%;" href="tel:@telefono" class="btn btn-sm tool-btn-red">
                                    <div class="btn-tool-container" >
                                        <img src="~/cdn/assets/img/home/phone.png" style="width:16px" alt="Contacto"/>
                                        @*<span class="fa fa-phone"></span>*@
                                    </div>
                                </a>
                            </td>
                            <td>
                                <a href="#" style="width:100%;" class="btn btn-sm tool-btn-purple" id="lnkLanzarChat">
                                    <div class="btn-tool-container" >
                                        <img src="~/cdn/assets/img/home/message.png" style="width:14px" alt="ABA Chat"/>
                                        @*<span class="fa fa-comment"></span>*@
                                    </div>
                                </a>
                            </td>
                            <td>
                                <a id="mailABA" style="width:100%;" href="mailto:@mailto" class="btn btn-sm tool-btn-yellow">
                                    <div class="btn-tool-container"  >
                                        <img src="~/cdn/assets/img/home/envelope.png" style="width:17px" alt="Enviar Correo"/>
                                        @*<span class="fa fa-envelope"></span>*@
                                    </div>
                                </a>
                            </td>
                            <td>
                                <button id="btnServiciosEnLinea" class="btn btn-sm tool-btn-green" >
                                    <span style="padding-left: 10px; padding-right: 10px;">Servicios en l&iacute;nea</span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid aba-header-height">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="~/Home/Index" id="homeIndex">
                <img src="@Url.Content("~/cdn/assets/img/logo/logo-aba-productos.png")" style="max-height: 65px;" class="logoAbaHeader img-responsive" alt="ABA Productos"/>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" style="padding-right: 50px;">
            <ul class="nav navbar-nav navbar-right" style="font-size: 14px; font-weight: bold; text-transform: uppercase;">
                <li class="dropdown seguros">
                    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="nuestrosSeguros">Nuestros Seguros</a>
                    <!-- Dropdown Seguros -->
                    <ul class="dropdown-menu" style="height: 280px; background-color: rgba(0,192,215,0.9);">
                        <li>
                            <div class="col-xs-12 btn-container" style="padding-top:11px;">
                                    <div class="col-xs-4 nombre-seguro" style="padding-left:5px;">Auto Seguro</div>
                                    <a class="btn col-xs-4 btn-ver-mas redirect-to-segunda btn-cotizar" href="@Url.Action("Auto","Seguros")" id="autoSeguro">VER MÁS</a>
                                    <a class="btn col-xs-4 btn-ver-mas redirect-to-cotizador btn-cotizar" href="@Url.Action("Index","AutoCotizador")" id="autoCotizador">COTIZAR</a>
                            </div>
                        </li>

                        <li>
                            <div class="col-xs-12 btn-container" style="padding-top:11px;">
                                <div class="col-xs-4 nombre-seguro" style="padding-left:5px;">Hogar Seguro</div>
                                <a class="btn col-xs-4 btn-ver-mas redirect-to-segunda btn-cotizar" href="@Url.Action("Hogar","Seguros")" id="hogarSeguro">VER MÁS</a>
                                <a class="btn col-xs-4 btn-ver-mas redirect-to-cotizador btn-cotizar" href="@Url.Action("Index","CasaCotizador")" id="casaCotizador">COTIZAR</a>
                            </div>
                        </li>
                        <li>
                            <div class="col-xs-12 btn-container" style="padding-top:11px;">
                                <div class="col-xs-4 nombre-seguro" style="padding-left:5px;">PyME Segura</div>
                                <a class="btn col-xs-4 btn-ver-mas redirect-to-segunda btn-cotizar" href="@Url.Action("PyME","Seguros")"  id="pymeSeguro">VER MÁS</a>
                            </div>
                        </li>
                        <li>
                            <div class="col-xs-12 btn-container" style="padding-top:11px;">
                                <div class="col-xs-4 nombre-seguro" style="padding-left:5px;">Otros Seguros</div>
                                <a class="btn col-xs-4 btn-ver-mas redirect-to-segunda btn-cotizar" href="@Url.Action("Otros","Seguros")"  id="otrosSeguros">VER MÁS</a>
                            </div>
                        </li>
                    </ul>
                    <!-- /Dropdown Seguros -->
                </li>
                <li><a href="~/Contenidos/QuienesSomos" id="quienesSomos">Qui&eacute;nes somos</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="login-right-panel col-xs-12 col-sm-offset-9 col-sm-3 col-md-offset-9 col-md-3 col-lg-offset-10 col-lg-2" >
    <div class="sidebar-nav-fixed pull-right">
        <div class="col-xs-12 well2 pull-right loginSection">
            <div style="text-align:right;">
                   <div class="btn close" id="btnCloseCuadro">
                        <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                    </div>
                </div>
            <div class="col-xs-12 col-md-12 loginSectiontitle">
                INGRESA A TU PORTAL
            </div>
            <div class="col-xs-12 loginSectionOption">
                <a href="@Url.Action("AgentesBrokers","LogIn")" onclick="gtag('event', 'servicio_express', { 'event_category': 'home', 'event_label': 'Agentes_y_Brokers' });">
                    <div class="col-xs-1 loginSectionIcon green">
                        <img src="~/cdn/assets/img/iconos/icn-agentesybrokers.png" alt="Agentes y Brokers" />
                    </div>
                    <div class="col-xs-11 loginSectionli">
                        Agentes y Brokers

                    </div>
                </a>
            </div>
            <div class="col-xs-12 loginSectionOption" >
                <a href="@Url.Action("Clientes","LogIn")" onclick="gtag('event', 'servicio_express', { 'event_category': 'home', 'event_label': 'Agentes_y_Brokers' });">
                   <div class="col-xs-1 loginSectionIcon purple">
                       <img src="~/cdn/assets/img/iconos/icn-clientes.png" alt="Clientes" />
                    </div>
                    <div class="col-xs-11 loginSectionli">
                        Clientes
                    </div>
                </a>
            </div>
            <div class="col-xs-12 loginSectionOption" >
                <a href="@Url.Action("AgenciaAutos","LogIn")" onclick="gtag('event', 'servicio_express', { 'event_category': 'home', 'event_label': 'Agentes_y_Brokers' });">
                    <div class="col-xs-1 loginSectionIcon yellow">
                        <img src="~/cdn/assets/img/iconos/icn-ageciasautos.png" alt="Agencia de Autos" />
                    </div>
                    <div class="col-xs-11 loginSectionli">
                        Agencia de Autos
                    </div>
                </a>
            </div>
            <div class="col-xs-12 loginSectionOption" >
                <a href="@Url.Action("Proveedores","LogIn")" onclick="gtag('event', 'servicio_express', { 'event_category': 'home', 'event_label': 'Agentes_y_Brokers' });">
                    <div class="col-xs-1 loginSectionIcon red">
                        <img src="~/cdn/assets/img/iconos/icn-proveedores.png" alt="Proveedores" />
                    </div>
                    <div class="col-xs-11 loginSectionli">
                        Proveedores
                    </div>
                </a>
            </div>
            @*<iframe name="loginframe" id="ssologin" type="text/html" width="225px" height="230px" scrolling="no" src="@urlIframe" frameborder="0" allowfullscreen="" 0></iframe>*@
            @*<div class="inicio-blanco col-xs-12" style="text-align:center;">
                INICIAR SESIÓN
            </div>
            <div class="col-xs-12 inicio-txt">
                Si eres Cliente, Agente o Agencia puedes ingresar desde aquí.
            </div>
            <form method="post" action="https://login.abaseguros.com/acceso/LoginOV.aspx?whr=100&wctx=rm%3d0&id=passive&ru=%2f&wtrealm=https%3a%2f%2flogin.abaseguros.com%2facceso%2fLoginProxy.aspx&wa=wsignin1.0">
                <div class="col-xs-12" style="margin-top:18px;">
                    <input type="text" id="txtCorreo" name="txtCorreo" placeholder="Usuario" class="color-gris2 col-xs-12">
                </div>
                <div class="col-xs-12" style="margin-top:10px;">
                    <input type="password" id="txtContrasenia" name="txtContrasenia" placeholder="Contraseña" class="color-gris2 col-xs-12">
                </div>

                <button type="submit" class="col-xs-12 green-btn text-uppercase" style="background-color: transparent !important;">
                    Iniciar Sesión
                </button>
            </form>
            <div class="col-xs-12 col-md-6 col-lg-6 btn-registrar-cliente">
                <a class="pull-left" href="@registro" style="font-size: 8.5px">Registrar al Cliente</a>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6 btn-registrar-cliente">
                <a class="pull-right" href="@contrasena" style="font-size: 8.5px">Recuperar Contrase&ntilde;a</a>
            </div>*@
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-12 well2 bgcolor-aba servicioexpressSection pull-right" style="padding-bottom:15px; padding-top:10px;padding-left: 15px !important;">
            <div class="col-xs-12 col-md-12 servicioexpresstitle">
                SERVICIOS EXPRESS
            </div>
            <div class="col-xs-12 servicioexpresssubtitle" >
                <div class="col-xs-12">
                    Con solo tener tu póliza estas a un click de :
                </div>
            </div>
            <div class="col-xs-12 servicioexpressOption">
                <a href="~/ServiciosExpress/SeguimientoSiniestro" class="se-li" id="seguimientoSiniestro">
                    <div class="col-xs-1 servicioexpressicon">
                        <img src="~/cdn/assets/img/iconos/icn-seguimiento.png" alt="Seguimiento a Siniestros" />
                    </div>
                    <div class="col-xs-11 servicioexpressli">
                        Seguimiento a siniestro
                    </div>
                </a>
            </div>
            <div class="col-xs-12  servicioexpressOption" >
                <a href="~/ServiciosExpress/PagoPoliza" class="se-li" id="pagoPoliza">
                    <div class="col-xs-1 servicioexpressicon">
                        <img src="~/cdn/assets/img/iconos/icn-pago.png" alt="Pago de Póliza" />
                    </div>
                    <div class="col-xs-11 servicioexpressli">
                        Pago de póliza
                    </div>
                </a>
            </div>
            <div class="col-xs-12  servicioexpressOption">
                <a href="~/ServiciosExpress/ConsultaPoliza" id="consultaPoliza">
                    <div class="col-xs-1 servicioexpressicon">
                        <img src="~/cdn/assets/img/iconos/icn-consulta.png" alt="Consulta tu Poliza" />
                    </div>
                    <div class="col-xs-11 servicioexpressli">
                        Consulta tu póliza
                    </div>
                </a>
            </div>
            <div class="col-xs-12 servicioexpressOption" >
                <a href="~/ServiciosExpress/PagoDeducible" id="pagoDeducible">
                    <div class="col-xs-1 servicioexpressicon">
                        <img src="~/cdn/assets/img/iconos/icn-pago.png" alt="Pago deducible" />
                    </div>
                    <div class="col-xs-11 servicioexpressli">
                        Pago de deducible
                    </div>
                </a>
            </div>
            <div class="col-xs-12 servicioexpressOption" >
                <a href="~/ServiciosExpress/ConsultaFactura" id="consultaFactura">
                    <div class="col-xs-1 servicioexpressicon">
                        <img src="~/cdn/assets/img/iconos/icn-consulta.png" alt="Consulta tu Factura" />
                    </div>
                    <div class="col-xs-11 servicioexpressli">
                        Consulta tu factura
                    </div>
                </a>
            </div>
            <div class="col-xs-12 servicioexpressOption" >
                <a href="~/Contenidos/Contacto#seccionmapa" id="seccionMapa">
                    <div class="col-xs-1 servicioexpressicon">
                        <img src="~/cdn/assets/img/iconos/icn-localizador.png" alt="Localizador Oficinas" />
                    </div>
                    <div class="col-xs-11 servicioexpressli">
                        Localizador de oficinas
                    </div>
                </a>
            </div>
            <div class="col-xs-12 servicioexpressOption" >
                <a href="~/Contenidos/Siniestro" id="reportaSiniestro">
                    <div class="col-xs-1 servicioexpressicon">
                        <img src="~/cdn/assets/img/iconos/icn-reporta.png" alt="Reportar Siniestro" />
                    </div>
                    <div class="col-xs-11 servicioexpressli">
                        Reportar siniestro
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_SeguroDropdown")


    <script src="~/cdn/js/gtagKwanko/Header_.js"></script>
