﻿@model List<PortalABA.UI.Models.ErrorModel>
    @if (Model != null)
    {
<div style="color: #ff0039;">
    <p><strong>Por favor verifique lo siguiente:</strong></p>
    <div>
        <ul>
            @foreach (var item in Model)
            {
                <li>@(item.detalle == null ? item.Resumen : item.detalle)</li>
            }
        </ul>
    </div>
</div>}
