﻿<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @RenderSection("MetaTags", false)
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    @*<title>Chubb | Portal Web</title>*@
        
    <link href="~/cdn/css/extended/app.css" rel="stylesheet" />
    <!-- Bootstrap -->
    <link href="~/cdn/css/cosmo.css" rel="stylesheet" />
    <!-- Custom ABA Styles: -->
    <link href="~/cdn/css/extended/fontfaces.css" rel="stylesheet" />
    <link href="~/cdn/css/extended/cssBase.css" rel="stylesheet" />
    <link href="~/cdn/css/extended/page-header.css" rel="stylesheet" />
    <link href="~/cdn/css/jqueryui/jquery-ui.css" rel="stylesheet" />
    <link href="~/cdn/css/jqueryui/jquery-ui.theme.min.css" rel="stylesheet" />
    <link href="~/cdn/css/extended/abaseguros.css" rel="stylesheet"/>
    
    <link href="~/cdn/css/jcarousel.responsive.css" rel="stylesheet" />
    <link href="~/cdn/css/extended/abaseguros2.css" rel="stylesheet"/>
    <link href="~/cdn/css/chat.css" rel="stylesheet" />
   
    <link type="text/css" rel="stylesheet" href="~/cdn/css/pages/auto/auto.css" />
    <link type="text/css" rel="stylesheet" href="~/cdn/css/pages/auto/auto-responsive.css" />
    @*Vendor styles:*@
    <link href="~/cdn/css/font-awesome.min.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Hotjar Tracking Code for https://www.abaseguros.com -->
    <script  nonce="YWJhLmNodWJiLmNvbQ==">
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:670383,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-85843301-11"></script>
    <script  nonce="YWJhLmNodWJiLmNvbQ==">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-85843301-11');
    </script>
    @RenderSection("Styles", false)
</head>
<body>
    @Html.Partial("Header_")
    <div class="container-fluid">
        <div>
            @RenderBody()
            @Html.Partial("Footer_")
        </div>
    </div>

    <!-- Modales de Correo y Teléfono -->
    <div id="ModalTelefono" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" style="height: 150px !important; width: 350px;" role="document">
            <div class="modal-content" style="height: 150px !important; width: 350px;">
                <div class="modal-body" style="margin-top: 25px;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -35px;"><span aria-hidden="true">&times;</span></button>
                    <h2 style="font-weight: bold; text-align: center; font-size: 20px; margin: 0px;">Contacto:</h2>
                    <h2 style="font-weight: bold; text-align: center; font-size: 30px; margin: 0px;">01800 712 2828</h2>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Lightbox -->
    <div id="Lightbox" style="display: none;position: fixed; padding: 0; margin: 0; top: 0; left: 0; width: 100%; height: 100%;background:rgba(0,0,0,0.5); z-index: 99999;">
        <div id="spinnerLight" style="color: white; position: absolute; top: 50%;left: 50%; padding: 20px; resize: both; width: 50%;transform: translate(-17%, -50%); overflow: auto;">
            <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>Cargando Paquetes...
        </div>
    </div>

    <script  nonce="YWJhLmNodWJiLmNvbQ==">
        var webSiteRoot = "@Url.Content("~/")";
        var apiRoot = "@PortalABA.Servicios.Utils.GetAPIRoot()";
    </script>

    @Html.Partial("Analytics_")

    <script src="~/cdn/js/jquery-2.2.4.min.js"></script>
    <script src="~/cdn/js/jquery-ui.min.js"></script>
    <script src="~/cdn/js/bootstrap.min.js"></script>
    @*<script src="~/cdn/js/underscore-min.js"></script>*@
    <script src="~/cdn/js/moment-with-locales.min.js"></script>
    <script src="~/cdn/aplicacion/utils.js"></script>
    <script src="~/cdn/js/abaseguros.js"></script>
    <script src="~/cdn/js/jcarousel/jquery.jcarousel.min.js"></script>
    <script src="~/cdn/js/jcarousel/autoscroll.js"></script>
    <script src="~/cdn/js/jcarousel/control.js"></script>
    <script src="~/cdn/js/jcarousel/core.js"></script>
    <script src="~/cdn/js/jcarousel/core_plugin.js"></script>
    <script src="~/cdn/js/jcarousel/pagination.js"></script>
    <script src="~/cdn/js/jcarousel/scrollintoview.js"></script>
    <script src="~/cdn/js/jquery.marquee.min.js"></script>
    <script  nonce="YWJhLmNodWJiLmNvbQ==">
        moment.locale("es");
        $('.carousel').carousel({
            interval: 7000
        });
    </script>
    
    <script src="~/cdn/aplicacion/cotizador.js"></script>
    @RenderSection("Scripts", false)

    @Html.Partial("~/Views/Shared/ChatPanel_.cshtml")
    <script type="text/javascript" src="~/cdn/aplicacion/chat-panel.js"></script>
    <script type="text/javascript" nonce="YWJhLmNodWJiLmNvbQ==">
        /*var path = "~/cdn/css/extended/abaseguros.css";
        var $head = $("iframe").contents().find("body");
        $head.css('background', 'none');*/
        $('#btnServiciosEnLinea').click(function () {
            $('.login-right-panel').show();
            gtag('event', 'servicios_en_linea', { 'event_category': 'home', 'event_label': '' });
        });
        $('#btnCloseServiciosENLinea').click(function () {
            $('.login-right-panel').slideUp();
        });
        $('.marquee').marquee({
            //speed in milliseconds of the marquee
            duration: 15500,
            //gap in pixels between the tickers
            gap: 50,
            //time in milliseconds before the marquee will start animating
            delayBeforeStart: 0,
            //'left' or 'right'
            direction: 'left',
            //true or false - should the marquee be duplicated to show an effect of continues flow
            duplicated: true
        });
        var oficinas = {
            Oficinas: [],
            Estados: []
        };

        CreateStateFooterSelect = function (data) {
            var $selector = $('#footerEstado');

            if ($selector.length > 0) {
                if ($selector.children() > 0) {
                    $selector.children().remove().end().append('<option>ESTADO</option>');
                }

                data.forEach(function (value, index, array) {
                    var option = '<option>' + value.Nombre + '</option>';
                    $selector.append(option);
                });
            }
        };

        CreateMunicipalityFooterSelect = function (data) {
            var $selector = $('#footerMunicipio');

            if ($selector.length > 0) {
                if ($selector.children().length > 0) {
                    $selector.children().remove().end().append('<option>MUNICIPIO</option>');
                }

                data.forEach(function (value, index, array) {
                    var option = '<option>' + value + '</option>';
                    $selector.append(option);
                });
            }
        };

        $(document).ready(function () {
            // Show Right Panel on init in Desktop
            var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
            
            

            if (!isMobile) {
                $('#telABA').click(function (e) {
                    e.preventDefault();

                    $('#ModalTelefono').modal('toggle');
                });
            }

            // Localizador de Oficinas
            $.ajax({
                url: '@Url.Action("GetOficinas", "Contenidos")',
                contentType: 'application/json',
                dataType: 'json',
                success: function (data, status, jqXHR) {
                    console.log(data);
                    oficinas.Oficinas = data.Oficinas;
                    oficinas.Estados = data.Estados;

                    CreateStateFooterSelect(oficinas.Estados);
                }
            });

            $('#footerEstado').on('change', function (e) {
                e.preventDefault();

                var val = $(this).val();
                var municipalities = [];

                oficinas.Estados.forEach(function (value, index, array) {
                    if (value.Nombre === val) {
                        municipalities = value.Municipios;
                    }
                });

                CreateMunicipalityFooterSelect(municipalities);
            });

            $('#footerMunicipio').on('change', function (e) {
                e.preventDefault();

                var val = $(this).val();
                var estado = $('#footerEstado').val();

                // Redireccionar a Localizador de oficinas.
                var uri = '@Url.Action("Portal", "Contenidos")?vista=Contacto&estado=' + estado + '&municipio=' + val + "#seccionmapa";

                window.location.replace(uri);
            });
        });
    </script>
 </body>
</html>
