﻿@{
    bool PagoHabilitado = true;
    DateTime CurrentDate = DateTime.Now;
    DateTime Inicio = Convert.ToDateTime(System.Configuration.ConfigurationManager.AppSettings["InhabilitaPagoDeducible_Inicio"].ToString());
    DateTime Fin = Convert.ToDateTime(System.Configuration.ConfigurationManager.AppSettings["InhabilitaPagoDeducible_Fin"].ToString());
    if (CurrentDate >= Inicio && CurrentDate <= Fin) { PagoHabilitado = false; }
}
<!-- Clave de Acceso -->
<div id="ModalAyudaClaveAcceso" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style="margin-top: 25px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -35px;"><span aria-hidden="true">&times;</span></button>
                <img src="/cdn/assets/img/clave_acceso.png" class="img-responsive" />
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Poliza -->
<div id="ModalAyudaPoliza" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style="margin-top: 25px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -35px;"><span aria-hidden="true">&times;</span></button>
                <img src="~/cdn/assets/img/poliza.png" class="img-responsive" />
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Asegurado -->
<div id="ModalAyudaAsegurado" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style="margin-top: 25px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -35px;"><span aria-hidden="true">&times;</span></button>
                <img src="~/cdn/assets/img/asegurado.png" class="img-responsive" />
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal de Ayuda de Numero de Siniestro -->
<div id="ModalAyudaNumeroSiniestro" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style="margin-top: 25px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -35px;"><span aria-hidden="true">&times;</span></button>
                <img src="~/cdn/assets/img/4127_ayuda_siniestro.png" class="img-responsive" />
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal de Ayuda de Numero de Siniestro -->
<div id="ModalAyudaInciso" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style="margin-top: 25px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -35px;"><span aria-hidden="true">&times;</span></button>
                <img src="~/cdn/assets/img/inciso.png" class="img-responsive" />
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@if (!PagoHabilitado)
{
    <div id="ModalPagoDesactivado" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body" style="margin-top: 25px;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -35px;"><span aria-hidden="true">&times;</span></button>
                    <strong>Estimado cliente: El sistema de pagos de Chubb estará fuera de servicio hasta el día 1 de enero 2019. Puedes realizar el pago de tu deducible en el banco con el número de referencia que te proporcionó tu valuador; si no cuentas con él, llámanos al 01800 712 2828 opción 2.</strong>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}