﻿
@section MetaTags{
    <title>ABA Chubb | Localizador de Agentes de Seguros</title>
    <meta name="description" content="Localiza a tu agente de seguros más cercano y solicita una cotización. Busca tu agente de seguros en toda la República Mexicana." />
    <meta name="keywords" content="agentes de seguros, contratar seguro, cotizar seguro, cotizador de seguros, seguros agente" />
}

<div class="agentescss">

    <div class="row">
        <div class="col-md-12 col-xs-12 barraInicial">
            <div class="col-md-offset-1 col-md-11 col-xs-12 ">
                <h1 class="barraInicialTxt1"><strong>Localizador de Agentes</strong></h1>
            </div>
            <div class="col-md-offset-1 col-md-11 col-xs-12 barraInicialTxt2">
                <p>ABA agentes cerca de ti</p>
            </div>
            <div class="col-md-offset-1 col-md-11 col-xs-12 barraInicialTxt3">
                <p>Busca a tu agente más cercano, y pide una cotización</p>
            </div>
        </div>
    </div>

    <!--Empresarial-->
    <div class="contenidogeneral">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="col-md-12 col-xs-12 tituloNegro27">
                Buscar
                <br /><br />
            </div>
            <div class="row">
                <div class="col col-md-4">
                    <select id="ddlEstados" class="form-control form-group-lg"><option>Estado</option></select>
                    <div id="LoadingStates" style="display:none;">
                        <i class="fa fa-cog fa-spin"></i> Cargando Estados...
                    </div>
                </div>
                <div class="col col-md-4">
                    <select id="ddlMunicipios" class="form-control form-group-lg"><option>Municipio</option></select>
                    <div id="LoadingCities" style="display:none;">
                        <i class="fa fa-cog fa-spin"></i> Cargando Municipios...
                    </div>
                </div>
                <div class="col col-md-4">
                    <button id="btnBuscar" class="btn btn-blue btn-block">BUSCAR AGENTE CERCA<i id="SearchingSpinner" style="display:none;" class="fa fa-cog fa-spin"></i></button>
                    <div id="pnlError" class="alert alert-warning" style="display:none;padding: 5px; font-size:12px; margin-top:10px;font-weight:normal!important;">Seleccionar el Estado y el Municipio para continuar.</div>
                </div>
            </div>
        </div>
        <!--UL AGENTES-->
        <div class="row">
            <div class="col-xs-offset-1 col-xs-11">
                <div class="row">
                    <div class="col-xs-12">
                        <ul id="ulAgentes" class="list-inline"></ul>
                    </div>
                </div>
            </div>
                </div>
            </div>
    </div>



@section Scripts{
    <script nonce="YWJhLmNodWJiLmNvbQ==">
        var _getAgentesUrl = '@Url.Action("GetAgentes", "Agentes")';
        var _getEstadosUri = '@Url.Action("GetEstados", "Agentes")';
        var _getMunicipiosUri = '@Url.Action("GetAgentesMunicipio", "Agentes")';
        var _indexColor = 0;

        $(function () {
            var _agentes = [];
            var _estados = [];

            var $ddlEstados = $('#ddlEstados');
            var $ddlMunicipios = $('#ddlMunicipios');
            var $ulAgentes = $('#ulAgentes');
            var $spinnerStates = $("#LoadingStates");
            var $spinnerCities = $("#LoadingCities");
            var $spinnerSearch = $("#SearchingSpinner");
            //$.get(_getAgentesUrl, function (resp) {
            //    _agentes = resp.Agentes;
            //    _estados = resp.Estados;

            //    resp.Estados.forEach(function (estado) {
            //        if (estado.Nombre != null && estado.Nombre.length > 0) {
            //            $ddlEstados.append($("<option></option>")
            //                .attr("value", estado.Nombre)
            //                .text(estado.Nombre));
            //        }

            //    });
            //});

            $spinnerStates.show();
            $.get(_getEstadosUri, function (response) {
                _estados = response.Estados;

                _estados.forEach(function (estado) {
                    if (estado.Nombre != null && estado.Nombre.length > 0) {
                        $ddlEstados.append($('<option></option>').attr('value', estado.Id).text(estado.Nombre));
                    }
                });

                $spinnerStates.hide();
            });

            $(document).on('change', '#ddlEstados', function () {
                $spinnerCities.show();
                $ddlMunicipios.html('<option>Municipio</option>');
                $ulAgentes.html('');
                $('#pnlError').hide();
                var estadoNombre = $(this).val();

                $.get(_getMunicipiosUri, { estado: estadoNombre }, function (response) {
                    _municipios = response.Municipios;
                    _municipios.forEach(function (municipio) {
                        if (municipio.Nombre != null && municipio.Nombre.length > 0) {
                            $ddlMunicipios.append($('<option></option>').attr('value', municipio.MunicipioId).text(municipio.Nombre));
                        }
                    });

                    $spinnerCities.hide();
                });

            });

            $('#btnBuscar').click(function LoadAgentes() {
                $ulAgentes.html('');

                var municipio = $ddlMunicipios.val();
                var estado = $ddlEstados.val();
                if (municipio == 'Municipio') $('#pnlError').show();
                else if (estado == 'Estado') $('#pnlError').show();
                else {
                    $('#pnlError').hide();
                    $spinnerSearch.show();
                }
                $.get(_getAgentesUrl, { estado: estado, municipio: municipio }, function (response) {
                    var agentes = response.Agentes;

                    $('#ulAgentes').load("/Agentes/ListadoAgentes_", { agentes: agentes });

                    $spinnerSearch.hide();
                });
                
            });


        });
    </script>
}
@section Styles  {
        <link href="~/cdn/css/extended/agentes.css" rel="stylesheet" />
}
