@using System.Web.Razor.Generator
@{
    var years = (PortalABA.Servicios.AutoCotizador.ObtenerAniosModelos()
        .Select(x => new SelectListItem
        {
            Value = x.Anio,
            Text = x.Anio
        })).ToList();

    years.Insert(0, new SelectListItem
    {
        Value = "0",
        Text = "Año",
        Selected = true
    });
}
@section Styles {
    <link href="~/cdn/css/pages/auto.css" rel="stylesheet" />
    <link href="~/cdn/css/pages/auto-responsive.css" rel="stylesheet" />
    <style>
        .right.carousel-control, .left.carousel-control {
            display: none;
        }
    </style>
}

@section Scripts {
    <script src="~/cdn/js/pages/auto.js"></script>
    <script src="~/cdn/aplicacion/cotizador.js"></script>
    <script src="~/cdn/js/gtag/ContenidosAuto_Seguro.js"></script>
}
<div id="carousel-seguro-auto" class="container-carousel-segunda col-xs-12 carousel slide" data-ride="carousel">
    <div class="col-xs-12 carousel-segunda">
        <br>
        <div id="carousel-segunda" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/cdn/assets/img/carrusel-1.png">
                </div>
                <div class="item">
                    <img src="~/cdn/assets/img/carrusel-2.png">
                </div>
                <div class="item">
                    <img src="~/cdn/assets/img/carrusel-3.png">
                </div>
                <div class="item">
                    <img src="~/cdn/assets/img/carrusel-4.png">
                </div>
            </div>

            <ol class="carousel-indicators">
                <li data-target="#carousel-seguro-auto" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-seguro-auto" data-slide-to="1"></li>
                <li data-target="#carousel-seguro-auto" data-slide-to="2"></li>
                <li data-target="#carousel-seguro-auto" data-slide-to="3"></li>
            </ol>
        </div>

    </div>

    <span class="left carousel-control" data-target="#carousel-seguro-auto" data-slide="prev" role="button">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </span>
    <span class="right carousel-control" href="#carousel-seguro-auto" data-slide="next" role="button">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </span>
</div>

<div id="beneficios" class="col-xs-12 beneficios-aba">
    <!-- Menu -->
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <ul class="submenu">
                <li><a href="#beneficios" class="active submenu-item">BENEFICIOS</a></li>
                <li><a href="#paquetes" class="submenu-item">NUESTROS PAQUETES</a></li>
                <li><a href="#conoce" class="submenu-item">CONOCE MÁS</a></li>
                <li><a href="#requisitos" class="submenu-item">REQUISITOS Y RESTRICCIONES</a></li>
                <li><a href="#consejos" class="submenu-item">CONSEJOS DE USO</a></li>
                <li><a href="#siniestro" class="submenu-item">EN CASO DE SINIESTRO</a></li>
                @*<li><a href="~/Contenidos/Portal/?vista=CondicionesGenerales" class="submenu-item">CONDICIONES GENERALES</a></li>*@
                <li><a href="https://www2.chubb.com/mx-es/_assets/documents/aa04-aba-a-automoviles-y-camiones-residentes.pdf" target="_blank" class="submenu-item">CONDICIONES GENERALES</a></li>         
            </ul>
        </div>
    </div>
    <div class="row left-title">
        ¿Qué nos hace diferentes?
    </div>
    <div class="row" style="margin-top:15px;">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="border-left: solid 6px #01C1E2">
            <div class="inner-title">
                NUESTROS SERVICIOS PARA TÍ
            </div>
            <div class="servicios-item">
                <div class="inner-item-title">
                    SEGUIMIENTO EN LÍNEA
                </div>
                <div class="inner-item-content">
                    Con seguimiento a Siniestro en Línea podrás revisar el avance de tu reparación 24/7
                </div>
            </div>
            <div class="servicios-item">
                <div class="inner-item-title">
                    GRÚA
                </div>
                <div class="inner-item-content">
                    Pago de corralón y grúa en caso de afectar cobertura de daños
                </div>
            </div>
            <div class="servicios-item last">
                <div class="inner-item-title">
                    APP PARA iOS Y ANDROID
                </div>
                <div class="inner-item-content">
                    Organiza y consulta tus pólizas de ABA Seguros en nuestra app
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="border-left: solid 6px #FF6400">
            <div class="inner-title">
                COBERTURAS QUE VAN MÁS ALLÁ DE TU AUTO
            </div>

            <div class="servicios-item">
                <div class="inner-item-title">
                    AUTO RELEVO PLUS
                </div>
                <div class="inner-item-content">
                    Te prestamos un vehículo de características similares cuando haya pérdida parcial (choque), pérdida total (robo o daños materiales), detención legal del vehículo por parte de la autoridad y avería mecánica mayor
                </div>
            </div>
            <div class="servicios-item">
                <div class="inner-item-title">
                    RC FAMILIAR
                </div>
                <div class="inner-item-content">
                    Ampara los daños que tu y tus dependientes puedan hacer a un tercero, aún cuando no esten en el auto.
                </div>
            </div>
            <div class="servicios-item last">
                <div class="inner-item-title">
                    GESTORÍA VIAL
                </div>
                <div class="inner-item-content">
                    Enviamos un gestor para apoyo del asegurado en realizar trámites
                </div>
            </div>

        </div>
    </div>
</div>


<div class="col-xs-12 seccion-gris">
    <div class="col-xs-7 col-sm-7 hidden-xs">
        <div class="col-xs-12 col-sm-11 ele">
            ¡Cotiza en línea! Rápido, fácil y en un solo clic!
        </div>
    </div>
    <div class="col-xs-5 col-sm-5 hidden-xs">
        <div class="col-xs-5 col-sm-6">
            <a href="~/AutoCotizador/Index" class="btn btn-seccion-gris" id="arefAqui" >¡Aquí!</a>
        </div>
    </div>
    <div class="row visible-xs hidden-sm hidden-md hidden-lg">
        <div class="col-xs-12 ele" style="margin-bottom: 15px;">
            ¡Cotiza en línea! Rápido, fácil y en un solo clic!
        </div>
        <div class="col-xs-12">
            <a href="~/AutoCotizador/Index" class="btn btn-seccion-gris" id="arefAqui2" >¡Aquí!</a>
        </div>
    </div>

</div>

<div id="paquetes" class="col-xs-12 seguro-para-tu">
    <p class="ProductosTitulo">NUESTROS PAQUETES</p>
    <div class="col-xs-10 col-xs-offset-1 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">

        <div id="rc" class="ele col-xs-12 col-sm-6 col-md-3 col-lg-3 auto-servicios ocultar hidden-xs">
            <div class="title" style="margin-top:40px;">
                RESPONSABILIDAD CIVIL
            </div>

            <div class="col-xs-12">
                <iframe class="center-block minivideos"
                        src="https://www.youtube.com/embed/IlIntNdIC-8?ecver=2"></iframe>
            </div>
        </div>
        <div id="limitada" class="ele col-xs-12 col-sm-6 col-md-3 col-lg-3 auto-servicios ocultar hidden-xs">
            <div class="title" style="margin-top:40px;">
                LIMITADA
            </div>
            <div class="col-xs-12">
                <iframe class="minivideos center-block"
                        src="https://www.youtube.com/embed/rz4DxhqL7NA?ecver=2"></iframe>
            </div>
        </div>
        <div id="amplia" class="ele col-xs-12 col-sm-6 col-md-3 col-lg-3 auto-servicios ocultar hidden-xs">
            <div class="estelar-franja" style="font-size:10.5px;">
                El 92% de nuestros clientes compra esta póliza
            </div>
            <div class="title" style="margin-top:10px;">
                <i class="fa fa-star" style="color:#F8E81C;"></i> AMPLIA
            </div>
            <div class="col-xs-12">
                <iframe class="minivideos center-block"
                        src="https://www.youtube.com/embed/4VDn9lCiP_s?ecver=2"></iframe>
            </div>

        </div>

        <div id="integral" class="ele col-xs-12 col-sm-6 col-md-3 col-lg-3 auto-servicios ocultar hidden-xs">
            <div class="title" style="margin-top:40px;">
                INTEGRAL
            </div>
            <div class="col-xs-12">
                <iframe class="minivideos center-block"
                        src="https://www.youtube.com/embed/R2eMcs_g9cM?ecver=2"></iframe>
            </div>

        </div>

        <!-- Paquetes iPhone-->
        <div id="phonePackages">
            <div class="col-xs-12 auto-servicios visible-xs hidden-md hidden-lg rc ocultar">
                <div class="col-xs-6 ele">
                    <div class="title" style="margin-top: 15px; padding: 0px 20px; text-align: center; color: black; font-weight: 300; text-transform: uppercase; font-size:10px">
                        Responsabilidad Civil
                    </div>
                </div>
                <div class="col-xs-6">
                    <iframe class="minivideos" style="width: 100px; height: 60px; margin-top: 20px; margin-bottom: 10px; margin-left: 20px;"
                            src="https://www.youtube.com/embed/IlIntNdIC-8?ecver=2"></iframe>
                </div>
            </div>

            <div class="col-xs-12 auto-servicios visible-xs hidden-md hidden-lg limitada ocultar">
                <div class="col-xs-6 ele">
                    <div class="title" style="margin-top: 15px; padding: 0px 20px; text-align: center; color: black; font-weight: 300; text-transform: uppercase;font-size:10px">
                        Limitada
                    </div>
                </div>
                <div class="col-xs-6">
                    <iframe class="minivideos" style="width: 100px; height: 60px; margin-top: 20px; margin-bottom: 10px; margin-left: 20px;"
                            src="https://www.youtube.com/embed/rz4DxhqL7NA?ecver=2"></iframe>
                </div>
            </div>

            <div class="col-xs-12 auto-servicios visible-xs hidden-md hidden-lg amplia ocultar">
                <div class="col-xs-12 estelar-franja">
                    El 92% de nuestros clientes compra esta p&oacute;liza
                </div>
                <div class="col-xs-6 ele">
                    <div class="title" style="margin-top: 15px; padding: 0px 20px; text-align: center; color: black; font-weight: 300; text-transform: uppercase;font-size:10px">
                        <i class="fa fa-star" style="color:#F8E81C;"></i> Amplia
                    </div>
                </div>
                <div class="col-xs-6">
                    <iframe class="minivideos" style="width: 100px; height: 60px; margin-top: 20px; margin-bottom: 10px; margin-left: 20px;"
                            src="https://www.youtube.com/embed/4VDn9lCiP_s?ecver=2"></iframe>
                </div>
            </div>

            <div class="col-xs-12 auto-servicios visible-xs hidden-md hidden-lg integral ocultar">
                <div class="col-xs-6 ele">
                    <div class="title" style="margin-top: 15px; padding: 0px 20px; text-align: center; color: black; font-weight: 300; text-transform: uppercase;font-size:10px">
                        Integral
                    </div>
                </div>
                <div class="col-xs-6">
                    <iframe class="minivideos" style="width: 100px; height: 60px; margin-top: 20px; margin-bottom: 10px; margin-left: 20px;"
                            src="https://www.youtube.com/embed/R2eMcs_g9cM?ecver=2"></iframe>
                </div>
            </div>
        </div>

        <!-- Tabla comparativa -->
        <div id="tabla-responsiva" class="table-responsive tbl-amortizacion" style="display:none; margin-left:30px; margin-bottom:10px; margin-right:30px;">
            <br class="tbl-amortizacion">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 table table-striped tbl-amortizacion hidden-sm hidden-xs" style="display:none; margin-bottom: 10px;">
                <div class="col-xs-3 tbl-amortizacion" style="display:none; width: 35%;"></div>
                <div class="col-xs-3 tbl-amortizacion" style="display:none; width: 16%;font-size: 24px;">R.C.</div>
                <div class="col-xs-3 tbl-amortizacion" style="display:none; width: 15%;font-size: 24px;">LIMITADA</div>
                <div class="col-xs-3 tbl-amortizacion" style="display:none; width: 20%;font-size: 24px;">
                    <i class="fa fa-star" style="color:#FFBB4B;"></i> AMPLIA
                    <p style="font-size: 11px;color: #1E130F; margin-bottom: 0px;">El 92% de nuestros clientes<br /> compra esta póliza</p>
                </div>
                <div class="col-xs-3 tbl-amortizacion" style="display:none; width: 10%;font-size: 24px;">INTEGRAL</div>
            </div>

            <div class="hidden-lg hidden-md" style="width: 970px;">
                <div class="col-xs-3"></div>
                <div class="col-xs-3 tbl-amortizacion" style="display:none; width: 18%;font-size: 24px;">R.C.</div>
                <div class="col-xs-3 tbl-amortizacion" style="display:none; width: 15%;font-size: 24px;">LIMITADA</div>
                <div class="col-xs-3 tbl-amortizacion" style="display:none; width: 20%;font-size: 24px;">
                    <i class="fa fa-star" style="color:#FFBB4B;"></i> AMPLIA
                    <p style="font-size: 11px;color: #1E130F; margin-bottom: 0px;">El 92% de nuestros clientes compra esta póliza</p>
                </div>
                <div class="col-xs-3 tbl-amortizacion" style="display:none; width: 15%;font-size: 24px;">INTEGRAL</div>
            </div>
            <table style="display:none;" class="table table-striped table-bordered tbl-amortizacion">
                <thead>
                    <tr>
                        <th style="background-color:#DDD;">Coberturas</th>
                        <th style="background-color:#DDD;">Suma Asegurada</th>
                        <th style="background-color:#DDD;">Deducible</th>
                        <th style="background-color:#DDD;">Suma Asegurada</th>
                        <th style="background-color:#DDD;">Deducible</th>
                        <th style="background-color:#01BFDF; color:#FFF;" class="estelar">Suma Asegurada</th>
                        <th style="background-color:#01BFDF; color:#FFF;" class="estelar">Deducible</th>
                        <th style="background-color:#DDD;">Suma Asegurada</th>
                        <th style="background-color:#DDD;">Deducible</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-benefit-message="¿Tu auto sufrió daños en un choque, volcadura o bien por huracán o granizo? no te preocupes más, ¡Esta cobertura te protege!.">
                        <td>Daños Materiales <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="danosmateriales"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Valor comercial</td>
                        <td>5%</td>
                        <td>Valor comercial</td>
                        <td>5%</td>
                    </tr>
                    <tr data-benefit-message="¿Y si tu auto es robado? ¿Podrías tu mismo solventar económicamente tan importante pérdida? Nuestra cobertura de Robo Total responde por ti.">
                        <td>Robo total <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="robototal"></i></td>
                        <td></td>
                        <td></td>
                        <td>Valor comercial</td>
                        <td>10%</td>
                        <td>Valor comercial</td>
                        <td>10%</td>
                        <td>Valor comercial</td>
                        <td>10%</td>
                    </tr>
                    <tr data-benefit-message="Imagina que haces un daño con tu auto a otro auto, al municipio o personas, o peor aún, a todo al mismo tiempo.">
                        <td>Responsabilidad Civil (Daños a Terceros) <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="responsabilidadcivil"></i></td>
                        <td>$1,500,000.00</td>
                        <td>NA</td>
                        <td>$1,500,000.00</td>
                        <td>NA</td>
                        <td>$1,500,000.00</td>
                        <td>NA</td>
                        <td>$1,500,000.00</td>
                        <td></td>
                    </tr>
                    <tr data-benefit-message="Mediante la cobertura de Responsabilidad Civil Familiar se cubren los Daños y perjuicios hasta por $500,000.00 pesos m.n. que el asegurado siendo persona física, ocasione a terceros y por los que deba responder legalmente, por hechos u omisiones no dolosos y que causen la muerte o menoscabo de la salud o el deterioro o destrucción de bienes de dichos terceros, ocurridos durante la vigencia de la póliza, como por ejemplo, a consecuencia de incendio o derrame accidental de agua de la vivienda de la cual es propietario. Para reportes de siniestro bajo esta cobertura marque el 01800 716-5467.">
                        <td>RC Familiar <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="rcpersonas"></i></td>
                        <td>$500,000.00</td>
                        <td>NA</td>
                        <td>$500,000.00</td>
                        <td>NA</td>
                        <td>$500,000.00</td>
                        <td>NA</td>
                        <td>$500,000.00</td>
                        <td>NA</td>
                    </tr>
                    <tr data-benefit-message="Si lamentablemente se ocupan servicios médicos para ti o para tus acompañantes en un accidente, nuestra cobertura cuenta una amplia red de hospitales.">
                        <td>Gastos Médicos Ocupantes <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="gmocupantes"></i></td>
                        <td>$400,000.00</td>
                        <td>NA</td>
                        <td>$400,000.00</td>
                        <td>NA</td>
                        <td>$400,000.00</td>
                        <td>NA</td>
                        <td>$400,000.00</td>
                        <td>NA</td>
                    </tr>
                    <tr data-benefit-message="Es la cobertura que necesitas para pagar la fianza  en caso de que estés detenido debido a las lesiones causadas a alguien más en el accidente.">
                        <td>Asistencia legal <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="asistencialegal"></i></td>
                        <td>$1,500,000.00</td>
                        <td>NA</td>
                        <td>$1,500,000.00</td>
                        <td>NA</td>
                        <td>$1,500,000.00</td>
                        <td>NA</td>
                        <td>$1,500,000.00</td>
                        <td></td>
                    </tr>
                    <tr data-benefit-message="Te prestamos un auto en caso de Robo o Pérdida Total por daños materiales, mientras realizas el trámite de indemnización.">
                        <td>Auto Relevo Pérdida Total <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="autorelevoperdidatotal"></i></td>
                        <td></td>
                        <td></td>
                        <td>Amparada</td>
                        <td>NA</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr data-benefit-message="¿Tu auto está en reparación por siniestro o avería mecánica mayor o fue robado y ahora no tienes en que moverte? Esta cobertura te da un auto para que te muevas y no compliques tu rutina. Para mayor información, en la sección condiciones puedes consultar los términos y exclusiones.">
                        <td>Auto Relevo Plus <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="autorelevoplus"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>15 días</td>
                        <td>NA</td>
                        <td>15 días</td>
                        <td>NA</td>
                    </tr>
                    <tr data-benefit-message="¿Ocupas ayuda para cambiar una llanta ponchada? ¿Una grúa? ¿Corriente para la batería de tu auto? ¿Un cerrajero? Para esto y más tienes esta cobertura.">
                        <td>Asistencia en Viaje <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="asistenciaenviaje"></i></td>
                        <td>Amparada</td>
                        <td>NA</td>
                        <td>Amparada</td>
                        <td>NA</td>
                        <td>Amparada</td>
                        <td>NA</td>
                        <td>Amparada</td>
                        <td>NA</td>
                    </tr>
                    <tr data-benefit-message="Cubre los trámites administrativos de una unidad tales como la baja de placas en caso de pérdida total o robo total, reposición de tarjeta de circulación y placas en caso de pérdida o robo, cambio de estado y cambio de propietario.">
                        <td>Gestoría Vial <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="gestoriavial"></i></td>
                        <td></td>
                        <td></td>
                        <td>Amparada</td>
                        <td>NA</td>
                        <td>Amparada</td>
                        <td>NA</td>
                        <td>Amparada</td>
                        <td>NA</td>
                    </tr>
                    <tr data-benefit-message="Cubre la responsabilidad civil por el tránsito de vehículos en territorio nacional, en que incurra el Asegurado o cualquier persona que con consentimiento del Asegurado use o posea el vehículo descrito en la Póliza con el límite de responsabilidad establecido en la misma, siempre que a consecuencia de dicho uso o posesión, cause a Terceros lesiones corporales, incapacidades temporales y/o permanentes o la muerte, que considera la responsabilidad civil a que se refiere el artículo 63 Bis de la Ley de Caminos, Puentes y Autotransporte Federal.">
                        <td>RC Personas <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="rcpersonas"></i></td>
                        <td>$100,000.00</td>
                        <td>NA</td>
                        <td>$100,000.00</td>
                        <td>NA</td>
                        <td>$100,000.00</td>
                        <td>NA</td>
                        <td>$100,000.00</td>
                        <td>NA</td>
                    </tr>
                    <tr data-benefit-message="Cláusula de Extensión Limitada. En caso de pérdida total por Robo o Daños materiales, podrás ser indemnizado por el total de la suma asegurada, aplicando un deducible.">
                        <td>CEL <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="cel"></i></td>
                        <td></td>
                        <td></td>
                        <td>Amparada</td>
                        <td>*SCGP</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr data-benefit-message="Cláusula de aumento porcentual que ampara un 10% sobre la suma asegurada del vehículo  en caso de pérdida total por daños materiales.">
                        <td>CAP Daños <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="capdanios"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Amparada</td>
                        <td>NA</td>
                    </tr>
                    <tr data-benefit-message="Cláusula de aumento porcentual que ampara un 10% sobre la suma asegurada del vehículo  en caso de robo total.">
                        <td>CAP Robo <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="caprobo"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Amparada</td>
                        <td>NA</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <section id="iconos" class="col-xs-10 col-xs-offset-1 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
        <div class="row col-xs-12">

            <div id="icon-1" class="col-xs-4 col-lg-2  icon-disabled" style="margin-bottom:30px;"><img src="~/cdn/assets/img/auto/DanosMateriales.png" alt=""><br><span style="color:#fff;">Daños materiales</span></div>

            <div id="icon-2" class="col-xs-4 col-lg-2 icon-disabled" style="margin-bottom:35px;"><img src="~/cdn/assets/img/auto/RoboTotal.png" alt=""><br><span style="color:#fff;">Robo total</span></div>

            <div id="icon-3" class="col-xs-4 col-lg-2 icon-disabled" style="margin-bottom:35px;"><img src="~/cdn/assets/img/auto/DanosTerceros.png" alt=""><br><span style="color:#fff;">Daños a terceros</span></div>

            <div id="icon-4" class="col-xs-4 col-lg-2 icon-disabled" style="margin-bottom:35px;"><img src="~/cdn/assets/img/auto/GastosMedico.png" alt=""><br><span style="color:#fff;">Gastos médicos ocupantes</span></div>

            <div id="icon-5" class="col-xs-4 col-lg-2 icon-disabled" style="margin-bottom:35px;"><img src="~/cdn/assets/img/auto/AsistenciaLegal.png" alt=""><br><span style="color:#fff;">Asistencia legal</span></div>

            <div id="icon-6" class="col-xs-4 col-lg-2 icon-disabled" style="margin-bottom:35px;"><img src="~/cdn/assets/img/auto/autorelevo.png" alt=""><br><span style="color:#fff;">Auto relevo</span></div>

        </div>
        <div class="row last col-xs-12" style="margin-bottom:0px;">

            <div id="icon-7" class="col-xs-4 col-lg-2 icon-disabled" style="margin-bottom:35px;"><img src="~/cdn/assets/img/auto/Grua.png" alt=""><br><span style="color:#fff;">Asistencia en viaje</span></div>

            <div id="icon-8" class="col-xs-4 col-lg-2 icon-disabled" style="margin-bottom:35px;"><img src="~/cdn/assets/img/auto/Gestoriavial.png" alt=""><br><span style="color:#fff;">Gestoría vial</span></div>

            <div id="icon-9" class="col-xs-4 col-lg-2 icon-disabled" style="margin-bottom:35px;"><img src="~/cdn/assets/img/auto/RcFamiliar.png" alt=""><br><span style="color:#fff;">RC Familiar y personas</span></div>

            <div id="icon-10" class="col-xs-4 col-lg-2 icon-disabled" style="margin-bottom:35px;"><img src="~/cdn/assets/img/auto/perdidatotal.png" alt=""><br><span style="color:#fff;">Pérdida total</span></div>

            <div id="icon-11" class="col-xs-4 col-lg-2 icon-disabled" style="margin-bottom:35px;"><img src="~/cdn/assets/img/auto/diez.png" alt=""><br><span style="color:#fff;">Tu auto vale 10% más</span></div>

            <div id="icon-12" class="col-xs-4 col-lg-2 icon-disabled" style="margin-bottom:35px;"><img src="~/cdn/assets/img/auto/cero.png" alt=""><br><span style="color:#fff;">Cerocible</span></div>

        </div>
        <div class="clearfix"></div>
        <div class="row" style="font-size: 11px; color: #FFF; text-align:justify;padding:10px 10%">
            <p>
                Las coberturas que se muestran en blanco, son la que aplican en el paquete seleccionado, las que se muestren grises no aplican. Para más información consulta la comparación de coberturas. Sujeto a términos y condiciones.
            </p>
        </div>
    </section>

    <div class="col-xs-10 col-sm-10 col-xs-offset-1 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10" style="background-color: transparent !important;">
        <a id="ver-tabla" class="btn-ver-tabla" style="cursor:pointer;">COMPARA COBERTURAS</a>
        <a id="ocultar-tabla" class="btn-ver-tabla" style="display:none; cursor:pointer;">REGRESAR</a>
    </div>
</div>

<div id="conoce" class="es-facil col-xs-12">

    <div align="center" class="video-container-iframe col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-12 main-title" style="margin-bottom: 35px;">
            Conoce más de ABA Auto Seguro
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-sm-offset-3 col-sm-6 col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3olDADXwbrU"></iframe>
            </div>
        </div>
        <div class="col-xs-12" style="font-size: 11px; color: #FFF; text-align:justify;padding:10px 10%">
            <p>
                Las descripciones presentadas en la presente página son sólo de referencia y en nada modifican a las Condiciones Generales de nuestros seguros, por lo que para mayores detalles puedes consultarlas en nuestra sección de “Condiciones Generales”.
            </p>
        </div>
    </div>
</div>

<div id="requisitos" class="col-xs-12 requisitos-aba" style="padding:50px;">
    <div class="row left-title" style="margin-top:0;">
        Requisitos y restricciones de contratación
    </div>
    <div class="row" style="padding-bottom:-15px;">
        <h3><strong>Al contratar tu seguro necesitas:</strong></h3>
        <p>- Copia de la Factura o tarjeta de circulación vehicular.</p>
        <p>- Identificación Oficial del Propietario.</p>
        <p>- Comunicarse al 01-800-712-2828 y seleccionar la opción número 3 del menú y posteriormente la opción 2 en el submenú.</p>
        <p>- También puede presentarse en cualquiera de nuestros puntos de venta.</p>
        <p>- O entregar la documentación directamente con su agente.</p>
        <p>- No aplica para vehículos con placas extranjeras.</p>
    </div>
</div>

<div id="consejos" class="col-xs-12 consejos-aba" style="padding:50px;">
    <div class="row left-title" style="margin-top:0;">
        Consejos de uso
    </div>
    <div class="row" style="padding-bottom:-15px;">
        <p>- Junta a la carátula de su póliza se entregan también las condiciones generales y particulares que integran su contrato de seguro, le invitamos a consultarlas, en las mismas podrá conocer las coberturas, exclusiones y restricciones de este seguro; de igual forma las podrá consultar en la página web http://aba.chubb.com</p>
        <p>- Verifique que sus datos y los del vehículo que aparecen en la carátula de su póliza sean correctos, en caso de existir algún error contacte a su agente inmediatamente.</p>
        <p>- Si el contenido de la póliza o sus modificaciones no concordaren con la oferta, el asegurado podrá pedir la rectificación correspondiente dentro de los treinta días que sigan al día en que reciba la
póliza. Transcurrido este plazo se considerarán aceptadas las estipulaciones de la póliza o de sus modificaciones.</p>
        <p>- Siempre mantenga a la mano su número de póliza y licencia o permiso de conducir.</p>
    </div>
</div>

<div id="siniestro" class="col-xs-12 siniestros-aba" style="padding:50px;">
    <div class="row left-title" style="margin-top:0;">
        Qué hacer en caso de siniestro
    </div>
    <div class="row" style="padding-bottom:-15px;">
        <p>Importante: Te suplicamos que esperes a nuestro ajustador, no mover el vehículo del lugar del accidente y no entrar en ningún tipo de arreglos.</p>
        <p>Repórtalo inmediatamente sin costo al 01-800-834-3400</p>
        <p>
            Al reportarlo de ser posible ten a la mano la siguiente información:<br />
            -El Número de Póliza.<br />
            -Marca y tipo de vehículo.<br />
            -Color y placas.<br />
            -Nombre del conductor.
        </p>
        <p>
            Cuando llegue nuestro ajustador ten a la mano:<br />
            -La Póliza de seguro.<br />
            -Licencia o permiso de conducir.
        </p>
    </div>
</div>

<!--template tablas-->
<div id="tablillasTemplate" class="col-xs-12" style="display:none;">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
        <div class="col-xs-12" align="right">
            <div class="btn btn-default cerrar">
                CERRAR
            </div>
        </div>
        <div class="titulo-azul">
            AUTO SEGURO
        </div>
        <div class="title">
            Cobertura Amplia
        </div>
    </div>
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10" style="margin-top: 35px;">
        <table style="width: 100%;">
            <thead>
            <th>
                COBERTURAS
            </th>
            <th>
                SUMA ASEGURADA
            </th>
            <th>
                DEDUCIBLE
            </th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Daños materiales
                    </td>
                    <td>
                        VALOR COMERCIAL
                    </td>
                    <td>
                        5%
                    </td>
                </tr>
                <tr>
                    <td>
                        Robo Total
                    </td>
                    <td>
                        VALOR COMERCIAL
                    </td>
                    <td>
                        10%
                    </td>
                </tr>
                <tr>
                    <td>
                        Responsabilidad Civil por Daños a Terceros
                    </td>
                    <td>
                        $1,500,000.00
                    </td>
                    <td>
                        NO APLICA
                    </td>
                </tr>
                <tr>
                    <td>
                        Responsabilidad Civil Familiar
                    </td>
                    <td>
                        $500,000.00
                    </td>
                    <td>
                        NO APLICA
                    </td>
                </tr>
                <tr>
                    <td>
                        Gastos Médicos Ocupantes
                    </td>
                    <td>
                        $400,000.00
                    </td>
                    <td>
                        NO APLICA
                    </td>
                </tr>
                <tr>
                    <td>
                        Asistencia Legal
                    </td>
                    <td>
                        $1,500,000.00
                    </td>
                    <td>
                        NO APLICA
                    </td>
                </tr>
                <tr>
                    <td>
                        Auto Protegido
                    </td>
                    <td>
                        AMPARADA
                    </td>
                    <td>
                        NO APLICA
                    </td>
                </tr>
                <tr>
                    <td>
                        Auto Relevo Plus
                    </td>
                    <td>
                        15 DÍAS
                    </td>
                    <td>
                        NO APLICA
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--cotizador flotante MT!!! NO BORAR!!!!-->
<div class="col-xs-12 col-sm-12 section-cotizador-auto-flotante">
    <div class="title col-xs-12 col-md-3">
        <div class="col-xs-offset-1" style="margin-top:5px;">
            Cotiza tu Auto Seguro
        </div>
        
    </div>
    <div class="col-xs-12 col-md-8">
        <div class="row">
            <form id="frmCotizador" action="@Url.Content("~/AutoCotizador/Cotizar")" method="GET">
                <div class="col-xs-10 col-lg-12 col-md-12 col-md-offset-0 col-xs-offset-1">
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                        @Html.DropDownList("ddlAnio", years, new { @class = "col-xs-12 col-md-12 col-lg-10 pull-right", @style= "height:35px !important; margin-top:10px !important"})
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <input id="txtModelo" placeholder="Vehículo" class="col-xs-12 col-md-11 col-lg-11 pull-right" style="height:35px !important; margin-top:10px !important">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <input id="txtMunicipio" placeholder="Municipio" class="col-xs-12 col-md-11 col-lg-11 pull-right" style="height:35px !important; margin-top:10px !important">
                    </div>

                    <div class="cotizar-ahora3 col-xs-12 col-sm-12  col-md-3 col-lg-3">
                        <div class="col-md-offset-1 col-md-10 col-xs-12">
                            <button class="btn btn-seccion-gris col-xs-12" style="height:35px !important; margin-top:10px !important; padding-top:7px !important;" id="btnCotiza" >
                                COTIZAR AHORA
                            </button>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="modeloSeleccionado" name="modeloSeleccionado" value="" />
                <input type="hidden" id="municipioSeleccionado" name="municipioSeleccionado" value="" />
                <input type="hidden" id="descripcionMunicipio" name="descripcionMunicipio" value="" />
                <input type="hidden" id="entidadFederativa" name="entidadFederativa" value="" />
            </form>
        </div>
        <div class="cotizar-blanco col-xs-12 col-sm-12 col-md-offset-9 col-md-3 col-lg-offset-9 col-lg-3" style="font-size: 11px;">
            <div class="btn center-block" style="padding:0px 18px 10px 18px; line-height:1;font-size:11px;">
                <a href="~/Contenidos/Portal/?vista=Agentes" id="arefEncuentra" style="font-size:11px;" >Encuentra un agente cerca de ti</a>
            </div>
        </div>
    </div>

    <div class="btn close" style="position:absolute; right:0;top:0">
        X
    </div>
</div>
