<div class="aviso-privacidad">
    <!--HEADER-->
    <div class="row">
        <div class="col-md-12 col-xs-12 barraInicial">
            <div class="col-md-offset-1 col-md-11 col-xs-12 barraInicialTxt1">
                <strong>AVISO DE PRIVACIDAD</strong>
            </div>
            <div class="col-md-offset-1 col-md-11 col-xs-12 barraInicialTxt2">
                <p>ABA Seguros te quiere seguro</p>
            </div>
            <div class="col-md-offset-1 col-md-11 col-xs-12 barraInicialTxt3">
                <p>Conoce nuestro aviso de privacidad</p>
            </div>
        </div>
    </div>



    <div class="row contenidogeneral">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="col-md-12 col-xs-12 tituloNegro27">
                Aviso de Privacidad
            </div>
            <div class="col-md-12 col-xs-12 txtNegro16">
                <br />
                <p>En esta sección ABA SEGUROS, S.A. DE C.V. pone a tu disposición los diferentes Avisos de Privacidad que utiliza en su operación, mismos que han sido preparados con apego a la Ley Federal de Protección de Datos Personales en Posesión de Particulares, publicada en el Diario Oficial de la Federación el día 05 de julio de 2010. Por lo anterior, te pedimos ingresar al Aviso de Privacidad que corresponda de acuerdo a tu relación con nosotros.</p>
                <br />
                <p>Cualquier información referente a este tema será atendida, a partir del 06 de enero de 2012, a través del correo electrónico <a href="mailto:Datos.Personales@ACEGroup.com">Datos.Personales@ACEGroup.com</p>
                <br />
            </div>
            <div class="col-md-12 col-xs-12 txtNegro16b">
                <br />
                <a href="~/cdn/assets/docs/AvisoPrivacidadAsegurado.pdf" target="_blank">Aviso de Privacidad para Asegurados</a>
                <br /><br />
            </div>
            <div class="col-md-12 col-xs-12 txtNegro16b">
                <br />
                <a href="~/cdn/assets/docs/AvisoPrivacidadTerceros.pdf" target="_blank">Aviso de Privacidad para Terceros</a>
                <br /><br />
            </div>
            <div class="col-md-12 col-xs-12 txtNegro16b">
                <br />
                <a href="~/cdn/assets/docs/AvisoPrivacidadAgentes.pdf" target="_blank">Aviso de Privacidad para Agentes</a>
                <br /><br />
            </div>
        </div>
    </div>
</div>