﻿<div class="condiciones-generales">
    <!--HEADER-->
    <div class="row">
        <div class="col-md-12 col-xs-12 barraInicial">
            <div class="col-md-offset-1 col-md-11 col-xs-12 barraInicialTxt1">
                <strong>CONDICIONES GENERALES</strong>
            </div>
            <div class="col-md-offset-1 col-md-11 col-xs-12 barraInicialTxt2">
                <p>Términos y condiciones</p>
            </div>
            <div class="col-md-offset-1 col-md-11 col-xs-12 barraInicialTxt3">
                <p>Consulta nuestras condiciones, referencias legales, derechos del asegurado, entre otros.</p>
            </div>
        </div>
    </div>

    <!--MENU-->
    <div class="bg-gray">
        <div class="beneficios-aba">
            <div class="row">
                <div class="col-md-12">
                    <ul class="submenu">
                        <li><a href="#" tab="auto" class="active submenu-item">Condiciones Auto</a></li>
                        <li><a href="#" tab="danos" class="submenu-item">Condiciones Daños</a></li>
                        <li><a href="#" tab="referencias" class="submenu-item">Referencias</a></li>
                        <li><a href="#" tab="derechos" class="submenu-item">Derechos del asegurado y UNE</a></li>
                        <li><a href="#" tab="manuales" class="submenu-item">Manuales</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div tab-content="auto">
        <div class="row bg-gray">
            <div class="col-xs-offset-1 col-xs-10">
                <h2>Auto</h2>
                <div class="parrafo">
                    Consulta aquí las Condiciones Generales y números de registro del Seguro de Autos y Autocasa.
                </div>
                <div class="table-responsive">
                    <table id="tblAutos" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="tdRamo">Ramo</th>
                                <th>Producto</th>
                                <th>Registro</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                
            </div>
            
        </div>
    </div>
    <div tab-content="danos" style="display:none;">
        <div class="row bg-gray">
            <div class="col-xs-offset-1 col-xs-10">
                <h2>Daños</h2>
                <div class="parrafo">
                    Consulta aquí las Condiciones Generales y números de registro de los diferentes seguros de daños (Casa, Empresa, Transportes, etc.). 
                </div>
                <div class="table-responsive">
                    <table id="tblDanios" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="tdRamo">Ramo</th>
                                <th>Producto</th>
                                <th>Registro</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                
            </div>
        </div>
    </div>
    <div tab-content="referencias" style="display:none;">
        <div class="row bg-gray">
            <div class="col-xs-offset-1 col-xs-10">
                <h2>Referencias</h2>
                <div class="parrafo">
                    Consulta los preceptos legales y las abreviaturas de uso no común.
                </div>
                <div class="col-md-12 col-xs-12 txtNegro16b" style="background-color: #EEEEEE;">
                    <br/><a href="~/cdn/assets/docs/CG/LEY_SOBRE_EL_CONTRATO_DE_SEGURO.docx" target="_blank">Ley sobre el contrato de seguro</a><br/>
                    <br/><a href="~/cdn/assets/docs/CG/LEY_DE_INSTITUCIONES_DE_SEGUROS_Y_DE_FIANZAS.docx" target="_blank">Ley de instituciones de seguros y de fianzas</a><br/>
                    <br/><a href="~/cdn/assets/docs/CG/LEY_DE_PROTECCION_Y_DEFENSA_AL_USUARIO_DE_SERVICIOS_FINANCIEROS.docx" target="_blank">Ley de protección y defensa al usuario de servicios financieros</a><br/>
                    <br/><a href="~/cdn/assets/docs/CG/CODIGO_CIVIL_FEDERAL.docx" target="_blank">Código civil federal</a><br/>
                    <br/><a href="~/cdn/assets/docs/CG/LEY_DE_CAMINOS_PUENTES_Y_AUTOTRANSPORTE_FEDERAL.docx" target="_blank">Ley de caminos, puentes y autotransporte federal</a><br/>
                    <br/><a href="~/cdn/assets/docs/CG/LEY_DE_INSTITUCIONES_DE_CREDITO.docx" target="_blank">Ley de instituciones de crédito</a><br/>
                    <br/><a href="~/cdn/assets/docs/CG/CODIGO_FISCAL_DE_LA_FEDERACION.docx" target="_blank">Código fiscal de la federación</a><br/>
                    <br/><a href="~/cdn/assets/docs/CG/REGLAMENTO_DEL_CODIGO_FISCAL_DE_LA_FEDERACION.docx" target="_blank">Reglamento del código fiscal de la federación</a><br/>
                    <br/><a href="~/cdn/assets/docs/CG/Abreviaturas_de_uso_no_comun.docx" target="_blank">Abreviaturas de uso no común</a><br/><br />
                </div>

            </div>
        </div>
    </div>
    <div tab-content="derechos" style="display:none;">
        <div class="row bg-gray">
            <div class="col-xs-offset-1 col-xs-10">
                <h2>Derechos del asegurado</h2>
                <div class="parrafo">
                    Como asegurado, gozas de derechos al momento de comprar tu póliza y al recibir el servicio a la hora de un siniestro .
                </div>
                <div class="col-md-12 col-xs-12 txtNegro16b" style="background-color: #EEEEEE;">
                    <br/><a href="~/cdn/assets/docs/CG/DerechosAsegurado.jpg" target="_blank">Derechos del asegurado Automóviles</a><br/>
                    <br/><a href="~/cdn/assets/docs/CG/DerechosAseguradoDanios.jpg" target="_blank">Derechos del asegurado Daños</a><br/><br />
                </div>
                <h2 style="margin-top:70px;" class="col-md-12 col-sm-12 col-xs-12">Unidad Especializada de Atención (UNE)</h2>
                <div class="col-md-12 col-xs-12 parrafo" style="margin-bottom: 100px;">
                    Unidad Especializada de Atención a Clientes (UNE)<br/>
                    Montes Rocallosos 505 Sur Col. Residencial San Agustín<br/>
                    Garza García N.L., C.P. 66260<br/>
                    01 800 201 8217 Ext. 4287 y (667) 7123433<br/><br />
                    Horario de Atención:<br />
                    Lunes a Jueves de 8:30 a.m. a 5:00 p.m. y<br />
                    Viernes de 8:30 a.m. a 2:00 p.m.<br /><br />
                    uneabaseguros@chubb.com<br />
                    edoardo.islas@chubb.com 
                </div>
            </div>
        </div>
    </div>
    <div tab-content="manuales" style="display:none;">
        <div class="row bg-gray">
            <div class="col-xs-offset-1 col-xs-10">
                <h2>Manuales de procedimientos</h2>
                <div class="parrafo">
                    Encuentra aquí el procedimiento de servicio que llevan nuestros ajustadores al momento de un siniestro.
                </div>
                <div class="col-md-12 col-xs-12 txtNegro16b" style="background-color: #EEEEEE;">
                    <br/><a href="~/cdn/assets/docs/CG/Manual_sobre_lineamientos_politicas_y_procedimientos_para_Ajustadores_de_siniestros_Autos.pdf" target="_blank">Manual sobre lineamientos, políticas y procedimientos para Ajustadores de siniestros Autos</a><br/>
                    <br/><a href="~/cdn/assets/docs/CG/MANUAL_SOBRE_LINEAMIENTOS_POLITICAS_Y_PROCEDIMIENTOS_PARA_AJUSTADORES_DE_SINIESTROS_DANOS.pdf" target="_blank">Manual sobre lineamientos, políticas y procedimientos para Ajustadores de siniestros Daños</a><br/><br />
                </div>
            </div>
        </div>
    </div>



</div>
@section Styles{
    <link href="~/cdn/css/extended/condiciones-generales.css" rel="stylesheet" />
}
@section Scripts{
    <script>
        var ObtenerNotasTecnicas = '@Url.Content("~/CondicionesGenerales/ObtenerNotasTecnicas?ramo=")';

        function GetQueryStringParams(params) {
            var pageUrl = window.location.search.substring(1);
            var variables = pageUrl.split('&');

            for (var i = 0; i < variables.length; i++) {
                var parameterName = variables[i].split('=');
                if (parameterName[0] === params) {
                    return parameterName[1];
                }
            }
        }

        $(function () {
            var $tBodyAuto = $('#tblAutos tbody');
            var $tBodyDanios = $('#tblDanios tbody');
            var $tBodyReferencias = $('#tblReferencias tbody');
            var $tBodyDerechos = $('#tblDerechos tbody');
            var $tBodyManuales = $('#tblManuales tbody');

            /*TABS*/
            $('a[tab]').click(function () {
                $this = $(this);

                $('a[tab]').removeClass('active');
                $('[tab-content]').hide();

                $this.addClass('active');
                $('[tab-content=' + $this.attr('tab') + ']').show();
            });

            $.get(ObtenerNotasTecnicas + 'Autos', function (resp) {
                $tBodyAuto.html('');
                var template = _.template($('#rowProducto').html());

                if (resp.NotasTecnicas && resp.NotasTecnicas.forEach) {
                    resp.NotasTecnicas.forEach(function (x) {
                        $tBodyAuto.append(template({
                            nota: x,
                            Ramo: 'Auto'
                        }));
                    });
                }
            });
            $.get(ObtenerNotasTecnicas + 'Daños', function (resp) {
                $tBodyDanios.html('');
                var template = _.template($('#rowProducto').html());

                if (resp.NotasTecnicas && resp.NotasTecnicas.forEach) {
                    resp.NotasTecnicas.forEach(function (x) {
                        $tBodyDanios.append(template({
                            nota: x,
                            Ramo: 'Daños'
                        }));
                    });
                }
            });
            $.get(ObtenerNotasTecnicas + 'referencias', function (resp) {
                $tBodyReferencias.html('');
                var template = _.template($('#rowProductoNombre').html());

                if (resp.NotasTecnicas && resp.NotasTecnicas.forEach) {
                    resp.NotasTecnicas.forEach(function (x) {
                        $tBodyReferencias.append(template({
                            nota: x,
                            Ramo: 'Referencias'
                        }));
                    });
                }
            });
            $.get(ObtenerNotasTecnicas + 'derechos', function (resp) {
                $tBodyDerechos.html('');
                var template = _.template($('#rowProductoNombre').html());

                if (resp.NotasTecnicas && resp.NotasTecnicas.forEach) {
                    resp.NotasTecnicas.forEach(function (x) {
                        $tBodyDerechos.append(template({
                            nota: x,
                            Ramo: 'Derechos'
                        }));
                    });
                }
            });
            $.get(ObtenerNotasTecnicas + 'manuales', function (resp) {
                $tBodyManuales.html('');
                var template = _.template($('#rowProductoNombre').html());

                if (resp.NotasTecnicas && resp.NotasTecnicas.forEach) {
                    resp.NotasTecnicas.forEach(function (x) {
                        $tBodyManuales.append(template({
                            nota: x,
                            Ramo: 'Manuales'
                        }));
                    });
                }
            });

            // tabs
            var tab = GetQueryStringParams('tab');
            if (tab !== undefined) 
            {
                $('a[tab]').removeClass('active');
                $('[tab-content]').hide();

                $('a[tab=' + tab + ']').addClass('active');
                $('[tab-content=' + tab + ']').show();
            }
        });
    </script>
}

<script id="rowProducto" type="text/template">
    <tr>
        <td class="tdRamo"><%=Ramo%></td>
        <td><%=nota.ProductoNombre%></td>
        <td><a href="@Href("~/cdn/docs")/<%=nota.Archivo%>"><%=nota.Texto%></a></td>
    </tr>
</script>

<script id="rowProductoNombre" type="text/template">
    <tr>
        <td><%=nota.ProductoNombre%></td>
    </tr>
</script>