@section Styles {
    <link href="~/cdn/css/pages/contacto.css" rel="stylesheet" />
    <link href="~/cdn/css/pages/contacto-responsive.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/cdn/js/pages/contacto.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&key=AIzaSyBe2WTO4NlXueKpHsaSWktnsGgF9T3BwFE" type="text/javascript"></script>
    <script src="~/cdn/js/gtag/ContenidosContacto.js"></script>

    <script type="text/javascript" nonce="YWJhLmNodWJiLmNvbQ==">
        //Key: AIzaSyBe2WTO4NlXueKpHsaSWktnsGgF9T3BwFE
        var oficinas = {
            Oficinas: [],
            Estados: [],
            Markers: [],
        };

        function GetQueryStringParams(params) {
            var pageUrl = window.location.search.substring(1);
            var variables = pageUrl.split('&');

            for (var i = 0; i < variables.length; i++) {
                var parameterName = variables[i].split('=');
                if (parameterName[0] === params) {
                    return parameterName[1];
                }
            }
        }

        function render(props) {
            return function (tok, i) { return (i % 2) ? props[tok] : tok; };
        }

        var map = {};

        CreateStateSelect = function (data) {
            var $selector = $('#Estados');

            if ($selector.length > 0) {
                if ($selector.children() > 0) {
                    $selector.children().remove().end().append('<option>ESTADO</option>');
                }

                data.forEach(function (value, index, array) {
                    var option = '<option value="'+ value.Nombre +'">' + value.Nombre + '</option>';
                    $selector.append(option);
                });
            }
        };

        CreateMunicipalitySelect = function(data){
            var $selector = $('#Municipios');

            if ($selector.length > 0) {
                if ($selector.children().length > 0) {
                    $selector.children().remove().end().append('<option>MUNICIPIO</option>');
                }

                data.forEach(function (value, index, array) {
                    var option = '<option value="'+ value +'">' + value + '</option>';
                    $selector.append(option);
                });
            }
        };

        CreateMarker = function (data, map) {
            var marker = new google.maps.Marker({
                position: { lat: parseFloat(data.Latitude), lng: parseFloat(data.Longitude) },
                map: map,
                label: data.Oficina,
            });

            if (oficinas.Markers === undefined) {
                oficinas.Markers = [];
            }

            oficinas.Markers.push(marker);
        };

        DeleteMarkers = function () {
            if (oficinas.Markers !== undefined) {
                oficinas.Markers.forEach(function (value, index, array) {
                    value.setMap(null);
                });

                if (oficinas.Markers.length > 0) {
                    oficinas.Markers = [];
                }
            }
        };

        AddMarksToMap = function () {
            // Filter Agents
            var state = '';
            var municipality = '';

            var filtered = [];

            if (arguments.length == 2) {
                state = arguments[0];
                municipality = arguments[1];
            }
            else
            {
                state = arguments[0];
                municipality = undefined;
            }

            DeleteMarkers();

            // Filter Agents
            oficinas.Oficinas.forEach(function (value, index, array) {
                if (value.Estado === state) {
                    // Filter by Municipality, if it has one
                    if (municipality !== undefined) {
                        if (value.Municipio === municipality) {
                            filtered.push(value);
                            CreateMarker(value, map);
                        }
                    }
                    else
                    {
                        filtered.push(value);
                        CreateMarker(value, map);
                    }
                }
            });

        };

        AddOfficesToList = function () {
            // Filter Agents
            var state = '';
            var municipality = '';

            if (arguments.length == 2) {
                state = arguments[0];
                municipality = arguments[1];
            }
            else {
                state = arguments[0];
                municipality = undefined;
            }

            $('#oficinas').html('');
            var html = '';

            oficinas.Oficinas.forEach(function (value, index, array) {
                if (value.Estado === state) {
                    var itemTpl = $('script[data-template="listitem"]').text().split(/\$\{(.+?)\}/g);
                    // Filter by Municipality, if it has one
                    if (municipality !== undefined) {
                        if (value.Municipio === municipality) {
                            var template = itemTpl.map(render(value)).join('');
                            html += template;
                        }
                    }
                    else
                    {
                        var template = itemTpl.map(render(value)).join('');
                        html += template;
                    }
                }
            });

            $('#oficinas').html(html);
            AddMarksToMap(state, municipality);

        };


        var setCenter = function (state) {
            var uri = 'https://maps.googleapis.com/maps/api/geocode/json?address=' + state;
            $.get(uri, function (response) {
                var results = response.results;
                if (results !== undefined && results.length > 0) {
                    var coordinates = results[0].geometry.location;
                    map.setCenter(coordinates);
                }

            });
        }

        function initMap() {
            opciones = {
                center: { lat: 25.6845218, lng: -100.3484017 },
                zoom: 15
            };

            map = new google.maps.Map(document.getElementById('map'), opciones);

        }

        //google.maps.event.addDomListener(window, 'load', initMap);

        $(document).ready(function () {

            initMap();

            function CrearMapaAllMarkers() {
                var locations = [];
                initMap();
                oficinas.Oficinas.forEach(function (value, index, array) {
                                locations.push([
                                    value.Direccion,
                                    value.Latitude,
                                    value.Longitude,
                                    value.Municipio,
                                    value.Estado,
                                    value.Oficina,
                                    value.Calle,
                                    value.Numero,
                                    value.Colonia,
                                    value.CodigoPostal,
                                    (value.Telefono1 == "NULL") ? "" : value.Telefono1,
                                    (value.Telefono2 == "NULL") ? "" : value.Telefono2,
                                    (value.Telefono3 == "NULL") ? "" : value.Telefono3
                                ]);
                });
                if (locations.length > 0) {
                    var infowindow = new google.maps.InfoWindow();
                    var marker, i;
                    var markerBounds = new google.maps.LatLngBounds();
                    var points;
                    var labelTel = "Tels: ";

                    for (i = 0; i < locations.length; i++) {
                        points = new google.maps.LatLng(locations[i][1], locations[i][2]);
                        marker = new google.maps.Marker({
                            position: points,
                            map: map
                        });

                        google.maps.event.addListener(marker, 'click', (function (marker, i) {
                            return function () {
                                infowindow.setContent(
                                    // Oficina
                                    locations[i][5] + '<br>' +
                                    // Calle y Numero
                                    locations[i][6] + ' ' + locations[i][7] + '<br>' +
                                    // Colonia y municipio
                                    locations[i][8] + ', ' + locations[i][3] + '<br>' +
                                    // Estado y CP
                                    locations[i][4] + ' ' + locations[i][9] + '<br>' +
                                    // Telefonos
                                    labelTel + '<a href="tel:' + locations[i][10] + '">' + locations[i][10] + '</a>' + '<a href="tel:' + locations[i][11] + '">' + locations[i][11] + '</a>' + '<a href="tel:' + locations[i][12] + '">' + locations[i][12] + '</a>'
                                );
                                infowindow.open(map, marker);
                            }
                        })(marker, i));

                        markerBounds.extend(points);
                    }
                    
                    if (locations.length == 1) {
                        map.setCenter({ lat: parseFloat(locations[0][1]), lng: parseFloat(locations[0][2]) });
                        map.setZoom(15);
                    } else {
                        map.fitBounds(markerBounds);
                    }
                }
            }

            // Validacion de Campos
            $('#btnEnviar').click(function (e) {
                e.preventDefault();
                var nombre = $('#txtNombre').val();
                var email = $('#txtMail').val();
                var confirmEmail = $('#txtConfirmMail').val();
                var mensaje = $('#txtMensaje').val();
                var isValid = true;

                if (nombre === '' || nombre === undefined) {
                    $('#lblErrorNombre').show();
                    isValid = false;
                }

                if (email === '' || email === undefined) {
                    $('#lblErrorCorreo').html('<small>Es necesario que indique su correo electr&oacute;nico.</small>');
                    $('#lblErrorCorreo').show();
                    isValid = false;
                }
                else
                {
                    if (!utils.IsValidEmailAddress(email)) {
                        $('#lblErrorCorreo').html('<small>Es necesario que indique una direcci&oacute;n de correo electr&oacute;nico valida.</small>');
                        $('#lblErrorCorreo').show();
                        isValid = false;
                    }
                }

                if (confirmEmail === '' || confirmEmail === undefined) {
                    $('#lblErrorConfirmarCorreo').html('<small>Es necesario que indique su correo electr&oacute;nico.</small>');
                    $('#lblErrorConfirmarCorreo').show();
                    isValid = false;
                }
                else {
                    if (!utils.IsValidEmailAddress(email)) {
                        $('#lblErrorConfirmarCorreo').html('<small>Es necesario que indique una direcci&oacute;n de correo electr&oacute;nico valida.</small>');
                        $('#lblErrorConfirmarCorreo').show();
                        return;
                    }
                }

                if (mensaje === '' || mensaje === undefined) {
                    $('#lblErrorMensaje').show();
                    isValid = false;
                }

                if (isValid) {
                    if (email !== confirmEmail) {
                        $('#lblErrorConfirmarCorreo').html('<small>Es necesario que su direcci&oacute;n de correo electr&oacute;nico coincida.</small>');
                        $('#lblErrorConfirmarCorreo').show();
                        return;
                    }

                    $.ajax({
                        url: '@Url.Action("EnviarCorreo", "Contenidos")',
                        contentType: 'application/json',
                        dataType: 'json',
                        method: 'POST',
                        data: JSON.stringify({
                            Name: $('#txtNombre').val(),
                            Email: $('#txtConfirmMail').val(),
                            Message: $('#txtMensaje').val(),
                        }),
                        success: function (data, status, jqXHR) {
                            $('#txtNombre').val();
                            $('#txtMail').val();
                            $('#txtNombre').val();
                            $('#txtMensaje').val();

                            $('#MessageConfirmAlert').show();
                        }
                    });
                }

            });

            $("#txtNombre").focus(function () {
                $(this).parent().removeClass("has-warning");
                $("#lblErrorNombre").hide();
            });

            $("#txtMail").focus(function () {
                $(this).parent().removeClass("has-warning");
                $("#lblErrorCorreo").hide();
            });

            $("#txtConfirmMail").focus(function () {
                $(this).parent().removeClass("has-warning");
                $("#lblErrorConfirmarCorreo").hide();
            });

            $("#txtMensaje").focus(function () {
                $(this).parent().removeClass("has-warning");
                $("#lblErrorMensaje").hide();
            });

            $.ajax({
                url: '@Url.Action("GetOficinas", "Contenidos")',
                contentType: 'application/json',
                dataType: 'json',
                async: false,
                success: function (data, status, jqXHR) {
                    console.log(data);
                    oficinas.Oficinas = data.Oficinas;
                    oficinas.Estados = data.Estados;

                    CreateStateSelect(oficinas.Estados);
                    CrearMapaAllMarkers();
                }
            });

            $('#map').height($(window).height() - 80);

            $('#Estados').on('change', function (e) {
                e.preventDefault();

                var val = $(this).val();
                var municipalities = [];

                $('#address').html(val);

                oficinas.Estados.forEach(function (value, index, array) {
                    if (value.Nombre === val) {
                        municipalities = value.Municipios;
                    }
                });

                CreateMunicipalitySelect(municipalities);
                //AddOfficesToList(val);
                //setCenter(val);
            });

            $('#Municipios').on('change', function (e) {
                e.preventDefault();

                var val = $(this).val();
                var estado = $('#Estados').val();

                $('#address').html(val + ', ' + estado);
                //AddOfficesToList(estado, val);
                //setCenter(estado);
                var locations = [];
                initMap();
                oficinas.Oficinas.forEach(function (value, index, array) {
                    if (value.Estado === estado) {
                        if (val !== undefined) {
                            if (value.Municipio === val) {
                                locations.push([
                                    value.Direccion,
                                    value.Latitude,
                                    value.Longitude,
                                    value.Municipio,
                                    value.Estado,
                                    value.Oficina,
                                    value.Calle,
                                    value.Numero,
                                    value.Colonia,
                                    value.CodigoPostal,
                                    (value.Telefono1 == "NULL") ? "" : value.Telefono1,
                                    (value.Telefono2 == "NULL") ? "" : value.Telefono2,
                                    (value.Telefono3 == "NULL") ? "" : value.Telefono3
                                ]);
                            }
                        }
                    }
                });
                if (locations.length > 0) {
                    var infowindow = new google.maps.InfoWindow();
                    var marker, i;
                    var markerBounds = new google.maps.LatLngBounds();
                    var points;
                    var labelTel = "Tels: ";
                    
                    for (i = 0; i < locations.length; i++) {
                        points = new google.maps.LatLng(locations[i][1], locations[i][2]);
                        marker = new google.maps.Marker({
                            position: points,
                            map: map
                        });
                        
                        google.maps.event.addListener(marker, 'click', (function (marker, i) {
                            return function () {
                                infowindow.setContent(
                                    // Oficina
                                    locations[i][5] + '<br>' +
                                    // Calle y Numero
                                    locations[i][6] + ' ' + locations[i][7] + '<br>' +
                                    // Colonia y municipio
                                    locations[i][8] + ', ' + locations[i][3] + '<br>' +
                                    // Estado y CP
                                    locations[i][4] + ' ' + locations[i][9] + '<br>' +
                                    // Telefonos
                                    labelTel + '<a href="tel:' + locations[i][10] + '">' + locations[i][10] + '</a>' + '<a href="tel:' + locations[i][11] + '">' + locations[i][11] + '</a>' + '<a href="tel:' + locations[i][12] + '">' + locations[i][12] + '</a>'
                                );
                                infowindow.open(map, marker);
                            }
                        })(marker, i));

                        markerBounds.extend(points);
                    }
                    if (locations.length == 1) {
                        map.setCenter({ lat: parseFloat(locations[0][1]), lng: parseFloat(locations[0][2]) });
                        map.setZoom(15);
                    } else {
                        map.fitBounds(markerBounds);
                    }
                }
            });

            $('#abrirChatLink').click(function (e) {
                e.preventDefault();
                $("#chatPanel").show();
            });


            var estado = decodeURI(GetQueryStringParams('estado'));
            var municipio = decodeURI(GetQueryStringParams('municipio'));

            var $Estados = $('#Estados');
            var $Municipios = $('#Municipios');

            if (estado !== "undefined" && municipio !== "undefined") {
                // Estado y Municipio seleccionados
                $Estados.val(estado).trigger('change');
                $Municipios.val(municipio).trigger('change');

                $(document).scrollTop($("#seccionmapa").offset().top);
                //setCenter(estado);
            }
            else if (estado !== "undefined" && municipio === "undefined") {
                $('#Estados').val(estado).trigger('change');

                $(document).scrollTop($("#oficinas").offset().top);
                setCenter(estado);
            }
            if (window.location.href.trim().toLowerCase().indexOf('#seccionmapa') > -1) {
                $('html, body').animate({
                    scrollTop: $("#seccionmapa").offset().top - 100
                }, 1000);
            }
            $('a[href*="#"]:not([href="#"])').click(function () {
                if (location.pathname.replace(/^\//, '') === this.pathname.replace(/^\//, '') && location.hostname === this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html, body').animate({
                            scrollTop: target.offset().top - 100
                        }, 1000);
                        return false;
                    }
                }
            });

        });

</script>
    <script type="text/template" data-template="listitem">
        <div class="col-md-8 col-xs-12 col-lg-8 oficina-item">
            <div class="row">
                <div class="col-xs-2 col-md-2 col-lg-2">
                    <i class="fa fa-2x fa-map-marker" aria-hidden="true"></i>
                </div>
                <div class="col-xs-10 col-md-10 col-lg-10">
                    <h4>${Oficina}</h4>
                    <p>${Direccion}</p>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-xs-2 col-md-2 col-lg-2">
                    <i class="fa fa-2x fa-phone" aria-hidden="true"></i>
                </div>
                <div class="col-xs-10 col-md-10 col-lg-10">
                    <p>449 555 5555</p>
                    <p>449 555 5555</p>
                </div>
            </div>-->
        </div>
    </script>
}	
		
<div class="localizador-oficinas">
    <div class="row">
        <div class="col-md-12 col-xs-12 barraInicial">
            <div class="col-md-offset-1 col-md-11 col-xs-12 barraInicialTxt1">
                <strong>Localizador de oficinas</strong>
            </div>
            <div class="col-md-offset-1 col-md-11 col-xs-12 barraInicialTxt2">
                <p>Chubb siempre cerca de ti</p>
            </div>
            <div class="col-md-offset-1 col-md-11 col-xs-12 barraInicialTxt3">
                <p>Encuentra todos los agentes cerca de ti</p>
            </div>
        </div>
    </div>
</div>


    <div style="background-color:#eeeeee;">
        <!--web-->
        <div class="hidden-xs hidden-sm submenu">
            <div class="row" style="line-height:80px; padding:20px 0;">
                <div class="col-md-2 col-md-offset-1 text-center" style="border-left:1px solid #C1C1C1;"><a href="#beneficios" id="arefNuestro" >Nuestro Contacto</a></div>
                <div class="col-md-3 text-center" style="border-left:1px solid #C1C1C1; border-right:1px solid #C1C1C1;"><a href="#seccionmapa" id="arefLocalizador" >Localizador de oficinas</a></div>
            </div>
        </div>
        <!--movil-->
        <div class="hidden-md hidden-lg submenu">
            <div class="row" style="line-height:40px; padding:20px 0;">
                <div class="col-xs-10 col-xs-offset-1 text-center"><a href="#beneficios" id="arefNuestro2" >Nuestro Contacto</a></div>
                <div class="col-xs-10 col-xs-offset-1 text-center" style="border-top:1px solid #C1C1C1;"><a href="#seccionmapa" id="arefLocalizador2">Localizador de oficinas</a></div>
            </div>
        </div>

        <div id="beneficios" class="row" style="padding:20px 0;">
            <div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-1 benefitsPadding" style="border-left:solid 5px #FF6400;">
                <p class="benefitsTitle">Llámanos sin costo al:</p>
                <p class="benefitsSubTitle"><a href="tel:018007122828" id="arefNumero" >01 800 712 2828</a></p>
            </div>
            <div class="col-xs-12 hidden-md hidden-lg">&nbsp;</div>
            <div class="col-xs-10 col-xs-offset-1 col-md-3 benefitsPadding" style="border-left:solid 5px #ffb407;">
                <p class="benefitsTitle">Envíanos un correo al:</p>
                <p class="benefitsSubTitle"><a class="chubbmail" href="mailto:contacto.aba@chubb.com" id="arefMail" >contacto.aba@chubb.com</a></p>
            </div>
            <div class="col-xs-12 hidden-md hidden-lg">&nbsp;</div>
            <div class="col-xs-10 col-xs-offset-1 col-md-3 benefitsPadding" style="border-left:solid 5px #c234fd;">
                <p class="benefitsTitle">¿Necesitas ayuda?</p>
                <p class="benefitsSubTitle"><a href="#" id="abrirChatLink" >ASESORÍA EN LÍNEA</a></p>
            </div>
        </div>
    </div>

    <div id="envio" class="form-footer-margin" style="background-color:#ffffff;">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
                <p class="form-title">Envíanos tus comentarios</p>
                <form>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-sm-12 col-xs-12" style="display:none;" id="MessageConfirmAlert">
                            <div class="alert alert-success" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Tus comentarios han sido enviados.</strong>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="txtNombre">Nombre Completo</label>
                                <input type="text" class="form-control" id="txtNombre">
                                <div class="alert-warning" style="padding:3px;margin-top:5px;display:none;" id="lblErrorNombre">
                                    <small>Es necesario que indique su nombre</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="txtMail">Correo electrónico</label>
                                    <input type="email" class="form-control" id="txtMail">
                                    <div class="alert-warning" style="padding:3px;margin-top:5px;display:none;" id="lblErrorCorreo">
                                        <small>Es necesario que indique su correo electr&oacute;nico</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-md-offset-2">
                                <div class="form-group">
                                    <label for="txtMail">Repite tu correo electrónico</label>
                                    <input type="email" class="form-control" id="txtConfirmMail">
                                    <div class="alert-warning" style="padding:3px;margin-top:5px;display:none;" id="lblErrorConfirmarCorreo">
                                        <small>Es necesario que confirme su correo electr&oacute;nico</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="txtMensaje">Mensaje</label>
                                <textarea id="txtMensaje" class="form-control" rows="10"></textarea>
                                <div class="alert-warning" style="padding:3px;margin-top:5px;display:none;" id="lblErrorMensaje">
                                    <small>Es necesario especificar su mensaje.</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <a href="#" id="btnEnviar" class="btn btn-contact-send pull-right" style="width:230px;" >ENVIAR</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="seccionmapa" style="background-color:#000000;">
        <a name="#oficinas"></a>
        <div class="row">
            <div class="container" style="margin-right: 10px !important;margin-left: 10px !important;margin-bottom: 10px;margin-top: 10px;padding-left: 10px !important;padding-right: 10px !important;">
                <div class="col-xs-12 col-md-12 col-lg-12" id="buscador">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 buscador-title" style="padding-left:0px;">LOCALIZADOR DE OFICINAS</div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 buscador-sub-title" style="padding-left:0px;">BUSCAR</div>
                    </div>
                    
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><select id="Estados" class="form-control-aba" style="background-color:#000; color:#fff; margin:5px;"><option>ESTADO</option></select></div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><select id="Municipios" class="form-control-aba" style="background-color:#000; color:#fff; margin:5px;"><option>MUNICIPIO</option></select></div>
                </div>
            </div>
            <div class="col-md-offset-0 col-xs-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-top:20px;">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
