﻿<style type="text/css">
    .dudas{
        font-family: Montserrat;
        font-size: 13px;
        line-height: 16px;
        margin-top:60px;
        font-weight:bold;
    }

    .preguntastitle{
        font-family: Montserrat;
        font-size: 47px;
        font-weight:bold;
        line-height: 57px;
        margin-top:15px;
        color:#FFF;
    }

    .cubrimosnecesidades{
        font-family: Montserrat;
        font-size: 16px;
        line-height: 19px;
        margin-top:5px;
        color:#FFF;
    }

    .faqHeader{
        height: 250px;
        background-color: #66d9e7;
        padding-top: 10px;
        padding-left: 35px;
        margin-top: 102px;
    }

    .faq .panel-heading{
        background-color:#ededed;
    }

    .faq .panel-default, .faq .panel-body{
        border:none !important;
    }

    .faq .borderHeader{
        border-left:solid 6px transparent;
    }

    .faq .orangeBorder{
        border-color: #FFB407;
    }

    .faq .greenBorder{
        border-color: #60d618;
    }

    .faq .blueBorder{
        border-color: #00bede;
    }

    .faq .purpleBorder{
        border-color: #DB7CFC;
    }

    .faq .panel-title{
        color: #323141;
        font-family: Montserrat;
        font-size: 27px;
        font-weight: bold;
        line-height: 33px;
    }

    .faq .panel-title a{
        display:block;
        text-decoration:none;
    }

    .faq .panel-title a:after{
        font-family: 'Glyphicons Halflings';
        content: "\e114";    
        float: right;      
        font-size: 12px;
        font-weight: normal;
    }

    .faq .panel-title a.collapsed:after{
        content: "\e080";
    }

    .faq .panel-body p{
        margin:15px;
        border: 1px solid #D5D5D5;
        padding:15px;
        color: #323337;
        font-family:Merriweather;
        font-size: 13px;
        line-height: 17px;
    }

    .panel-heading {
        padding: 10px !important;
    }
</style>

<div class="faq">
    <div class="faqHeader">
        <div class="row dudas">
            <span class="text-uppercase">¿Tienes dudas?</span>
        </div>

        <div class="row preguntastitle">
            <span>Preguntas frecuentes</span>
        </div>

        <div class="row cubrimosnecesidades">
            <span>Cubrimos tus necesidades</span>
        </div>
    </div>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="margin:45px">
        <div class="panel panel-default">
            <div class="panel-heading borderHeader orangeBorder" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Auto Seguro
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <p>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </p>

                    <p>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </p>

                    <p>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading borderHeader orangeBorder" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Pyme Segura
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <p>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading borderHeader greenBorder" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Hogar Seguro
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    <p>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading borderHeader blueBorder" role="tab" id="headingSiniestros">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSiniestros" aria-expanded="false" aria-controls="collapseSiniestros">
                        Siniestros
                    </a>
                </h4>
            </div>
            <div id="collapseSiniestros" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSiniestros">
                <div class="panel-body">
                    <p>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading borderHeader purpleBorder" role="tab" id="headingTaller">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTaller" aria-expanded="false" aria-controls="collapseTaller">
                        Taller ABA
                    </a>
                </h4>
            </div>
            <div id="collapseTaller" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTaller">
                <div class="panel-body">
                    <p>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
