﻿<div class="col-xs-12 gracias gracias-fondo" style="padding: 0;">
    <div id="panelGracias">
    <div class="row">
        <div id="square"style="padding: 10px 5%;" class="col-xs-6 col-xs-offset-3" align="center">
            <p class="title">¡Gracias!</p>
            <div class="col-xs-12" style="padding-bottom:12px;">
                <p class="txt">Muy pronto nos pondremos en contacto contigo para darte más información.<p>
            </div>
            <hr style="border-top: 2px solid rgb(0,192,215); width:60%; margin-bottom:5px;"/>
            <div class="col-xs-12">
                <p class="txt" style="font-size:10px">O bien, puedes llamarnos al <a href="tel:018007122828">01800712 2828</a><p>
            </div>
        </div>
    </div>
    </div>
</div>