﻿@section Styles {
    <link href="~/cdn/css/pages/hogar.css" rel="stylesheet" />
    <link href="~/cdn/css/pages/hogar-responsive.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/cdn/js/pages/auto.js"></script>
}
<div id="carousel-seguro-auto" class="container-carousel-segunda col-xs-12 carousel slide" data-ride="carousel">
    <div class="col-xs-12 carousel-segunda">
        <br><br>
        <div id="carousel-segunda" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner" role="listbox">
                <div class="item active left">
                    <img src="~/cdn/assets/img/carrusel-casa1.jpg">
                </div>
                <div class="item next left">
                    <img src="~/cdn/assets/img/carrusel-casa2.jpg">
                </div>
            </div>

            <ol class="carousel-indicators">
                <li data-target="#carousel-seguro-auto" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-seguro-auto" data-slide-to="1"></li>
            </ol>

        </div>
    </div>
</div>

<div id="beneficios" class="col-xs-12 beneficios-aba">
    <!-- Menu -->
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <ul class="submenu">
                <li><a href="#beneficios" class="active submenu-item">BENEFICIOS</a></li>
                <li><a href="#paquetes" class="submenu-item">NUESTROS PAQUETES</a></li>
                <li><a href="#conoce" class="submenu-item">CONOCE MÁS</a></li>
                <li><a href="~/Contenidos/Portal/?vista=Condiciones_Generales" class="submenu-item">CONDICIONES GENERALES</a></li>
            </ul>
        </div>
    </div>
    <div class="row left-title">
        ¿Qué nos hace diferentes?
    </div>
    <div class="row" style="margin-top:15px;">
        <div class="col-xs-12 col-md-6 col-lg-6" style="border-left: solid 6px #01C1E2">
            <div class="inner-title">
                Un seguro de hogar que se adapta a tu perfil
            </div>
            <div class="servicios-item">
                <div class="inner-item-title">
                    Alternativas para todo tipo de necesidads
                </div>
                <div class="inner-item-content">
                    Si tienes casa propia, protege tu hogar y tus pertenencias.<br />
                    Si pagas renta, protege tus pertenencias.<br />
                    O si tienes una propiedad y la rentas, protege tu vivienda y<br />
                    los daños a terceros que puedan causar tus inquilinos.
                </div>
            </div>
            <div class="servicios-item">
                <div class="inner-item-title">
                    Nuestros paquetes est&aacute;n compuestos por 4 grupos de categor&iacute;as fundamentales de coberturas:
                </div>
                <div class="inner-item-content">
                    Protecci&oacute;n para tu vivienda: Incendio, otros riesgos,<br />
                    fen&oacute;menos y terremoto de manera opcional.<br />
                    Protecci&oacute;n para tis pertenencias: Incendio, Robo.<br />
                    Protecci&oacute;n contra Da&ntilde;os a Terceros: Responsabilidad civil familiar.<br />
                    Servicios Adicionales: Asistencias de emergencias y soluciones para el hogar.
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6" style="border-left: solid 6px #FF6400">
            <div class="inner-title">
                Un seguro f&aacute;cil de comprar y usar:
            </div>

            <div class="servicios-item">
                <div class="inner-item-content">
                    Se adapta a tus necesidades, tenemos planes pre-dise&ntilde;ados o puedes elegir las sumas aseguradas y coberturas que necesitas.
                </div>
            </div>
            <div class="servicios-item">
                <div class="inner-item-content">
                    F&aacute;cil contrataci&oacute;n porque no requiere el valor de los bienes para adquirirlo
                </div>
            </div>
            <div class="servicios-item">
                <div class="inner-item-content">
                    Te protege desde eventos que podr&iacute;an destruir tu hogar por completo hasta emergencias cotidianas.
                </div>
            </div>
            <div class="servicios-item last">
                <div class="inner-item-content">
                    Ofrecemos soluciones para el Hogar como instalaciones.<br /><br />
                    Accesible, desde $125 al mes.<br /><br />
                    Amplia cobertura
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-xs-12 seccion-gris">
    <div class="col-xs-12 col-sm-7">
        <div class="col-xs-12 ele">
            ¡Cotiza en línea! Rápido, fácil y en un solo clic!
        </div>
    </div>
    <div class="col-xs-12 col-sm-5">
        <div class="col-xs-12">
            <a href="~/AutoCotizador/Index" class="btn btn-seccion-gris">¡Aquí!</a>
        </div>
    </div>
</div>

<div id="paquetes" class="col-xs-12 seguro-para-tu">
    <p class="ProductosTitulo">NUESTROS PAQUETES</p>
    <div class="col-xs-10 col-xs-offset-1 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
        <div id="limitada" class="ele col-xs-12 col-sm-6 col-md-4 col-lg-4 auto-servicios ocultar-para-tabla" style="margin-top:-40px;">
            <div class="title" style="margin-top:40px;">
                LIMITADA
            </div>
            <div col-xs-12>
                <iframe class="minivideos"
                        src="https://www.youtube.com/embed/fHopdGcOajc?ecver=2"></iframe>
            </div>
        </div>
        <div id="amplia" class="ele col-xs-12 col-sm-6 col-md-4 col-lg-4 auto-servicios ocultar-para-tabla" style="margin-top:-40px;">
            <div class="estelar-franja">
                El 92% de nuestros clientes compra esta póliza
            </div>
            <div class="title" style="margin-top:10px;">
                <i class="fa fa-star" style="color:#F8E81C;"></i> AMPLIA
            </div>
            <div col-xs-12>
                <iframe class="minivideos"
                        src="https://www.youtube.com/embed/fHopdGcOajc?ecver=2"></iframe>
            </div>

        </div>
        <div id="integral" class="ele col-xs-12 col-sm-6 col-md-4 col-lg-4 auto-servicios ocultar-para-tabla" style="margin-top:-40px;">
            <div class="title" style="margin-top:40px;">
                INTEGRAL
            </div>
            <div col-xs-12>
                <iframe class="minivideos"
                        src="https://www.youtube.com/embed/fHopdGcOajc?ecver=2"></iframe>
            </div>

        </div>
        <!-- Tabla comparativa -->
        <div class="table-responsive tbl-amortizacion" style="display:none; margin-left:30px; margin-bottom:10px; margin-right:30px;">
            <br class="tbl-amortizacion">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 table table-striped tbl-amortizacion" style="display:none; margin-bottom: 10px;">
                <div class="col-xs-3 tbl-amortizacion" style="display:none; width: 20%;"></div>
                <div class="col-xs-3 tbl-amortizacion" style="display:none; width: 20%;font-size: 24px;">R.C.</div>
                <div class="col-xs-3 tbl-amortizacion" style="display:none; width: 20%;font-size: 24px;">LIMITADA</div>
                <div class="col-xs-3 tbl-amortizacion" style="display:none; width: 20%;font-size: 24px;">
                    <i class="fa fa-star" style="color:#FFBB4B;"></i> AMPLIA
                    <p style="font-size: 11px;color: #1E130F; margin-bottom: 0px;">El 92% de nuestros clientes compra esta póliza</p>
                </div>
                <div class="col-xs-3 tbl-amortizacion" style="display:none; width: 20%;font-size: 24px;">INTEGRAL</div>
            </div>
            <table style="display:none;" class="table table-striped table-bordered tbl-amortizacion">
                <thead>
                    <tr>
                        <th style="background-color:#DDD;">Coberturas</th>
                        <th style="background-color:#DDD;">Suma Asegurada</th>
                        <th style="background-color:#DDD;">Deducible</th>
                        <th style="background-color:#DDD;">Suma Asegurada</th>
                        <th style="background-color:#DDD;">Deducible</th>
                        <th style="background-color:#01BFDF; color:#FFF;" class="estelar">Suma Asegurada</th>
                        <th style="background-color:#01BFDF; color:#FFF;" class="estelar">Deducible</th>
                        <th style="background-color:#DDD;">Suma Asegurada</th>
                        <th style="background-color:#DDD;">Deducible</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-benefit-message="¿Tu auto sufrió daños en un choque, volcadura o bien por huracán o granizo? no te preocupes más, ¡Esta cobertura te protege!.">
                        <td>Daños Materiales <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="danosmateriales"></i></td>
                        <td>Valor factura 1 año</td>
                        <td>10%</td>
                        <td>Valor factura 1 año</td>
                        <td>10%</td>
                        <td>Valor factura 1 año</td>
                        <td>10%</td>
                        <td>Valor factura 1 año</td>
                        <td>10%</td>
                    </tr>
                    <tr data-benefit-message="¿Y si tu auto es robado? ¿Podrías tu mismo solventar económicamente tan importante pérdida? Nuestra  cobertura de Robo Total  responde por ti.">
                        <td>Robo total <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="robototal"></i></td>
                        <td>Valor factura 1 año</td>
                        <td>5%</td>
                        <td>Valor factura 1 año</td>
                        <td>5%</td>
                        <td>Valor factura 1 año</td>
                        <td>5%</td>
                        <td>Valor factura 1 año</td>
                        <td>5%</td>
                    </tr>
                    <tr data-benefit-message="Imagina que haces un daño con tu auto a otro auto, al municipio o personas, o peor aún, a todo al mismo tiempo.">
                        <td>Responsabilidad Civil <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="responsabilidadcivil"></i></td>
                        <td>$ 2,000,000.00</td>
                        <td> </td>
                        <td>$ 2,000,000.00</td>
                        <td> </td>
                        <td>$ 2,000,000.00</td>
                        <td> </td>
                        <td>$ 2,000,000.00</td>
                        <td> </td>
                    </tr>
                    <tr data-benefit-message="Cubre la responsabilidad civil por el tránsito de vehículos en territorio nacional, en que incurra el Asegurado o cualquier persona que con consentimiento del Asegurado use o posea el vehículo descrito en la Póliza con el límite de responsabilidad establecido en la misma, siempre que a consecuencia de dicho uso o posesión, cause a Terceros lesiones corporales, incapacidades temporales y/o permanentes o la muerte, que considera la responsabilidad civil a que se refiere el artículo 63 Bis de la Ley de Caminos, Puentes y Autotransporte Federal.">
                        <td>RC Personas <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="rcpersonas"></i></td>
                        <td>$ 2,500,000.00</td>
                        <td> </td>
                        <td>$ 2,500,000.00</td>
                        <td> </td>
                        <td>$ 2,500,000.00</td>
                        <td> </td>
                        <td>$ 2,500,000.00</td>
                        <td> </td>
                    </tr>
                    <tr data-benefit-message="Esta cobertura te protege si con tu auto llegas a causar daños en Estados Unidos de América o  Canadá. Ya no necesitas comprar otra póliza antes de ingresar como turista a Estados Unidos de América o Canadá.">
                        <td>RC USA y Canadá <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="rcusacanada"></i></td>
                        <td>$ 350,000.00</td>
                        <td> </td>
                        <td>$ 350,000.00</td>
                        <td> </td>
                        <td>$ 350,000.00</td>
                        <td> </td>
                        <td>$ 350,000.00</td>
                        <td> </td>
                    </tr>
                    <tr data-benefit-message="Daños Materiales">
                        <td>Extensión RC <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="extensionrc"></i></td>
                        <td>$ 2,000,000.00</td>
                        <td> </td>
                        <td>$ 2,000,000.00</td>
                        <td> </td>
                        <td>$ 2,000,000.00</td>
                        <td> </td>
                        <td>$ 2,000,000.00</td>
                        <td> </td>
                    </tr>
                    <tr data-benefit-message="Ampara la Responsabilidad Civil del conductor del vehículo asegurado por lesiones corporales o muerte de ocupantes del mismo.">
                        <td>Gastos médicos ocupantes <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="gmocupantes"></i></td>
                        <td>$ 2,000,000.00</td>
                        <td> </td>
                        <td>$ 2,000,000.00</td>
                        <td> </td>
                        <td>$ 2,000,000.00</td>
                        <td> </td>
                        <td>$ 2,000,000.00</td>
                        <td> </td>
                    </tr>
                    <tr data-benefit-message="¿Ocupas ayuda para cambiar una llanta ponchada? ¿Una grúa? ¿Corriente para la batería de tu auto? ¿Un cerrajero? Para esto y más tienes esta cobertura">
                        <td>Asistencia en viajes <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="asistenciaviajes"></i></td>
                        <td>Limitado</td>
                        <td> </td>
                        <td>Limitado</td>
                        <td> </td>
                        <td>Limitado</td>
                        <td> </td>
                        <td>Ilimitado</td>
                        <td> </td>
                    </tr>
                    <tr data-benefit-message="Es la cobertura que necesitas para pagar la fianza  en caso de que estés detenido debido a las lesiones causadas a alguien más en el accidente.">
                        <td>Asistencia legal <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="asistencialegal"></i></td>
                        <td>N/A</td>
                        <td> </td>
                        <td>N/A</td>
                        <td> </td>
                        <td>N/A</td>
                        <td> </td>
                        <td>N/A</td>
                        <td> </td>
                    </tr>
                    <tr data-benefit-message="Daños Materiales">
                        <td>RC Fallecimiento <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="rcfallecimiento"></i></td>
                        <td>$ 2,000,000.00</td>
                        <td> </td>
                        <td>$ 3,000,000.00</td>
                        <td> </td>
                        <td>$ 4,000,000.00</td>
                        <td> </td>
                        <td>$ 5,000,000.00</td>
                        <td> </td>
                    </tr>
                    <tr data-benefit-message="Mediante la cobertura de Responsabilidad Civil Familiar se cubren los Daños y perjuicios hasta por $500,000 pesos m.n. que el asegurado siendo persona física, ocasione a terceros y por los que deba responder legalmente, por hechos u omisiones no dolosos y que causen la muerte o menoscabo de la salud o el deterioro o destrucción de bienes de dichos terceros, ocurridos durante la vigencia de la póliza, como por ejemplo, a consecuencia de incendio o derrame accidental de agua de la vivienda de la cual es propietario. Para reportes de siniestro bajo esta cobertura marque el 01800 716-5467">
                        <td>RC Familiar <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="rcfamiliar"></i></td>
                        <td>$ 2,000,000.00</td>
                        <td> </td>
                        <td>$ 2,000,000.00</td>
                        <td> </td>
                        <td>$ 2,000,000.00</td>
                        <td> </td>
                        <td>$ 2,000,000.00</td>
                        <td> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <section class="col-xs-10 col-xs-offset-1 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10 ocultar">
        <div class="row col-xs-12">

            <div id="icon-1" class="col-xs-4 col-lg-2  icon-disabled"><img src="~/cdn/assets/img/casa-1.png" alt=""><br><span style="color:#fff;">Incendio</span></div>

            <div id="icon-2" class="col-xs-4 col-lg-2 icon-disabled"><img src="~/cdn/assets/img/casa-2.png" alt=""><br><span style="color:#fff;">RC Familiar</span></div>

            <div id="icon-3" class="col-xs-4 col-lg-2 icon-disabled"><img src="~/cdn/assets/img/casa-3.png" alt=""><br><span style="color:#fff;">Robo con Violencia y/o Asalto</span></div>

            <div id="icon-4" class="col-xs-4 col-lg-2 icon-disabled"><img src="~/cdn/assets/img/casa-4.png" alt=""><br><span style="color:#fff;">Gastos Extras</span></div>

            <div id="icon-5" class="col-xs-4 col-lg-2 icon-disabled"><img src="~/cdn/assets/img/casa-5.png" alt=""><br><span style="color:#fff;">Satisfacci&oacute;n Total</span></div>

            <div id="icon-6" class="col-xs-4 col-lg-2 icon-disabled"><img src="~/cdn/assets/img/casa-6.png" alt=""><br><span style="color:#fff;">Equipo Electr&oacute;nico</span></div>

        </div>
        <div class="row last col-xs-12" style="margin-top:50px;">

            <div id="icon-7" class="col-xs-4 col-lg-2 icon-disabled"><img src="~/cdn/assets/img/casa-7.png" alt=""><br><span style="color:#fff;">Renovaci&oacute;n Autom&aacute;tica</span></div>

            <div id="icon-8" class="col-xs-4 col-lg-2 icon-disabled"><img src="~/cdn/assets/img/casa-8.png" alt=""><br><span style="color:#fff;">Objetos Personales</span></div>

            <div id="icon-9" class="col-xs-4 col-lg-2 icon-disabled"><img src="~/cdn/assets/img/casa-9.png" alt=""><br><span style="color:#fff;">Equipo M&oacute;vil</span></div>

            <div id="icon-10" class="col-xs-4 col-lg-2 icon-disabled"><img src="~/cdn/assets/img/casa-10.png" alt=""><br><span style="color:#fff;">Contenido Refrigerador</span></div>

            <div id="icon-11" class="col-xs-4 col-lg-2 icon-disabled"><img src="~/cdn/assets/img/casa-11.png" alt=""><br><span style="color:#fff;">Uso indebido de Tarjetas de Cr&eacute;dito</span></div>

        </div>
    </section>

    <div class="col-xs-12 col-xs-offset-1 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10" style="background-color: transparent !important;">
        <a id="ver-tabla" class="btn-ver-tabla" style="cursor:pointer;">COMPARA COBERTURAS</a>
        <a id="ocultar-tabla" class="btn-ver-tabla" style="display:none; cursor:pointer;">REGRESAR</a>
    </div>
</div>

<div id="conoce" class="es-facil col-xs-12">

    <div align="center" class="video-container-iframe col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-12 main-title" style="margin-bottom: 35px;">
            Conoce más de ABA Auto Seguro
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-sm-offset-3 col-sm-6 col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fHopdGcOajc?ecver=2"></iframe>
            </div>
        </div>
    </div>
</div>


<!--template tablas-->
<div id="tablillasTemplate" class="col-xs-12" style="display:none;">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
        <div class="col-xs-12" align="right">
            <div class="btn btn-default cerrar">
                CERRAR
            </div>
        </div>
        <div class="titulo-azul">
            AUTO SEGURO
        </div>
        <div class="title">
            Cobertura Amplia
        </div>
    </div>
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10" style="margin-top: 35px;">
        <table style="width: 100%;">
            <thead>
            <th>
                COBERTURAS
            </th>
            <th>
                SUMA ASEGURADA
            </th>
            <th>
                DEDUCIBLE
            </th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Daños materiales
                    </td>
                    <td>
                        VALOR COMERCIAL
                    </td>
                    <td>
                        5%
                    </td>
                </tr>
                <tr>
                    <td>
                        Robo Total
                    </td>
                    <td>
                        VALOR COMERCIAL
                    </td>
                    <td>
                        10%
                    </td>
                </tr>
                <tr>
                    <td>
                        Responsabilidad Civil por Daños a Terceros
                    </td>
                    <td>
                        $1,500,000.00
                    </td>
                    <td>
                        NO APLICA
                    </td>
                </tr>
                <tr>
                    <td>
                        Responsabilidad Civil Familiar
                    </td>
                    <td>
                        $500,000.00
                    </td>
                    <td>
                        NO APLICA
                    </td>
                </tr>
                <tr>
                    <td>
                        Gastos Médicos Ocupantes
                    </td>
                    <td>
                        $400,000.00
                    </td>
                    <td>
                        NO APLICA
                    </td>
                </tr>
                <tr>
                    <td>
                        Asistencia Legal
                    </td>
                    <td>
                        $1,500,000.00
                    </td>
                    <td>
                        NO APLICA
                    </td>
                </tr>
                <tr>
                    <td>
                        Auto Protegido
                    </td>
                    <td>
                        AMPARADA
                    </td>
                    <td>
                        NO APLICA
                    </td>
                </tr>
                <tr>
                    <td>
                        Auto Relevo Plus
                    </td>
                    <td>
                        15 DÍAS
                    </td>
                    <td>
                        NO APLICA
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--cotizador flotante MT!!! NO BORAR!!!!-->
<div class="col-xs-12 section-cotizador-auto-flotante">
    <div class="title col-xs-11" align="left" style="padding-left: 45px;">
        Cotiza tu seguro
    </div>

    <div align="left" class="col-xs-1">
        <div class="btn close">
            X
        </div>
    </div>

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <select class="col-xs-12 col-md-4 col-lg-10 pull-right">
                        <option>Año</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <input placeholder="Vehículo" class="col-xs-12 col-md-4 col-lg-11 pull-right">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <input placeholder="Municipio" class="col-xs-12 col-md-4 col-lg-11 pull-right">
                </div>

                <div align="center" class="cotizar-ahora3 col-xs-12 col-sm-12  col-md-3 col-lg-3" style="margin-top: -4px;">
                    <div class="col-xs-offset-1 col-xs-10">
                        <a href="~/AutoCotizador/Index" class="btn btn-seccion-gris">
                            COTIZAR AHORA
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cotizar-blanco col-xs-12 col-sm-12 col-md-offset-9 col-md-3
                    col-lg-offset-9 col-lg-3" style="font-size: 11px;" align="center">
            <div class="btn">
                <a href="~/Contenidos/Portal/?vista=Agentes">Encuentra un agente cerca de ti</a>
            </div>
        </div>



    </div>
</div>