﻿@section Styles {
    <link href="~/cdn/css/pages/hogar.css" rel="stylesheet" />
    <link href="~/cdn/css/pages/hogar-responsive.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/cdn/js/pages/hogar.js"></script>
}
<div id="carousel-seguro-auto" class="container-carousel-segunda col-xs-12 carousel slide" data-ride="carousel">
    <div class="col-xs-12 carousel-segunda">
        <br>
        <div id="carousel-segunda" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/cdn/assets/img/banner-casa1.png">
                </div>
                <div class="item">
                    <img src="~/cdn/assets/img/banner-casa2.png">
                </div>
                <div class="item">
                    <img src="~/cdn/assets/img/banner-casa3.png">
                </div>
                <div class="item">
                    <img src="~/cdn/assets/img/banner-casa4.png">
                </div>
                <div class="item">
                    <img src="~/cdn/assets/img/banner-casa5.png">
                </div>
            </div>

            <ol class="carousel-indicators">
                <li data-target="#carousel-seguro-auto" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-seguro-auto" data-slide-to="1"></li>
                <li data-target="#carousel-seguro-auto" data-slide-to="2"></li>
                <li data-target="#carousel-seguro-auto" data-slide-to="3"></li>
                <li data-target="#carousel-seguro-auto" data-slide-to="4"></li>
            </ol>

        </div>
    </div>
</div>

<div id="beneficios" class="col-xs-12 beneficios-aba">
    <!-- Menu -->
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <ul class="submenu">
                <li><a href="#beneficios" class="active submenu-item">BENEFICIOS</a></li>
                <li><a href="#paquetes" class="submenu-item">NUESTROS PAQUETES</a></li>
                <li><a href="#conoce" class="submenu-item">CONOCE MÁS</a></li>
                <li><a href="#requisitos" class="submenu-item">REQUISITOS Y RESTRICCIONES</a></li>
                <li><a href="#consejos" class="submenu-item">CONSEJOS DE USO</a></li>
                <li><a href="#siniestro" class="submenu-item">EN CASO DE SINIESTRO</a></li>
                @*<li><a href="~/Contenidos/Portal/?vista=CondicionesGenerales&tab=danos" class="submenu-item">CONDICIONES GENERALES</a></li>*@
                @*<li><a href="https://www2.chubb.com/mx-es/_assets/documents/aba-hogar-seguro.pdf" target="_blank" class="submenu-item">CONDICIONES GENERALES</a></li>*@
                <li class="despegable">
                    <a href="#" class="submenu-item">CONDICIONES GENERALES</a>
                    <ul class="grupo-despegable">
                        <li><a href="https://www2.chubb.com/mx-es/_assets/documents/aba-hogar-seguro.pdf" target="_blank" class="submenu-item">Hogar Seguro</a></li>
                        <li><a href="http://aba.chubb.com/cdn/docs/VIBIA.pdf" target="_blank" class="submenu-item">VIBIA</a></li>
                    </ul>

                </li>
            </ul>
        </div>
    </div>

    <div class="row left-title">
        ¿Qué nos hace diferentes?
    </div>
    <div class="row" style="margin-top:15px;">
        <div class="col-xs-12 col-md-6 col-lg-6" style="border-left: solid 6px #01C1E2">
            <div class="inner-title">
                UN SEGURO DE HOGAR QUE SE ADAPTA A TU PERFIL
            </div>
            <div class="servicios-item">
                <div class="inner-item-title">
                    UN SEGURO DE HOGAR QUE SE ADAPTA A TI
                </div>
                <div class="inner-item-content">
                    Protegemos tu casa, tu familia, tu mascota y tus cosas.
                </div>
            </div>
            <div class="servicios-item">
                <div class="inner-item-title">
                    ALTERNATIVAS PARA TODO TIPO DE NECESIDADES
                </div>
                <div class="inner-item-content">
                    Si tienes casa propia, protege tu hogar y tus pertenencias.<br />
                    Si pagas renta, protege tus pertenencias.<br />
                    O si tienes una propiedad y la rentas, protege tu vivienda y<br />
                    los daños a terceros que puedan causar tus inquilinos.
                </div>
            </div>
            <div class="servicios-item">
                <div class="inner-item-title">
                    NUESTROS PAQUETES ESTÁN COMPUESTOS POR 4 GRUPOS DE CATEGORÍAS FUNDAMENTALES DE COBERTURAS:
                </div>
                <div class="inner-item-content">
                    Protecci&oacute;n para tu vivienda: Incendio, otros riesgos,<br />
                    fen&oacute;menos y terremoto de manera opcional.<br />
                    Protecci&oacute;n para tus pertenencias: Incendio, Robo.<br />
                    Protecci&oacute;n para tu mascota: Tu perro, tu gato o animal dom&eacute;stico.<br />
                    Servicios Adicionales: Asistencias de emergencias y soluciones para el hogar.
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6" style="border-left: solid 6px #FF6400">
            <div class="inner-title">
                UN SEGURO F&Aacute;CIL DE COMPRAR Y USAR:
            </div>

            <div class="servicios-item">
                <div class="inner-item-content">
                    Se adapta a tus necesidades, tenemos planes pre-dise&ntilde;ados o puedes elegir las sumas aseguradas y coberturas que necesitas.
                </div>
            </div>
            <div class="servicios-item">
                <div class="inner-item-content">
                    F&aacute;cil contrataci&oacute;n porque no requiere el valor de los bienes para adquirirlo
                </div>
            </div>
            <div class="servicios-item">
                <div class="inner-item-content">
                    Te protege desde eventos que podr&iacute;an destruir tu hogar por completo hasta emergencias cotidianas.
                </div>
            </div>
            <div class="servicios-item last">
                <div class="inner-item-content">
                    Ofrecemos soluciones para el Hogar como instalaciones.<br /><br />
                    Accesible, desde $125 al mes.<br /><br />
                    Amplia cobertura
                </div>
            </div>
        </div>
    </div>
</div>


<div id="paquetes" class="col-xs-12 seguro-para-tu">
    <p class="ProductosTitulo">NUESTROS PAQUETES</p>
    <div class="col-xs-10 col-xs-offset-1 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
        <div id="limitada" class="ele col-xs-12 col-sm-4 col-md-4 col-lg-4 auto-servicios ocultar-para-tabla hidden-xs" style="margin-top:-40px;">
            <div class="title" style="margin-top:40px;">
                B&Aacute;SICO
            </div>
            <div col-xs-12>
                <iframe class="minivideos"
                        src="https://www.youtube.com/embed/jUl8jRsiJgs?ecver=2"></iframe>
            </div>
        </div>
        <div id="amplia" class="ele col-xs-12 col-sm-4 col-md-4 col-lg-4 auto-servicios ocultar-para-tabla hidden-xs" style="margin-top:-40px;">
            <div class="estelar-franja">
                El 92% de nuestros clientes compra esta póliza
            </div>
            <div class="title" style="margin-top:10px;">
                <i class="fa fa-star" style="color:#F8E81C;"></i> &Oacute;PTIMO
            </div>
            <div col-xs-12>
                <iframe class="minivideos"
                        src="https://www.youtube.com/embed/qDh8MvRsE_w?ecver=2"></iframe>
            </div>

        </div>
        <div id="integral" class="ele col-xs-12 col-sm-4 col-md-4 col-lg-4 auto-servicios ocultar-para-tabla hidden-xs" style="margin-top:-40px;">
            <div class="title" style="margin-top:40px;">
                PREMIUM
            </div>
            <div col-xs-12>
                <iframe class="minivideos"
                        src="https://www.youtube.com/embed/Furl1Bj2nlc?ecver=2"></iframe>
            </div>

        </div>

        <!-- Paquetes iPhone-->
        <div id="phonePackages">
            <div class="col-xs-12 auto-servicios visible-xs hidden-md hidden-lg limitada">
                <div class="col-xs-6 ele">
                    <div class="title" style="margin-top: 15px; padding: 0px 20px; text-align: center; color: black; font-weight: 300; text-transform: uppercase;font-size:10px">
                        B&aacute;sico
                    </div>
                </div>
                <div class="col-xs-6">
                    <iframe class="minivideos" style="width: 120px; height: 80px; margin-top: 10px; margin-bottom: 10px; margin-left: 20px;"
                            src="https://www.youtube.com/embed/jUl8jRsiJgs?ecver=2"></iframe>
                </div>
            </div>

            <div class="col-xs-12 auto-servicios visible-xs hidden-md hidden-lg amplia">
                <div class="col-xs-12 estelar-franja">
                    El 92% de nuestros clientes compra esta p&oacute;liza
                </div>
                <div class="col-xs-6 ele">
                    <div class="title" style="margin-top: 15px; padding: 0px 20px; text-align: center; color: black; font-weight: 300; text-transform: uppercase;font-size:10px">
                        <i class="fa fa-star" style="color:#F8E81C;"></i> Amplia
                    </div>
                </div>
                <div class="col-xs-6">
                    <iframe class="minivideos" style="width: 120px; height: 80px; margin-top: 10px; margin-bottom: 10px; margin-left: 20px;"
                            src="https://www.youtube.com/embed/qDh8MvRsE_w?ecver=2"></iframe>
                </div>
            </div>

            <div class="col-xs-12 auto-servicios visible-xs hidden-md hidden-lg integral">
                <div class="col-xs-6 ele">
                    <div class="title" style="margin-top: 15px; padding: 0px 20px; text-align: center; color: black; font-weight: 300; text-transform: uppercase;font-size:10px">
                        Integral
                    </div>
                </div>
                <div class="col-xs-6">
                    <iframe class="minivideos" style="width: 120px; height: 80px; margin-top: 10px; margin-bottom: 10px; margin-left: 20px;"
                            src="https://www.youtube.com/embed/Furl1Bj2nlc?ecver=2"></iframe>
                </div>
            </div>
        </div>

        <!-- Tabla comparativa -->
        <div id="tabla-responsiva" class="table-responsive tbl-amortizacion col-md-12" style="display:none;">
            <br class="tbl-amortizacion">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 table table-striped tbl-amortizacion hidden-sm hidden-xs" style="display:none; margin-bottom: 10px;">
                <div class="col-xs-3 tbl-amortizacion" style="display:none; width: 40%;"></div>
                <div class="col-xs-3 tbl-amortizacion" style="display:none; width: 20%;font-size: 24px;">B&Aacute;SICO.</div>
                <div class="col-xs-3 tbl-amortizacion" style="display:none; width: 25%;font-size: 24px;">
                    <i class="fa fa-star" style="color:#FFBB4B;"></i> &Oacute;PTIMO
                    <p style="font-size: 11px;color: #1E130F; margin-bottom: 0px;">El 92% de nuestros clientes compra esta póliza</p>
                </div>
                <div class="col-xs-3 tbl-amortizacion" style="display:none; width: 10%;font-size: 24px;">PREMIUM</div>
            </div>

            <div class="hidden-lg hidden-md" style="width: 970px;">
                <div class="col-xs-3"></div>
                <div class="col-xs-3 tbl-amortizacion" style="display:none; width: 18%;font-size: 24px;">R.C.</div>
                <div class="col-xs-3 tbl-amortizacion" style="display:none; width: 15%;font-size: 24px;">LIMITADA</div>
                <div class="col-xs-3 tbl-amortizacion" style="display:none; width: 20%;font-size: 24px;">
                    <i class="fa fa-star" style="color:#FFBB4B;"></i> AMPLIA
                    <p style="font-size: 11px;color: #1E130F; margin-bottom: 0px;">El 92% de nuestros clientes compra esta póliza</p>
                </div>
                <div class="col-xs-3 tbl-amortizacion" style="display:none; width: 15%;font-size: 24px;">INTEGRAL</div>
            </div>

            <table style="display:none;" class="table table-striped table-bordered tbl-amortizacion">
                <thead>
                    <tr>
                        <th style="background-color:#DDD;">Coberturas</th>
                        <th style="background-color:#DDD;">Suma Asegurada</th>
                        <th style="background-color:#DDD;">Deducible</th>
                        <th style="background-color:#01BFDF; color:#FFF;"class="estelar">Suma Asegurada</th>
                        <th style="background-color:#01BFDF; color:#FFF;"class="estelar">Deducible</th>
                        <th style="background-color:#DDD;">Suma Asegurada</th>
                        <th style="background-color:#DDD;">Deducible</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-benefit-message="Tu casa está cubierta contra daños ocasionados por incendio, rayo, explosión, vandalismo, roturas o filtraciones de tuberías, humo, colisión de vehículos de terceros en la casa, caída de árboles y antenas.">
                        <td>Cobertura Amplia de Incendio de Edificio <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="coberturaampliaedificio"></i></td>
                        <td>$1,000,000.00</td>
                        <td>NA</td>
                        <td>$2,000,000.00</td>
                        <td>NA</td>
                        <td>$2,000,000.00</td>
                        <td>NA</td>
                    </tr>
                    <tr data-benefit-message="Es lo que no se encuentra textualmente en las exclusiones de la cobertura de incendio.">
                        <td>Resto de los riesgos (Edificio) <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="restodelosriesgos"></i></td>
                        <td>Amparada</td>
                        <td>10% sobre el monto de la perdida con Min: $5,000 pesos(M.N.) con Max: 750 UMA</td>
                        <td>Amparada</td>
                        <td>10% sobre el monto de la perdida con Min: $5,000 pesos(M.N.) con Max: 750 UMA</td>
                        <td>Amparada</td>
                        <td>10% sobre el monto de la perdida con Min: $5,000 pesos(M.N.) con Max: 750 UMA</td>
                    </tr>
                    <tr data-benefit-message="Gastos derivados a consecuencia de un siniestro de un riesgo amparado en la sección de incendio.">
                        <td>Gastos extras <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="gastosextras"></i></td>
                        <td>$100,000.00</td>
                        <td>NA</td>
                        <td>$100,000.00</td>
                        <td>NA</td>
                        <td>$100,000.00</td>
                        <td>NA</td>
                    </tr>
                    <tr data-benefit-message="Remoció de los escombros derivado de un siniestro de un riesgo amparado.">
                        <td>Remoción de escombros <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="remocionescobro"></i></td>
                        <td>$100,000.00</td>
                        <td>Según anexo o especificacion</td>
                        <td>$200,000.00</td>
                        <td>Según anexo o especificacion</td>
                        <td>$200,000.00</td>
                        <td>Según anexo o especificacion</td>
                    </tr>
                    <tr data-benefit-message="Los bienes que se encuentren dentro de la casa están cubiertos contra daños ocasionados por incendio, rayo, explosión, vandalismo, roturas o filtraciones de tuberías, humo, colisión de vehículos de terceros en la casa, caída de árboles y antenas.">
                        <td>Cobertura Amplia de Incendio de Contenidos <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="coberturaampliaincendiocontenido"></i></td>
                        <td>$500,000.00</td>
                        <td>NA</td>
                        <td>$1,000,000.00</td>
                        <td>NA</td>
                        <td>$1,000,000.00</td>
                        <td>NA</td>
                    </tr>
                    <tr data-benefit-message="Es lo que no se encuentra textualmente en las descripciones de la cobertura de incendio contenidos.">
                        <td>Resto de los riesgos (Contenidos) <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="restodelosriesgos"></i></td>
                        <td>Amparada</td>
                        <td>10% sobre el monto de la perdida con Min: $5,000 pesos(M.N.) con Max: 750 UMA</td>
                        <td>Amparada</td>
                        <td>10% sobre el monto de la perdida con Min: $5,000 pesos(M.N.) con Max: 750 UMA</td>
                        <td>Amparada</td>
                        <td>10% sobre el monto de la perdida con Min: $5,000 pesos(M.N.) con Max: 750 UMA</td>
                    </tr>
                    <tr data-benefit-message="Gastos erogados, por la muerte natural o accidental, o lesiones de la mascota a consecuencia de un accidente">
                        <td>Mascotas (sublimite) <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="mascota"></i></td>
                        <td>$10,000.00</td>
                        <td>1,000 pesos en toda y cada perdida</td>
                        <td>$10,000.00</td>
                        <td>1,000 pesos en toda y cada perdida</td>
                        <td>$10,000.00</td>
                        <td>1,000 pesos en toda y cada perdida</td>
                    </tr>
                    <tr data-benefit-message="Cubre los daños que sufren los cristales debidamente instalados como ventanas, cubiertas para mesa, espejos, domos y puertas.">
                        <td>Cristales <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="cristales"></i></td>
                        <td></td>
                        <td></td>
                        <td>$25,000.00</td>
                        <td>5% sobre el monto de la perdida con Min: 5 UMA</td>
                        <td>$35,000.00</td>
                        <td>5% sobre el monto de la perdida con Min: 5 UMA</td>
                    </tr>
                    <tr data-benefit-message="Robo de bienes muebles que se encuentran en el interior del domicilio amparado mientras exista algún tipo de violencia emocional o física.">
                        <td>Robo de Contenidos <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="robocontenido"></i></td>
                        <td>$30,000.00</td>
                        <td>10% sobre el monto de la perdida con Min: 60 UMA</td>
                        <td>$60,000.00</td>
                        <td>10% sobre el monto de la perdida con Min: 60 UMA</td>
                        <td>$70,000.00</td>
                        <td>10% sobre el monto de la perdida con Min: 60 UMA</td>
                    </tr>
                    <tr data-benefit-message="Estará protegido el dinero que traiga consigo el asegurado, así mismo al momento de estar retirando dinero del cajero automático o en el banco y sufra de un asalto mediante el uso de violencia física o moral.">
                        <td>Dinero en efectivo dentro del hogar <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="dineroefectivodentrohogar"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>$25,000.00</td>
                        <td>10% sobre el monto de la perdida</td>
                    </tr>
                    <tr data-benefit-message="Estará protegido el dinero que traiga consigo el asegurado, así mismo al momento de estar retirando dinero del cajero automático o en el banco y sufra de un asalto mediante el uso de violencia física o moral.">
                        <td>Dinero en efectivo fuera del hogar (sublimite) <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="dineroefectivofuerahogar"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>$12,500.00</td>
                        <td>10% sobre el monto de la perdida</td>
                    </tr>
                    <tr data-benefit-message="Objetos como reloj, bolsa, lentes.">
                        <td>Objetos personales <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="objetospersonales"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>$20,000.00</td>
                        <td>10% sobre el monto de la perdida con Min: 60 UMA</td>
                    </tr>
                    <tr data-benefit-message="Protección para cualquier aparato electrodoméstico y electrónico contra daños materiales que puedan sufrir por actos súbitos e imprevistos.">
                        <td>Daños Materiales al Equipo Electronico Fijo <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="daniosmaterialesequipofijo"></i></td>
                        <td></td>
                        <td></td>
                        <td>$20,000.00</td>
                        <td>5% sobre el valor de reposicion del eq. dañado con Min: 40 UMA</td>
                        <td>$30,000.00</td>
                        <td>5% sobre el valor de reposicion del eq. dañado con Min: 40 UMA</td>
                        
                    </tr>
                    <tr data-benefit-message="Quedan cubiertos los objetos que porte el asegurado como laptops, ipods, palms, entre otros artículos electrónicos de uso móvil.">
                        <td>Equipo Electronico Movil (excluye celulares) <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="equipoelectronicomovil"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>$15,000.00</td>
                        <td>15% sobre el valor de reposicion del eq. dañado con Min: 40 UMA</td>
                        
                    </tr>


                    <tr data-benefit-message="Quedan cubiertos contra robo los objetos que porte el asegurado como laptops, ipods, palms, entre otros artículos electrónicos de uso móvil (Excluye celulares)">
                        <td>Robo de Equipo Electronico Movil (excluye celulares) <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="roboequipoelectronicomovil"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>$15,000.00</td>
                        <td>15% sobre el valor de reposicion del eq. dañado con Min: 40 UMA</td>

                    </tr>
                    <tr data-benefit-message="Cubre el daño material, físico o moral que ocasionen el titular de la póliza o sus dependientes a un tercero.">
                        <td>Responsabilidad Civil Familiar <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="rcfamiliar"></i></td>
                        <td>$2,000,000.00</td>
                        <td>NA</td>
                        <td>$2,000,000.00</td>
                        <td>NA</td>
                        <td>$2,000,000.00</td>
                        <td>NA</td>

                    </tr>
                    <tr data-benefit-message="Cubre los daños en sus bienes y en sus personas a empleados domésticos que trabajen para el asegurado.">
                        <td>Responsabilidad Civil Domestica <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="rcdomestica"></i></td>
                        <td>$100,000.00</td>
                        <td>10% sobre el monto de la perdida</td>
                        <td>$100,000.00</td>
                        <td>10% sobre el monto de la perdida</td>
                        <td>$100,000.00</td>
                        <td>10% sobre el monto de la perdida</td>

                    </tr>
                    <tr data-benefit-message="Ofrece orientación telefónica veterinaria para consulta o adquisición de mascota, así como consulta presencial con Médicos veterinarios certificados, vacuna antirrábica, y/o desparasitación.">
                        <td>Asistencia para Mascotas <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="asistenciamascotas"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr data-benefit-message="Ofrece orientación telefónica veterinaria para consulta o adquisición de mascota, así como consulta presencial con Médicos veterinarios certificados, vacuna antirrábica, y/o desparasitación.">
                        <td>Orientacion veterinaria telefónica <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="orientacionveternaria"></i></td>
                        <td>Ilimitado</td>
                        <td>NA</td>
                        <td>Ilimitado</td>
                        <td>NA</td>
                        <td>Ilimitado</td>
                        <td>NA</td>

                    </tr>
                    <tr data-benefit-message="Ofrece orientación telefónica veterinaria para consulta o adquisición de mascota, así como consulta presencial con Médicos veterinarios certificados, vacuna antirrábica, y/o desparasitación.">
                        <td>Ayuda en localizacion de mascotas <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="ayudalocalizamascota"></i></td>
                        <td>Ilimitado</td>
                        <td>NA</td>
                        <td>Ilimitado</td>
                        <td>NA</td>
                        <td>Ilimitado</td>
                        <td>NA</td>

                    </tr>
                    <tr data-benefit-message="Ofrece orientación telefónica veterinaria para consulta o adquisición de mascota, así como consulta presencial con Médicos veterinarios certificados, vacuna antirrábica, y/o desparasitación.">
                        <td>Orientacion legal telefónica <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="orientaciontelefonica"></i></td>
                        <td>Ilimitado</td>
                        <td>NA</td>
                        <td>Ilimitado</td>
                        <td>NA</td>
                        <td>Ilimitado</td>
                        <td>NA</td>

                    </tr>
                    <tr data-benefit-message="Ofrece orientación telefónica veterinaria para consulta o adquisición de mascota, así como consulta presencial con Médicos veterinarios certificados, vacuna antirrábica, y/o desparasitación.">
                        <td>Consulta veterinaria <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="consultaveterinaria"></i></td>
                        <td></td>
                        <td></td>
                        <td>1 evento</td>
                        <td>NA</td>
                        <td>1 evento</td>
                        <td>NA</td>

                    </tr>
                    <tr data-benefit-message="Ofrece orientación telefónica veterinaria para consulta o adquisición de mascota, así como consulta presencial con Médicos veterinarios certificados, vacuna antirrábica, y/o desparasitación.">
                        <td>Desparacitación <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="desparacitacion"></i></td>
                        <td></td>
                        <td></td>
                        <td>1 evento</td>
                        <td>NA</td>
                        <td>1 evento</td>
                        <td>NA</td>

                    </tr>
                    <tr data-benefit-message="Ofrece orientación telefónica veterinaria para consulta o adquisición de mascota, así como consulta presencial con Médicos veterinarios certificados, vacuna antirrábica, y/o desparasitación.">
                        <td>Vacuna antirrábica <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="vacunaantirrabica"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>1 evento</td>
                        <td>NA</td>

                    </tr>
                    <tr data-benefit-message="Ofrece servicios que podrás utilizar en cualquier momento como reparaciones urgentes de cerrajería, plomería, reparaciones eléctricas, de 3 eventos durante la vigencia, hasta el límite de la suma contratada.">
                        <td>Asistencias de Emergencia en el hogar, 3 eventos al año <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="asistenciaemergencia"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr data-benefit-message="Ofrece servicios que podrás utilizar en cualquier momento como reparaciones urgentes de cerrajería, plomería, reparaciones eléctricas, de 3 eventos durante la vigencia, hasta el límite de la suma contratada.">
                        <td>Cerrajería <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="cerrajeria"></i></td>
                        <td>$1,000.00</td>
                        <td>NA</td>
                        <td>$1,500.00</td>
                        <td>NA</td>
                        <td>$2,000.00</td>
                        <td>NA</td>

                    </tr>
                    <tr data-benefit-message="Ofrece servicios que podrás utilizar en cualquier momento como reparaciones urgentes de cerrajería, plomería, reparaciones eléctricas, de 3 eventos durante la vigencia, hasta el límite de la suma contratada.">
                        <td>Plomería <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="plomeria"></i></td>
                        <td>$1,000.00</td>
                        <td>NA</td>
                        <td>$1,500.00</td>
                        <td>NA</td>
                        <td>$2,000.00</td>
                        <td>NA</td>

                    </tr>
                    <tr data-benefit-message="Ofrece servicios que podrás utilizar en cualquier momento como reparaciones urgentes de cerrajería, plomería, reparaciones eléctricas, de 3 eventos durante la vigencia, hasta el límite de la suma contratada.">
                        <td>Electricista <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="electricista"></i></td>
                        <td>$1,000.00</td>
                        <td>NA</td>
                        <td>$1,500.00</td>
                        <td>NA</td>
                        <td>$2,000.00</td>
                        <td>NA</td>

                    </tr>
                    <tr data-benefit-message="Soporte telefónico para el uso, configuración, y resolución a problemas a computadoras, y dispositivos digitales del hogar con acceso a conexión de internet, Smart TV. Video consolas, SmartWatch.">
                        <td>Asistencia Tecnologica <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="asistenciatecnologica"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr data-benefit-message="Soporte telefónico para el uso, configuración, y resolución a problemas a computadoras, y dispositivos digitales del hogar con acceso a conexión de internet, Smart TV. Video consolas, SmartWatch.">
                        <td>Soporte para el uso, configuracion y resolucion de problemas relacionados a computadoras (PC y Mac) <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="soportecomputadoras"></i></td>
                        <td>Amparada</td>
                        <td>NA</td>
                        <td>Amparada</td>
                        <td>NA</td>
                        <td>Amparada</td>
                        <td>NA</td>

                    </tr>
                    <tr data-benefit-message="Soporte telefónico para el uso, configuración, y resolución a problemas a computadoras, y dispositivos digitales del hogar con acceso a conexión de internet, Smart TV. Video consolas, SmartWatch.">
                        <td>Ayuda con la configuracion inicial, uso y resolucion de problemas de los dispositivos digitales del hogar que se conecten al internet <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="ayudainternet"></i></td>
                        <td>Amparada</td>
                        <td>NA</td>
                        <td>Amparada</td>
                        <td>NA</td>
                        <td>Amparada</td>
                        <td>NA</td>

                    </tr>
                    <tr data-benefit-message="Soporte telefónico para el uso, configuración, y resolución a problemas a computadoras, y dispositivos digitales del hogar con acceso a conexión de internet, Smart TV. Video consolas, SmartWatch.">
                        <td>Soporte para el uso, configuracion y resolucion de problemas para Smartphones y Tablets <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="soportetablets"></i></td>
                        <td>Amparada</td>
                        <td>NA</td>
                        <td>Amparada</td>
                        <td>NA</td>
                        <td>Amparada</td>
                        <td>NA</td>

                    </tr>
                    <tr data-benefit-message="Soporte telefónico para el uso, configuración, y resolución a problemas a computadoras, y dispositivos digitales del hogar con acceso a conexión de internet, Smart TV. Video consolas, SmartWatch.">
                        <td>Ayuda con el uso y la configuracion de redes sociales y las principales aplicaciones de su vida digital <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="soportetablets"></i></td>
                        <td>Amparada</td>
                        <td>NA</td>
                        <td>Amparada</td>
                        <td>NA</td>
                        <td>Amparada</td>
                        <td>NA</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <section id="iconos" class="col-xs-10 col-xs-offset-1 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10 ocultar">
        <div class="row col-xs-12">

            <div id="icon-1" class="col-xs-4 col-lg-2  icon-disabled" style="margin-bottom:25px;"><img src="~/cdn/assets/img/casa-1.png" alt=""><br><span style="color:#fff;">Incendio</span></div>

            <div id="icon-2" class="col-xs-4 col-lg-2 icon-disabled" style="margin-bottom:35px;"><img src="~/cdn/assets/img/casa/contenidos.png" alt=""><br><span style="color:#fff;">Contenidos</span></div>

            <div id="icon-3" class="col-xs-4 col-lg-2 icon-disabled" style="margin-bottom:35px;"><img src="~/cdn/assets/img/casa/cristal.png" alt=""><br><span style="color:#fff;">Cristales</span></div>

            <div id="icon-4" class="col-xs-4 col-lg-2 icon-disabled" style="margin-bottom:35px;"><img src="~/cdn/assets/img/casa/robo.png" alt=""><br><span style="color:#fff;">Robo</span></div>

            <div id="icon-5" class="col-xs-4 col-lg-2 icon-disabled" style="margin-bottom:35px;"><img src="~/cdn/assets/img/casa/electronicofijo.png" alt=""><br><span style="color:#fff;">Equipo electrónico fijo</span></div>

            <div id="icon-6" class="col-xs-4 col-lg-2 icon-disabled" style="margin-bottom:35px;"><img src="~/cdn/assets/img/casa/equipoelectronicomovil.png" alt=""><br><span style="color:#fff;">Equipo electr&oacute;nico móvil</span></div>

        </div>
        <div class="row last col-xs-12" style="margin-bottom:0px;">

            <div id="icon-7" class="col-xs-4 col-lg-2 icon-disabled" style="margin-bottom:35px;"><img src="~/cdn/assets/img/casa/dinerodentro.png" alt=""><br><span style="color:#fff;">Dinero dentro y fuera</span></div>

            <div id="icon-8" class="col-xs-4 col-lg-2 icon-disabled" style="margin-bottom:35px;"><img src="~/cdn/assets/img/casa/objetos personales.png" alt=""><br><span style="color:#fff;">Objetos personales</span></div>

            <div id="icon-9" class="col-xs-4 col-lg-2 icon-disabled" style="margin-bottom:35px;"><img src="~/cdn/assets/img/casa/RCFAMILIAR.png" alt=""><br><span style="color:#fff;">RC familiar</span></div>

            <!--<div class="clearfix visible-xs"></div>-->

            <div id="icon-10" class="col-xs-4 col-lg-2 icon-disabled" style="margin-bottom:35px;"><img src="~/cdn/assets/img/casa/rcdomestica.png" alt=""><br><span style="color:#fff;">RC doméstica</span></div>

            <div id="icon-11" class="col-xs-4 col-lg-2 icon-disabled" style="margin-bottom:35px;"><img src="~/cdn/assets/img/casa/mascota.png" alt=""><br><span style="color:#fff;">Mascota</span></div>

            <div id="icon-12" class="col-xs-4 col-lg-2 icon-disabled" style="margin-bottom:35px;"><img src="~/cdn/assets/img/casa/asistenciaemergencia.png" alt=""><br><span style="color:#fff;">Asistencia de emergencia</span></div>

        </div>
        <div class="row last col-xs-12" style="margin-bottom:0px;">

            <div id="icon-13" class="col-xs-4 col-lg-2 icon-disabled" style="margin-bottom:35px;"><img src="~/cdn/assets/img/casa/asistenciatecnologica.png" alt=""><br><span style="color:#fff;">Asistencia tecnológica</span></div>

        </div>
        <div class="clearfix"></div>
        <div class="row" style="font-size: 11px; color: #FFF; text-align:justify;padding:10px 10%">
            <p>
                ***Las coberturas que se muestran en blanco, son las que aplican en el paquete seleccionado, las que se muestren grises, no aplican. Para m&aacute;s informaci&oacute;n consulta la comparaci&oacute;n de coberturas.<br>
                Sujeto a t&eacute;rminos y condiciones.
            </p>
        </div>
    </section>

    <div class="col-xs-10 col-sm-10 col-xs-offset-1 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10" style="background-color: transparent !important;">
        <a id="ver-tabla" class="btn-ver-tabla" style="cursor:pointer;">COMPARA COBERTURAS</a>
        <a id="ocultar-tabla" class="btn-ver-tabla" style="display:none; cursor:pointer;">REGRESAR</a>
    </div>
</div>

<div id="conoce" class="es-facil col-xs-12">

    <div align="center" class="video-container-iframe col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-12 main-title" style="margin-bottom: 35px;">
            Conoce más de ABA Hogar Seguro
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-sm-offset-3 col-sm-6 col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iNfN9lSXGwY"></iframe>
            </div>
        </div>
        <div class="col-xs-12" style="font-size: 11px; color: #FFF; text-align:justify;padding:10px 10%">
            <p>
                Las descripciones presentadas en la presente página son sólo de referencia y en nada modifican a las Condiciones Generales de nuestros seguros, por lo que para mayores detalles puedes consultarlas en nuestra sección de “Condiciones Generales”.
            </p>
        </div>
    </div>
</div>

<div id="requisitos" class="col-xs-12 requisitos-aba" style="padding:50px;">
    <div class="row left-title" style="margin-top:0;">
        Requisitos y restricciones de contratación
    </div>
    <div class="row" style="padding-bottom:-15px;">
        <h3><strong>Al contratar tu seguro necesitas:</strong></h3>
        <p>- El bien asegurable deberá contar con paredes, muros y techos de construcción maciza.</p>
        <p>- Hasta 4 niveles de construcción.</p>
        <p>- Comunicarse al 01-800-712-2828 y seleccionar la opción número 3 del menú y posteriormente la opción 3 en el submenú.</p>
        <p>- También puedes adquierir tu seguro en cualquiera de nuestros puntos de venta o con nuestros agentes de seguros.</p>
        <p>- Entregar la documentación solicitada.</p>
        <p>- No aplica para construcciones frente al Mar, uso comercial, o de cualquier otro material que no sea concreto.</p>
    </div>
</div>

<div id="consejos" class="col-xs-12 consejos-aba" style="padding:50px;">
    <div class="row left-title" style="margin-top:0;">
        Consejos de uso
    </div>
    <div class="row" style="padding-bottom:-15px;">
        <p>- Junto a la carátula de tu póliza, se encuentran condiciones generales y particulares, te invitamos a consultarlas, donde podrás conocer las coberturas, exclusiones y restricciones de tu seguro; de igual forma las puedes consultar en la sección de Coberturas Generales.</p>
        <p>- Verifica que tus datos y los del bien asegurado que aparecen en la carátula de tu póliza sean correctos, en caso de existir algún error contacta a tu agente inmediatamente.</p>
        <p>
            - Si el contenido de la póliza o sus modificaciones no concordaren con la oferta, puedes pedir la rectificación correspondiente dentro de los treinta días que sigan al día en que recibas tu póliza.
        </p>
        <p>- Transcurrido este plazo se considerarán aceptadas las estipulaciones de la póliza o de sus modificaciones.</p>
        <p>- Siempre mantenga a la mano su número de póliza.</p>
    </div>
</div>

<div id="siniestro" class="col-xs-12 siniestros-aba" style="padding:50px;">
    <div class="row left-title" style="margin-top:0;">
        Qué hacer en caso de siniestro
    </div>
    <div class="row" style="padding-bottom:-15px;">
        <p>Repórtalo inmediatamente sin costo al 01-800-716-5467</p>
        <p>
            Al reportarlo te preguntaremos:<br />
            - Numero de póliza.<br />
            - Nombre el asegurado.<br />
            - Fecha y hora del accidente.<br />
            - Lugar del accidente.<br />
            - Persona a contactar y teléfono.<br />
            - Causa del daño.<br />
            - Bienes afectados

        </p>
    </div>
</div>


