<!--VIDEO-->
<div class="hidden-xs fullscreen-bg">
    <video loop muted autoplay class="fullscreen-bg__video">
        <source src="~/cdn/assets/img/aba-seguros-videoslider.mp4" type="video/mp4">
    </video>
</div>
<div class="visible-xs fondoHome fullscreen-bg"></div>

<!--COTIZADOR-->
<div class="hidden-xs row">
    <div class="col-xs-12 col-sm-8 col-md-offset-1 col-md-7 col-lg-offset-1 col-lg-8 seguro-auto" align="center">
        <div class="title">
            Cotiza tu Seguro de Auto
        </div>
        <div class="sub-title">
            Conoce los paquetes y los beneficios de asegurarte con ABA Seguros
        </div>
        <div class="col-xs-12 aqui-van-imagenes" align="center">
            <div class="btn col-xs-12 col-sm-offset-4 col-sm-3 col-md-offset-5 col-md-2 " style="padding-left: 0px; padding-top: 18px;">
                <img src="~/cdn/assets/img/6.png">
                <div class="col-xs-12" style="margin-top: 15px;">
                    Auto
                </div>
            </div>

        </div>
        <div class="col-xs-12 data-to-fill">
            <div class="col-xs-12">
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <select class="col-xs-12">
                        <option>Año</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5" style="padding-right: 15px; padding-left: 15px;">
                    <input placeholder="Vehículo" class="col-xs-12">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4" style="padding-right: 15px; padding-left: 15px;">
                    <input placeholder="Municipio" class="col-xs-12">
                </div>

            </div>

        </div>
        <div align="center" class="cotizar-ahora">
            <div class="btn">
                COTIZAR AHORA
            </div>

        </div>
        <div class="cotizar-blanco" align="center">
            <div class="btn">
                <a href="~/Contenidos/Portal/?vista=Agentes">Encuentra un agente cerca de ti</a>
            </div>
        </div>
    </div>
</div>
<div class="visible-xs row">
    <div class="col-xs-12 seguro-auto-responsive" align="center">
        <div class="col-xs-12 title" style="padding-right:15px; padding-left:15px;">
            Cotiza tu Seguro de Auto
        </div>
        <div class="col-xs-12 sub-title" style="padding-right:30px; padding-left:30px;">
            Conoce los paquetes y los beneficios de asegurarte con ABA Seguros
        </div>
        <div class="col-xs-12 aqui-van-imagenes" align="center">
            <div class="btn col-xs-12 btniconos" style="padding-left: 0px; padding-top: 0px;">
                <img src="~/cdn/assets/img/6.png">
                <div class="col-xs-12 txtIcono" style="margin-top: 5px;">
                    Auto
                </div>
            </div>

        </div>
        <div class="col-xs-12 data-to-fill">
            <div class="col-xs-12">
                <div class="col-xs-12 campos">
                    <select class="col-xs-12">
                        <option>Año</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5" style="padding-right: 15px; padding-left: 15px;">
                    <input placeholder="Vehículo" class="col-xs-12">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4" style="padding-right: 15px; padding-left: 15px;">
                    <input placeholder="Municipio" class="col-xs-12">
                </div>

            </div>

        </div>
        <div class="col-xs-12 cotizar-ahora-responsive" align="center">
            <div class="btn">
                COTIZAR AHORA
            </div>

        </div>
        <div class="cotizar-blanco-responsive" align="center">
            <div class="btn">
                <a href="~/Contenidos/Portal/?vista=Agentes">Encuentra un agente cerca de ti</a>
            </div>
        </div>
    </div>
</div>

<!--AUTO SEGURO-->
<div class="auto-seguro section-imageback">
    <div class="row">
        <div class="col-md-offset-1 col-md-10 col-xs-12">
            <div style="padding-top: 50px; padding-left: 15px; padding-right: 15px;">
                <div class="pre-title azul-fosfo">
                    SEGUROS
                </div>
                <div class="title">
                    Auto Seguro
                </div>
                <div class="sub-title color-gris">
                    Seguimiento a siniestros en línea, APP ABA Clientes, Asistencia en Viaje (grúa, cerrajero,
                    
                    entre otros), <br /> son algunas de las coberturas y beneficios que te tendrán siempre tranquilo.
                </div>
                <div align="center" class="col-xs-10 col-md-4 btn-container">
                    <div class="btn col-xs-5 btn-ver-mas redirect-to-segunda">
                        <a href="~/Contenidos/Portal/?vista=Auto_Seguro">VER MÁS</a>
                    </div>
                    <div class="col-xs-offset-1 btn col-xs-5 btn-cotizar redirect-to-cotizador">
                        <a href="~/AutoCotizador/Index">COTIZAR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--SEGUROS HOGAR-->
<div class="seguro-hogar section-imageback">
    <div class="row">
        <div class="col-md-offset-1 col-md-10 col-xs-12">
            <div style="padding-top: 50px; padding-left: 15px; padding-right: 15px;" align="right">
                <div class="pre-title azul-fosfo">
                    SEGUROS
                </div>
                <div class="title">
                    Hogar Seguro
                </div>
                <div class="sub-title color-gris">
                    Cuenta siempre con asistencia en el hogar (cerrajero, plomero, electricista), además
                    <br/>
                    de protección contra robo, incendio, equipo electrónico, entre otras coberturas.
                </div>
                <div align="center" class="col-xs-offset-2 col-md-offset-8 col-xs-10 col-md-4 btn-container">
                    <div class="btn col-xs-offset-7 col-xs-5 btn-ver-mas redirect-to-hogar">
                        <a href="~/Contenidos/Portal/?vista=Hogar_Seguro">VER MÁS</a>
                    </div>
                    <div class="col-xs-offset-1 btn col-xs-5 btn-cotizar redirect-to-cotizador">
                        <a href="~/CasaCotizador/Index">COTIZAR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--PYME SEGURA-->
<div class="pyme-segura section-imageback">
    <div class="row">
        <div class="col-md-offset-1 col-md-10 col-xs-12">
            <div style="padding-top: 50px; padding-left: 15px; padding-right: 15px;">
                <div class="pre-title azul-fosfo">
                    SEGUROS
                </div>
                <div class="title">
                    PyME Segura
                </div>
                <div class="sub-title color-gris">
                    Cuida tu PyME con los paquetes que
                    <br/>
                    tenemos para tí.
                </div>
                <div align="center" class="col-xs-10 col-md-4 btn-container">
                    <div class="btn col-xs-5 btn-ver-mas redirect-to-pyme">
                        <a href="~/Contenidos/Portal/?vista=Pyme_Seguro">VER MÁS</a>
                    </div>
                    @*<div class="col-xs-offset-1 btn col-xs-5 btn-cotizar redirect-to-cotizador">
                        <a href="~/PymeCotizador/Index">COTIZAR</a>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

<!--OTROS SEGUROS -->
<div class="otros-seguros section-imageback">
    <div class="row">
        <div class="col-md-offset-1 col-md-10 col-xs-12">
            <div style="padding-top: 50px; padding-left: 15px; padding-right: 15px;" align="right">
                <div class="pre-title azul-fosfo">
                    SEGUROS
                </div>
                <div class="title">
                    OTROS SEGUROS
                </div>
                <div class="sub-title color-gris">
                    ¿Necesitas un seguro para transporte de mercancía, eres contratista, o tienes una
                    <br/>
                    embarcación de placer? Para esto y más tenemos un seguro especial para tí.
                </div>
                <div align="center" class="col-xs-offset-2 col-md-offset-8 col-xs-10 col-md-4 btn-container">
                    <div class="btn col-xs-offset-7 col-xs-5 btn-ver-mas redirect-to-masseguros">
                        <a href="~/Contenidos/Portal/?vista=Otros_Seguros">VER MÁS</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--QUIENES SOMOS -->
<div class="hidden-xs col-xs-12 quienes-somos quienes-somos-fondo" style="padding: 0;">
    <img src="~/cdn/assets/img/logo-aba.png" style="margin-top: -25px; width: 160px;" class="col-xs-offset-1 col-sm-offset-1 col-md-offset-2 col-lg-offset-1">
    <div class="title col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offest-2 col-md-8 col-lg-offest-1 col-lg-11">
        ¿Quiénes somos?
    </div>
    <div class="quienes-somostxt col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-6 col-md-offest-1 col-md-3 col-lg-offest-1 col-lg-3">
        Nuestra compañía se distingue globalmente por su amplia oferta de productos y servicios, gran capacidad de distribución, excepcional fortaleza financiera, excelencia en suscripción, conocimientos técnicos superiores en la gestión de siniestros y operaciones locales.
    </div>
    <div align="left" class="col-xs-12 btn-container" style="margin-top: 30px;">
        <div class="btn col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-6 col-md-offset-1 col-md-3 col-lg-offest-1 col-lg-3 btn-cotizar">
            <a href="~/Contenidos/Portal/?vista=Quienes_Somos">INFORMACIÓN FINANCIERA</a>
        </div>

    </div>
    <div align="left" class="col-xs-12 btn-container">

        <div class="btn col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-6 col-md-offset-1 col-md-3 col-lg-offest-1 col-lg-3 btn-cotizar">
            <a href="~/Contenidos/Portal/?vista=Quienes_Somos">MISIÓN Y VISIÓN</a>
        </div>

    </div>

    <div align="left" class="col-xs-12 btn-container">
        <div class="btn col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-6 col-md-offset-1 col-md-3 col-lg-offest-1 col-lg-3 btn-cotizar">
            <a href="~/Contenidos/Portal/?vista=Quienes_Somos">VALORES</a>
        </div>
    </div>
</div>
<div class="visible-xs col-xs-12 quienes-somos quienes-somos-fondo-responsive" style="padding: 0;">
    <img src="~/cdn/assets/img/logo-aba.png" style="margin-top: -25px; width: 160px;" class="col-xs-offset-1 col-sm-offset-1 col-md-offset-2 col-lg-offset-1">
    <div class="title col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offest-2 col-md-8 col-lg-offest-1 col-lg-11">
        ¿Quiénes somos?
    </div>
    <div class="quienes-somostxt col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-6 col-md-offest-1 col-md-3 col-lg-offest-1 col-lg-3">
        Nuestra compañía se distingue globalmente por su amplia oferta de productos y servicios, gran capacidad de distribución, excepcional fortaleza financiera, excelencia en suscripción, conocimientos técnicos superiores en la gestión de siniestros y operaciones locales.
    </div>
    <div align="left" class="col-xs-12 btn-container" style="margin-top: 30px;">
        <div class="btn col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-6 col-md-offset-1 col-md-3 col-lg-offest-1 col-lg-3 btn-cotizar">
            <a href="~/Contenidos/Portal/?vista=Quienes_Somos">INFORMACIÓN FINANCIERA</a>
        </div>

    </div>
    <div align="left" class="col-xs-12 btn-container">

        <div class="btn col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-6 col-md-offset-1 col-md-3 col-lg-offest-1 col-lg-3 btn-cotizar">
            <a href="~/Contenidos/Portal/?vista=Quienes_Somos">MISIÓN Y VISIÓN</a>
        </div>

    </div>

    <div align="left" class="col-xs-12 btn-container">
        <div class="btn col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-6 col-md-offset-1 col-md-3 col-lg-offest-1 col-lg-3 btn-cotizar">
            <a href="~/Contenidos/Portal/?vista=Quienes_Somos">VALORES</a>
        </div>
    </div>
</div>
