﻿<div class="aviso-privacidad">
    <!--HEADER-->
    <div class="row">
        <div class="col-md-12 col-xs-12 barraInicial">
            <div class="col-md-offset-1 col-md-11 col-xs-12 barraInicialTxt1">
                <strong>¿ESTÁS PERDIDO?</strong>
            </div>
            <div class="col-md-offset-1 col-md-11 col-xs-12 barraInicialTxt2">
                <p>Accesos rápidos</p>
            </div>
            <div class="col-md-offset-1 col-md-11 col-xs-12 barraInicialTxt3">
                <p>Lo que buscas, al alcance de un clic</p>
            </div>
        </div>
    </div>
    <!--MAPA SITIO-->
    
        <div class="contenedor-ayuda col-xs-12">
            <div class="row" style="border-left:20px solid #644AA1;">
                <div class="ele col-xs-12 col-md-6 col-sm-6 col-lg-6">
                    <div class="title">¿Quiénes somos?</div>
                    <div class="liga"><a href="~/Contenidos/Portal/?vista=QuienesSomos&tab=quienessomos">¿Quiénes somos?</a></div>
                    <div class="liga"><a href="~/Contenidos/Portal/?vista=QuienesSomos&tab=informacionfinanciera">Información financiera</a></div>
                    </div> 
                <div class="ele col-xs-12 col-md-6 col-sm-6 col-lg-6">
                    <div class="title">Nuestros Seguros</div>
                    <div class="liga"><a href="~/Contenidos/Portal/?vista=Auto_Seguro">Auto Seguro</a></div>
                    <div class="liga"><a href="~/Contenidos/Portal/?vista=Hogar_Seguro">Hogar Seguro</a></div>
                    <div class="liga"><a href="~/Contenidos/Portal/?vista=Pyme_Seguro">Pyme Seguro</a></div>
                    <div class="liga"><a href="~/Contenidos/Portal/?vista=Otros_Seguros">Otros seguros</a></div>
                </div>
            </div>

            <div class="row" style="border-left:20px solid #989DA3;">
                <div class="ele col-xs-12 col-md-6 col-sm-6 col-lg-6">
                    <div class="title">Cotiza en línea</div>
                    <div class="liga"><a href="~/AutoCotizador/Index">Auto Seguro</a></div>
                </div>
                <div class="ele col-xs-12 col-md-6 col-sm-6 col-lg-6">
                    <div class="title">Localizador</div>
                    <div class="liga"><a href="~/Contenidos/Portal/?vista=Contacto">Localizador de oficinas</a></div>
                    <div class="liga"><a href="~/Contenidos/Portal/?vista=Agentes">Localizador de Agentes</a></div>
                    <div class="liga"><a href="~/Contenidos/Portal/?vista=Contacto">Contacto</a></div>
                </div>
            </div>

            <div class="row" style="border-left:20px solid #FF9326;">
                <div class="ele col-xs-12 col-md-6 col-sm-6 col-lg-6">
                    <div class="title">Condiciones Generales</div>
                    <div class="liga"><a href="~/Contenidos/Portal/?vista=CondicionesGenerales&tab=auto">Autos</a></div>
                    <div class="liga"><a href="~/Contenidos/Portal/?vista=CondicionesGenerales&tab=danos">Daños</a></div>
                    <div class="liga"><a href="~/Contenidos/Portal/?vista=CondicionesGenerales&tab=referencias">Referencias</a></div>
                    <div class="liga"><a href="~/Contenidos/Portal/?vista=CondicionesGenerales&tab=derechos">Derechos de asegurado y UNE</a></div>
                    <div class="liga"><a href="~/Contenidos/Portal/?vista=CondicionesGenerales&tab=manuales">Manual de procedimientos</a></div>
                </div>
                <div class="ele col-xs-12 col-md-6 col-sm-6 col-lg-6">
                    <div class="title">Otros</div>
                    <div class="liga"><a href="~/Contenidos/Portal/?vista=Siniestro">¿Qué hacer en caso de siniestro?</a></div>
                    <div class="liga"><a href="~/Contenidos/Portal/?vista=Seguro_Basico">Seguro Básico Estandarizado</a></div>
                    <div class="liga"><a href="https://www.autos.subastasabaseguros.com/login.php" target="_blank">Subasta</a></div>
                    <div class="liga"><a href="~/Contenidos/Portal/?vista=Aviso_Privacidad">Aviso de Privacidad</a></div>
                    <div class="liga"><a href="~/cdn/assets/docs/AvisodeLegalAbaseguros.pdf" target="_blank">Aviso Legal</a></div>
                    <div class="liga"><a href="~/Contenidos/Portal/?vista=CondicionesGenerales&tab=manuales">Preguntas Frecuentes</a></div>
                </div>
            </div>

            
        </div>
</div>
