
<div class="otros-seguros-producto">
    <div class="row">
        <div class="col-md-12 col-xs-12 barraInicial">
            <div class="col-md-offset-1 col-md-11 col-xs-12 barraInicialTxt1">
                <strong>OTROS SEGUROS</strong>
            </div>
            <div class="col-md-offset-1 col-md-11 col-xs-12 barraInicialTxt2">
                <p>Asegura lo que necesitas con ABA</p>
            </div>
            <div class="col-md-offset-1 col-md-11 col-xs-12 barraInicialTxt3">
                <p>Conoce todos los seguros que tenemos para ti</p>
            </div>
        </div>
    </div>
    <!--Muerte Accidental-->
    <div class="row contenidogeneral" style="background-color:#FFFFFF;">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="col-xs-12 col-md-5">
                <img src="~/cdn/assets/img/muerteAccidental-img.png" class="img-responsive" style="display:block; margin:0 auto;" />
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="row">
                    <div class="col-xs-12 col-md-1 col-lg-1"><img src="~/cdn/assets/img/muerteAccidental-icn.png" class="img-responsive" style="vertical-align:top;"></div>
                    <div class="col-xs-12 col-md-11 col-lg-11 tituloNegro27">Muerte Accidental</div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-11 col-md-offset-1 txtNegro16">
                        El seguro de Muerte Accidental, esta dise&#241;ado especialmente para dar respaldo econ&oacute;mico a tu familia y hacer frente a los momentos mas dif&iacute;ciles, al garantizar el futuro econ&oacute;mico por un tiempo. La suma asegurada var&iacute;a seg&uacute;n las necesidades de cada familia, siempre brindando un sentimiento de tranquilidad al protegerlos.
                    </div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-4 col-md-offset-1" style="margin-top: 20px;">
                        <a href="~/Contenidos/Portal/?vista=Agentes" class="btnSeguros">Buscar agente</a>
                    </div>
                    <div class="col-xs-12 col-md-7" style="margin-top: 20px;">
                        @*<a href="~/Contenidos/Portal/?vista=CondicionesGenerales&tab=danos" class="btnSeguros">Condiciones generales</a>*@
                        <a href="https://www2.chubb.com/mx-es/condiciones-generales.aspx" target="_blank" class="btnSeguros">Condiciones generales</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Incapacidad por accidente-->
    <div class="row contenidogeneral" style="background-color:#EEEEEE;">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="col-xs-12 col-md-5">
                <img src="~/cdn/assets/img/incapacidad-img.png" class="img-responsive" style="display:block; margin:0 auto;" />
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="row">
                    <div class="col-xs-12 col-md-1 col-lg-1"><img src="~/cdn/assets/img/incapacidad-icn.png" class="img-responsive" style="vertical-align:top;"></div>
                    <div class="col-xs-12 col-md-11 col-lg-11 tituloNegro27">Incapacidad por accidente</div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-11 col-md-offset-1 txtNegro16">
                        Para incapacidad total permanente, ser&aacute;s indemnizado por el total de la suma asegurada. Si es incapacidad temporal total o parcial, recibir&iacute;as un monto mensual de dinero por un tiempo determinado en tu p&oacute;liza para solventar gastos imprevistos que tienes aun estando en estas condiciones. Este plan se puede ajustar a tus necesidades y es muy accesible.
                    </div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-4 col-md-offset-1" style="margin-top: 20px;">
                        <a href="~/Contenidos/Portal/?vista=Agentes" class="btnSeguros">Buscar agente</a>
                    </div>
                    <div class="col-xs-12 col-md-7" style="margin-top: 20px;">
                        @*<a href="~/Contenidos/Portal/?vista=CondicionesGenerales&tab=danos" class="btnSeguros">Condiciones generales</a>*@
                        <a href="https://www2.chubb.com/mx-es/condiciones-generales.aspx" target="_blank" class="btnSeguros">Condiciones generales</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Viajes--> 
    <div class="row contenidogeneral" style="background-color:#FFFFFF;">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="col-xs-12 col-md-5">
                <img src="~/cdn/assets/img/viajes-img.png" class="img-responsive" style="display:block; margin:0 auto;" />
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="row">
                    <div class="col-xs-12 col-md-1 col-lg-1"><img src="~/cdn/assets/img/viajes-icn.png" class="img-responsive" style="vertical-align:top;"></div>
                    <div class="col-xs-12 col-md-11 col-lg-11 tituloNegro27">Viajes</div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-11 col-md-offset-1 txtNegro16">
                        Viajar es m&aacute;s placentero cuando est&aacute;s asegurado contra imprevistos, ya sea por p&eacute;rdida de pasaportes o retrasos de vuelos. Este seguro funciona para viajes de placer, de negocios o de estudiantes, y cubre entre otras cosas: Gastos m&eacute;dicos y odontol&oacute;gicos de emergencia, p&eacute;rdida de equipaje, cancelaci&oacute;n de viaje por accidente, responsabilidad civil en el extranjero, repatriaci&oacute;n, servicios de concierge y asesor&iacute;a Legal. Si te diriges fuera por el fin de semana, o deseas aventurarte alrededor del mundo, puedes conseguir con nosotros la mejor cobertura para tu viaje.
                    </div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-4 col-md-offset-1" style="margin-top: 20px;">
                        <a href="~/Contenidos/Portal/?vista=Agentes" class="btnSeguros">Buscar agente</a>
                    </div>
                    <div class="col-xs-12 col-md-7" style="margin-top: 20px;">
                        @*<a href="~/Contenidos/Portal/?vista=CondicionesGenerales&tab=danos" class="btnSeguros">Condiciones generales</a>*@
                        <a href="https://www2.chubb.com/mx-es/condiciones-generales.aspx" target="_blank" class="btnSeguros">Condiciones generales</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Enfermedades Graves--> 
    <div class="row contenidogeneral" style="background-color:#EEEEEE;">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="col-xs-12 col-md-5">
                <img src="~/cdn/assets/img/enfermedades-img.png" class="img-responsive" style="display:block; margin:0 auto;" />
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="row">
                    <div class="col-xs-12 col-md-1 col-lg-1"><img src="~/cdn/assets/img/enfermedades-icn.png" class="img-responsive" style="vertical-align:top;"></div>
                    <div class="col-xs-12 col-md-11 col-lg-11 tituloNegro27">Enfermedades Graves</div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-11 col-md-offset-1 txtNegro16">
                        Este plan te proteger&aacute; de forma inmediata al momento que se te diagnostique por primera vez alguna de las siguientes enfermedades: C&aacute;ncer, Cirug&iacute;a Coronaria, Par&aacute;lisis, Insuficiencia Renal, Apoplej&iacute;a, Esclerosis M&uacute;ltiple o Infarto. Transplante de: Coraz&oacute;n, Pulm&oacute;n, H&iacute;gado, P&aacute;ncreas, Ri&#241;&oacute;n, M&eacute;dula &oacute;sea como receptor.
                    </div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-4 col-md-offset-1" style="margin-top: 20px;">
                        <a href="~/Contenidos/Portal/?vista=Agentes" class="btnSeguros">Buscar agente</a>
                    </div>
                    <div class="col-xs-12 col-md-7" style="margin-top: 20px;">
                        @*<a href="~/Contenidos/Portal/?vista=CondicionesGenerales&tab=danos" class="btnSeguros">Condiciones generales</a>*@
                        <a href="https://www2.chubb.com/mx-es/condiciones-generales.aspx" target="_blank" class="btnSeguros">Condiciones generales</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--C&aacute;ncer-->  
    <div class="row contenidogeneral" style="background-color:#FFFFFF;">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="col-xs-12 col-md-5">
                <img src="~/cdn/assets/img/cancer-img.png" class="img-responsive" style="display:block; margin:0 auto;max-height:350px;" />
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="row">
                    <div class="col-xs-12 col-md-1 col-lg-1"><img src="~/cdn/assets/img/cancer-icn.png" class="img-responsive" style="vertical-align:top;"></div>
                    <div class="col-xs-12 col-md-11 col-lg-11 tituloNegro27">C&aacute;ncer</div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-11 col-md-offset-1 txtNegro16">
                        Este plan funciona de forma independiente y adicional a cualquier otro seguro que tengas contratado, y est&aacute; dise&#241;ado para cubrir los gastos m&aacute;s fuertes que se generan ante esta enfermedad. No es necesario realizar ex&aacute;menes m&eacute;dicos previos y tiene un amplio rango de edad de contrataci&oacute;n. Este seguro cubre el pago inmediato de la Suma Asegurada al ser diagnosticado por primera vez por cualquier tipo de C&aacute;ncer.
                    </div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-4 col-md-offset-1" style="margin-top: 20px;">
                        <a href="~/Contenidos/Portal/?vista=Agentes" class="btnSeguros">Buscar agente</a>
                    </div>
                    <div class="col-xs-12 col-md-7" style="margin-top: 20px;">
                        @*<a href="~/Contenidos/Portal/?vista=CondicionesGenerales&tab=danos" class="btnSeguros">Condiciones generales</a>*@
                        <a href="https://www2.chubb.com/mx-es/condiciones-generales.aspx" target="_blank" class="btnSeguros">Condiciones generales</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Infarto-->  
    <div class="row contenidogeneral" style="background-color:#EEEEEE;">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="col-xs-12 col-md-5">
                <img src="~/cdn/assets/img/ataqueCorazon-img.png" class="img-responsive" style="display:block; margin:0 auto;" />
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="row">
                    <div class="col-xs-12 col-md-1 col-lg-1"><img src="~/cdn/assets/img/ataqueCorazon-icn.png" class="img-responsive" style="vertical-align:top;"></div>
                    <div class="col-xs-12 col-md-11 col-lg-11 tituloNegro27">Vida</div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-11 col-md-offset-1 txtNegro16">
                        Dejar a tus dependientes protegidos en caso de fallecimiento por enfermedad es sencillo con nuestro seguro de Vida, el cual pagar&aacute; una suma asegurada en caso de que esto suceda. Tenemos planes accesibles que var&iacute;an dependiendo de diferentes factores. No dudes en contactarnos para resolver cualquier duda.
                    </div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-4 col-md-offset-1" style="margin-top: 20px;">
                        <a href="~/Contenidos/Portal/?vista=Agentes" class="btnSeguros">Buscar agente</a>
                    </div>
                    <div class="col-xs-12 col-md-7" style="margin-top: 20px;">
                        @*<a href="~/Contenidos/Portal/?vista=CondicionesGenerales&tab=danos" class="btnSeguros">Condiciones generales</a>*@
                        <a href="https://www2.chubb.com/mx-es/condiciones-generales.aspx" target="_blank" class="btnSeguros">Condiciones generales</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--De Hospitalizaci&oacute;n-->  
    <div class="row contenidogeneral" style="background-color:#FFFFFF;">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="col-xs-12 col-md-5">
                <img src="~/cdn/assets/img/hospital-img.png" class="img-responsive" style="display:block; margin:0 auto;" />
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="row">
                    <div class="col-xs-12 col-md-1 col-lg-1"><img src="~/cdn/assets/img/hospital-icn.png" class="img-responsive" style="vertical-align:top;"></div>
                    <div class="col-xs-12 col-md-11 col-lg-11 tituloNegro27">De Hospitalizaci&oacute;n</div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-11 col-md-offset-1 txtNegro16">
                        Este plan otorga una indemnizaci&oacute;n diaria en caso de que te encuentres hospitalizado por enfermedad o por accidente y si es en terapia intensiva, la suma asegurada se duplica y el costo se mantiene sin cambios. No requiere ex&aacute;menes m&eacute;dicos. Aun y que est&eacute;s inscrito en otro seguro m&eacute;dico o dispongas de otros planes de seguro, este plan funciona de manera independiente para solventar los gastos que al estar en el hospital se generan.
                    </div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-4 col-md-offset-1" style="margin-top: 20px;">
                        <a href="~/Contenidos/Portal/?vista=Agentes" class="btnSeguros">Buscar agente</a>
                    </div>
                    <div class="col-xs-12 col-md-7" style="margin-top: 20px;">
                        @*<a href="~/Contenidos/Portal/?vista=CondicionesGenerales&tab=danos" class="btnSeguros">Condiciones generales</a>*@
                        <a href="https://www2.chubb.com/mx-es/condiciones-generales.aspx" target="_blank" class="btnSeguros">Condiciones generales</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Desempleo-->  
    <div class="row contenidogeneral" style="background-color:#EEEEEE;">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="col-xs-12 col-md-5">
                <img src="~/cdn/assets/img/desempleo-img.png" class="img-responsive" style="display:block; margin:0 auto;max-height:350px;" />
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="row">
                    <div class="col-xs-12 col-md-1 col-lg-1"><img src="~/cdn/assets/img/desempleo-icn.png" class="img-responsive" style="vertical-align:top;"></div>
                    <div class="col-xs-12 col-md-11 col-lg-11 tituloNegro27">Desempleo</div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-11 col-md-offset-1 txtNegro16">
                        Este seguro, brinda un apoyo financiero temporal, en caso de perder tu trabajo de manera involuntaria. Puedes consultar mas a detalle con tu agente de seguros y contratar un plan de acuerdo a tus necesidades.
                    </div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-4 col-md-offset-1" style="margin-top: 20px;">
                        <a href="~/Contenidos/Portal/?vista=Agentes" class="btnSeguros">Buscar agente</a>
                    </div>
                    <div class="col-xs-12 col-md-7" style="margin-top: 20px;">
                        @*<a href="~/Contenidos/Portal/?vista=CondicionesGenerales&tab=danos" class="btnSeguros">Condiciones generales</a>*@
                        <a href="https://www2.chubb.com/mx-es/condiciones-generales.aspx" target="_blank" class="btnSeguros">Condiciones generales</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Orfandad--> 
    <div class="row contenidogeneral" style="background-color:#FFFFFF;">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="col-xs-12 col-md-5">
                <img src="~/cdn/assets/img/orfendad-img.png" class="img-responsive" style="display:block; margin:0 auto;" />
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="row">
                    <div class="col-xs-12 col-md-1 col-lg-1"><img src="~/cdn/assets/img/orfendad-icn.png" class="img-responsive" style="vertical-align:top;"></div>
                    <div class="col-xs-12 col-md-11 col-lg-11 tituloNegro27">Orfandad</div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-11 col-md-offset-1 txtNegro16">
                        Garantiza la continuidad de los estudios de los hijos en caso de fallecimiento del padre como la persona asegurada, pagando la colegiatura de la escuela mes con mes. Para mas detalles consulta a tu agente.
                    </div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-4 col-md-offset-1" style="margin-top: 20px;">
                        <a href="~/Contenidos/Portal/?vista=Agentes" class="btnSeguros">Buscar agente</a>
                    </div>
                    <div class="col-xs-12 col-md-7" style="margin-top: 20px;">
                        @*<a href="~/Contenidos/Portal/?vista=CondicionesGenerales&tab=danos" class="btnSeguros">Condiciones generales</a>*@
                        <a href="https://www2.chubb.com/mx-es/condiciones-generales.aspx" target="_blank" class="btnSeguros">Condiciones generales</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Gastos Funerarios-->  
    <div class="row contenidogeneral" style="background-color:#EEEEEE;">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="col-xs-12 col-md-5">
                <img src="~/cdn/assets/img/gastosFunerarios-img.png" class="img-responsive" style="display:block; margin:0 auto;max-height:350px;" />
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="row">
                    <div class="col-xs-12 col-md-1 col-lg-1"><img src="~/cdn/assets/img/gastosFunerarios-icn.png" class="img-responsive" style="vertical-align:top;"></div>
                    <div class="col-xs-12 col-md-11 col-lg-11 tituloNegro27">Gastos Funerarios</div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-11 col-md-offset-1 txtNegro16">
                        Este plan protege de los gastos improvistos que genera el fallecimiento del titular o de sus dependientes seg&uacute;n se haya contratado la p&oacute;liza. Se entrega una suma asegurada por el fallecimiento y el monto es un estimado de lo que puede llegar a costar un funeral. Existen planes de acuerdo a cada escenario familiar.
                    </div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-4 col-md-offset-1" style="margin-top: 20px;">
                        <a href="~/Contenidos/Portal/?vista=Agentes" class="btnSeguros">Buscar agente</a>
                    </div>
                    <div class="col-xs-12 col-md-7" style="margin-top: 20px;">
                        @*<a href="~/Contenidos/Portal/?vista=CondicionesGenerales&tab=danos" class="btnSeguros">Condiciones generales</a>*@
                        <a href="https://www2.chubb.com/mx-es/condiciones-generales.aspx" target="_blank" class="btnSeguros">Condiciones generales</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Cyber Personal-->
    <div class="row contenidogeneral" style="background-color:#FFFFFF;">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="col-xs-12 col-md-5">
                <img src="~/cdn/assets/img/civer-img.png" class="img-responsive" style="display:block; margin:0 auto;" />
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="row">
                    <div class="col-xs-12 col-md-1 col-lg-1"><img src="~/cdn/assets/img/civer-icn.png" class="img-responsive" style="vertical-align:top;"></div>
                    <div class="col-xs-12 col-md-11 col-lg-11 tituloNegro27">Protecci&oacute;n Cyber Personal</div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-11 col-md-offset-1 txtNegro16">
                        Los ataques cibern&eacute;ticos, fraudes e inseguridad en las calles va en aumento; por eso te protegemos en tu vida on y off line. Tus Tarjetas de Cr&eacute;dito y D&eacute;bito pueden ser falsificadas y clonadas o ser usadas para compras fraudulentas u otros usos indebidos. Tambi&eacute;n cubre robo al retirar dinero del cajero autom&aacute;tico o en una ventanilla del banco, o ser forzado al uso de las mismas.
                        <p>
                            Adem&aacute;s, navega seguro por Internet. Contar&aacute;s con Kaspersky Internet Security, que te protege a t&iacute;, a tu familia, a tus dispositivos y la informaci&oacute;n que compartes con ellos.
                        </p>
                    </div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-4 col-md-offset-1" style="margin-top: 20px;">
                        <a href="~/Contenidos/Portal/?vista=Agentes" class="btnSeguros">Buscar agente</a>
                    </div>
                    <div class="col-xs-12 col-md-7" style="margin-top: 20px;">
                        @*<a href="~/Contenidos/Portal/?vista=CondicionesGenerales&tab=danos" class="btnSeguros">Condiciones generales</a>*@
                        <a href="https://www2.chubb.com/mx-es/condiciones-generales.aspx" target="_blank" class="btnSeguros">Condiciones generales</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Empresarial-->
    <div class="row contenidogeneral" style="background-color:#EEEEEE;">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="col-xs-12 col-md-5"> 
                <img src="~/cdn/assets/img/1744_otros-empresarial.png" class="img-responsive" style="display:block; margin:0 auto;" />
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="row">
                    <div class="col-xs-12 col-md-1 col-lg-1"><img src="~/cdn/assets/img/icono-seguro-1.png" class="img-responsive" style="vertical-align:top;"></div>
                    <div class="col-xs-12 col-md-11 col-lg-11 tituloNegro27">Empresarial</div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-11 col-md-offset-1 txtNegro16">
                        Si eres empresario este seguro es para ti, protegemos tu negocio contra da&ntilde;os materiales por Incendio, las perdidas
                        consecuenciales derivadas del mismo, un robo, la Responsabilidad Civil por las actividades propias de la empresa, los
                        Cristales, Anuncios Luminosos, Dinero y Valores, Equipo Electr&oacute;nico y Maquinaria.
                        <br />
                        Tambi&eacute;n puedes contratar coberturas adicionales por da&ntilde;os ocasionados como Hurac&aacute;n, Vientos Tempestuosos, Inundaci&oacute;n,
                        Marejada, Nevada, Helada, as&iacute; como por los da&ntilde;os materiales ocasionados por Terremoto y/o Erupci&oacute;n Volc&aacute;nica, otras
                        coberturas adicionales que se pueden contratar son el Equipo Electr&oacute;nico Fijo, Robo del Equipo Electr&oacute;nico, Equipos
                        Electr&oacute;nicos M&oacute;viles dentro y fuera de tus instalaciones, da&ntilde;os materiales a la Maquinaria como lo son: Elevadores,
                        Troqueladoras, Transformadores, Calderas, as&iacute; mismo los servicios de Asistencia como Cerrajer&iacute;a, Plomer&iacute;a, Electricidad,
                        Cristales.
                    </div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-4 col-md-offset-1" style="margin-top: 20px;">
                        <a href="~/Contenidos/Portal/?vista=Agentes" class="btnSeguros">Buscar agente</a>
                    </div>
                    <div class="col-xs-12 col-md-7" style="margin-top: 20px;">
                        @*<a href="~/Contenidos/Portal/?vista=CondicionesGenerales&tab=danos" class="btnSeguros">Condiciones generales</a>*@
                        <a href="https://www2.chubb.com/mx-es/condiciones-generales.aspx" target="_blank" class="btnSeguros">Condiciones generales</a>
                    </div>
                </div>
            </div>
        </div>
        </div>

    <!--Transporte de Mercanc&iacute;a-->
    <div class="row contenidogeneral"  style="background-color:#FFFFFF;">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="col-xs-12 col-md-5">
                <img src="~/cdn/assets/img/5837_otros-transporte_mercancia.png" class="img-responsive" style="display:block; margin:0 auto;" />
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="row">
                    <div class="col-xs-12 col-md-1 col-lg-1"><img src="~/cdn/assets/img/icono-seguro-transporte.png" class="img-responsive"></div>
                    <div class="col-xs-12 col-md-11 col-lg-11 tituloNegro27">Transporte de Mercanc&iacute;a</div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-11 col-md-offset-1 txtNegro16">
                        Si transportas mercanc&iacute;a por avi&oacute;n, cami&oacute;n, tren o barco, puedes asegurarla por da&ntilde;os ocasionados por incendio, rayo, explosi&oacute;n, ca&iacute;da del avi&oacute;n,
                        auto-ignici&oacute;n, hundimiento, encalladura, volcadura, colisi&oacute;n, descarrilamiento, hundimiento o rotura de puentes.
                        <br>
                        Adicionalmente, puedes contratar coberturas por robo total o parcial, mojaduras, oxidaci&oacute;n, manchas, derrames de la mercanc&iacute;a, barredura (en barcos)
                        y barater&iacute;a del capit&aacute;n o tripulaci&oacute;n.
                        <br>
                        Para adecuarnos a tus necesidades tienes la opci&oacute;n de asegurar cada embarque en forma independiente, o declararnos todos tus embarques de un mes durante
                        los primeros d&iacute;as del mes siguiente.
                    </div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-4 col-md-offset-1" style="margin-top: 20px;">
                        <a href="~/Contenidos/Portal/?vista=Agentes" class="btnSeguros">Buscar agente</a>
                    </div>
                    <div class="col-xs-12 col-md-7" style="margin-top: 20px;">
                        @*<a href="~/Contenidos/Portal/?vista=CondicionesGenerales&tab=danos" class="btnSeguros">Condiciones Transporte Espec&iacute;fico</a>*@
                        <a href="https://www2.chubb.com/mx-es/condiciones-generales.aspx" target="_blank" class="btnSeguros">Condiciones generales</a>
                    </div>
                    @*<div class="col-xs-12 col-md-7 col-md-offset-1" style="margin-top: 40px;">
                        <a href="~/Contenidos/Portal/?vista=CondicionesGenerales&tab=danos" class="btnSeguros">Condiciones P&oacute;liza Anual</a>
                    </div>*@
                </div>
            </div>
        </div>
        </div>

    <!--Equipo Electr&oacute;nico-->
    <div class="row contenidogeneral" style="background-color:#EEEEEE;">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="col-xs-12 col-md-5">
                <img src="~/cdn/assets/img/compus-imagen.png" class="img-responsive" style="display:block; margin:0 auto;" />
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="row">
                    <div class="col-xs-12 col-md-1 col-lg-1"><img src="~/cdn/assets/img/icono-seguro-1.png" class="img-responsive"></div>
                    <div class="col-xs-12  col-md-11 col-lg-11 tituloNegro27">Equipo Electr&oacute;nico</div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-11 col-md-offset-1 txtNegro16">
                        Sabemos que son tus herramientas cotidianas. Aseguramos tu equipo electr&oacute;nico como: computadoras, equipos de sonido, copiadoras y tel&eacute;fonos,
                        te ofrecemos su protecci&oacute;n contra incendio, rayo, explosi&oacute;n, humo, gases, corto circuito, defectos de fabricaci&oacute;n, errores de manejo, impericia,
                        mala intenci&oacute;n, dolo y robo con violencia.
                        <br>
                        Adem&aacute;s de eso, podemos proteger tus portadores de datos (diskettes, CD's y cintas magn&eacute;ticas) y cubrir el costo de la renta de equipo para que puedas
                        continuar con tus actividades.
                        <br>
                        As&iacute; mismo, asegurarlo en caso de terremoto, inundaci&oacute;n, da&ntilde;os por agua y huelgas.
                    </div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-4 col-md-offset-1" style="margin-top: 20px;">
                        <a href="~/Contenidos/Portal/?vista=Agentes" class="btnSeguros">Buscar agente</a>
                    </div>
                    <div class="col-xs-12 col-md-7" style="margin-top: 20px;">
                        @*<a href="~/Contenidos/Portal/?vista=CondicionesGenerales&tab=danos" class="btnSeguros">Condiciones generales</a>*@
                        <a href="https://www2.chubb.com/mx-es/condiciones-generales.aspx" target="_blank" class="btnSeguros">Condiciones generales</a>
                    </div>
                </div>
            </div>
        </div>
        </div>

    <!--Responsabilidad Civil-->
    <div class="row contenidogeneral" style="background-color:#FFF;">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="col-xs-12 col-md-5">
                <img src="~/cdn/assets/img/responsabilidad-imagen.png" class="img-responsive" style="display:block; margin:0 auto;" />
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="row">
                    <div class="col-xs-12 col-md-1 col-lg-1"><img src="~/cdn/assets/img/icono-seguro-3.png" class="img-responsive"></div>
                    <div class="col-xs-12 col-md-11 col-lg-11 tituloNegro27">Responsabilidad Civil</div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-11 col-md-offset-1 txtNegro16">
                        Te protegemos contra reclamaciones o demandas de terceras personas, a los que por tu actividad, involuntariamente, les hayas ocasionado da&ntilde;o a un tercero.
                        <br>
                        Tambi&eacute;n podemos protegerte contra riesgos adicionales por reclamaciones derivadas de tus productos fabricados o trabajos terminados.
                    </div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-4 col-md-offset-1" style="margin-top: 20px;">
                        <a href="~/Contenidos/Portal/?vista=Agentes" class="btnSeguros">Buscar agente</a>
                    </div>
                    <div class="col-xs-12 col-md-7" style="margin-top: 20px;">
                        @*<a href="~/Contenidos/Portal/?vista=CondicionesGenerales&tab=danos" class="btnSeguros">Condiciones generales</a>*@
                        <a href="https://www2.chubb.com/mx-es/condiciones-generales.aspx" target="_blank" class="btnSeguros">Condiciones generales</a>
                    </div>
                </div>
            </div>
        </div>
        </div>

    <!--Obra Civil-->
    <div class="row contenidogeneral" style="background-color:#EEE;">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="col-xs-12 col-md-5">
                <img src="~/cdn/assets/img/casco-imagen.png" class="img-responsive" style="display:block; margin:0 auto;" />
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="row">
                    <div class="col-xs-12 col-md-1 col-lg-1"><img src="~/cdn/assets/img/icono-seguro-4.png" class="img-responsive"></div>
                    <div class="col-xs-12  col-md-11 col-lg-11 tituloNegro27">Obra Civil</div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-11 col-md-offset-1 txtNegro16">
                        Este producto cubre los da&ntilde;os que puedan sufrir el edificio, casa, puente, carretera, durante su construcci&oacute;n, a consecuencia de incendio, explosi&oacute;n, rayo.
                        <br>
                        Adem&aacute;s puedes contratar las coberturas de terremoto, fen&oacute;menos meteorol&oacute;gicos (hurac&aacute;n, inundaci&oacute;n y derrumbes.), Remoci&oacute;n de Escombros, mantenimiento
                        y visitas, equipo y maquinaria de construcci&oacute;n.
                    </div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-4 col-md-offset-1" style="margin-top: 20px;">
                        <a href="~/Contenidos/Portal/?vista=Agentes" class="btnSeguros">Buscar agente</a>
                    </div>
                    <div class="col-xs-12 col-md-7" style="margin-top: 20px;">
                        @*<a href="~/Contenidos/Portal/?vista=CondicionesGenerales&tab=danos" class="btnSeguros">Condiciones generales</a>*@
                        <a href="https://www2.chubb.com/mx-es/condiciones-generales.aspx" target="_blank" class="btnSeguros">Condiciones generales</a>
                    </div>
                </div>
            </div>
        </div>
        </div>

    <!--Embarcaciones de Placer-->
    <div class="row contenidogeneral" style="background-color:#FFF;">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="col-xs-12 col-md-5">
                <img src="~/cdn/assets/img/bote-imagen.png" class="img-responsive" style="display:block; margin:0 auto;" />
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="row">
                    <div class="col-xs-12 col-md-1 col-lg-1"><img src="~/cdn/assets/img/icono-seguro-5.png" class="img-responsive"></div>
                    <div class="col-xs-12 col-md-11 col-lg-11 tituloNegro27">Embarcaciones de Placer</div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-11 col-md-offset-1 txtNegro16">
                        Podemos proteger tus lanchas, yates y embarcaciones contra incendio, explosi&oacute;n, hurac&aacute;n, granizo, maremoto, colisi&oacute;n, as&iacute; como robo o da&ntilde;os cuando
                        la embarcaci&oacute;n se encuentre en tierra o en tr&aacute;nsito.
                        <br>
                        Puedes contratar tambi&eacute;n cobertura contra p&eacute;rdidas o da&ntilde;os parciales, responsabilidad civil, huelgas, confiscamientos y actos de guerra.
                    </div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-4 col-md-offset-1" style="margin-top: 20px;">
                        <a href="~/Contenidos/Portal/?vista=Agentes" class="btnSeguros">Buscar agente</a>
                    </div>
                    <div class="col-xs-12 col-md-7" style="margin-top: 20px;">
                        @*<a href="~/Contenidos/Portal/?vista=CondicionesGenerales&tab=danos" class="btnSeguros">Condiciones generales</a>*@
                        <a href="https://www2.chubb.com/mx-es/condiciones-generales.aspx" target="_blank" class="btnSeguros">Condiciones generales</a>
                    </div>
                </div>
            </div>
        </div>
        </div>

    <!--Montaje de Maquinaria-->
    <div class="row contenidogeneral" style="background-color:#EEE;">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="col-xs-12 col-md-5">
                <img src="~/cdn/assets/img/maquina-imagen.png" class="img-responsive" style="display:block; margin:0 auto;" />
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="row">
                    <div class="col-xs-12 col-md-1 col-lg-1"><img src="~/cdn/assets/img/icono-seguro-6.png" class="img-responsive"></div>
                    <div class="col-xs-12 col-md-11 col-lg-11 tituloNegro27">Montaje de Maquinaria</div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-11 col-md-offset-1 txtNegro16">
                        Protege el montaje de construcciones de acero, toda clase de maquinaria e instalaciones de plantas industriales contra da&ntilde;os materiales como Incendio,
                        Rayo, Explosi&oacute;n, Errores durante el montaje, Robo con Violencia.
                    </div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-4 col-md-offset-1" style="margin-top: 20px;">
                        <a href="~/Contenidos/Portal/?vista=Agentes" class="btnSeguros">Buscar agente</a>
                    </div>
                    <div class="col-xs-12 col-md-7" style="margin-top: 20px;">
                        @*<a href="~/Contenidos/Portal/?vista=CondicionesGenerales&tab=danos" class="btnSeguros">Condiciones generales</a>*@
                        <a href="https://www2.chubb.com/mx-es/condiciones-generales.aspx" target="_blank" class="btnSeguros">Condiciones generales</a>
                    </div>
                </div>
            </div>
        </div>
        </div>

    <!--Maquinaria y Calderas-->
    <div class="row contenidogeneral" style="background-color:#FFF;">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="col-xs-12 col-md-5">
                <img src="~/cdn/assets/img/maquinaria-imagen.png" class="img-responsive" style="display:block; margin:0 auto;" />
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="row">
                    <div class="col-xs-12 col-md-1 col-lg-1"><img src="~/cdn/assets/img/icono-seguro-7.png" class="img-responsive"></div>
                    <div class="col-xs-12 col-md-11 col-lg-11 tituloNegro27">Maquinaria y Calderas</div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-11 col-md-offset-1 txtNegro16">
                        Protege tu maquinaria y calderas contra da&ntilde;os ocasionados por impericia, descuido, corto circuito, defectos de construcci&oacute;n, cuerpos que se introduzcan,
                        explosi&oacute;n, deformaci&oacute;n por presi&oacute;n del l&iacute;quido en la caldera, da&ntilde;os por insuficiencia de refrigerante o rotura de cables.
                        <br>
                        Adicionalmente puedes contratar coberturas de responsabilidad civil, gastos derivados por la reparaci&oacute;n del bien y derrame de los contenidos de la caldera.
                    </div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-4 col-md-offset-1" style="margin-top: 20px;">
                        <a href="~/Contenidos/Portal/?vista=Agentes" class="btnSeguros">Buscar agente</a>
                    </div>
                    <div class="col-xs-12 col-md-7" style="margin-top: 20px;">
                        @*<a href="~/Contenidos/Portal/?vista=CondicionesGenerales&tab=danos" class="btnSeguros">Condiciones generales</a>*@
                        <a href="https://www2.chubb.com/mx-es/condiciones-generales.aspx" target="_blank" class="btnSeguros">Condiciones generales</a>
                    </div>
                </div>
            </div>
        </div>
        </div>

    <!--Equipo de Contratistas-->
    <div class="row contenidogeneral" style="background-color:#EEE;">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="col-xs-12 col-md-5">
                <img src="~/cdn/assets/img/grua-imagen.png" class="img-responsive" style="display:block; margin:0 auto;" />
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="row">
                    <div class="col-xs-12 col-md-1 col-lg-1"><img src="~/cdn/assets/img/icono-seguro-8.png" class="img-responsive"></div>
                    <div class="col-xs-12 col-md-11 col-lg-11 tituloNegro27">Equipo de Contratistas</div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-11 col-md-offset-1 txtNegro16">
                        Con nosotros puedes proteger tu equipo de contratista tal como bulldozers, gr&uacute;as, retroexcavadoras, etc. contra incendio, rayo, explosi&oacute;n, hurac&aacute;n,
                        inundaci&oacute;n, terremoto, derrumbe, colisi&oacute;n, rotura de puentes, o bien, por accidentes que sufra el medio de transporte del equipo.
                        <br>
                        Como adicional, puedes protegerlos por huelgas y alborotos, gastos extraordinarios. (horas extra, flete urgente).
                    </div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-4 col-md-offset-1" style="margin-top: 20px;">
                        <a href="~/Contenidos/Portal/?vista=Agentes" class="btnSeguros">Buscar agente</a>
                    </div>
                    <div class="col-xs-12 col-md-7" style="margin-top: 20px;">
                        @*<a href="~/Contenidos/Portal/?vista=CondicionesGenerales&tab=danos" class="btnSeguros">Condiciones generales</a>*@
                        <a href="https://www2.chubb.com/mx-es/condiciones-generales.aspx" target="_blank" class="btnSeguros">Condiciones generales</a>
                    </div>
                </div>
            </div>
        </div>
        </div>

    <!--Otros-->
    <div class="row contenidogeneral" style="background-color:#FFF;">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="col-xs-12 col-md-5">
                <img src="~/cdn/assets/img/otros-img.png" class="img-responsive" style="display:block; margin:0 auto;" />
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="row">
                    <div class="col-xs-12 col-md-1 col-lg-1"><img src="~/cdn/assets/img/otros-icn.png" class="img-responsive" style="vertical-align:top;"></div>
                    <div class="col-xs-12 col-md-11 col-lg-11 tituloNegro27">Otros</div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-11 col-md-offset-1 txtNegro16">
                        Te podemos amparar frente accidentes fatales, rotura de huesos, quemaduras y cicatrices. Tambi&eacute;n, en situaciones espec&iacute;ficas como c&aacute;ncer o infartos. Contamos adem&aacute;s para protecci&oacute;n contra robo de tu bolsa o mochila, compras, terremoto, y muchas otras situaciones a las que estamos expuestos d&iacute;a a d&iacute;a. De igual forma, somos expertos en las actividades de PyMe&#8217;s, por lo que contamos protecci&oacute;n para necesidades espec&iacute;ficas. Cont&aacute;ctanos para resolver tus dudas o para orientarte sobre el seguro que necesitas.
                    </div>
                    <div class="col-xs-12 col-xs-offset-0 col-md-4 col-md-offset-1" style="margin-top: 20px;">
                        <a href="~/Contenidos/Portal/?vista=Agentes" class="btnSeguros">Buscar agente</a>
                    </div>
                    <div class="col-xs-12 col-md-7" style="margin-top: 20px;">
                        @*<a href="~/Contenidos/Portal/?vista=CondicionesGenerales&tab=danos" class="btnSeguros">Condiciones generales</a>*@
                        <a href="https://www2.chubb.com/mx-es/condiciones-generales.aspx" target="_blank" class="btnSeguros">Condiciones generales</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row contenidogeneral" style="background-color:#EEE;">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="col-xs-12 col-md-12">
                <div class="row">
                    <div class="col-xs-12 col-xs-offset-0 col-md-11 col-md-offset-1 txtNegro16">
                        Todas las descripciones y coberturas mencionadas en nuestra p&aacute;gina son con fines informativos y est&aacute;n sujetos a las Condiciones Generales de cada P&oacute;liza. Para mas detalle <a href="~/Contenidos/Portal/?vista=Contacto" style="cursor:pointer;">cont&aacute;ctanos.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>