﻿@section Styles {
    <link href="~/cdn/css/pages/pago_poliza.css" rel="stylesheet" />
    <link href="~/cdn/css/pages/pago_poliza-responsive.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/cdn/js/pages/pago_poliza.js"></script>
}
<div id="pagoPolizaContainer" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div id="panelPago" class="col-lg-6 col-md-6">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1>Pago de P&oacute;liza</h1>
                <h4>No hagas filas, paga tu p&oacute;liza por Internet</h4>
            </div>
            <div id="firstStep" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-margin">
                <div class="col-lg-12 col-sm-12 col-xs-12" id="lblErrores" style="display:none;">
                    <div class="alert-warning">
                        <small>Es necesario que indique el Asegurado.</small>
                    </div>
                </div>
                <div class="form-group col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 input-margin">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="text" id="poliza" placeholder="NÚMERO DE PÓLIZA" class="form-control input-color" />
                        <div class="alert-warning" style="padding:3px;margin-top:5px;display:none;" id="lblErrorNumSiniestro">
                            <small>Es necesario que indique el N&uacute;mero de P&oacute;liza.</small>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <a href="#" data-toggle="modal" data-target="#ModalAyudaPoliza">
                            <i class="fa fa-2x fa-question-circle fa-color"></i>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 input-margin">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="text" id="clave" placeholder="ASEGURADO" class="form-control input-color" />
                        <div class="alert-warning" style="padding:3px;margin-top:5px;display:none;" id="lblErrorAsegurado">
                            <small>Es necesario que indique el Asegurado.</small>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <a href="#" data-toggle="modal" data-target="#ModalAyudaAsegurado">
                            <i class="fa fa-2x fa-question-circle fa-color"></i>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="col-lg-12 col-md-12 col-sm-10 col-xs-10">
                        <button class="btn btn-lg btn-invoice-pay" id="payFirstStep">PAGAR</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-12">
                    <p>Si no cuentas con el n&uacute;mero de P&oacute;liza o Asegurado comunícate al <b>01 800 712 2828</b>.</p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div id="secondStep" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-margin" style="display:none;">
                <div class="form-group col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 input-margin">
                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                        <input type="text" placeholder="CÓDIGO DE CELULAR" class="form-control input-color" />
                    </div>
                </div>
                <div class="form-group col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 form-margin-second-step">
                        <button class="btn btn-lg btn-invoice-pay btn-second-step" id="paySecondStep">PAGAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_ServicioExpressModales")