﻿@section Styles {
    <link href="~/cdn/css/pages/pago_deducible.css" rel="stylesheet" />
    <link href="~/cdn/css/pages/pago_deducible-responsive.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/cdn/js/pages/pago_deducible.js"></script>
}
<div id="pagoPolizaContainer" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div id="panelPago" class="col-lg-6 col-md-6">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1>Pagos de Deducibles</h1>
                <h4>No hagas filas, paga tu deducible por Internet.</h4>
            </div>
            <div id="firstStep" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-margin">
                <div class="col-lg-12 col-sm-12 col-xs-12" id="lblErrores" style="display:none;">
                    <div class="alert-warning">
                        <small>Es necesario que indique el Asegurado.</small>
                    </div>
                </div>
                <div class="form-group col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 input-margin">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="text" id="siniestro" placeholder="NÚMERO DE SINIESTRO" class="form-control input-color" />
                        <div class="alert-warning" style="padding:3px;margin-top:5px;display:none;" id="lblErrorNumSiniestro">
                            <small>Es necesario que indique el N&uacute;mero de P&oacute;liza.</small>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <a href="#" data-toggle="modal" data-target="#ModalAyudaNumeroSiniestro">
                            <i class="fa fa-2x fa-question-circle fa-color"></i>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 input-margin">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="text" id="clave" placeholder="ASEGURADO" class="form-control input-color" />
                        <div class="alert-warning" style="padding:3px;margin-top:5px;display:none;" id="lblErrorAsegurado">
                            <small>Es necesario que indique el Asegurado.</small>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <a href="#" data-toggle="modal" data-target="#ModalAyudaAsegurado">
                            <i class="fa fa-2x fa-question-circle fa-color"></i>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <button class="btn btn-lg btn-invoice-pay" id="payFirstStep">PAGAR</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-12">
                    <p>Si no cuentas con el n&uacute;mero de Siniestro o Asegurado comunícate al <b>01 800 712 2828</b>.</p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div id="secondStep" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-margin" style="display:none;">
                <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 input-margin">
                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <a href="" class="btn btn-pay-option">Quiero <br/>Pagar un <br />Siniestro</a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <a href="" class="btn btn-pay-option">Quiero <br />Pagar mi <br />P&oacute;liza</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_ServicioExpressModales")