﻿@section Styles {
    <link href="~/cdn/css/pages/hogar.css" rel="stylesheet" />
    <link href="~/cdn/css/pages/hogar-responsive.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/cdn/js/pages/pyme_segura.js"></script>
}
<div id="carousel-seguro-auto" class="container-carousel-segunda col-xs-12 carousel slide" data-ride="carousel">
    <div class="col-xs-12 carousel-segunda">
        <br>
        <div id="carousel-segunda" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/cdn/assets/img/banner-pyme1.png">
                </div>
                <div class="item">
                    <img src="~/cdn/assets/img/banner-pyme2.png">
                </div>
                <div class="item">
                    <img src="~/cdn/assets/img/banner-pyme3.png">
                </div>
                <div class="item">
                    <img src="~/cdn/assets/img/banner-pyme4.png">
                </div>
            </div>

            <ol class="carousel-indicators">
                <li data-target="#carousel-seguro-auto" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-seguro-auto" data-slide-to="1"></li>
                <li data-target="#carousel-seguro-auto" data-slide-to="2"></li>
                <li data-target="#carousel-seguro-auto" data-slide-to="3"></li>
            </ol>

        </div>
    </div>
</div>

<div id="beneficios" class="col-xs-12 beneficios-aba">
    <!-- Menu -->
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <ul class="submenu">
                <li><a href="#beneficios" class="active submenu-item">BENEFICIOS</a></li>
                <li><a href="#paquetes" class="submenu-item">NUESTROS PAQUETES</a></li>
                <li><a href="#conoce" class="submenu-item">CONOCE MÁS</a></li>
                <li><a href="#requisitos" class="submenu-item">REQUISITOS Y RESTRICCIONES</a></li>
                <li><a href="#consejos" class="submenu-item">CONSEJOS DE USO</a></li>
                <li><a href="#siniestro" class="submenu-item">EN CASO DE SINIESTRO</a></li>
                @*<li><a href="~/Contenidos/Portal/?vista=CondicionesGenerales&tab=danos" class="submenu-item">CONDICIONES GENERALES</a></li>*@
                <li><a href="https://www2.chubb.com/mx-es/_assets/documents/ad27-aba-d-pyme.pdf" target="_blank" class="submenu-item">CONDICIONES GENERALES</a></li>
            </ul>
        </div>
    </div>
    <div class="row left-title">
        ¿Qué nos hace diferentes?
    </div>
    <div class="row" style="margin-top:15px;">
        <div class="col-xs-12 col-md-6 col-lg-6" style="border-left: solid 6px #01C1E2">
            <div class="inner-title text-uppercase">
                Nuestros Servicios de Asistencia para ti, siempre que nos necesites:
            </div>
            <div class="servicios-item">
                <div class="inner-item-title text-capitalize">
                    Servicio de Asistencia
                </div>
                <div class="inner-item-content">
                    Cerrajería, plomería, electricidad con atención 24 horas.*
                </div>
            </div>
            <div class="servicios-item">
                <div class="inner-item-title text-capitalize">
                    Personal de limpieza
                </div>
                <div class="inner-item-content">
                    En caso de que el Inmueble sufra de alguna inundación y la misma se encuentre cubierta en la póliza, se coordinará el envío de personal especializado en limpieza.*
                </div>
            </div>
            <div class="servicios-item">
                <div class="inner-item-title text-capitalize">
                    Personal de Seguridad
                </div>
                <div class="inner-item-content">
                    Por motivos de causas de fuerza mayor, por robo en las instalaciones o intento del mismo, se coordina el envío de personal calificado en cuestiones de resguardo de inmuebles y protección de empleados.*
                </div>
            </div>

            <div class="servicios-item">
                <div class="inner-item-title text-capitalize">
                    Conexión con profesionales
                </div>
                <div class="inner-item-content">
                    Coordinación del envío de un Profesional quien realizará una cotización de los siguientes servicios: Carpintería, Pintura, Impermeabilización, Herrería, Acabados, Recubrimientos, etc.*
                </div>
            </div>

            <div class="servicios-item">
                <div class="inner-item-title text-capitalize">
                    Consultas Telefónicas PC
                </div>
                <div class="inner-item-content">
                    Atención técnica telefónica para configuración de Internet, Instalación y/o reinstalación de programas de cómputo con licencias proporcionadas por el asegurado, Programas Antivirus, Programas Antiespías.*
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6" style="border-left: solid 6px #FF6400">
            <div class="inner-title">
                COBERTURAS QUE VAN MÁS ALLÁ DE TU PYME
            </div>
            <div class="servicios-item">
                <div class="inner-item-title">
                    INCENDIO EDIFICIO Y CONTENIDOS
                </div>
                <div class="inner-item-content">
                    Protege los bienes cubiertos contra todo riesgo de Incendio, por daño o pérdida física directa  afectados por riesgos en forma accidental, súbita e imprevista; así como la Remoción de Escombros, Corrosión en Tuberías a consecuencia de un siniestro indemnizable.*
                </div>
            </div>
            <div class="servicios-item">
                <div class="inner-item-title">
                    FENÓMENOS HIDROMETEOROL&OacuteGICOS;
                </div>
                <div class="inner-item-content">
                    El Edificio y Contenidos quedan protegidos, contra pérdidas o daños materiales ocasionados directamente por avalanchas, granizo, helada, huracán, inundación, inundación por lluvia, golpe de mar, marejada, nevada y vientos tempestuosos.*
                </div>
            </div>
            <div class="servicios-item">
                <div class="inner-item-title">
                    RESPONSABILIDAD CIVIL EN EXCESO
                </div>
                <div class="inner-item-content">
                    Ofrece cobertura para la responsabilidad civil en exceso de una Póliza de Seguros de automóviles emitida por cualquier aseguradora legalmente autorizada en México, cuando derivado de la utilización del vehículo propiedad del Asegurado y que a consecuencia de dicho uso cause daños materiales a terceros en sus bienes y/o cause lesiones corporales o la muerte a terceros, incluyendo la Indemnización por daño moral que en su caso legalmente corresponda.*
                </div>
            </div>
            <div class="servicios-item">
                <div class="inner-item-content" style="font-size:10px;">
                    *Consulta mas detalles como de límites de eventos, tope de costos, sumas aseguradas, y exclusiones en las condiciones generales de póliza.
                </div>
            </div>
        </div>
    </div>
</div>

<div id="paquetes" class="col-xs-12 seguro-para-tu">
    <p class="ProductosTitulo">NUESTROS PAQUETES</p>
    <div class="col-xs-10 col-xs-offset-1 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
        <div id="limitada" class="ele col-xs-12 col-sm-4 col-md-4 col-lg-4 auto-servicios ocultar-para-tabla hidden-xs" style="margin-top:-40px;">
            <div class="title" style="margin-top:40px;">
                ESTANDAR
            </div>
            <div col-xs-12>
                <iframe class="minivideos"
                        src="https://www.youtube.com/embed/PtllPeg_chw?ecver=2"></iframe>
            </div>
        </div>
        <div id="amplia" class="ele col-xs-12 col-sm-4 col-md-4 col-lg-4 auto-servicios ocultar-para-tabla hidden-xs" style="margin-top:-40px;">
            <div class="estelar-franja">
                El 92% de nuestros clientes compra esta póliza
            </div>
            <div class="title" style="margin-top:10px;">
                <i class="fa fa-star" style="color:#F8E81C;"></i> OPTIMO
            </div>
            <div col-xs-12>
                <iframe class="minivideos"
                        src="https://www.youtube.com/embed/giKjziVB9SM?ecver=2"></iframe>
            </div>

        </div>
        <div id="integral" class="ele col-xs-12 col-sm-4 col-md-4 col-lg-4 auto-servicios ocultar-para-tabla hidden-xs" style="margin-top:-40px;">
            <div class="title" style="margin-top:40px;">
                PREMIUM
            </div>
            <div col-xs-12>
                <iframe class="minivideos"
                        src="https://www.youtube.com/embed/sAVyA9do6g8?ecver=2"></iframe>
            </div>

        </div>

        <!-- Paquetes iPhone-->
        <div id="phonePackages">
            <div class="col-xs-12 auto-servicios visible-xs hidden-md hidden-lg limitada">
                <div class="col-xs-6 ele">
                    <div class="title" style="margin-top: 15px; padding: 0px 20px; text-align: center; color: black; font-weight: 300; text-transform: uppercase;font-size:10px">
                        B&aacute;sico
                    </div>
                </div>
                <div class="col-xs-6">
                    <iframe class="minivideos" style="width: 120px; height: 80px; margin-top: 10px; margin-bottom: 10px; margin-left: 20px;"
                            src="https://www.youtube.com/embed/PtllPeg_chw?ecver=2"></iframe>
                </div>
            </div>

            <div class="col-xs-12 auto-servicios visible-xs hidden-md hidden-lg amplia">
                <div class="col-xs-12 estelar-franja">
                    El 92% de nuestros clientes compra esta p&oacute;liza
                </div>
                <div class="col-xs-6 ele">
                    <div class="title" style="margin-top: 15px; padding: 0px 20px; text-align: center; color: black; font-weight: 300; text-transform: uppercase;font-size:10px">
                        <i class="fa fa-star" style="color:#F8E81C;"></i> Amplia
                    </div>
                </div>
                <div class="col-xs-6">
                    <iframe class="minivideos" style="width: 120px; height: 80px; margin-top: 10px; margin-bottom: 10px; margin-left: 20px;"
                            src="https://www.youtube.com/embed/giKjziVB9SM?ecver=2"></iframe>
                </div>
            </div>

            <div class="col-xs-12 auto-servicios visible-xs hidden-md hidden-lg integral">
                <div class="col-xs-6 ele">
                    <div class="title" style="margin-top: 15px; padding: 0px 20px; text-align: center; color: black; font-weight: 300; text-transform: uppercase;font-size:10px">
                        Integral
                    </div>
                </div>
                <div class="col-xs-6">
                    <iframe class="minivideos" style="width: 120px; height: 80px; margin-top: 10px; margin-bottom: 10px; margin-left: 20px;"
                            src="https://www.youtube.com/embed/sAVyA9do6g8?ecver=2"></iframe>
                </div>
            </div>
        </div>
        <!-- Tabla comparativa -->
        <div class="table-responsive tbl-amortizacion col-md-12" style="display:none;">
            <br class="tbl-amortizacion">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 table table-striped tbl-amortizacion hidden-sm hidden-xs" style="display:none; margin-bottom: 10px;">
                <div class="col-xs-3 tbl-amortizacion" style="display:none; width: 25%;"></div>
                <div class="col-xs-3 tbl-amortizacion" style="display:none; width: 28%;font-size: 24px;">ESTANDAR</div>
                <div class="col-xs-3 tbl-amortizacion" style="display:none; width: 25%;font-size: 24px;">
                    <i class="fa fa-star" style="color:#FFBB4B;"></i> &Oacute;PTIMO
                    <p style="font-size: 11px;color: #1E130F; margin-bottom: 0px;">El 92% de nuestros clientes compra esta póliza</p>
                </div>
                <div class="col-xs-3 tbl-amortizacion" style="display:none; width: 10%;font-size: 24px;">PREMIUM</div>
            </div>

            <div class="hidden-lg hidden-md" style="width: 970px;">
                <div class="col-xs-3"></div>
                <div class="col-xs-3 tbl-amortizacion" style="display:none; width: 18%;font-size: 24px;"></div>
                <div class="col-xs-3 tbl-amortizacion" style="display:none; width: 15%;font-size: 24px;">LIMITADA</div>
                <div class="col-xs-3 tbl-amortizacion" style="display:none; width: 20%;font-size: 24px;">
                    <i class="fa fa-star" style="color:#FFBB4B;"></i> AMPLIA
                    <p style="font-size: 11px;color: #1E130F; margin-bottom: 0px;">El 92% de nuestros clientes compra esta póliza</p>
                </div>
                <div class="col-xs-3 tbl-amortizacion" style="display:none; width: 15%;font-size: 24px;">INTEGRAL</div>
            </div>

            <table style="display:none;" class="table table-striped table-bordered tbl-amortizacion">
                <thead>
                    <tr>
                        <th style="background-color:#DDD;">Coberturas</th>
                        <th style="background-color:#DDD;">Suma Asegurada</th>
                        <th style="background-color:#DDD;">Deducible</th>
                        <th style="background-color:#01BFDF; color:#FFF;"class="estelar">Suma Asegurada</th>
                        <th style="background-color:#01BFDF; color:#FFF;"class="estelar">Deducible</th>
                        <th style="background-color:#DDD;">Suma Asegurada</th>
                        <th style="background-color:#DDD;">Deducible</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-benefit-message="Se amparan todos los bienes inmuebles, propios o tomados en arrendamiento del asegurado necesario al giro del negocio.
Los bienes están cubiertos contra todo riesgo de Incendio por daño o pérdida directa siempre y cuando éstos sean afectados por riesgos en forma accidental, súbita e imprevista.">
                        <td>Cobertura Amplia de Incendio para Edificio <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="coberturaamplia"></i></td>
                        <td>$1,000,000.00</td>
                        <td>NA</td>
                        <td>$1,500,000.00</td>
                        <td>NA</td>
                        <td>$2,000,000.00</td>
                        <td>NA</td>

                    </tr>
                    <tr data-benefit-message="Se amparan los gastos de desmontaje, demolición, limpieza, acarreos o los que necesariamente se tengan que llevar a cabo para que los bienes asegurados dañados queden en condiciones de reparación o de reconstrucción.">
                        <td>Remoción de escombros (Sublimite) <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="remocionescombros"></i></td>
                        <td>$100,000.00</td>
                        <td>NA</td>
                        <td>$150,000.00</td>
                        <td>NA</td>
                        <td>$200,000.00</td>
                        <td>NA</td>

                    </tr>
                    <tr data-benefit-message="Son los gastos por concepto de localización reparación de las tuberías afectadas en la ubicación de riesgo mencionada en la póliza por corrosión.">
                        <td>Corrosión de tuberías <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="corrosiontuberias"></i></td>
                        <td></td>
                        <td></td>
                        <td>$7,500.00</td>
                        <td>15% de la suma asegurada</td>
                        <td>$10,000.00</td>
                        <td>15% de la suma asegurada</td>

                    </tr>
                    <tr data-benefit-message="La presente cobertura se extiende a cubrir cualquier daño físico que cause afectación directa y material en los bienes cubiertos en la presente póliza, originados por armas de fuego, instrumentos explosivos o granadas, a consecuencia de enfrentamientos suscitados entre delincuentes, grupos del crimen organizado o entre éstos con la autoridad.">
                        <td>Inseguridad <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="inseguridad"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>$200,000.00</td>
                        <td>10% sobre monto de la pérdida con mínimo de 100UMA</td>

                    </tr>
                    <tr data-benefit-message="Se amparan todos los bienes inmuebles, propios o tomados en arrendamiento del asegurado necesario al giro del negocio.
Los bienes están cubiertos contra todo riesgo de Incendio por daño o pérdida directa siempre y cuando éstos sean afectados por riesgos en forma accidental, súbita e imprevista.">
                        <td>Cobertura Amplia de Incendio para Contenidos <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="coberturaamplia"></i></td>
                        <td>$500,000.00</td>
                        <td>NA</td>
                        <td>$750,000.00</td>
                        <td>NA</td>
                        <td>$1,000,000.00</td>
                        <td>NA</td>

                    </tr>
                    <tr data-benefit-message="Se ampara la renta de equipos o similares a los dañados con el fin de continuar, en caso de siniestro, con las operaciones normales de la empresa.">
                        <td>Vehículos automotores <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="vehiculosautomotores"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>$400,000.00</td>
                        <td>NA</td>

                    </tr>
                    <tr data-benefit-message="Quedarán amparadas las pérdidas sufridas a consecuencia de la paralización o entorpecimiento de las operaciones del negocio asegurado, siempre que resulte como consecuencia de los riesgos contratado, también cubre los gastos en los que el asegurado deba incurrir con el objeto de reducir la pérdida.">
                        <td>Reducción de Ingresos por Interrupción de Act. Comerciales <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="reduccioningresos"></i></td>
                        <td></td>
                        <td></td>
                        <td>$450,000.00</td>
                        <td>5 días de espera</td>
                        <td>$600,000.00</td>
                        <td>5 días de espera</td>

                    </tr>
                    <tr data-benefit-message="La Compañía se obliga a pagar hasta el límite de la suma asegurada contratada, los daños, perjuicios y daño moral consecuencial que, derivado del giro o actividad del negocio amparado, el Asegurado cause a terceros y por los que este deba responder.">
                        <td>Responsabilidad Civil Actividades e Inmuebles <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="rcactividades"></i></td>
                        <td>$100,000.00</td>
                        <td>NA</td>
                        <td>$150,000.00</td>
                        <td>NA</td>
                        <td>$200,000.00</td>
                        <td>NA</td>

                    </tr>
                    <tr data-benefit-message="Se cubren los daños materiales causados a los Cristales que se encuentren instalados y fijos en el edificio.">
                        <td>Rotura de Cristales <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="roturacristales"></i></td>
                        <td>$20,000.00</td>
                        <td>10% de la suma asegurada</td>
                        <td>$30,000.00</td>
                        <td>10% de la suma asegurada</td>
                        <td>$40,000.00</td>
                        <td>10% de la suma asegurada</td>

                    </tr>
                    <tr data-benefit-message="Se cubren los daños materiales causados a los Anuncios Luminosos que se encuentren instalados y fijos en el edificio.">
                        <td>Anuncios Luminosos <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="anunciosluminosos"></i></td>
                        <td>$30,000.00</td>
                        <td>10% de la suma asegurada</td>
                        <td>$45,000.00</td>
                        <td>10% de la suma asegurada</td>
                        <td>$60,000.00</td>
                        <td>10% de la suma asegurada</td>

                    </tr>
                    <tr data-benefit-message="Cubre los contenidos que se encuentren dentro del local asegurado incluyendo bienes de terceros bajo su custodia, dinero en efectivo y/o documentos negociables que se encuentren dentro o fuera del local.">
                        <td>Robo de Mercancías <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="robomercancia"></i></td>
                        <td>$70,000.00</td>
                        <td>10% de la suma asegurada</td>
                        <td>$105,000.00</td>
                        <td>10% de la suma asegurada</td>
                        <td>$140,000.00</td>
                        <td>10% de la suma asegurada</td>

                    </tr>
                    <tr data-benefit-message="Cubre el robo de dinero que traiga consigo el cobrador.">
                        <td>Dinero y Valores <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="dineroyvalores"></i></td>
                        <td>$50,000.00</td>
                        <td>10% de la suma asegurada</td>
                        <td>$75,000.00</td>
                        <td>10% de la suma asegurada</td>
                        <td>$100,000.00</td>
                        <td>10% de la suma asegurada</td>

                    </tr>
                    <tr data-benefit-message="Ampara el abuso de confianza de trabajadores.">
                        <td>Abuso de confianza (sublimite) <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="abusoconfianza"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>$100,000.00</td>
                        <td>10% de la suma asegurada</td>

                    </tr>
                    <tr data-benefit-message="Toda pérdida o daño material directo sobre los bienes cubiertos, salvo lo expresado en las exclusiones, originado por un suceso accidental, súbito y no previsto que haga necesaria la reparación y/o reemplazo de los bienes Asegurados o parte de ellos, a fin de dejarles en condiciones similares a las existentes inmediatamente antes de ocurrir el siniestro.">
                        <td>Equipo Electrónico Fijo <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="equipoelectronicofijo"></i></td>
                        <td>$80,000.00</td>
                        <td>10% sobre el valor de reposición con mínimo de 60 UMA</td>
                        <td>$120,000.00</td>
                        <td>10% sobre el valor de reposición con mínimo de 60 UMA</td>
                        <td>$160,000.00</td>
                        <td>10% sobre el valor de reposición con mínimo de 60 UMA</td>

                    </tr>
                    <tr data-benefit-message="Cubre los equipos electrónicos fijos contra el robo de los bienes dentro del inmueble Asegurado, siempre que dicho robo sea perpetrado por cualquier persona o personas que, haciendo uso de violencia del exterior al interior del local en que se encuentren los bienes, dejen señales visibles de la violencia en el lugar por donde se penetró para la apertura o sustracción de los bienes, se haga uso de violencia, de la que queden huellas visibles o por asalto.">
                        <td>Robo de Equipo Electrónico Fijo <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="roboequipoelectronicofijo"></i></td>
                        <td></td>
                        <td></td>
                        <td>$120,000.00</td>
                        <td>10% sobre el valor de reposición con mínimo de 60 UMA</td>
                        <td>$160,000.00</td>
                        <td>10% sobre el valor de reposición con mínimo de 60 UMA</td>

                    </tr>
                    <tr data-benefit-message="Toda pérdida o daño material directo sobre los bienes cubiertos, salvo lo expresado en las exclusiones, originado por un suceso accidental, súbito y no previsto que haga necesaria la reparación y/o reemplazo de los bienes Asegurados o parte de ellos.">
                        <td>Equipo Móvil y Portátil <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="equipomovilportatil"></i></td>
                        <td></td>
                        <td></td>
                        <td>$60,000.00</td>
                        <td>15% sobre el valor de reposición con mínimo de 60 UMA</td>
                        <td>$80,000.00</td>
                        <td>15% sobre el valor de reposición con mínimo de 60 UMA</td>

                    </tr>
                    <tr data-benefit-message="Robo de los bienes Asegurados dentro y fuera del inmueble Asegurado, siempre que dicho robo sea perpetrado por cualquier persona o personas que, haciendo uso de violencia del exterior al interior del medio de transporte en que se encuentren los bienes, dejen señales visibles de la violencia en el lugar por donde se penetró para la apertura o sustracción de los bienes.">
                        <td>Robo de Equipo Móvil <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="roboequipomovilportatil"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>$80,000.00</td>
                        <td>15% sobre el valor de reposición con mínimo de 60 UMA</td>

                    </tr>
                    <tr data-benefit-message="Maquinaria, equipo fijo, móvil y/o portátil, calderas y recipientes sujetos a presión contra pérdida o daño material directo.
Se ampara la renta de equipos o similares a los dañados con el fin de continuar, en caso de siniestro, con las operaciones normales de la empresa.">
                        <td>Rotura de Maquinaria <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="roturamaquinaria"></i></td>
                        <td>$80,000.00</td>
                        <td>10% sobre el valor de reposición con mínimo de 60 UMA</td>
                        <td>$120,000.00</td>
                        <td>10% sobre el valor de reposición con mínimo de 60 UMA</td>
                        <td>$160,000.00</td>
                        <td>10% sobre el valor de reposición con mínimo de 60 UMA</td>

                    </tr>
                    <tr data-benefit-message="Esta cobertura puede ser opcional
Costo: $450 M.N.
Servicios ilimitados más no acumulados.
 
Cerrajería
Debido a la descompostura, robo y que el asegurado no pueda entrar al inmueble se enviará un cerrajero para que sea realizada la apertura de la puerta y efectuará una copia de las llaves. Límite máximo del servicio $2,000 M.N.
 
Plomería
Envío de profesionales para la reparación de fugas de agua, incluye gastos de envío, costo de materiales y mano de obra.
Límite máximo del servicio $5,000 M.N.
 
Personal de limpieza
Si sufrió una inundación se enviará personal especializado en limpieza de oficinas con el objetivo de restablecer las condiciones en que se encontraba el inmueble antes de ocurrir el siniestro.
Límite máximo del servicio $3,000 M.N.
 
Personal de seguridad
Por motivos de fuerza mayor o por robo en las instalaciones o intento del mismo se coordinará el envío de personal calificado en cuestiones de resguardo de inmuebles y protección de empleados.
Límite máximo del servicio $4,500 M.N.
 
Atención Legal
Servicio de asistencia jurídica telefónica en derecho civil y mercantil, penal, laboral, fiscal y asesoría contable, así como la gestión legal en caso de accidentes automovilísticos con los automóviles utilitarios de la empresa asegurada.
Sin costo.
 
Consultas telefónicas
Atención técnica telefónica para la configuración de Internet, instalación y/o reinstalación de programas de cómputo, formateo de disco duro, entre otros servicios.Sin costo.
">
                        <td>Asistencia Empresarial <i class="fa fa-sort-desc" aria-hidden="true" data-benefit="asistenciaempresarial"></i></td>
                        <td>Amparada</td>
                        <td>NA</td>
                        <td>Amparada</td>
                        <td>NA</td>
                        <td>Amparada</td>
                        <td>NA</td>

                    </tr>
                    
                </tbody>
            </table>
            *Ningún paquete incluye coberturas catastróficas
        </div>
    </div>
    <section id="iconos" class="col-xs-10 col-xs-offset-1 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10 ocultar">
        <div class="row col-xs-12">

            <div id="icon-1" class="col-xs-4 col-lg-2  icon-disabled" style="margin-bottom:30px;"><img src="~/cdn/assets/img/pyme/icn-pyme-incendio.png" alt=""><br><span style="color:#fff;">Incendio</span></div>

            <div id="icon-2" class="col-xs-4 col-lg-2 icon-disabled" style="margin-bottom:30px;"><img src="~/cdn/assets/img/pyme/icn-pyme-tuberias.png" alt=""><br><span style="color:#fff;">Corrosión de tuberías</span></div>

            <div id="icon-3" class="col-xs-4 col-lg-2 icon-disabled" style="margin-bottom:35px;"><img src="~/cdn/assets/img/pyme/icn-pyme-vehiculos.png" alt=""><br><span style="color:#fff;">Vehículos automotores</span></div>

            <div id="icon-4" class="col-xs-4 col-lg-2 icon-disabled" style="margin-bottom:35px;"><img src="~/cdn/assets/img/pyme/icn-pyme-inseguridad.png" alt=""><br><span style="color:#fff;">Inseguridad</span></div>

            <div id="icon-5" class="col-xs-4 col-lg-2 icon-disabled" style="margin-bottom:35px;"><img src="~/cdn/assets/img/pyme/icn-pyme-RC.png" alt=""><br><span style="color:#fff;">Responsabilidad civil</span></div>

            <div id="icon-6" class="col-xs-4 col-lg-2 icon-disabled" style="margin-bottom:35px;"><img src="~/cdn/assets/img/pyme/icn-pyme-cristal.png" alt=""><br><span style="color:#fff;">Cristales</span></div>

        </div>
        <div class="row last col-xs-12" style="margin-bottom:0px;">

            <div id="icon-7" class="col-xs-4 col-lg-2 icon-disabled" style="margin-bottom:35px;"><img src="~/cdn/assets/img/pyme/icn-pyme-ladron.png" alt=""><br><span style="color:#fff;">Robo de mercancías</span></div>

            <div id="icon-8" class="col-xs-4 col-lg-2 icon-disabled" style="margin-bottom:35px;"><img src="~/cdn/assets/img/pyme/icn-pyme-dinero.png" alt=""><br><span style="color:#fff;">Dinero y valores</span></div>

            <div id="icon-9" class="col-xs-4 col-lg-2 icon-disabled" style="margin-bottom:35px;"><img src="~/cdn/assets/img/pyme/icn-pyme-electronicofijo.png" alt=""><br><span style="color:#fff;">Equipo electrónico fijo</span></div>

            <div id="icon-10" class="col-xs-4 col-lg-2 icon-disabled" style="margin-bottom:35px;"><img src="~/cdn/assets/img/pyme/icn-pyme-electronicofijo.png" alt=""><br><span style="color:#fff;">Equipo electrónico fijo</span></div>

            <div id="icon-11" class="col-xs-4 col-lg-2 icon-disabled" style="margin-bottom:35px;"><img src="~/cdn/assets/img/pyme/icn-pyme-rotura.png" alt=""><br><span style="color:#fff;">Rotura de maquinaria</span></div>

            <div id="icon-12" class="col-xs-4 col-lg-2 icon-disabled" style="margin-bottom:35px;"><img src="~/cdn/assets/img/pyme/icn-pyme-asistencia.png" alt=""><br><span style="color:#fff;">Asistencia empresarial</span></div>

        </div>
        <div class="clearfix"></div>
        <div class="row" style="font-size: 11px; color: #FFF; text-align:justify;padding:10px 10%">
            <p>
                ***Las coberturas que se muestran en blanco, son las que aplican en el paquete seleccionado, las que se muestren grises, no aplican. Para m&aacute;s informaci&oacute;n consulta la comparaci&oacute;n de coberturas.<br>
                Sujeto a t&eacute;rminos y condiciones.
            </p>
        </div>
    </section>

    <div class="col-xs-10 col-sm-10 col-xs-offset-1 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10" style="background-color: transparent !important;">
        <a id="ver-tabla" class="btn-ver-tabla" style="cursor:pointer;">COMPARA COBERTURAS</a>
        <a id="ocultar-tabla" class="btn-ver-tabla" style="display:none; cursor:pointer;">REGRESAR</a>
    </div>
</div>


<div id="conoce" class="es-facil col-xs-12">

    <div align="center" class="video-container-iframe col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-12 main-title" style="margin-bottom: 35px;">
            Conoce más de ABA PyME Segura
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-sm-offset-3 col-sm-6 col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/h_SRYP-_f-E"></iframe>
            </div>
        </div>
        <div class="col-xs-12" style="font-size: 11px; color: #FFF; text-align:justify;padding:10px 10%">
            <p>
                Las descripciones presentadas en la presente página son sólo de referencia y en nada modifican a las Condiciones Generales de nuestros seguros, por lo que para mayores detalles puedes consultarlas en nuestra sección de “Condiciones Generales”.
            </p>
        </div>
    </div>
</div>

<div id="requisitos" class="col-xs-12 requisitos-aba" style="padding:50px;">
    <div class="row left-title" style="margin-top:0;">
        Requisitos y restricciones de contratación
    </div>
    <div class="row" style="padding-bottom:-15px;">
        <h3><strong>Requisitos mínimos de contratación:</strong></h3>
        <p>1. Nombre del Asegurado.</p>
        <p>2. Domicilio fiscal y Ubicación del riesgo.</p>
        <p>3. Tipo constructivo.</p>
        <p>4. Coberturas a contratar.</p>
        <p>5. Sumas Aseguradas.</p>
        <p>6. Giro.</p>
    </div>
    <div class="row" style="padding-bottom:-15px;">
        <h3><strong>Restricciones de contratación:</strong></h3>
        <p>1. Ubicaciones a menos de 500 mts. del mar, lago, río o laguna.</p>
        <p>2. Tipo constructivo madera, palma, lamina de cartón, zacate, palmito.</p>
        <p>3. Fenómenos Hidrometeorológicos en estado de Quintana Roo.</p>
        <p>4. Giros no mencionados.</p>
        <p>5. Sumas Aseguradas.</p>
        <p>6. Edificios en proceso de construcción.</p>
    </div>
</div>

<div id="consejos" class="col-xs-12 consejos-aba" style="padding:50px;">
    <div class="row left-title" style="margin-top:0;">
        Consejos de uso
    </div>
    <div class="row" style="padding-bottom:-15px;">
        Estos son algunos ejemplos de cómo puedes usar tu seguro:<br />
        <p>En caso de que te roben, además de estar cubierta tu mercancía y dinero, también se consideran los daños que se ocasionen al inmueble. El Equipo Electrónico esta cubierto por daños materiales ocasionados por variaciones de voltaje, impericias y cualquier otro riesgo no mencionado como exclusión.</p>
        <p>PYME segura, además de proteger a tu negocio protege a tus clientes, por ejemplo en caso de caídas, o si tu local es un restaurante la intoxicación por la ingesta de alimentos ofrecidos en tu negocio.</p>
        <p>
            También puedes disfrutar de servicios de electricista, cerrajeros, plomeros, cristaleras e inclusive, asesoría médica telefónica. Todo con eventos ilimitados.
        </p>
    </div>
</div>

<div id="siniestro" class="col-xs-12 siniestros-aba" style="padding:50px;">
    <div class="row left-title" style="margin-top:0;">
        Qué hacer en caso de siniestro
    </div>
</div>





