<div class="quienes-somos">
    <!--HEADER-->
    <div class="row">
        <div class="col-md-12 col-xs-12 barraInicial">
            <div class="col-md-offset-1 col-md-11 col-xs-12 barraInicialTxt1">
                <strong>¿Quiénes somos?</strong>
            </div>
            <div class="col-md-offset-1 col-md-11 col-xs-12 barraInicialTxt2">
                <p>ABA es una línea de productos de Chubb México</p>
            </div>
            <div class="col-md-offset-1 col-md-11 col-xs-12 barraInicialTxt3">
                <p>Conoce un poco más de nuestra gran empresa</p>
            </div>
        </div>
    </div>

    <!---->
    <div class="bg-gray">
        <!--web-->
        <div class="beneficios-aba">
            <div class="row">
                <div class="col-md-12">
                    <ul class="submenu">
                        <li><a href="#" tab="quienessomos" class="active submenu-item">QUIÉNES SOMOS</a></li>
                        <li><a href="https://www2.chubb.com/mx-es/about-us/financial-information.aspx" target="_blank" tab="informacionfinanciera" class="submenu-item">INFORMACIÓN FINANCIERA</a></li>
                        <li><a href="~/Contenidos/Portal/?vista=Contacto" class="submenu-item" id="arefContacto" >CONTACTO</a></li>
                    </ul>
                </div>
            </div>
        </div>        
    </div>

    <div tab-content="quienessomos">
        @Html.Partial("~/Views/Contenidos/QuienesSomos/_QuienesSomos.cshtml")
    </div>
    <div tab-content="informacionfinanciera" style="display:none;">
        @Html.Partial("~/Views/Contenidos/QuienesSomos/_InformacionFinanciera.cshtml")
        <div style="min-height:50px; background-color:#FFFFFF;"></div>
    </div>
    
</div>
@section Styles
{       
    <link href="~/cdn/css/extended/quienes-somos.css" rel="stylesheet" />
}
@section Scripts
{
    <script>
        function GetQueryStringParams(params) {
            var pageUrl = window.location.search.substring(1);
            var variables = pageUrl.split('&');

            for (var i = 0; i < variables.length; i++) {
                var parameterName = variables[i].split('=');
                if (parameterName[0] === params) {
                    return parameterName[1];
                }
            }
        }

        $(function () {
            $('a[tab]').click(function () {
                $this = $(this);

                $('a[tab]').removeClass('active');
                $('[tab-content]').hide();

                $this.addClass('active');
                $('[tab-content=' + $this.attr('tab') + ']').show();
            });
            

            var vista = window.location.href.split("#")

            if (vista[1] == "informacion-financiera")
            {
                $('a[tab]').removeClass('active');
                $('[tab-content]').hide();

                $("#tab-informacionfinanciera").addClass('active');
                $('[tab-content=informacionfinanciera]').show();
            }

        });

        (function ($) {
            $(function () {
                var jcarousel = $('.jcarousel');

                jcarousel
                    .on('jcarousel:reload jcarousel:create', function () {
                        var carousel = $(this),
                            width = 200;//carousel.innerWidth();

                        if (width >= 600) {
                            width = width / 3;
                        } else if (width >= 350) {
                            width = width / 2;
                        }

                        carousel.jcarousel('items').css('width', Math.ceil(width) + 'px');
                    })
                    .jcarousel({
                        wrap: 'circular'
                    });

                $('.jcarousel-control-prev')
                    .jcarouselControl({
                        target: '-=1'
                    });

                $('.jcarousel-control-next')
                    .jcarouselControl({
                        target: '+=1'
                    });

            });

            var tab = GetQueryStringParams('tab');
            if (tab !== undefined) {
                $('a[tab]').removeClass('active');
                $('[tab-content]').hide();

                $('a[tab=' + tab + ']').addClass('active');
                $('[tab-content=' + tab + ']').show();
            }
        })(jQuery);
        
    </script>
<script src="~/cdn/js/gtag/ContenidosQuienesSomos.js"></script>
}