﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Chubb | Portal Web</title>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">


    <link href="~/cdn/css/extended/app.css" rel="stylesheet" />
    <!-- Bootstrap -->
    <link href="~/cdn/css/cosmo.css" rel="stylesheet" />
    <!-- Custom ABA Styles: -->
    <link href="~/cdn/css/extended/fontfaces.css" rel="stylesheet" />
    <link href="~/cdn/css/extended/page-header.css" rel="stylesheet" />
    <link href="~/cdn/css/jqueryui/jquery-ui.css" rel="stylesheet" />
    <link href="~/cdn/css/jqueryui/jquery-ui.theme.min.css" rel="stylesheet" />
    <link href="~/cdn/css/extended/abaseguros.css" rel="stylesheet" />

    <link href="~/cdn/css/jcarousel.responsive.css" rel="stylesheet" />
    <link href="~/cdn/css/extended/abaseguros2.css" rel="stylesheet" />
    <link href="~/cdn/css/chat.css" rel="stylesheet" />

    <link type="text/css" rel="stylesheet" href="~/cdn/css/pages/auto/auto.css" />
    <link type="text/css" rel="stylesheet" href="~/cdn/css/pages/auto/auto-responsive.css" />
    @*Vendor styles:*@
    <link href="~/cdn/css/font-awesome.min.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Hotjar Tracking Code for https://www.abaseguros.com -->
    <script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:670383,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-85843301-11"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-85843301-11');
    </script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div style="background-color: #4A4F53;">
                <div class="row" style="padding-bottom:8px;">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <a target="_blank" href="http://chubb.com/mx" id="arefImagen" >
                            <img src="~/cdn/assets/img/logo/logo-chubb.png" class="logoChubbHeader img-responsive" />
                        </a>
                        @*<div class="btn-Chubb marquee">
                                                ACE Seguros S.A., ABA Seguros, S.A. de C.V. y Chubb de México, Compañía de Seguros, S.A. de C.V. en México, todas ellas subsidiarias de Chubb Limited se encuentran en proceso de fusión ante la Comisión Nacional de Seguros y Fianzas de México. Hasta en tanto dicho proceso sea autorizado como corresponda, dichas compañías seguirán operando en forma separada.
                                               <a href="https://www2.chubb.com" target="_blank">
                                    <div>ACE Seguros S.A., ABA Seguros, S.A. de C.V. y Chubb de México, Compañía de Seguros, S.A. de C.V. en México, todas ellas subsidiarias de Chubb Limited se encuentran en proceso de fusión ante la Comisión Nacional de Seguros y Fianzas de México. Hasta en tanto dicho proceso sea autorizado como corresponda, dichas compañías seguirán operando en forma separada.</div>
                                </a>
                            </div>*@
                    </div>
                </div>
            </div>

        </div>
        <div class="container-fluid aba-header-height">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                    <img src="@Url.Content("~/cdn/assets/img/logo/logo-aba-productos.png")" style="max-height: 65px;padding-left: 15px;" class="logoAbaHeader img-responsive" />
                
            </div>
           
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="col-xs-12 gracias gracias-scotia-fondo" style="padding: 0;">
        <div id="panelGracias">
            <div class="row">
                <div id="squareScotia" class="col-xs-6 col-xs-offset-3" align="center">
                    <p class="title">¡Gracias!</p>
                    <div class="col-xs-12" style="padding-bottom:12px;">
                        <p class="txt">Muy pronto nos pondremos en contacto contigo para darte más información.<p>
                    </div>
                    <hr style="border-top: 2px solid rgb(0,192,215); width:90%; margin-bottom:15px;" />
                    <div class="col-xs-12">
                        <p class="txt">
                            O bien no dudes en llamarnos <br>
                            <a href="tel:018008418523" id="arefTelefono" >01 800 841 8523</a> (Interior de la república) <br>
                            <a href="tel:53281060" id="arefTelefono2"  >5328 1060</a> (CDMX)
                        <p>
                    </div>
                    <div class="col-xs-12">
                        <p class="txt">
                            Nuestro horario de atención es: <br />
                            Lunes a Viernes 9:00AM a 9:00PM <br />
                            y Sábados de 9:00AM a 7:00PM
                        <p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var webSiteRoot = "@Url.Content("~/")";
        var apiRoot = "@PortalABA.Servicios.Utils.GetAPIRoot()";
    </script>

    @Html.Partial("Analytics_")

    <script src="~/cdn/js/jquery-2.2.4.min.js"></script>
    <script src="~/cdn/js/jquery-ui.min.js"></script>
    <script src="~/cdn/js/bootstrap.min.js"></script>
    <script src="~/cdn/js/underscore-min.js"></script>
    <script src="~/cdn/js/moment-with-locales.min.js"></script>
    <script src="~/cdn/aplicacion/utils.js"></script>
    <script src="~/cdn/js/abaseguros.js"></script>
    <script src="~/cdn/js/jcarousel/jquery.jcarousel.min.js"></script>
    <script src="~/cdn/js/jcarousel/autoscroll.js"></script>
    <script src="~/cdn/js/jcarousel/control.js"></script>
    <script src="~/cdn/js/jcarousel/core.js"></script>
    <script src="~/cdn/js/jcarousel/core_plugin.js"></script>
    <script src="~/cdn/js/jcarousel/pagination.js"></script>
    <script src="~/cdn/js/jcarousel/scrollintoview.js"></script>
    <script src="~/cdn/js/jquery.marquee.min.js"></script>
    <script src="~/cdn/js/gtag/ContenidosScotiaBank.js"></script>
</body>
</html>
