       <div class="seguro-basico">

    <div class="row">
        <div class="col-md-12 col-xs-12 barraInicialSBE">
            <div class="col-md-offset-1 col-md-11 col-xs-12 barraInicialTxt4">
                <p>Protégete</p>
            </div>
        </div>
    </div>



    <div class="row contenidogeneral" style="background-color: #FFFFFF;">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="col-md-12 col-xs-12 tituloNegro27">
                PRODUCTO BÁSICO ESTANDARIZADO
                <br /><br />
            </div>
            <div class="col-md-12 col-xs-12" style="border-left: solid 6px #01C1E2;">
                <br />
                <p class="txtNegro18" style="margin-left:20px; font-weight:bold;">¿Qué es?</p>
                <p class="txtNegro16" style="margin-left:20px;">Este producto básico te ofrece únicamente proteccion derivada de a responsabilidad Civil por daños en bienes y personas de terceros hasta por $250,000.00 M.N.</p>
                <br />
            </div>
        </div>
        </div>
           <div class="row contenidogeneral" style="background-color: #EEEEEE;">
               <div class="col-xs-offset-1 col-xs-10">
                   <div class="col-md-12 col-xs-12">
                       <p class="txtNegro16 center">Para mayor información, ponte en contacto con nosotros al <a href="tel:018007122828">01800 712 2828</a> o por correo electrónico a <a href="mailto:contacto.aba@chubb.com">contacto.aba@chubb.com</a></p>
                   </div>
               </div>
           </div>

</div>