@section MetaTags{
    <title>ABA Chubb | ¿Tuviste un Siniestro?</title>
    <meta name="description" content="Déjanos ayudarte, te explicamos qué hacer en caso de un siniestro. Reporta tu siniestro sin costo a nuestro número telefónico." />
    <meta name="keywords" content="reportar siniestro, reportar siniestro aba, siniestros, siniestro de auto, siniestro de casa, siniestro de robo, siniestro de incendio, reportar un siniestro, sieniestros aba" />
}

<div class="siniestro">
    <div class="row">
        <div class="col-md-12 col-xs-12 barraInicial">
            <div class="col-md-offset-1 col-md-11 col-xs-12">
                <h1 class="barraInicialTxt1"><strong>¿TUVISTE UN SINIESTRO?</strong></h1>
            </div>
            <div class="col-md-offset-1 col-md-11 col-xs-12 ">
                <h2 class="barraInicialTxt2">¿Qué hacer en caso de siniestro?</h2>
            </div>
            <div class="col-md-offset-1 col-md-11 col-xs-12 barraInicialTxt3">
                <p>Déjanos ayudarte, te explicamos qué hacer en caso de un siniestro</p>
            </div>
        </div>
    </div>






    <div class="row contenidogeneral">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="col-md-12 col-xs-12 ">
                <h3 class="tituloNegro27">¿Tuviste un siniestro en tu automóvil?</h3>
            </div>
            <div class="col-md-12 col-xs-12 txtNegro16">
                <br />
                <p><strong>Importante: Te suplicamos que esperes a nuestro ajustador, no mover el vehículo del lugar del accidente y no entrar en ningún tipo de arreglos.</strong></p>
                <br />
                <p>Repórtalo inmediatamente:</p>
                <p>
                    CDMX, Guadalajara o Monterrey al:
                    <a style="font-size:22px; font-weight:bold; margin-left:25px;" href="tel:12533030">1253-3030</a>
                </p>

                <p>
                    Resto de la República:
                    <a style="font-size:22px; font-weight:bold; margin-left:25px;" href="tel:018008343400">01-800-834-3400</a>
                </p>
                <br />
                <p>
                    Al reportarlo de ser posible ten a la mano la siguiente información:
                    <div style="padding-left:40px;">
                        - El Número de Póliza<br />
                        - Marca y tipo de vehículo<br />
                        - Color y placas<br />
                        - Nombre del conductor
                    </div>
                </p>
                <br />
                <p>
                    Cuando llegue nuestro ajustador ten a la mano:
                    <div style="padding-left:40px;">
                        - La Póliza de seguro.<br />
                        - Licencia o permiso de conducir
                    </div>
                </p>
            </div>
        </div>
    </div>


    <div class="row Siniestrocontenidogeneral">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="col-md-12 col-xs-12">
                <h3 class="tituloNegro27">¿Tuviste un siniestro en tu hogar?</h3>
            </div>
            <div class="col-md-12 col-xs-12 txtNegro16">
                <br />
                <p>Repórtalo inmediatamente:</p>
                <p>
                    CDMX, Guadalajara o Monterrey al:
                    <a style="font-size:22px; font-weight:bold; margin-left:25px;" href="tel:12533737">1253-3737</a>
                </p>

                <p>
                    Resto de la República:
                    <a style="font-size:22px; font-weight:bold; margin-left:25px;" href="tel:018007165467">01-800-716-5467</a>
                </p>
                <br />
                <p>
                    Al reportarlo te preguntaremos:
                    <div style="padding-left:40px;">
                        - Numero de póliza.<br />
                        - Nombre el asegurado.<br />
                        - Fecha y hora del accidente.<br />
                        - Lugar del accidente.<br />
                        - Persona a contactar y teléfono.<br />
                        - Causa del daño.<br />
                        - Bienes afectados
                    </div>
                </p>
            </div>
        </div>
    </div>


    <div class="row Siniestrocontenidogeneral">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="col-md-12 col-xs-12">
                <h3 class="tituloNegro27">¿Tuviste un siniestro en tu PyME?</h3>
            </div>
            <div class="col-md-12 col-xs-12 txtNegro16">
                <br />
                <p>Repórtalo inmediatamente:</p>
                <p>
                    CDMX, Guadalajara o Monterrey al:
                    <a style="font-size:22px; font-weight:bold; margin-left:25px;" href="tel:12533737">1253-3737</a>
                </p>

                <p>
                    Resto de la República:
                    <a style="font-size:22px; font-weight:bold; margin-left:25px;" href="tel:01-8007165467">01-800-716-5467</a>
                </p>
                <br />
                <p>
                    Al reportarlo te preguntaremos:
                    <div style="padding-left:40px;">
                        - Numero de póliza.<br />
                        - Nombre el asegurado.<br />
                        - Fecha y hora del accidente.<br />
                        - Lugar del accidente.<br />
                        - Persona a contactar y teléfono.<br />
                        - Causa del daño.<br />
                        - Bienes afectados.
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>
