﻿#pnlSeleccionaPaquete .circleStep, .capturarDatos .circleStep, #pnlFormularioPago .circleStep {
    height: 40px;
    width:40px;
    border:2px solid #392665;
    background-color: #393939;
    border-radius:40px;
    color:#FFF;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
}

#pnlSeleccionaPaquete .circleStep.active, .capturarDatos .circleStep.active, #pnlFormularioPago .circleStep.active {
    background-color: #644AA3;
}

#pnlSeleccionaPaquete .labelStep, .capturarDatos .labelStep.active span, #pnlFormularioPago .labelStep.active span {
    margin-top:5px;
}

#pnlSeleccionaPaquete .labelStep span, .capturarDatos .labelStep span, #pnlFormularioPago .labelStep span{
    display:inline-block;
    width:55px;
    color:#1F1410;
    font-family:Source Sans Pro;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
    text-align: center;
}

#pnlSeleccionaPaquete .labelStep.active span, .capturarDatos .labelStep.active span, #pnlFormularioPago .labelStep.active span{
    color: #644AA3;
}

#pnlSeleccionaPaquete .dashed, .capturarDatos .dashed, #pnlFormularioPago .dashed {
    text-align:center;
    margin:10px 50% !important;
    display:inline-block;
    height:27px;
    width:2px;
    border:1px dashed #1F1410;
}