﻿<div id="chatErrorContainer" style="display:none;">
    <div class="chat-frm-container" style="background-color: #00C0D7;">
        <div class="chat-frm-titulo">¿Disculpe las molestias?</div>
        <div class="row" style="text-align:center; margin-bottom: 20px;"><i style="font-size: 150px;" class="fa fa-5x fa-comment-o"></i></div>
        <div class="row" style="font-family: Montserrat; font-size: 14px; text-align: center; text-align:center; padding-bottom: 15px; color: #ffffff;">Hubo un problema</div>
        <div style="font-family: Montserrat; font-size: 12px; text-align: center; padding-bottom: 15px; color: #ffffff;">Favor de intentar de nuevo en unos minutos o escribenos al correo: <a href="mailto:contacto.aba@chubb.com">Contacto.Aba@Chubb.com</a></div>
    </div>
</div>
