﻿<div id="chatCerradoContainer" style="display:none;">
    <div class="chat-frm-container" style="background-color: #00C0D7;">
        <div class="chat-frm-titulo">¿C&oacute;mo podemos ayudarte?</div>
        <div class="row" style="text-align:center; margin-bottom: 20px;"><i style="font-size: 150px;" class="fa fa-5x fa-comment-o"></i></div>
        <div class="row" style="font-family: Montserrat; font-size: 14px; text-align: center; text-align:center; padding-bottom: 15px; color: #ffffff;">POR EL MOMENTO NO PODEMOS ATENDERTE</div>
        <div style="font-family: Montserrat; font-size: 12px; text-align: center; padding-bottom: 15px; color: #ffffff;">Nuestro horario de atenci&oacute;n en chat es de <b>Lunes a Viernes de 9:00am a 7:30pm</b> (hora centro). Env&iacute;anos un correo a: <a href="mailto:contacto.aba@chubb.com">contacto.aba@chubb.com</a> y nos pondremos en contacto a la brevedad.</div>
    </div>
</div>
