﻿<div class="chat-panel" id="chatPanel">
    <div class="panel">
        <div class="panel-heading" id="chatHeader">
            CHAT
            <div class="btn-group pull-right">
                <a data-toggle="collapse" data-parent="#chatHeader" href="#chatCollapsible">
                    <span class="glyphicon glyphicon-plus" id="collapsibleGlyph" style="padding-left: 5px;"></span>
                </a>
                <button href="#" class="btn btn-default btn-xs" id="btnStopChat" style="display:none;">
                    <span class="glyphicon glyphicon-stop"></span>&nbsp;Finalizar
                </button>
            </div>
        </div>
        <div id="chatCollapsible" class="collapse">
            <div class="chatControl">
                <div class="panel-body" style="padding:0px;background-color: #EBEBEB;">
                    <div class="chat-container" id="conversationContainer">


                    </div>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="txtChatMensaje" type="text" class="form-control input-sm" placeholder="Escriba su mensaje..." value="" maxlength="500" />
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-send-message" id="btnChatEnviarMensaje">
                                <span class="fa fa-send"></span><br/>&nbsp;Enviar
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<script id="chatTextTemplate" type="text/template">
    <%
    _.each(conversation, function(message){
    %>
    <div class="chat">

        <%
        if(message.type === 'incoming') {
        %>
        <div class="row">
            <div class="col-md-6 col-xs-6"><h1><%= message.sender %></h1></div>
            <div class="col-md-6 col-xs-6"><div style="text-align:right;"><span class="fa fa-clock-o"></span>&nbsp;<%= message.msgTime %></div></div>
        </div>
        <%
        }
        %>

        <%
        if(message.type === 'outgoing') {
        %>
        <div class="row">
            <div class="col-md-6 col-xs-6"><span class="fa fa-clock-o"></span>&nbsp;<%= message.msgTime %></div>
            <div class="col-md-6 col-xs-6"><div style="text-align:right;"><h1><%= message.sender %></h1></div></div>
        </div>
        <%
        }
        %>
        <div class="chat-<%= message.type %>">
            <p><%= message.text %></p>
        </div>
    </div>
    <%
    });
    %>
</script>*@

@section Styles
{
    
}

