﻿<div id="chatFormularioInicio">
    <div class="chat-frm-container" style="background-color: #EBEBEB;">
        <div class="chat-frm-titulo">Chat en vivo</div>
        <div style="font-size: 11px; text-align: center; padding-bottom: 15px;">Para poder brindarte un mejor servicio, completa el siguiente formulario</div>
        <form id="frmChatStart">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    @Html.TextBox("Name", "", new { @class = "form-control input-sm", placeholder = "Nombre" })
                    <div class="alert-warning" style="padding:3px;margin-top:5px; margin-bottom:5px;display:none;" id="lblErrorChatNombre">
                        <small>Es necesario que indique su nombre</small>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12">
                    @*<input type="text" class="form-control input-sm" placeholder="Correo electrónico" />*@
                    @Html.TextBox("Email", "", new { @class = "form-control input-sm", placeholder = "Correo electrónico" })
                    <div class="alert-warning" style="padding:3px;margin-top:5px; margin-bottom:5px;display:none;" id="lblErrorChatEmail">
                        <small>Es necesario que indique su correo electr&oacute;nico</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div style="padding-bottom:10px;">
                        <select name="Subject" id="Subject" class="form-control input-sm">
                            <option value="">¿Cuál es tu necesidad?</option>
                            <option value="Cotizar nuevo seguro">Cotizar nuevo seguro</option>
                            <option value="Renovar seguro">Renovar seguro</option>
                            <option value="Seguimiento siniestro">Seguimiento siniestro</option>
                            <option value="Consultar Información de pagos">Consultar Información de pagos</option>
                            <option value="Cancelar o reactivar tu póliza">Cancelar o reactivar tu póliza</option>
                            <option value="Ayuda de servicios en linea">Ayuda de servicios en l&iacute;nea</option>
                        </select>
                        <div class="alert-warning" style="padding:3px;margin-top:5px; margin-bottom:5px;display:none;" id="lblErrorChatNecesidad">
                            <small>Es necesario que indique su Necesidad</small>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <textarea class="form-control input-sm" placeholder="Mensaje" maxlength="200" rows="3" name="Message" id="Message"></textarea>
                </div>
            </div>
        </form>
        <div class="row">
            <div>
                <button class="btn btn-block btn-iniciar-chat" id="btnIniciarChat" >
                    Iniciar chat&nbsp;<span class="fa fa-paper-plane"></span>
                </button>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
<script src="~/cdn/js/gtag/ChatFormularioInicioChat.js"></script>
    }