﻿<div class="control-container">
    <div id="encabezadoCotizador">
        <div>
            <div style="padding-left: 10px; padding-right: 10px;">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div style="font-size: 25px; font-weight: bold;">1) Selecciona tu paquete</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


