﻿@model List<PortalABA.UI.Models.ChatMessageModel>
@if (Model != null)
{
    foreach (var message in Model)
    {
    <div class="chat">

        @if (message.type == "incoming")
        {
        <div class="row">
            <div class="col-md-6 col-xs-6"><h1>@message.sender</h1></div>
            <div class="col-md-6 col-xs-6"><div style="text-align:right;"><span class="fa fa-clock-o"></span>&nbsp;@message.msgTime</div></div>
        </div>
        }

        @if (message.type == "outgoing")
        {
        <div class="row">
            <div class="col-md-6 col-xs-6"><span class="fa fa-clock-o"></span>&nbsp;@message.msgTime</div>
            <div class="col-md-6 col-xs-6"><div style="text-align:right;"><h1>@message.sender</h1></div></div>
        </div>
        }
        <div class="chat-@message.type">
            <p>@Html.Raw(message.text)</p>
        </div>
    </div>
    }
}
